<html>
<head>
    <title>Change Password Instructions</title>
</head>
<body style="width:600px;margin:0 auto;padding:20px;font: normal 14px/24px Arial, Helvetica, sans-serif;">
    <!-- TODO replace hard coded img url with client specific header -->
    <img width="600" height="150" src="{{headerurl}}">

    <p style="margin-top:80px;">

        Hello <span style="font-weight: bold">{{name}}</span><p />

        Someone has requested a link to change your password.<br />

    <p>You can do this through the link below.</p>

    <a href="{{link}}"><button style="color: #fff;background-color: #428bca; padding: 12px 24px; border: 1px solid #2d6ca2; border-radius: 4px; cursor: pointer;">Change My Password</button></a>

    <p>
        If you didn't request this, please ignore this email.
    <p />
    <p>
        Your password won't change until you access the link above and create a new one.
    </p>

    </p>
</body>
</html>
