<html>
<head>
    <title>Welcome to Softwrench</title>
</head>
<body style="width:600px;margin:0 auto;padding:20px;font: normal 14px/24px Arial, Helvetica, sans-serif;">
    <img width="600" height="150" src="{{headerurl}}">
    <p style="margin-top:80px;"><span style="font-weight:bold">{{name}}</span>, welcome to softWrench.</p>
    <div style="margin-top: 40px;">
        <a href="{{link}}"><button style="color: #fff;background-color: #428bca; padding: 12px 24px; border: 1px solid #2d6ca2; border-radius: 4px; cursor: pointer;">Login to softWrench</button></a>
    </div>
    <div style="margin-top: 20px;">
        When prompted use this password <span style="font-weight:bold">{{password}}.</span>
    </div>
</body>
</html>
