@media print {
    .hiddenonprint, .no-print, .col-lg-2, .affix, .filter-row, .glyphicon {
        display: none !important;
    }

    #top-affix {
        display: none !important;
        border: none;
    }

    .add-on {
        font-size: 11px;
    }

    #listgrid {
        border: none;
        font-size: 10px;
        display: block;
    }

    .hapag-topbar {
        text-shadow: none;
        box-shadow: none;
    }

    #listgrid tbody > tr {
        border-top: none;
        border-bottom: none;
    }

    .hapag-body-loaded {
        border: 0;
        margin: auto;
    }

    .hapag-body {
        margin: 0;
        box-shadow: none;
    }

    .listgrid-firefox {
        width: 700px !important;
    }

    .pagebreak-before {
        display: block;
        page-break-before: always;
    }

    .pagebreak-after {
        display: block;
        page-break-after: always;
    }

    .container {
        margin-top: 0 !important;

        .content {
            margin-top: 0 !important;
        }
    }

    html, body {
        margin-top: 0 !important;
        overflow: visible !important;
        float: none !important;
        position: relative;
    }

    .form-control {
        border: none;
    }

    .no-records {
        width: 100%;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    #rootprintdiv .control-label, #rootprintdiv .field {
        float: left;
    }

    #rootprintdiv .control-label {
        width: 25%;
    }

    #rootprintdiv .field {
        width: 70%;
    }

    #rootprintdiv .field .samelinepickers {
        margin-top: -6px;
    }

    #rootprintdiv .field .samelinepickers .col-md-6 {
        padding-left: 0;
    }

    #rootprintdiv .field .samelinepickers input {
        padding-left: 0;
        padding-right: 20px;
    }

    #rootprintdiv .field label {
        padding: 0;
        font-weight: normal;
    }

    .container header {
        position: initial;
    }

    messagesection .alerts {
        position: initial;
        margin-top: initial !important;
    }

    .affix-pagination {
        position: initial;
        top: initial !important;
    }

    .listgrid-thead, .container.desktop .listgrid-thead {
        position: initial;
        top: initial !important;
    }

    .listgrid-table {
        margin-top: initial !important;
    }

    .content {
        margin-top: initial !important;
    }

    .tooltip {
        display: none;
    }
}

@page {
    margin: 36px;
}
