.tab-pane .tab-header {
    margin: 0 5px 15px;
}

.dash-header .column {
    padding: 0;
}

    .dash-header .column .wrap {
        padding: 0 20px;
    }

        .dash-header .column .wrap .panel .header {
            background: #5090c6;
            color: #fff;
            padding: 10px 20px 8px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

        .dash-header .column .wrap .panel .body {
            border: 2px solid #5090c6;
            -moz-border-radius-bottomleft: 5px;
            -moz-border-radius-bottomright: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            min-height: 425px;
        }


@media all and (min-width: 768px) {
    .desktop .dash-header messagesection .alerts {
        /*position: initial;*/
    }

    .container.desktop .dash-header .affix-pagination {
        position: initial;
    }

    .container.desktop .dash-header .listgrid-thead {
        position: initial;
    }
}
