/*use full browser width*/
.container {
    max-width: none;
}

@media all and (min-width: 768px) {
    .container .content {
        margin-left: 20px;
        margin-right: 20px;
        width: 97.5%;
        width: -moz-calc(100% - 40px);
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
    }

    .affix-pagination, .listgrid-thead {
        width: 97.5%;
        width: -moz-calc(100% - 40px);
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
    }
}
