/*use full browser width*/
.container {
    max-width: none;
}

@media all and (min-width: 768px) {
    .container .content {
        margin-left: 20px;
        margin-right: 20px;
        width: 97.5%;
        width: -moz-calc(100% - 40px);
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
    }

    .affix-pagination, .listgrid-thead {
        width: 97.5%;
        width: -moz-calc(100% - 40px);
        width: -webkit-calc(100% - 40px);
        width: calc(100% - 40px);
    }
}

/*use Bootstrap max-width*/
/*.container {
    max-width: 1139px;
}

.affix-pagination {
    max-width: 1139px;
}

.container header {
    max-width: 1139px;
}

    .container header .menu-grid {
        max-width: 1139px;
    }

.topMessageAux {
    max-width: 1139px;
}

@media all and (min-width: 768px) {
    messagesection .alerts {
        max-width: 1139px;
    }

    .listgrid-thead {
        max-width: 1139px;
    }
}*/
