﻿<div class="filter-label-wrapper js_filter" ng-if="!!filter">

    <div class="dropdown" ng-init="markDefaultOperator(filter)">
        <div class="wrap" ng-class="{'slim': layout.standalone}"
             rel="tooltip" data-original-title="{{getFilterText(filter)}}"
             ng-attr-data-toggle="{{ advancedfiltermode ? '' : 'dropdown' }}"
             ng-click="showModal(filter)">
            <span ng-hide="layout.standalone">{{i18N('_grid.filter.placeholder','{0}',[filter.label])}}:</span>
            <span ng-hide="layout.standalone" class="filter-text">{{getFilterText(filter)}}</span>
            <i class="fa grid-filter-button"
               ng-class="{
               'fa-caret-down': !layout.standalone && !forprint,
               'fa-filter': layout.standalone && !hasFilter(filter) && !forprint,
               'fa-check': layout.standalone && hasFilter(filter) && !forprint
               }">
            </i>
        </div>
        <div ng-if="isModal(filter)" ng-init="initModal()">
        </div>
        <div class="dropdown-menu js_filter_content {{filter.type}}"
             ng-if="!isModal(filter)"
             style="{{filter.style}}"
             data-id="filter_{{schema.applicationName}}_{{schema.schemaId}}_{{filter.attribute}}">

            <div class="dropdown-content">
                <div class="dropdown-close">
                    <i class="fa fa-close" ng-click="closeFilterDropdown($event)"></i>
                </div>

                <ng-switch on="filter.type">
                    <div ng-switch-when="MetadataDateTimeFilter">

                        <div data-datepicker="true" class="input-group input-group-sm">
                            <span ng-click="toggleCollapseOperatorList($event)"
                                  class="input-group-addon"
                                  rel="tooltip"
                                  data-original-title="{{ getOperatorTooltip(filter.attribute) }}">
                                {{ getOperatorIcon(filter.attribute) }}
                            </span>
                            <input type="text" ng-model="searchData[filter.attribute]" class="form-control"
                                   data-date-time
                                   data-attach-datepicker-to-parent="true"
                                   data-show-time="{{ !filter.dateOnly }}"
                                   data-allow-past="{{fieldMetadata.rendererParameters['allowpast']}}"
                                   data-allow-future="{{filter.allowFuture}}"
                                   placeholder="{{i18N('_grid.filter.placeholder','{0} Search',[filter.label])}}"
                                   ng-enter="filterSearch(filter.attribute)"
                                   ng-disabled="advancedfiltermode" />
                            <span class="input-group-addon "
                                  data-calendericon="true"
                                  rel="tooltip"
                                  data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                        <div data-datepicker="true" class="input-group input-group-sm" ng-if="searchOperator[filter.attribute].id == 'BTW'">
                            <span class="input-group-addon"
                                  rel="tooltip"
                                  data-original-title="{{ getOperatorTooltip(filter.attribute) }}">
                                <=
                            </span>
                            <input type="text" ng-model="searchData[filter.attribute+'_end']" class="form-control"
                                   data-date-time
                                   data-attach-datepicker-to-parent="true"
                                   data-show-time="{{ !filter.dateOnly }}"
                                   data-allow-past="{{fieldMetadata.rendererParameters['allowpast']}}"
                                   data-allow-future="{{filter.allowFuture}}"
                                   placeholder="{{i18N('_grid.filter.placeholder','{0} Search',[filter.label])}}"
                                   ng-enter="filterSearch(filter.attribute)"
                                   ng-disabled="advancedfiltermode" />
                            <span class="input-group-addon "
                                  data-calendericon="true"
                                  rel="tooltip"
                                  data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>

                    </div>
                    <div ng-switch-when="MetadataBooleanFilter">
                        <div class="input-group">
                            <div class="radio">
                                <label><input type="radio" value="{{booleanFilterTrueValue}}" ng-model="searchData[filter.attribute]" ng-change="filterBarApplied()"> {{booleanFilterTrueLabel}} </label>
                            </div>
                            <div class="radio">
                                <label><input type="radio" value="{{booleanFilterFalseValue}}" ng-model="searchData[filter.attribute]" ng-change="filterBarApplied()"> {{booleanFilterFalseLabel}} </label>
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="MetadataOptionFilter">
                        <filter-multiple-option filter="filter" schema="schema" panelid="panelid" search-data="searchData" search-operator="searchOperator" apply-filter="filterBarApplied(keepitOpen)" />
                    </div>

                    <div ng-switch-default>
                        <div class="input-group">
                            <span ng-click="toggleCollapseOperatorList($event)"
                                  class="input-group-addon"
                                  rel="tooltip"
                                  data-original-title="{{ getOperatorTooltip(filter.attribute) }}">
                                {{ getOperatorIcon(filter.attribute) }}
                            </span>
                            <!-- have to use if/else to set the input type: angular does not evaluate interpolated expression for input.type due to browser compatibility -->
                            <input ng-if="filter.type === 'MetadataNumberFilter'" string-to-number
                                   type="number" placeholder="{{i18N('_grid.filter.placeholder','{0} Search', [filter.label])}}" class="form-control"
                                   ng-model="searchData[filter.attribute]" ng-enter="filterSearch(filter.attribute)" ng-disabled="advancedfiltermode">
                            <input ng-if="filter.type !== 'MetadataNumberFilter'"
                                   type="search" placeholder="{{i18N('_grid.filter.placeholder','{0} Search', [filter.label])}}" class="form-control"
                                   ng-model="searchData[filter.attribute]" ng-enter="filterSearch(filter.attribute)" ng-disabled="advancedfiltermode">
                            <span ng-click="filterBarApplied()"
                                  class="input-group-addon">
                                <i class="fa fa-search"></i>
                            </span>
                        </div>
                    </div>
                </ng-switch>

                <div ng-init="operations = displayableSearchOperations(filter)" ng-show="::operations.length > 0">
                    <ul class="js_operator_list list-group collapse">
                        <li class="list-group-item"
                            ng-repeat="operation in ::operations track by operation.id"
                            ng-click="selectOperator(filter.attribute,operation);closeCollapseOperatorList($event)"
                            ng-enter="filterSearch(filter.attribute)"
                            ng-class="{'active' : searchOperator[filter.attribute].id === operation.id || (!searchOperator[filter.attribute].id && operation.id === 'CONTAINS')}">
                            {{::operation.title}}
                        </li>
                    </ul>
                </div>

            </div>

            <div class="filter-dropdown-toolbar" ng-init="filterIsActive=false">
                <div class="button apply"
                     ng-class="{ 'active' : !!filterIsActive }"
                     ng-click="filterIsActive=true;filterBarApplied();closeCollapseOperatorList($event)">
                    <i class="fa fa-check"></i>
                    {{i18N('_grid.filter.apply','Apply')}}
                </div>
                <div class="button clear" ng-click="filterIsActive=false;clearFilter(filter)">
                    <i class="fa fa-eraser"></i>
                    {{i18N('_grid.filter.clear','Clear')}}
                </div>
            </div>
        </div>
    </div>
</div>