﻿
<div style="margin: 0 15px 15px;" ng-controller="SwgasRequestController">

    <button class="applicationcommand btn-context ng-scope btn large-button" ng-click="submit()">
        <i class="fa fa-check"></i>
        <span>
            Submit
        </span>

    </button>
</div>

