<div class="input-group-addon dropdown">
    <span class="dropdown-toggle grid-filter-button" ng-class="{'glyphicon glyphicon-filter' : getSearchIcon(column.attribute) == ''}"
          data-toggle="dropdown" rel="tooltip"
          data-original-title="{{getOperator(column.attribute).tooltip}}">{{getSearchIcon(column.attribute)}}</span>

    <ul class="dropdown-menu">
        <li ng-repeat="operation in searchOperations" ng-click="selectOperator(column.attribute,operation)"
            ng-show="operation.renderType.indexOf(column.rendererType) > -1 || column.rendererType == null"
            ng-class="{'active' : searchOperator[column.attribute].id == operation.id}">
            <a href="#">{{operation.title}}</a>
        </li>
    </ul>
</div>