@using softWrench.sW4.Metadata.Security
@using Newtonsoft.Json

@model softWrench.sW4.Web.Models.Home.HomeModel

<article ng-controller="HomeController">
    <script type="text/javascript">
        var homeModel = @Html.Raw(JsonConvert.SerializeObject(this.Model));
        var userLanguage = '@Html.Raw((User as InMemoryUser).Language)';
        var currentModule = '@Request.Params.Get("currentmodule")';
    </script>

    <div style="margin-top: 1px; margin-left: 1px; margin-bottom: 2px; padding-top: 2px;" ng-if="popupmode=='browser'" ng-cloak>
        <img ng-src="{{mainlogo}}" alt="logo" style="width: 195px; height: 100%"/>
    </div>



    @*<messagesection></messagesection>*@
    @*<notifications></notifications>*@
    <ng-include src="includeURL" onload="onTemplateLoad()" id="mainbodysection" />

</article>
