﻿<span class="print-logo" >
    <h1 style="border-bottom: 2px solid red;display: inline;float: left;width: 100%;margin: 0px;margin-top: 80px;color: rgb(24, 24, 111) !important;">
        {{printSchema.title}}
    </h1>
    <img ng-src="{{ printLogo }}" ng-if="showPrintLogo" style="max-height: 100px;width: auto;display: inline;float: right;margin-top: -120px;"/>
</span>