﻿<span ng-controller="fsreportfooterController" style="left: 0; bottom: 0px; width: 100%; clear: both;
                                     position: relative;
                                     z-index: 10;
                                     margin-top: -3em; ">
    <div style="display: inline-block; float: left; margin-left: 20px">
        <p> First Solar, Inc. </p>
        <p> 350 West Washington Street, Suite 600  </p>
        <p> Tempe, Arizona 85281 USA   </p>
    </div>
    <img ng-src="{{url('/Content/Customers/firstsolar/images/logo-pdf.png')}}" style="max-height: 100px; width: auto; display: inline-block; float:right " />
</span>