# Local-only VS/Re#/etc files
*.suo
*.user
*.gpState
_ReSharper.*
.*.swp
/Auth.targets
.DS_Store
Thumbs.db

softwrench.sw4.jstest/jenkinstest-results.xml
softwrench.sw4.jstest/test-results.testxml
softWrench.sW4.Web/Content/Customers/
softWrench.sW4.Web/Content/Scripts/softwrench/shared

Build/jenkinstest-results.xml
Build/test-results.testxml
Build/TestResults.trx
Build/TestResults*


# Build outputs
bin
!softwrench.sw4.jstest/node_modules/**/bin
!Build/node_modules/**/bin
obj
/Releases
/tmp
TestResults

# 3rd-party stuff copied during build
/packages
GitTfs/git2.*