# Local-only VS/Re#/etc files
*.suo
*.user
!softwrench.sw4.user/
*.apk
*.nupkg
*.gpState
_ReSharper.*
UpgradeLog2.*
.*.swp
/Auth.targets
.DS_Store
Thumbs.db
/.vs
softwrench.sw4.jstest/jenkinstest-results.xml
softwrench.sw4.jstest/test-results.testxml
softWrench.sW4.Web/Content/Customers/
softWrench.sW4.Web/App_Data/client/amex/
softWrench.sW4.Web/App_Data/client/apachegold/
softWrench.sW4.Web/App_Data/client/bering/
softWrench.sW4.Web/App_Data/client/classic/
softWrench.sW4.Web/App_Data/client/deltadental/
softWrench.sW4.Web/App_Data/client/entegra/
softWrench.sW4.Web/App_Data/client/firstsolar/
softWrench.sW4.Web/App_Data/client/fluor/
softWrench.sW4.Web/App_Data/client/gric/
softWrench.sW4.Web/App_Data/client/kongsberg/
softWrench.sW4.Web/App_Data/client/manchester/
softWrench.sW4.Web/App_Data/client/nasco/
softWrench.sW4.Web/App_Data/client/ninewest/
softWrench.sW4.Web/App_Data/client/nisource/
softWrench.sW4.Web/App_Data/client/pae/
softWrench.sW4.Web/App_Data/client/pesco/
softWrench.sW4.Web/App_Data/client/southern_reg/
softWrench.sW4.Web/App_Data/client/southern_unreg/
softWrench.sW4.Web/App_Data/client/swgas/
softWrench.sW4.Web/App_Data/client/tgcs/
softWrench.sW4.Web/App_Data/client/yavapai/

softWrench.sW4.Web/Content/Shared/
softWrench.sW4.Web/Content/Scripts/softwrench/shared
softWrench.sW4.WebMobile/www/Content/Customers/**/
softWrench.sW4.WebMobile/www/Content/Shared/**/
softWrench.sW4.WebMobile/www/Content/Vendor/scripts/*.js
softWrench.sW4.WebMobile/www/Content/Vendor/fonts

Backup/

softWrench.sW4.WebMobile/tests/results/
softWrench.sW4.WebMobile/platforms/
softWrench.sW4.WebMobile/bld/
softWrench.sW4.WebMobile/plugins/android.json
softWrench.sW4.WebMobile/plugins/wp8.json
softWrench.sW4.WebMobile/plugins/ios.json
softWrench.sW4.WebMobile/plugins/remote_ios.json
softWrench.sW4.WebMobile/plugins/windows.json
softWrench.sW4.WebMobile/bower_components/
softWrench.sW4.WebMobile/node_modules/
softWrench.sW4.WebMobile/tmp/
softWrench.sW4.WebMobile/www/Content/public/
!softWrench.sW4.WebMobile/www/Content/Vendor/
softWrench.sW4.WebMobile/www/Content/Vendor/*
!softWrench.sW4.WebMobile/www/Content/Vendor/downloadedvendor
!softWrench.sW4.WebMobile/www/Content/Vendor/file.placeholder

Build/jenkinstest-results.xml
Build/test-results.testxml
Build/TestResults.trx
Build/TestResults*

# VS2015 files
Backup
UpgradeLog.htm
.vs/config/applicationhost.config

# Build outputs
bin
!softwrench.sw4.jstest/node_modules/**/bin
!Build/node_modules/**/bin
obj
/Releases
/tmp
TestResults

# 3rd-party stuff copied during build
/packages
**/packages
GitTfs/git2.*
*.DS_Store

# SASS Files
softWrench.sW4.Web/node_modules/
softWrench.sW4.Web/.sass-cache/
**/Content/styles/**/*.css
**/Content/styles/**/*.css.map
**/web_content/**/*.css
**/web_content/**/*.css.map
Build/node_modules/
Build/.sass-cache/