# Local-only VS/Re#/etc files
*.suo
*.user
*.apk
*.gpState
_ReSharper.*
.*.swp
/Auth.targets
.DS_Store
Thumbs.db
/.vs
softwrench.sw4.jstest/jenkinstest-results.xml
softwrench.sw4.jstest/test-results.testxml
softWrench.sW4.Web/Content/Customers/
softWrench.sW4.Web/Content/Shared/
softWrench.sW4.Web/Content/Scripts/softwrench/shared

softWrench.sW4.WebMobile/www/Content/Customers/**/
softWrench.sW4.WebMobile/www/Content/Shared/**/
softWrench.sW4.WebMobile/www/Content/Vendor/scripts
softWrench.sW4.WebMobile/www/Content/Vendor/fonts

softWrench.sW4.WebMobile/platforms/
softWrench.sW4.WebMobile/bld/
softWrench.sW4.WebMobile/bower_components/

Build/jenkinstest-results.xml
Build/test-results.testxml
Build/TestResults.trx
Build/TestResults*


# Build outputs
bin
!softwrench.sw4.jstest/node_modules/**/bin
!Build/node_modules/**/bin
obj
/Releases
/tmp
TestResults

# 3rd-party stuff copied during build
/packages
GitTfs/git2.*
*.DS_Store