﻿<div ng-switch on="fieldMetadata.type">
    <div ng-if="fieldMetadata.rendererParameters['opendetails'] != 'true'">
        <div ng-switch-when="OptionField">
            <select class="hidden-phone form-control combobox"
                    ng-class="{'combobox-dynamic' : isDesktop()}"
                    ng-model="datamap[fieldMetadata.target]"
                    number-to-string
                    ng-options="option.value as i18NOptionField(option,fieldMetadata,schema) for option in GetAssociationOptions(fieldMetadata)"
                    data-associationkey="{{fieldMetadata.associationKey}}"
                    data-displayablepath="{{displayablepath}}">
                <option value="" style="display: none"></option>
            </select>
        </div>
        <div ng-switch-default>
            <select class="hidden-phone form-control combobox"
                    ng-class="{'combobox-dynamic' : isDesktop()}"
                    ng-model="datamap[fieldMetadata.target]"
                    number-to-string
                    ng-options="option.value as option.label for option in GetAssociationOptions(fieldMetadata)"
                    data-associationkey="{{fieldMetadata.associationKey}}"
                    data-displayablepath="{{displayablepath}}">
                <option value="" style="display: none"></option>
            </select>
        </div>
    </div>
</div>