﻿<div>
    
    <div ng-show="hasValidationError">
       
        <div>
            <ul>
                <li class="item item-assertive" ng-repeat="error in validationArray">
                    {{error}}
                    <a ng-click="removeValidationAlert()"><i class="fa fa-times"></i></a>
                </li>
            </ul>
        </div>
    </div>

</div>