﻿<ion-view class="option-field-items modal">
    <ion-header-bar class="bar-positive">

        <button ng-click="hideItems()" class="button button-positive button-icon"><i class="fa fa-chevron-left"></i>&ensp;Back</button>

        <h1 class="title">{{headerText}}</h1>

        <button ng-click="validate()" class="button button-positive button-icon"><i class="fa fa-check"></i>&ensp;Apply</button>

    </ion-header-bar>
    <ion-content has-bouncing="false">
        <div class="list">
            <!-- Multi select -->
            <ion-toggle ng-repeat="item in items"
                        ng-if="multiSelect"
                        ng-checked="item.checked"
                        ng-model="item.checked"
                        class="item item-text-wrap">
                <div class="option-field-icon" ng-if="item.icon != null">
                    <img ng-src="{{item.icon}}" />
                </div>
                {{item.text}}
            </ion-toggle>

            <!-- Single select -->
            <label ng-repeat="item in items"
                   ng-if="!multiSelect"
                   class="item item-text-wrap"
                   ng-click='validateSingle(item)'>
                <div class="option-field-icon" ng-if="item.icon != null">
                    <i class="icon-{{item.text}}" style="background-image: url({{item.icon}})"></i>
                </div>
                {{item.label}} <i ng-if="item.afterLabelIcon" class="ion-{{item.afterLabelIcon}}"></i>
                <div class="option-field-check" ng-if="value === item.value">
                    <i class="fa fa-check"></i>
                </div>
            </label>
        </div>
    </ion-content>
</ion-view>
