<div>
    <div on-tap="showItems($event)"  class="item-icon-right value-container" href="#">
        <textarea ng-model="value" class="js_option_input" autosize-textarea></textarea>
        <i class="fa fa-chevron-right icon-accessory"></i>
    </div>
</div>
