﻿<div class="rich-text-field">
    <textarea ui-tinymce="config.options" ng-model="value"
              ng-readonly="!!readOnly" ng-required="!!isRequired"
              ng-maxlength="{{maxLength}}" maxlength="{{maxLength}}"
              rows="10" wrap="hard">
    </textarea>
</div>