﻿<div class="single-file-input">
    
    <div class="inputFileButton">
        <i class="fa fa-upload"></i>&ensp;Choose a file...
        <input type="file" class="inputfile" />
    </div>

    <div ng-if="model.field.rendererParameters['showImagePreview'] === true || model.field.rendererParameters['showImagePreview'] === 'true'" class="imagepreview">
        <img ng-src="{{ datamap[fieldName] }}" />
    </div>


</div>