﻿<div class="sw-operation-icon">
    <div class="operation-status-icon"
         ng-class="{ 'statussuccess' : operation.issuccess, 'statuspending' : operation.ispending, 'statusproblem' : operation.hasproblems }">
        <div class="row">
            <div class="col">
                <i class="fa"
                   ng-class="{ 'fa-check' : operation.issuccess, 'fa-refresh' : operation.ispending, 'fa-exclamation-triangle' : operation.hasproblems }">
                </i>
            </div>
        </div>
    </div>
</div>