﻿@using Styles = System.Web.Optimization.Styles
@model softWrench.sW4.Web.Models.LoginHandler.LoginHandlerModel

@{
    ViewBag.Title = "softWrench Sign In";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/bootstrap/css/twitter-bootstrap")
    @Styles.Render("~/Content/themes/base/fonts")
    @Styles.Render("~/Content/styles/client/client-css")
    @Scripts.Render("~/Content/Scripts/modernizr")
</head>
<body>
    @Scripts.Render("~/Content/Scripts/jquery/jquery")
    @Scripts.Render("~/Content/Scripts/twitter-bootstrap")
    @Scripts.Render("~/Content/Scripts/angular/angular")
    @Scripts.Render("~/Content/Scripts/client/application")

    <script src="signin.js" type="text/javascript"></script>

    <article class="container">
        <div class="row hidden-phone">

            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="row index-main-row">

                    <div class="row text-center index-header-row">
                        <div class="index-background-img"></div>
                    </div>

                    @if (!Model.IsLoginEnabled) {
                        <div class="row index-form-row">
                            <div class="serviceItLoginWarning" style="margin-bottom: 2em">
                                @Model.LoginMessage
                            </div>
                        </div>
                    }

                    @if (Model.IsLoginEnabled) {
                        <div class="row index-form-row">
                            @if (Model.IncorrectLogin) {
                                if (string.IsNullOrEmpty(Model.LoginMessage)) {
                                <div class="text-danger col-lg-offset-4" style="margin-bottom: 2em">Your <strong>User Name</strong> or <strong>Password</strong> was entered incorrectly.</div>
                                }
                                else if (Model.IsHapagClient) {
                                <script>
                                    $(document).ready(function () {
                                        alert(' Ungültiger Username oder falsches Passwort \n Invalid Username or Bad Password \n No válido Nombre de usuario o contraseña incorreta');
                                    });
                                </script>
                                }
                                else {
                                    var message = Model.LoginMessage.Split('\n');
                                    var count = Convert.ToInt32(message.Count());
                                    var i = 1;
                                    foreach (var m in message) {
                                        var styleMessage = i == count ? "margin-bottom: 2em" : string.Empty;
                                <div class="text-danger col-lg-offset-4" style="@styleMessage; margin-right: 250px;">@m</div>
                                        i++;
                                    }
                                }
                            }
                            <form action="@Request.RawUrl" method="post" name="value" class="form-horizontal">
                                <div class="form-group" style="width: 835px">
                                    <label for="userName" class="control-label col-lg-5">User Name</label>
                                    <div class="col-lg-3">
                                        <input id="userName" type="text" name="userName"
                                            class="form-control" />
                                        <div id="userNameMessage" class="alert alert-warning hapag-login-validation" style="display: none;">
                                            Username is required<br />
                                            Username wird benötigt<br />
                                            nombre de usuario es necessario
                                        </div>
                                    </div>

                                </div>
                                <div class="form-group" style="width: 835px">

                                    <label for="password" class="col-lg-5 control-label">Password</label>
                                    <div class="col-lg-3">
                                        <input id="password" type="password" name="password" class="form-control" />
                                        <div id="passwordMessage" class="alert alert-warning hapag-login-validation" style="display: none;">
                                            Password is required<br />
                                            Passwort wird benötigt<br />
                                            se requiere contraseña
                                        </div>
                                    </div>

                                </div>

                                <div class="form-actions">
                                    <div class="col-lg-offset-5">
                                        <button id="btnLogin" type="submit" class="btn commandButton loginBttn">
                                            <span class="glyphicon glyphicon-log-in "></span>&nbsp;&nbsp;Login
                                        </button>
                                    </div>
                                </div>

                                <input id="userTimezoneOffset" type="hidden" name="userTimezoneOffset" />
                                <script>
                                    $(document).ready(function () {
                                        $("#userTimezoneOffset").val(new Date().getTimezoneOffset());
                                    });
                                </script>

                            </form>

                        </div>
                    }

                </div>
                <div class="row">
                    <div class="row index-footer-row">
                    </div>
                    <div class="row text-center" style="font-family: Arial,Helvetica,sand-serif; font-size: 12px; color: #686868; padding-top: 25px;">
                        @if (Model.IsHapagClient) {
                            <div>
                                Website and softWrench service desk system provided by Control ESI, Inc
                                <br />
                                All Rights Reserved.
                            </div>
                        }
                        <div class="row">
                            <a href="http://www.controltechnologysolutions.com" target="_blank">
                                <img src="~/Content/Images/softwrench-logo-small.gif" style="vertical-align: middle;" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>



    </article>
</body>
</html>
