﻿@using Newtonsoft.Json
@using softWrench.sW4.Web.Util.StaticFileLoad
@*@Model softWrench.sW4.Web.Models.LoginHandler.LoginHandlerModel*@

@{
    ViewBag.Title = "Sign In | softWrench";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <base href="/">
    <link rel="Shortcut Icon" href="~/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/Content/Images/apple-touch-icon.png" />
    <link rel="icon" sizes="196x196" href="~/Content/Images/apple-touch-icon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- styles -->
    @foreach (var tag in StaticFileTagRenderer.RenderStyles()) {
        @tag;
    }
</head>
<body class="page-signin">
    <!-- scripts-->
    @foreach (var tag in StaticFileTagRenderer.RenderScripts()) {
        @tag;
    }
    <script type="text/javascript">
        var loginModel = @Html.Raw(JsonConvert.SerializeObject(Model));
    </script>
    @RowStampScriptHelper.Render("~/Content/Scripts/client/signin")

    <div class="page-overlay"></div>


    <input type="hidden" id="routes_basecontext" value="@Request.ApplicationPath" />

    <div class="container" ng-app="sw_prelogin" ng-controller="SignInController">
        <notifications></notifications>
        <div class="shadow">
            <div class="form-signin">
                <div class="row logo main">
                    <div class="col-sm-offset-1 col-sm-10">
                        @if (System.IO.File.Exists(Request.MapPath("~/Content/Images/" + @Model.ClientName + "/logo-main.png"))) {
                            <img src="~/Content/Images/@Model.ClientName/logo-main.png">
                        } else if (System.IO.File.Exists(Request.MapPath("~/Content/Customers/" + @Model.ClientName + "/images/logo-main.png"))) {
                            <img src="~/Content/Customers/@Model.ClientName/images/logo-main.png">
                        } else {
                            <img src="~/Content/Images/logo-main.png">
                        }
                    </div>
                </div>
                <div class="row branding"></div>
                <div class="row divider top"></div>
                @if (!Model.IsLoginEnabled) {
                    <div class="row index-form-row">
                        <div class="serviceItLoginWarning" style="margin-bottom: 2em">
                            @Model.LoginMessage
                        </div>
                    </div>
                }

                @if (Model.IsLoginEnabled) {
                    <div class="row form">
                        <form role="form" action="{{redirectUrl()}}" method="post" name="value" ng-show="!showforgotPasswordForm">

                            <div class="row">
                                <div id="diverrormessagelist" class="alert alert-success" ng-show="successMessage!=null" ng-cloak>
                                    <a class="close" ng-click="successMessage=null" style="color: black"><i class="fa fa-times"></i></a>
                                    <span class="">
                                        {{successMessage}}.
                                    </span>
                                </div>
                            </div>

                            @if (Model.IncorrectLogin) {
                                if (Model.UserLocked) {
                                    <div class="text-danger" style="margin-bottom: 2em">
                                        Your user has been temporarily locked.Please contact support.
                                    </div>
                                } else if (Model.UserNotActive) {
                                    <div class="text-danger" style="margin-bottom: 2em">
                                        Your user is not active.Please contact support.
                                    </div>
                                } else if (string.IsNullOrEmpty(Model.LoginMessage)) {
                                    <div class="text-danger" style="margin-bottom: 2em">
                                        Your <strong>User Name</strong> or <strong>Password</strong> was entered incorrectly.
                                    </div>
                                } else {
                                    var message = Model.LoginMessage.Split('\n');
                                    var count = Convert.ToInt32(message.Length);
                                    var i = 1;
                                    foreach (var m in message) {
                                        var styleMessage = i == count ? "margin-bottom: 2em" : string.Empty;

                                        <div class="text-danger" style="@styleMessage; margin-right: 250px;">@m</div>
                                        i++;
                                    }
                                }
                            } else if (Model.Forbidden) {
                                <script>
                                    $(document).ready(function () {
                                        alert("You do not have permission to use this application. Please contact your System Administrator.");
                                    });
                                </script>
                            }
                            <div class="row login">
                                @if (@Model.ProfileName != "demo") {
                                    <div class="col-sm-offset-3 col-sm-6">
                                        <input id="userName" name="userName" type="text" class="form-control" placeholder="Username" autocapitalize="off" autocorrect="off" autofocus>
                                        <div id="userNameMessage" class="alert alert-warning hapag-login-validation" style="display: none;">
                                            Username is required<br />
                                        </div>
                                        <input id="password" type="password" name="password" class="form-control" placeholder="Password">
                                        <div id="passwordMessage" class="alert alert-warning hapag-login-validation" style="display: none;">
                                            Password is required<br />
                                        </div>
                                        <input id="userTimezoneOffset" type="hidden" name="userTimezoneOffset" />
                                    </div>
                                }
                                @if (@Model.ProfileName == "demo") {
                                    <div class="col-sm-6">
                                        <input id="userName" name="userName" type="text" class="form-control" placeholder="Username" autocapitalize="off" autocorrect="off" autofocus>
                                        <div id="userNameMessage" class="alert alert-warning hapag-login-validation" style="display: none;">
                                            Username is required<br />
                                        </div>
                                        <input id="password" type="password" name="password" class="form-control" placeholder="Password">
                                        <div id="passwordMessage" class="alert alert-warning hapag-login-validation" style="display: none;">
                                            Password is required<br />
                                        </div>
                                        <input id="userTimezoneOffset" type="hidden" name="userTimezoneOffset" />
                                    </div>
                                    <div class="demo user-links col-sm-6">
                                        <div class="row">
                                            Use the following credentials to login:
                                        </div>
                                        <div class="row">
                                            <div class="name">
                                                <i class="fa fa-user"></i>&ensp;End User:
                                            </div>
                                            <div class="info">
                                                <b>enduser</b> \\ <b>password</b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="name">
                                                <i class="fa fa-user"></i>&ensp;Supervisor:
                                            </div>
                                            <div class="info">
                                                <b>supervisor</b> \\ <b>password</b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="name">
                                                <i class="fa fa-user"></i>&ensp;Administrator:
                                            </div>
                                            <div class="info">
                                                <b>administrator</b> \\ <b>password</b>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            @if (@Model.ProfileName != "demo") {
                                <div class="buttons submit-button col-sm-offset-3 col-sm-6 dev">
                                    <button class="btn col-xs-4 col-sm-5" type="submit" id="btnLogin"><i class="fa fa-sign-in"></i>&ensp;Login</button>
                                    <div class="col-xs-4 col-sm-5">
                                        @if (!@Model.HideForgotPassword) {
                                            <a class="btn forgot-password" ng-click="showforgotPasswordForm=true">Forgot Password?</a>
                                        }
                                        @if (!@Model.HideNewUserRegistration) {
                                            <a class="btn forgot-password" data-toggle="modal" data-target="#newUserRegistrationModal">New User Registration</a>
                                        }
                                    </div>
                                </div>
                            }
                            @if (@Model.ProfileName == "demo") {
                                <div class="row buttons submit-button demo">
                                    <button class="btn col-xs-4 col-sm-2" type="submit" id="btnLogin"><i class="fa fa-sign-in"></i>&ensp;Login</button>
                                    <div class="col-xs-4 col-sm-2">
                                        @if (!@Model.HideForgotPassword) {
                                            <a class="btn forgot-password" ng-click="showforgotPasswordForm=true">Forgot Password?</a>
                                        }
                                        @if (!@Model.HideNewUserRegistration) {
                                            <a class="btn forgot-password" data-toggle="modal" data-target="#newUserRegistrationModal">New User Registration</a>
                                        }
                                    </div>
                                </div>
                            }
                        </form>

                        <!-- #region New User Registration Modal -->
                        <div id="newUserRegistrationModal"
                             class="modal fade new-user-registration-modal" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">New User Registration</h4>
                                    </div>
                                    <div class="modal-body">

                                        <form name="registration.form" novalidate>
                                            <div class="row">
                                                <fieldset class="form-group col-xs-12 col-sm-6">
                                                    <span class="requiredfieldmark">*</span>&nbsp;
                                                    <label class="control-label">First Name</label>
                                                    <span class="requiredfieldmark" ng-if="registration.form.firstname.$touched && registration.form.firstname.$invalid">
                                                        First Name is required
                                                    </span>
                                                    <input name="firstname" ng-model="registration.data.firstname" required
                                                           ng-change="registration.setUserName()"
                                                           type="text" class="form-control">
                                                </fieldset>
                                                <fieldset class="form-group col-xs-12 col-sm-6">
                                                    <span class="requiredfieldmark">*</span>&nbsp;
                                                    <label class="control-label">Last Name</label>
                                                    <span class="requiredfieldmark" ng-if="registration.form.lastname.$touched && registration.form.lastname.$invalid">
                                                        Last Name is required
                                                    </span>
                                                    <input name="lastname" ng-model="registration.data.lastname" required
                                                           ng-change="registration.setUserName()"
                                                           type="text" class="form-control">
                                                </fieldset>
                                            </div>
                                            @*<div class="row">
                                                    <fieldset class="form-group col-xs-12">
                                                        <span class="requiredfieldmark">*</span>&nbsp;
                                                        <label class="control-label" rel="tooltip" data-original-title="Automatically created from first and last names">
                                                            Username
                                                        </label>
                                                        <input name="username" ng-model="registration.data.username" required disabled="disabled"
                                                               type="text" class="form-control">
                                                    </fieldset>
                                                </div>*@
                                            <div class="row">
                                                <fieldset class="form-group col-xs-12 col-sm-6">
                                                    <span class="requiredfieldmark">*</span>&nbsp;
                                                    <label class="control-label">Password</label>
                                                    <div style="display: inline-block; vertical-align: top">
                                                        <div ng-if="registration.form.password.$touched && registration.form.password.$error.required && !registration.form.password.$pending.password">
                                                            <span class="requiredfieldmark">Password is Required</span>
                                                        </div>
                                                        <div ng-if="registration.form.password.$pending.password">
                                                            <span>Checking if password is valid...</span>
                                                        </div>
                                                        <div ng-if="registration.form.password.$error.password"
                                                             ng-repeat="message in passwordValidation.messages">
                                                            <span class="requiredfieldmark">{{ message }}</span>
                                                        </div>
                                                    </div>
                                                    <input name="password" ng-model="registration.data.password" required
                                                           password-validation password-async-validation password-username-value="{{ registration.data.username }}"
                                                           ng-model-options="{ debounce: 500 }"
                                                           type="password" class="form-control">
                                                </fieldset>
                                                <fieldset class="form-group col-xs-12 col-sm-6">
                                                    <span class="requiredfieldmark">*</span>&nbsp;
                                                    <label class="control-label">Confirm Password</label>
                                                    <div style="display: inline-block; vertical-align: top">
                                                        <div ng-if="registration.form.passwordconfirm.$touched && registration.form.passwordconfirm.$invalid">
                                                            <span class="requiredfieldmark">Confirm Password is Required</span>
                                                        </div>
                                                        <div ng-if="registration.form.passwordconfirm.$touched && registration.data.password !== registration.data.passwordconfirm">
                                                            <span class="requiredfieldmark">Password and Confirm Password don't match</span>
                                                        </div>
                                                    </div>
                                                    <input name="passwordconfirm" ng-model="registration.data.passwordconfirm" required
                                                           type="password" class="form-control">
                                                </fieldset>
                                            </div>
                                            <div class="row">
                                                <fieldset class="form-group col-xs-12 col-sm-6">
                                                    <span class="requiredfieldmark">*</span>&nbsp;
                                                    <label class="control-label"
                                                           rel="tooltip" data-original-title="The user will receive a confirmation link on this email">
                                                        Email
                                                    </label>
                                                    <span class="requiredfieldmark" ng-if="registration.form.email.$touched && registration.form.email.$invalid">
                                                        Email needs to be a valid email address
                                                    </span>
                                                    <input name="email" ng-model="registration.data.email" required
                                                           type="email" class="form-control">
                                                </fieldset>
                                                <fieldset class="form-group col-xs-12 col-sm-6">
                                                    <span class="requiredfieldmark">*</span>&nbsp;
                                                    <label class="control-label" rel="tooltip" data-original-title="Optional '+' sign followed by numbers (without spaces)">
                                                        Phone Number
                                                    </label>&nbsp;
                                                    <span class="requiredfieldmark" ng-if="registration.form.phone.$touched && registration.form.phone.$invalid">
                                                        Phone needs to be valid phone number
                                                    </span>
                                                    <input name="phone" ng-model="registration.data.phone" required ng-pattern="/^\+?(\d)+$/"
                                                           type="text" class="form-control">
                                                </fieldset>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                                ng-disabled="registration.loading.ongoing"
                                                ng-click="registration.dismiss()">
                                            <i class="fa fa-times"></i>&ensp;Cancel
                                        </button>
                                        <button type="button" class="btn btn-primary"
                                                ng-disabled="registration.form.$invalid || registration.form.password.$pending.password || registration.loading.ongoing"
                                                ng-click="registration.submit()">
                                            <i class="fa fa-check"></i>&ensp;Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- #endregion -->


                        <form class="forgotpasswordform col-sm-offset-1 col-sm-10" ng-show="showforgotPasswordForm" ng-cloak>
                            <div class="row">
                                <div id="diverrormessagelist" class="alert alert-danger" ng-show="errorMessage!=null" ng-cloak>
                                    <a class="close" ng-click="errorMessage=null" style="color: black"><i class="fa fa-times"></i></a>
                                    <span class="">
                                        {{errorMessage}}.
                                    </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" ng-model="userNameOrEmail" placeholder="Enter your email or username" />
                                </div>
                            </div>
                            <div class="row buttons">
                                <button class="btn col-xs-4 col-sm-2" type="submit" ng-click="forgotPassword()"><i class="fa fa-check"></i>&ensp;Submit</button>
                                <button class="btn password-cancel col-xs-4 col-sm-2" type="submit" ng-click="showforgotPasswordForm=false"><i class="fa fa-times"></i>&ensp;Cancel</button>
                            </div>
                        </form>

                    </div>
                    <div class="row divider bottom"></div>
                    <div class="row logo byline">
                        <div class="col-sm-offset-1 col-sm-10">
                            @if (@Model.PreventPoweredBy) {

                            } else if (System.IO.File.Exists(Request.MapPath("~/Content/Images/" + @Model.ClientName + "/logo-byline.png"))) {
                                <img src="~/Content/Images/@Model.ClientName/logo-byline.png">
                            } else if (System.IO.File.Exists(Request.MapPath("~/Content/Customers/" + @Model.ClientName + "/images/logo-byline.png"))) {
                                <img src="~/Content/Customers/@Model.ClientName/images/logo-byline.png">
                            } else {
                                <img src="~/Content/Images/logo-byline.png">
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>



</body>
</html>
