/*******************************************************************************
 *******************************************************************************
 * Place form specific CSS (based on data-application/data-schema attributes)  *
 *******************************************************************************
 *******************************************************************************/
/*@media all and (min-width: 1px) {
    #listgrid[data-application="servicerequest"][data-schema="list"] th:nth-child(3),
    #listgrid[data-application="servicerequest"][data-schema="list"] td:nth-child(3) {
        width: 30% !important;
    }

    #listgrid[data-application="servicerequest"][data-schema="list"] th:nth-child(5),
    #listgrid[data-application="servicerequest"][data-schema="list"] td:nth-child(5) {
        display: none;
    }

    #listgrid[data-application="servicerequest"][data-schema="list"] th:nth-child(6),
    #listgrid[data-application="servicerequest"][data-schema="list"] td:nth-child(6) {
        display: none;
    }

    #listgrid[data-application="servicerequest"][data-schema="list"] th:nth-child(7),
    #listgrid[data-application="servicerequest"][data-schema="list"] td:nth-child(7) {
        display: none;
    }

    #listgrid[data-application="servicerequest"][data-schema="list"] th:nth-child(8),
    #listgrid[data-application="servicerequest"][data-schema="list"] td:nth-child(8) {
        width: 4% !important;
    }

    #listgrid[data-application="workorder"][data-schema="list"] th:nth-child(3),
    #listgrid[data-application="workorder"][data-schema="list"] td:nth-child(3) {
        width: 30% !important;
    }

    #listgrid[data-application="workorder"][data-schema="list"] th:nth-child(5),
    #listgrid[data-application="workorder"][data-schema="list"] td:nth-child(5) {
        display: none;
    }

    #listgrid[data-application="workorder"][data-schema="list"] th:nth-child(6),
    #listgrid[data-application="workorder"][data-schema="list"] td:nth-child(6) {
        display: none;
    }

    #listgrid[data-application="workorder"][data-schema="list"] th:nth-child(7),
    #listgrid[data-application="workorder"][data-schema="list"] td:nth-child(7) {
        display: none;
    }

    #listgrid[data-application="workorder"][data-schema="list"] th:nth-child(8),
    #listgrid[data-application="workorder"][data-schema="list"] td:nth-child(8) {
        width: 4% !important;
    }
}

@media all and (min-width: 480px) {
    #listgrid[data-application="servicerequest"][data-schema="list"] th:nth-child(3),
    #listgrid[data-application="servicerequest"][data-schema="list"] td:nth-child(3) {
        width: 20% !important;
    }

    #listgrid[data-application="servicerequest"][data-schema="list"] th:nth-child(6),
    #listgrid[data-application="servicerequest"][data-schema="list"] td:nth-child(6) {
        width: 25% !important;
        display: table-cell;
    }

    #listgrid[data-application="workorder"][data-schema="list"] th:nth-child(3),
    #listgrid[data-application="workorder"][data-schema="list"] td:nth-child(3) {
        width: 20% !important;
    }

    #listgrid[data-application="workorder"][data-schema="list"] th:nth-child(5),
    #listgrid[data-application="workorder"][data-schema="list"] td:nth-child(5) {
        width: 25% !important;
        display: table-cell;
    }
}

@media all and (min-width: 768px) {
    #listgrid[data-application="servicerequest"][data-schema="list"] th:nth-child(3),
    #listgrid[data-application="servicerequest"][data-schema="list"] td:nth-child(3) {
        width: 15% !important;
    }

    #listgrid[data-application="servicerequest"][data-schema="list"] th:nth-child(6),
    #listgrid[data-application="servicerequest"][data-schema="list"] td:nth-child(6) {
        width: 15% !important;
    }

    #listgrid[data-application="servicerequest"][data-schema="list"] th:nth-child(7),
    #listgrid[data-application="servicerequest"][data-schema="list"] td:nth-child(7) {
        width: 15% !important;
        display: table-cell;
    }

    #listgrid[data-application="workorder"][data-schema="list"] th:nth-child(3),
    #listgrid[data-application="workorder"][data-schema="list"] td:nth-child(3) {
        width: 15% !important;
    }

    #listgrid[data-application="workorder"][data-schema="list"] th:nth-child(5),
    #listgrid[data-application="workorder"][data-schema="list"] td:nth-child(5) {
        width: 20% !important;
    }

    #listgrid[data-application="workorder"][data-schema="list"] th:nth-child(6),
    #listgrid[data-application="workorder"][data-schema="list"] td:nth-child(6) {
        width: 30% !important;
        display: table-cell;
    }
}

@media all and (min-width: 992px) {
    #listgrid[data-application="servicerequest"][data-schema="list"] th:nth-child(3),
    #listgrid[data-application="servicerequest"][data-schema="list"] td:nth-child(3) {
        width: 10% !important;
    }

    #listgrid[data-application="servicerequest"][data-schema="list"] th:nth-child(5),
    #listgrid[data-application="servicerequest"][data-schema="list"] td:nth-child(5) {
        width: 12% !important;
        display: table-cell;
    }

    #listgrid[data-application="servicerequest"][data-schema="list"] th:nth-child(6),
    #listgrid[data-application="servicerequest"][data-schema="list"] td:nth-child(6) {
        width: 12% !important;
    }

    #listgrid[data-application="servicerequest"][data-schema="list"] th:nth-child(7),
    #listgrid[data-application="servicerequest"][data-schema="list"] td:nth-child(7) {
        width: 12% !important;
    }

    #listgrid[data-application="workorder"][data-schema="list"] th:nth-child(3),
    #listgrid[data-application="workorder"][data-schema="list"] td:nth-child(3) {
        width: 10% !important;
    }

    #listgrid[data-application="workorder"][data-schema="list"] th:nth-child(5),
    #listgrid[data-application="workorder"][data-schema="list"] td:nth-child(5) {
        width: 15% !important;
    }

    #listgrid[data-application="workorder"][data-schema="list"] th:nth-child(6),
    #listgrid[data-application="workorder"][data-schema="list"] td:nth-child(6) {
        width: 25% !important;
    }

    #listgrid[data-application="workorder"][data-schema="list"] th:nth-child(7),
    #listgrid[data-application="workorder"][data-schema="list"] td:nth-child(7) {
        width: 15% !important;
        display: table-cell;
    }
}*/

/*# sourceMappingURL=data:application/json;base64,ewoJInZlcnNpb24iOiAzLAoJImZpbGUiOiAiLi4vd2ViX2NvbnRlbnQvZ3JpYy9zdHlsZXMvYXBwbGljYXRpb24vZ3JpZHMuY3NzIiwKCSJzb3VyY2VzIjogWwoJCSIuLi93ZWJfY29udGVudC9ncmljL3N0eWxlcy9hcHBsaWNhdGlvbi9ncmlkcy5zY3NzIgoJXSwKCSJzb3VyY2VzQ29udGVudCI6IFtdLAoJIm1hcHBpbmdzIjogIkFBQUE7Ozs7aUZBSWlGO0FBQ2pGOzs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7OztHQXdKRyIsCgkibmFtZXMiOiBbXQp9 */