﻿<div ng-controller="CompositionListDeleteActionController">
    <button class="fa fa-trash"
            ng-click="deleteCompositionItem(clonedCompositionData, compositionitem, compositionitem[compositionlistschema.idFieldName])"
            title="Delete"></button>
</div>