﻿<div ng-controller="InvIssueReturnActionController">
    <button class="fa fa-rotate-left btn btn-default"
            ng-disabled="hasBeenReturned(dm)"
            ng-show="isReturnHidden(dm)"
            title="Return"
            style="margin-right: 15px">
    </button>
</div>