<div id="saddressmap" class="google-map"
     tabid="{{fieldMetadata.parameters['tabid']}}"
     lat="{{datamap['location_.serviceaddress_.latitudey']}}"
     long="{{datamap['location_.serviceaddress_.longitudex']}}"
     zoom="{{fieldMetadata.parameters['zoom']}}"
     code="{{datamap['location_.serviceaddress_.addresscode']}}"
     description="{{datamap['location_.serviceaddress_.description']}}"
     streetaddress="{{datamap['location_.serviceaddress_.streetaddress']}}"
     city="{{datamap['location_.serviceaddress_.city']}}"
     stateprovince="{{datamap['location_.serviceaddress_.stateprovince']}}"
     country="{{datamap['location_.serviceaddress_.country']}}">
</div>