<div class="container">
    <div class="row">
        <div ng-repeat="panelDataSource in visiblePanels()" class="column col-sm-{{ panelDataSource.panel.size }}" >
            <div class="wrap"
                 ng-switch on="panelDataSource.panel.type">

                <dashboardgridpanel ng-switch-when="DashboardGridPanel"
                                    paneldatasource="panelDataSource"
                                    dashboardid="dashboardid" />

                <dashboard-graphic-panel ng-switch-when="DashboardGraphicPanel"
                                         panel="panelDataSource.panel"
                                         dashboardid="dashboardid" />
            </div>
        </div>
    </div>
</div>