<form class="panel">
    <div class="header">{{title}}</div>
    <!--<p>column: {{panelcol}}</p>
    <p>row: {{panelrow}}</p>
    <p>datasource: {{paneldatasource}}</p>
    <p>data: {{dashboardpanel}}</p>-->

    <div class="body" ng-if="isDataAvailable">
        <crud-list 
                   application="application"
                   schemaref=""
                   dashboardpanelid="dashboardpanelid"
                   datamap="datamap"
                   schema="schema"
                   pagination-data="paginationData"
                   search-sort="searchSort"
                   search-data="searchData"
                   search-operator="searchOperator"
                   association-options="associationOptions"
                   is-list="islist"
                   ismodal="false"
                   hidebars="true"
                   timestamp="timestamp" />
    </div>
</form>

