﻿<div class="js_graphic_container">
    <div ng-if="data.hasError" class="haserror">
        <p>An error happened while loading the graphic</p>
        <button type="button"
                class="btn btn-danger"
                ng-click="loadGraphic()">
            Reload Graphic
        </button>
    </div>
</div>