﻿<div class="container">
    <div class="row" dnd-list="dashboard.panels">
        <div class="dndPlaceholder col col-sm-3">
            <div class="dndPlaceholder-content">
                Drop Widget Here
            </div>
        </div>
        <div ng-repeat="panelDataSource in dashboard.panels"
             dnd-draggable="panelDataSource"
             dnd-effect-allowed="move"
             dnd-moved="dashboard.panels.splice($index, 1);panelMoved(panelDataSource)"
             dnd-disable-if="!canEdit"
             ng-if="isPanelVisible(panelDataSource)"
             ng-style="{'min-height': panelDataSource.panel.size != 12 ? '309px' : '0px'}"
             class="column col-sm-{{ panelDataSource.panel.size }}">

            <div class="wrap">
                <div class="panel" ng-class="panelDataSource.panel.type">
                    <div class="header">
                        <span>{{panelDataSource.panel.title}}&nbsp;</span>
                        
                        <span class="panel-command" rel="tooltip" data-original-title="Refresh"
                              ng-click="refreshPanel(panelDataSource.panel)" style="cursor: pointer">
                            <i class="fa fa-refresh"></i>
                        </span>

                        <div class="panel-commands" ng-show="canEdit">
                            <span class="panel-command" rel="tooltip" data-original-title="Edit Widget"
                                  ng-click="editPanel(panelDataSource.panel)" style="cursor: pointer">
                                <i class="fa fa-pencil"></i>
                            </span>
                            <span class="panel-command" rel="tooltip" data-original-title="Remove Widget"
                                  ng-click="removePanel(panelDataSource)" style="cursor: pointer">
                                <i class="fa fa-times"></i>
                            </span>
                        </div>

                    </div>

                    <div class="body"
                         ng-switch on="panelDataSource.panel.type">

                        <dashboardgridpanel ng-switch-when="DashboardGridPanel"
                                            paneldatasource="panelDataSource"
                                            dashboardid="dashboardid"/>

                        <dashboard-graphic-panel ng-switch-when="DashboardGraphicPanel"
                                                 panel="panelDataSource.panel"
                                                 dashboardid="dashboardid"/>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>