﻿<div class="row tool-row multi-sort" ng-controller="gridpanelsortController">
    <label class="control-label col-xs-12" rel="tooltip" data-original-title="">
        Sort Order:
    </label>
    <multi-sort init-data="datamap.multiSort" displayables="vm.appFields" panelid="panelid" showdefaultsort="false"></multi-sort>
</div>