﻿<html>
<head>
    <title>Dynamic Component Updated{{reloadSufix}} by Customer</title>
</head>
<body style="width:600px;margin:0 auto;padding:20px;font: normal 14px/24px Arial, Helvetica, sans-serif;">
    <img width="600" height="150" src="{{headerurl}}">

    <p style="margin-top: 20px;">Dynamic component updated{{reloadSufix}} by: <span style="font-weight: bold">{{fullname}}</span></p>
    <table style="width:600px;border: 1px solid black;">
        <tr>
            <th style="width:300px;"></th>
            <th style="width:300px;"></th>
        </tr>

        <tr style="background-color:#ffe0b3">
            <td style="width:300px;" colspan="2">The following info were provided</td>
        </tr>
        <tr>
            <td style="width:300px;">Entry Name</td>
            <td style="width:300px;"><span style="font-weight:bold">{{oldEntryName}} -> {{entryName}}</span></td>
        </tr>
        <tr>
            <td style="width:300px;">Target Component Name</td>
            <td style="width:300px;"><span style="font-weight:bold">{{oldEntryTarget}} -> {{entryTarget}}</span></td>
        </tr>
        <tr>
            <td style="width:300px;">Applies to Version</td>
            <td style="width:300px;"><span style="font-weight:bold">{{oldEntryVersion}} -> {{entryVersion}}</span></td>
        </tr>
        <tr>
            <td style="width:300px;">Marked to be Deployed?</td>
            <td style="width:300px;"><span style="font-weight:bold">{{oldEntryDeploy}} -> {{entryDeploy}}</span></td>
        </tr>
        <tr>
            <td style="width:300px;">Comments</td>
            <td style="width:300px;"><span style="font-weight:bold">{{comments}}</span></td>
        </tr>

        <tr>
            <td style="width:600px;" colspan="2"></td>
        </tr>

        <tr style="background-color:#cce5ff">
            <td style="width:600px;" colspan="2">The file is updated by</td>
        </tr>
        <tr>
            <td style="width:300px;">Name</td>
            <td style="width:300px;"><span style="font-weight:bold">{{fullname}}</span></td>
        </tr>
        <tr>
            <td style="width:300px;">Username</td>
            <td style="width:300px;"><span style="font-weight:bold">{{username}}</span></td>
        </tr>
        <tr>
            <td style="width:300px;">Customer</td>
            <td style="width:300px;"><span style="font-weight:bold">{{customer}}</span></td>
        </tr>
        <tr>
            <td style="width:300px;">App profile</td>
            <td style="width:300px;"><span style="font-weight:bold">{{profile}}</span></td>
        </tr>
        <tr>
            <td style="width:300px;">Date/Time</td>
            <td style="width:300px;"><span style="font-weight:bold">{{changedon}} UTC</span></td>
        </tr>


    </table>
    
    <p style="margin-top: 40px;">Please review the attached scripts for more information.</p>
</body>
</html>
