<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>

    <add name="Database"
       providerName="mysql.data.mysqlclient"
       connectionString="server=localhost;userid=sw;password=sw;database=swdb" /> <!-- MYSQL CONNECTION STRING -->
  </connectionStrings>
  <appSettings>
    <add key="BatchInsertSize" value="100"/>
    <add key="DatabaseSchema" value="swdb"/>
    <add key="move" value="false"/>
  </appSettings>
</configuration>