﻿<ion-view title="Audit" class="page-audit-entrylist">

    <ion-nav-buttons side="left">
        <button class="button" ng-click="back()">
            <i class="fa fa-chevron-left"></i>&ensp;Back
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header" has-bouncing="false">

        <div class="list">
            <div class="item item-icon-left entry-item" ng-repeat="entry in data.entryList" ng-click="openDetail(entry)">
                <!--TODO: add support for other operations-->
                <i class="fa" ng-class="{ 'fa-barcode': entry.operation === 'scan' }"></i>
                <div>
                    <div class="row">
                        <div class="col col-center">
                            <h3>{{entry.operation | capitalize}}</h3>
                            <p>{{entry.formattedDate}}</p>
                        </div>
                        <div class="col col-center text-right">
                            <p>Details ></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <ion-infinite-scroll ng-if="paginationData.hasMoreAvailable" on-infinite="loadPagedList()" distance="10%"></ion-infinite-scroll>

    </ion-content>

</ion-view>
