﻿<div class="unread" ng-style="getItemsCountStyle()" ng-show="bulletinboard.messages.length > 0">
    <span class="badge">{{bulletinboard.messages.length}}</span>
</div>
<header class="clearfix">
    <div class="pull-left">
        <h2>Bulletin Board</h2>
    </div>
    <div class="buttons controls pull-right">
        <div class="button off" ng-click="toggleFilter()" ng-class="bulletinboard.enableFilter ? 'on' : 'off'" rel="tooltip" data-original-title="Toggle Filter" data-placement="bottom">
            <i class="fa fa-filter"></i>
        </div>
    </div>
    <div class="filter" ng-show="bulletinboard.enableFilter">
        <search-box ng-model="bulletinboard.filterText" data-placeholder="'Filter Activity'" />
    </div>
</header>
<scroll-pane data-available-fn="setPaneHeight" data-prevent-window-scroll="true" data-use-available-height="true">
    <div class="scroll">
        <div class="messages">
            <div class="message clearfix"
                 ng-repeat="message in bulletinboard.messages | filter:bulletinboard.filterText"
                 ng-class-odd="'odd'" ng-class-even="'even'">

                <div class="text pull-left">
                    <div class="info">
                        <span class="by">{{message.subject}}</span>
                    </div>
                    <br/>
                    <div ng-show="!message.meta.more">
                        <div ng-bind-html="message.messagePreview"></div>
                    </div>
                    <div ng-show="message.meta.more">
                        <div ng-bind-html="message.formattedMessage"></div>
                        <br />
                        <div>Posted by: {{message.postBy}}</div>
                        <div>Post Date: {{message.formattedPostDate}}</div>
                        <div>Expires: {{message.formattedExpireDate}}</div>
                    </div>
                    <div class="message-footer">
                        <!--<div class="date message-footer-element">
                            {{message.formattedPostDate}}
                        </div>-->
                        <div class="message-footer-element expand-text" ng-click="message.meta.more = !message.meta.more">
                            <span>{{ message.meta.more ? 'Less' : 'More' }}&nbsp;
                            <i class="fa" ng-class="{ 'fa-caret-down' : !message.meta.more, 'fa-caret-up': message.meta.more }"></i></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="nomessages" ng-if="!bulletinboard.messages.length">
                <i class="fa fa-info-circle"></i>&ensp;No recent activity to display.
            </div>
            <div class="nomessages" ng-if="bulletinboard.messages.length > 0 && (bulletinboard.messages | filter:bulletinboard.filterText).length <= 0">
                <i class="fa fa-info-circle"></i>&ensp;No activity matches your filter.
            </div>

        </div>
    </div>
</scroll-pane>