﻿<div id="{{panelid}}" class="sidepanel clearfix {{deviceType()}} hiddenonprint" ng-class="{'expanded' : expanded(), 'open' : opened(), 'hidden' : hidden()}">
    <div class="handle" ng-style="handleStyle()" ng-click="toggle()"><i class="fa {{getHandleIcon()}}" ng-show="getHandleIcon() != null"></i>&ensp;{{getHandleTitle()}}</div>
    <div class="pane">
        <!-- child content comes here -->
    </div>
</div>