<div style="overflow-x: hidden; overflow-y: auto; max-height: 400px">
    
    <h4>{{fieldMetadata.parameters['title']}}</h4>

    <composition-list title="aaa"
                      compositionschemadefinition="extraparameters[fieldMetadata.parameters['schemaref']]"
                      relationship="{{tab.relationship}}"
                      compositiondata="extraparameters[fieldMetadata.parameters['datamapref']]"
                      parentschema="schema"
                      parentdata="datamap"
                      cancelfn="toListSchema(data,schema)"
                      previousschema="previousschema" previousdata="previousdata" />

</div>
