<html>
<head>
    <title>Batch Submission Complete</title>
</head>
<body style="width:600px;margin:0 auto;padding:20px;font: normal 14px/24px Arial, Helvetica, sans-serif;">
    <img width="600" height="150" src="{{headerurl}}">
    <p style="margin-top:80px;">Dear {{name}}! Your batch job was submitted successfully.</p>
    <div style="margin-top:60px;">
        <h2>Summary</h2>
        <table width="600px">
            <tr>
                <td width="50%" style="text-align:center;background:#468cc8;color:#fff;padding:100px 0;font-size:12px;">
                    <span style="font-size:60px;font-weight:bold;">{{sentitems}}</span><br />Sent Items
                </td>
                <td width="50%" style="text-align:center;background:#efad57;color:#fff;padding:100px 0;font-size:12px;">
                    <span style="font-size:60px;font-weight:bold;">{{problematicitems}}</span><br />Problematic Items
                </td>
            </tr>
        </table>
        <p><a href="{{url}}">View the full report</a></p>
    </div>
</body>
</html>
