<div class="form-actions hidden-phone form-group hiddenonprint commandbar" data-class="commandbar">
    <div class="spinner" data-class="spinner" id="detailspinner"></div>
    <table style="width: 100%;">
        <tr>
            <td style="text-align: center; vertical-align: middle;" data-class="commandbar">
                <span ng-repeat="command in getGridToolbar()">
                    <ng-switch on="command.type">
                        <button ng-switch-when="ApplicationCommand" type="button" class="btn btn-primary commandButton navbar-btn"
                                ng-click="executeService(command)" href="#" ng-if="shouldShowCommand(command)"
                                data-original-title="{{commandtooltip(command)}}" rel="tooltip" data-container="body">
                            <i class="fa" ng-class="command.icon"></i>&ensp;{{command.label}}
                        </button>
                        <span ng-switch-when="ResourceCommand" ng-click="validateRole(command)">
                            <ng-include src="url(command.path)" />
                        </span>

                        <span ng-switch-when="ContainerCommand" ng-click="validateRole(command)">
                            <div class="btn-group">
                                <button ng-if="command.service != null"
                                        type="button" class="btn btn-default btn-sm hidden-xs"
                                        ng-click="executeService(command)" href="#" ng-if="shouldShowCommand(command)"
                                        ng-enabled="command.service!=null"
                                        data-original-title="{{commandtooltip(command)}}" rel="tooltip" data-container="body">
                                    <i class="fa" ng-class="command.icon"></i>&ensp;{{command.label}}
                                </button>

                                <button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown" data-original-title="{{commandtooltip(command)}}" rel="tooltip">
                                    <i ng-if="command.service==null" class="fa" ng-class="command.icon"></i>&ensp;{{command.label}}
                                    <span class="caret"></span>
                                </button>


                                <ul class="dropdown-menu" role="menu">
                                    <!--TODO: Make recursive...-->
                                    <li ng-repeat="innercommand in command.displayables">
                                        <a ng-click="executeService(innercommand)" href="" ng-if="shouldShowCommand(innercommand)"
                                           data-original-title="{{commandtooltip(innercommand)}}" rel="tooltip" data-container="body">
                                            <i class="fa" ng-class="innercommand.icon"></i>&ensp;{{innercommand.label}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </span>
                    </ng-switch>
                </span>
            </td>
        </tr>
    </table>
</div>