<div class="group" data-classplaceholder="commandbar">
    <span class="buttons" ng-repeat="command in getGridToolbar()">
        <button type="button"
                ng-class="buttonClasses(getCommand(command))"
                ng-init="initIfToggleCommand(command)"
                ng-click="executeService(getCommand(command), toggleCommandOrNull(command))" href="" 
                ng-if="(command.type == 'ApplicationCommand' || command.type == 'ToggleCommand') && shouldShowCommand(getCommand(command))"
                ng-enabled="isCommandEnabled(getCommand(command))"
                data-original-title="{{commandtooltip(getCommand(command))}}"
                rel="tooltip"
                data-container="body"
                class="applicationcommand btn-context">
            <i class="icon fa" ng-class="commandIcon(getCommand(command))"></i>
            <span class="text" ng-show="commandLabel(getCommand(command))"><span class="space">&ensp;</span>{{commandLabel(getCommand(command))}}</span>
        </button>

        <div ng-if="command.type == 'ResourceCommand'" ng-click="validateRole(command)">
            <ng-include src="url(command.path)" />
        </div>

        <div ng-if="command.type == 'ContainerCommand'" ng-click="validateRole(command)">
            <div class="btn-group">
                <button ng-if="command.service != null && shouldShowCommand(command)"
                        type="button"
                        ng-click="executeService(command)"
                        href="#"
                        ng-enabled="command.service!=null"
                        data-original-title="{{commandtooltip(command)}}"
                        rel="tooltip"
                        data-container="body">
                    <i class="fa" ng-class="command.icon"></i>
                    <span>&ensp;{{command.label}}</span>
                </button>

                <button type="button" class="btn btn-context dropdown-toggle" data-toggle="dropdown" data-original-title="{{commandtooltip(command)}}" rel="tooltip">
                    <i ng-if="command.service==null" class="fa" ng-class="command.icon"></i>
                    <span ng-show="showLabel()">&ensp;{{command.label}}</span>
                    <span class="caret"></span>
                </button>


                <ul class="dropdown-menu" role="menu">
                    <!--TODO: Make recursive...-->
                    <li ng-repeat="innercommand in command.displayables">
                        <a ng-click="executeService(innercommand)" href="" ng-if="shouldShowCommand(innercommand)"
                            data-original-title="{{commandtooltip(innercommand)}}" rel="tooltip" data-container="body">
                            <i class="fa" ng-class="innercommand.icon"></i>&ensp;{{innercommand.label}}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </span>
</div>