﻿<form id="printsectionform" class="form-horizontal hiddenonscreen {{printformId()}}" >
    <div class="form-group container">
        <div ng-if="showPrintSection">


            <div ng-if="isList">
                <div id="rootprintdiv" list="true" printsectionrendered >
                    <div ng-if="showPrintLogo" class="print-logo">
                        <img ng-src="{{ printLogo }}" />
                    </div>

                    <section class="container">
                        <crud-list datamap="printDatamap" schema="printSchema" is-list="isList" ismodal="false" forprint="true" />
                    </section>
                </div>
            </div>

            <div ng-if="!isList">
                <div id="rootprintdiv" ng-repeat="item in printDatamap" printsectionrendered ng-class="{'pagebreak-before': shouldPageBreak}"> &nbsp;
                    
                    

                    <div class="print-logo" ng-if="!hasCustomHeader">
                        <img ng-src="{{ printLogo }}" ng-if="showPrintLogo"/>
                        <h4>{{printSchema.title}} - {{displayableID}}</h4>
                    </div>

                    <div ng-if="hasCustomHeader">
                        <ng-include src="customHeaderURL" onload="headerLoaded()" id="printheadersection"/>
                    </div>


                    <div ng-show="shouldPrintMain" id="rootprintmain">
                        <fieldset ng-show="showPrintSectionCompostions"><legend class="legend-label">General</legend></fieldset>
                        <crud-output-fields schema="printSchema" datamap="item" displayables="printSchema.displayables" orientation="vertical" forprint="true"></crud-output-fields>
                    </div>

                    <div ng-show="showPrintSectionCompostions">
                        <div ng-repeat="composition in compositionstoprint" ng-class="{'pagebreak-before': shouldPageBreak}">
                            <div ng-show="printComposition(item, composition)">
                                <div ng-show="shouldPageBreak" class="pagebreak-before"></div>
                                <div ng-hide="shouldPageBreak">&ensp;</div>
                                <h4 class="text-center"><strong>{{composition.title}}</strong></h4>
                                <ng-switch on="composition.schema.type">
                                    <div ng-switch-when="ApplicationTabDefinition">
                                        <div>
                                            <crud-output-fields schema="composition.schema" datamap="item" displayables="composition.schema.displayables" orientation="vertical" forprint="true">
                                            </crud-output-fields>
                                        </div>
                                    </div>
                                    <div ng-switch-default>
                                        <div ng-repeat="compositionDatamap in item[composition.key]">
                                            <div>
                                                <crud-output-fields schema="composition.schema" datamap="compositionDatamap" displayables="composition.schema.displayables" orientation="vertical" forprint="true">
                                                </crud-output-fields>
                                            </div>
                                            <div ng-show="item[composition.key] == null || item[composition.key].length == 0" class="no-records">
                                                {{i18nValue('general.norecords','No records to display')}}
                                            </div>
                                        </div>
                                    </div>
                                </ng-switch>
                            </div>

                        </div>
                    </div>

                    <div ng-if="hasCustomFooter">
                        <ng-include src="customFooterURL" onload="footerLoaded()" id="printfootersection"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>