<form id="printsectionform" class="form-horizontal hiddenonscreen">
    <div class="form-group container">
        <div ng-if="showPrintSection">

            <div id="rootprintdiv" ng-repeat="item in printDatamap" printsectionrendered>
                <div ng-if="showPrintLogo" class="print-logo">
                    <img ng-src="{{ printLogo }}" />
                </div>
                <div ng-show="shouldPrintMain">
                    <h4>{{printSchema.title}} - {{displayableID}}</h4>
                    <fieldset><legend class="legend-label">General</legend></fieldset>
                    <crud-output-fields schema="printSchema" datamap="item.fields" displayables="printSchema.displayables" orientation="vertical"></crud-output-fields>
                </div>
                <div ng-show="showPrintSectionCompostions">
                    <div ng-repeat="composition in compositionstoprint" ng-class="{'pagebreak-before1': shouldPageBreak}">
                        <div ng-show="printComposition(item, composition)">
                            <div ng-show="shouldPageBreak" class="pagebreak-before"></div>
                            <div ng-hide="shouldPageBreak">&ensp;</div>
                            <h4 class="text-center"><strong>{{composition.title}}</strong></h4>
                            <ng-switch on="composition.schema.type">
                                <div ng-switch-when="ApplicationTabDefinition">
                                    <div>
                                        <crud-output-fields schema="composition.schema" datamap="item.fields" displayables="composition.schema.displayables" orientation="vertical">
                                        </crud-output-fields>
                                    </div>
                                </div>
                                <div ng-switch-default>
                                    <div ng-repeat="compositionDatamap in item.fields[composition.key]">
                                        <div>
                                            <crud-output-fields schema="composition.schema" datamap="compositionDatamap" displayables="composition.schema.displayables" orientation="vertical">
                                            </crud-output-fields>
                                        </div>
                                        <div ng-show="item.fields[composition.key] == null || item.fields[composition.key].length == 0" class="no-records">
                                            {{i18nValue('general.norecords','No records to display')}}
                                        </div>
                                    </div>
                            </ng-switch>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>