﻿<div>
    <div ui-tinymce="richtext.config"
         ng-model="content"
         ng-readonly="readonly">
    </div>
    <input class="richtext-file-selector" type="file" style="display: none;" onchange="" />
</div>