﻿<div class="container" ng-controller="UmcRequestController">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 clearfix" style="background: #f5f5f5; border: #d0d0d0 solid 1px; padding: 15px; margin-top: 50px; margin-bottom: 50px;">
        <p>
            The request #{{userid()}} was sent successfully!
        </p>
        <div class="pull-right">
            <button class="btn btn-primary" ng-click="newRequest()">
                <span class="fa fa-plus"></span>&emsp;New Request
            </button>
        </div>
    </div>
</div>