﻿<html style="box-sizing:border-box;" >
<head style="box-sizing:border-box;" >
    <title style="box-sizing:border-box;" >Ticket Accepted</title>
</head>

<body style="box-sizing:border-box;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;padding-top:20px;padding-bottom:20px;padding-right:20px;padding-left:20px;font-style:normal;font-variant:normal;font-weight:normal;font-size:14px;font-family:Arial, Helvetica, sans-serif;line-height:24px;" >

    <div class="field  col-xs-12 emailsection" style="box-sizing:border-box;width:100%;float:left;border-width:1px;border-style:solid;border-color:#e0e0e0;border-radius:4px;padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;" >
        <div style="box-sizing:border-box;">
            <div style="box-sizing:border-box;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:30px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >                
                <div style="box-sizing:border-box">The ticket #{{id}} for {{sitename}} got accepted.</div>
            </div>
        </div>
        <br />
        <p style="box-sizing:border-box;margin-bottom:30px;margin-left:30px;display: inline-block;" >
            <a href="{{ticketurl}}" target="_blank" style="box-sizing:border-box;display:inline-block;padding-top:6px;padding-bottom:6px;padding-right:12px;padding-left:12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border-width:1px;border-style:solid;border-radius:4px;text-decoration:none;border: none;font-size:20px; color: #fff; background-color: #5cb85c; border-color: #4cae4c;" >View Ticket</a>
        </p>
    </div>

</body>
</html>