﻿<div id="othertestsform">

<!--    <div class="row">-->
<!--        <label>Choose the desired Dispatch Response Time</label>-->
<!--    </div>-->

<!---->
<!--    <div class="row">-->
<!--        <div class="col-md-6 col-lg-6 col-sm-6">-->
<!--            <label class="radio">-->
<!--                <input type="radio"-->
<!--                       name="dispatchtype"-->
<!--                       value=""-->
<!--                       ng-model="datamap['dispatchtype']">-->
<!--                <span>-->
<!--                    Immediate-->
<!--                </span>-->
<!--            </label>-->
<!--            <label class="radio">-->
<!--                <input type="radio"-->
<!--                       name="dispatchtype"-->
<!--                       value=""-->
<!--                       ng-model="datamap['dispatchtype']">-->
<!--                <span>-->
<!--                    Delayed-->
<!--                    <span ng-if="isDesktop()" id="datetimepicker" class="input-group" data-datepicker="true">-->
<!--                        <input type="text" ng-model="datamap['dispatchdate']"-->
<!--                               data-date-time-->
<!--                               data-show-time="false"-->
<!--                               data-show-date="true"-->
<!--                               data-show-minutes="false"-->
<!--                               data-allow-past="false"-->
<!--                               class="form-control">-->
<!--                        <span class="input-group-addon" data-calendericon="true" rel="tooltip" data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}" style="cursor: pointer;">-->
<!--                            <i class="datetime-class"></i>-->
<!--                        </span>-->
<!--                    </span>-->
<!--                </span>-->
<!--            </label>-->
<!--        </div>-->

        <div class="col-md-6 col-lg-6">
            <button class="btn btn-success">Dispatch</button>
        </div>






</div>