﻿<html style="box-sizing:border-box;" >
<head style="box-sizing:border-box;" >
    <title style="box-sizing:border-box;" >New Ticket</title>
</head>

<body style="box-sizing:border-box;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;padding-top:20px;padding-bottom:20px;padding-right:20px;padding-left:20px;font-style:normal;font-variant:normal;font-weight:normal;font-size:14px;font-family:Arial, Helvetica, sans-serif;line-height:24px;" >

    <div class="field  col-xs-12 emailsection" style="box-sizing:border-box;width:100%;float:left;border-width:1px;border-style:solid;border-color:#e0e0e0;border-radius:4px;padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;" >
        <div style="box-sizing:border-box;">



            <div style="text-decoration: underline">Schedule:</div>
            <div style="box-sizing:border-box;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:30px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >                
                <div style="box-sizing:border-box">4 Hour Response Deadline – {{fourhourdeadline}}</div>
                <div style="box-sizing:border-box">On‐site Deadline – {{onsitedeadline}}</div>
            </div>

            <div style="text-decoration: underline">Comments:</div>
            <div style="box-sizing:border-box;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:30px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                <div style="box-sizing:border-box">{{comments}}</div>
            </div>

            <div style="text-decoration: underline">Scope:</div>
            <div style="box-sizing:border-box;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:30px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                {% for inverter in inverters %}
                    <div style="box-sizing:border-box;font-weight:bold;">{{inverter.description}}</div>
                    <div style="box-sizing:border-box;margin-left: 20px">{{inverter.details}}</div>
                {% endfor %}
            </div>

            <div style="text-decoration: underline">Response:</div>
            <div style="box-sizing:border-box;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                <div style="box-sizing:border-box">Do you ACCEPT this Scope?</div>
            </div>
            
            {% if accepted == false %}
            <p style="box-sizing:border-box;margin-bottom:30px;margin-left:30px;display: inline-block;" >
                <a class="btn btn-success" href="{{accepturl}}" target="_blank" style="box-sizing:border-box;display:inline-block;padding-top:6px;padding-bottom:6px;padding-right:12px;padding-left:12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border-width:1px;border-style:solid;border-radius:4px;text-decoration:none;border: none; font-size:20px; color: #fff; background-color: #5cb85c; border-color: #4cae4c;" >Accept</a>
                {% if allowRejection %}
                <a class="btn btn-danger" href="{{rejecturl}}" target="_blank" style="box-sizing:border-box;display:inline-block;padding-top:6px;padding-bottom:6px;padding-right:12px;padding-left:12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border-width:1px;border-style:solid;border-radius:4px;text-decoration:none;border: none;font-size:20px; color: #fff; background-color: #ac2925; border-color: #761c19;" >Reject</a>
                {% endif %}
            </p>
            {% endif %}
            
            {% if accepted %}
            <div style="text-decoration: underline">Post Accepted Actions:</div>
            <p style="box-sizing:border-box;margin-bottom:30px;margin-left:30px;display: inline-block;" >
                <a class="btn btn-success" href="{{arrivedurl}}" target="_blank" style="box-sizing:border-box;display:inline-block;padding-top:6px;padding-bottom:6px;padding-right:12px;padding-left:12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border-width:1px;border-style:solid;border-radius:4px;text-decoration:none;border: none;font-size:20px; color: #fff; background-color: #5cb85c; border-color: #4cae4c;" >Mark as Arrived on Site</a>
                <a class="btn btn-success" href="{{resolvedurl}}" target="_blank" style="box-sizing:border-box;display:inline-block;padding-top:6px;padding-bottom:6px;padding-right:12px;padding-left:12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border-width:1px;border-style:solid;border-radius:4px;text-decoration:none;border: none;font-size:20px; color: #fff; background-color: #5cb85c; border-color: #4cae4c;" >Resolve</a>
            </p>
            {% endif %}

        </div>
    </div>

</body>
</html>