<body>

    @model softWrench.sW4.Web.Models.UserSetup.DefinePasswordModel



    <article>

        

        <div class="container" ng-controller="DefinePasswordController">

            <div class="row">
                Welcome to softwrench @Model.FirstName @Model.LastName.<br />
                Please define your password to start using the system
            </div>




            <form id="definepasswordform" class="form-horizontal" name="passwordform">

                <input type="hidden" id="hddn_token" name="tokenLink" value="@Model.Token" />
                <input type="hidden" id="hddn_timezone" name="userTimezoneOffset" value="{{timezone}}" />

                <div class="row">

                    <div class="col-sm-6">

                        <label class="control-label"
                               rel="{{showLabelTooltip(fieldMetadata)}}"
                               data-original-title="{{i18NLabelTooltip(fieldMetadata)}}">
                            *
                            <!--this will bring either label or header in case of section-->
                            Password
                        </label>

                        <input id="password" type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password">

                        <label class="control-label"
                               rel="{{showLabelTooltip(fieldMetadata)}}"
                               data-original-title="{{i18NLabelTooltip(fieldMetadata)}}">
                            *
                            <!--this will bring either label or header in case of section-->
                            Confirm Password
                        </label>

                        <input id="confirmPassword" type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password" ng-model="user.confirmpassword">
                        <span style="color: red" ng-show="user.password != user.confirmpassword">Password Mismatch</span>

                    </div>

                </div>

                <div class="row submit-button">
                    <button
                        class="btn btn-primary col-xs-4 col-sm-2" type="submit" id="btnLogin"
                        ng-enabled="user.password && user.password!='' && user.password == user.confirmpassword" ng-click="confirm()"><span class="glyphicon glyphicon-log-in" ></span>&emsp;Confirm</button>
                </div>




            </form>
        </div>

    </article>
</body>
