<body>
    @model softWrench.sW4.Web.Models.UserSetup.DefinePasswordModel
    <article>
        <div class="container" ng-controller="DefinePasswordController">
            <form id="definepasswordform" class="form-horizontal col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 clearfix" name="passwordform">
                <input type="hidden" id="hddn_token" name="tokenLink" value="@Model.Token" />
                <input type="hidden" id="hddn_timezone" name="userTimezoneOffset" value="{{timezone}}" />

                <div class="row message">
                    Welcome <span class="name">@Model.FullName</span>,<br />
                    please confirm your new password to continue to softWrench.
                </div>

                <div class="row">
                    <label class="control-label"
                           rel="{{showLabelTooltip(fieldMetadata)}}"
                           data-original-title="{{i18NLabelTooltip(fieldMetadata)}}">
                        Password <span class="requiredfieldmark">*</span>
                    </label>
                    <input id="password" type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password">
                </div>

                <div class="row">
                    <label class="control-label"
                           rel="{{showLabelTooltip(fieldMetadata)}}"
                           data-original-title="{{i18NLabelTooltip(fieldMetadata)}}">
                        Confirm Password <span class="requiredfieldmark">*</span>
                    </label>
                    <input id="confirmPassword" type="password" name="confirmpassword" class="form-control" placeholder="Confirm Password" ng-model="user.confirmpassword">
                </div>

                <div class="row error pull-left">
                    <span style="color: red" ng-show="user.password != user.confirmpassword">Password Mismatch</span>
                </div>

                <div class="row pull-right">
                    <button class="btn btn-primary" type="submit" id="btnLogin"
                            ng-enabled="user.password && user.password!='' && user.password == user.confirmpassword" ng-click="confirm()">
                        <span class="fa fa-check"></span>&emsp;Confirm
                    </button>
                </div>
            </form>
        </div>
    </article>
</body>
