<body>
    @model softWrench.sW4.Web.Models.UserSetup.DefinePasswordModel
    <article>
        <div class="container" ng-controller="DefinePasswordController">
            <form id="definepasswordform" class="form-horizontal col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 clearfix" name="passwordform">
                <input type="hidden" id="hddn_token" name="tokenLink" value="@Model.Token"/>
                <input type="hidden" id="hddn_username" value="@Model.Username" />
                <input type="hidden" id="hddn_chgpassword" value="@Model.ChangePasswordScenario" />
                <input type="hidden" id="hddn_timezone" name="userTimezoneOffset" value="{{timezone}}" />

                <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
                <input style="display:none" type="text" name="fakeusernameremembered" />
                <input style="display:none" type="password" name="fakepasswordremembered" />

                <div class="row message">
                    Welcome <span class="name">@Model.FullName</span>,<br />
                    <span ng-if="!changePassword">please confirm your new password to continue to softWrench.</span>
                    <span ng-if="changePassword">your password has expired, and you are required to change it.</span>
                </div>

                <div class="row">
                    <label class="control-label" rel="{{showLabelTooltip(fieldMetadata)}}" data-original-title="{{i18NLabelTooltip(fieldMetadata)}}">
                        <span>{{passwordLabel}}</span>
                        <span class="requiredfieldmark">*</span>
                    </label>
                    <input id="password" type="password" name="password" class="form-control" placeholder="{{passwordLabel}}" ng-model="user.password">
                </div>

                <div class="row">
                    <label class="control-label" rel="{{showLabelTooltip(fieldMetadata)}}" data-original-title="{{i18NLabelTooltip(fieldMetadata)}}">
                        <span>{{confirmPasswordLabel}}</span>
                        <span class="requiredfieldmark">*</span>
                    </label>
                    <input id="confirmPassword" type="password" name="confirmpassword" class="form-control" placeholder="{{confirmPasswordLabel}}" ng-model="user.confirmpassword">
                </div>

                <div class="row error pull-left">
                    <p style="color: red" ng-show="user.password != user.confirmpassword">Password Mismatch</p>
                    <p style="color: red" ng-repeat="msg in passwordErrors">{{msg}}</p>
                </div>

                <div class="row pull-right">
                    <button class="btn" type="submit" ng-click="cancel()">
                        <span class="fa fa-times"></span>&emsp;Cancel
                    </button>
                    <button class="btn btn-primary" type="submit" id="btnLogin" ng-enabled="submitEnabled()" ng-click="confirm()">
                        <span class="fa fa-check"></span>&emsp;Confirm
                    </button>
                </div>
            </form>
        </div>
    </article>
</body>
