$signin_color: #ffb755;
$asset_path : "../images";

.page-signin {
    background: $signin_color url(#{$asset_path}/signin-lg.jpg) no-repeat center center fixed;
        .form-signin {
        /*padding: 40px 15px;*/
        background-color: rgba(1, 62, 91, 0.8);
}
}

.container header {
    background: $signin_color url(#{$asset_path}/header.jpg) no-repeat center left;

    .admin-area {
        background-color: rgba(1, 62, 91, 0.8);
    }

    .branding {
        /*background: url(#{$asset_path}/branding.png) no-repeat top left;*/
        background: none;

        .logo img {
            height: 115px;
            width: auto;
        }
    }
}

/* Extra Small Devices, Phones */
@media all and (min-width: 1px) and (max-width: 479px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-xxs.jpg) no-repeat center center fixed;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-xs.jpg) no-repeat center center fixed;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-sm.jpg) no-repeat center center fixed;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-md.jpg) no-repeat center center fixed;
    }
}

/* Large Devices, Wide Screen */
@media only screen and (min-width: 1200px) {
}

.page-signin, .container header {
    background-size: cover;
}
