﻿$form_background: rgba(#013e5b, 0.75);

.page-signin {
    background: #0066c8 url(../images/signin-lg.jpg) no-repeat center center fixed;

    .form-signin {
        .logo.main {
            img {
                height: 56px;
            }
        }

        .logo.byline {
            img {
                width: 250px;
            }
        }
    }
}

.container {
    header {
        background: #0066c8 url(../images/header.jpg) no-repeat center left;

        .branding {
            .logo {
                img {
                    height: 40px;
                }
            }
        }
    }

    footer {
        background: #0066c8 url(../images/footer.jpg) no-repeat bottom left;
    }
}

.container header .branding {
    background: -moz-linear-gradient(left, rgba(2,2,2,0.8) 0%, rgba(2,2,2,0.8) 25%, rgba(2,2,2,0) 40%, rgba(2,2,2,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(2,2,2,0.8)), color-stop(25%,rgba(2,2,2,0.8)), color-stop(40%,rgba(2,2,2,0)), color-stop(100%,rgba(2,2,2,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(2,2,2,0.8) 0%,rgba(2,2,2,0.8) 25%,rgba(2,2,2,0) 40%,rgba(2,2,2,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(2,2,2,0.8) 0%,rgba(2,2,2,0.8) 25%,rgba(2,2,2,0) 40%,rgba(2,2,2,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(2,2,2,0.8) 0%,rgba(2,2,2,0.8) 25%,rgba(2,2,2,0) 40%,rgba(2,2,2,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(2,2,2,0.8) 0%,rgba(2,2,2,0.8) 25%,rgba(2,2,2,0) 40%,rgba(2,2,2,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc020202', endColorstr='#00020202',GradientType=1 ); /* IE6-9 */
}

.container header .admin-area {
    background-color: rgba(1, 62, 91, 0.75);
}

.horizontal-menu-container {
    background: -moz-linear-gradient(left, rgba(2,2,2,0.8) 0%, rgba(2,2,2,0.8) 25%, rgba(2,2,2,0) 40%, rgba(2,2,2,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(2,2,2,0.8)), color-stop(25%,rgba(2,2,2,0.8)), color-stop(40%,rgba(2,2,2,0)), color-stop(100%,rgba(2,2,2,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(2,2,2,0.8) 0%,rgba(2,2,2,0.8) 25%,rgba(2,2,2,0) 40%,rgba(2,2,2,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(2,2,2,0.8) 0%,rgba(2,2,2,0.8) 25%,rgba(2,2,2,0) 40%,rgba(2,2,2,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(2,2,2,0.8) 0%,rgba(2,2,2,0.8) 25%,rgba(2,2,2,0) 40%,rgba(2,2,2,0) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(2,2,2,0.8) 0%,rgba(2,2,2,0.8) 25%,rgba(2,2,2,0) 40%,rgba(2,2,2,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc020202', endColorstr='#00020202',GradientType=1 ); /* IE6-9 */
}

.menu-open + .menu-items {
    .horizontal-menu-container {
        background: #878787;
    }
}

/* Extra Small Devices, Phones */
@media all and (min-width: 1px) and (max-width: 479px) {
    .page-signin {
        background: #0066c8 url(../images/signin-xxs.jpg) no-repeat center center fixed;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .page-signin {
        background: #0066c8 url(../images/signin-xs.jpg) no-repeat center center fixed;
    }
}

@media all and (min-width: 1px) and (max-width: 849px) {
    .page-signin {
        .page-overlay {
            background-color: $form_background;
        }

        .form-signin {
            background-color: none;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-signin {
        background: #0066c8 url(../images/signin-sm.jpg) no-repeat center center fixed;
    }
}

@media all and (min-width: 850px) {
    .page-signin {
        .form-signin {
            background-color: $form_background;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .page-signin {
        background: #0066c8 url(../images/signin-md.jpg) no-repeat center center fixed;
    }
}

/* Large Devices, Wide Screen */
@media only screen and (min-width: 1200px) {
}

.page-signin, .container header, .container footer {
    background-size: cover;
}
