.page-signin {
    background: #e0f3f1 url(../images/signin.jpg) no-repeat center top fixed;
    background-size: cover;
}

.container header {
    background: #e0f3f1 url(../images/header.jpg) no-repeat top left;
    background-size: cover;
}
