﻿$background_color: #e0f3f1;
$asset_path: "../images";

.page-signin {
    background: $background_color url(#{$asset_path}/signin.jpg) no-repeat center top fixed;

    .form-signin {
        .logo.byline {
            img {
                width: 250px;
            }
        }
    }
}

.container {
    header {
        background: $background_color url(#{$asset_path}/header.jpg) no-repeat top left;

        .branding {
            background: url(#{$asset_path}/branding.png) no-repeat top left;
        }
    }

    footer {
        background: $background_color url(#{$asset_path}/footer.jpg) no-repeat bottom left;
    }
}

.page-signin, .container header, .container footer {
    background-size: cover;
}
