<span ng-controller="BatchesController">
    {{scope.mode}}
    
    
    <!--to be shown as a modal only-->
    <div id='savebatchesform' class="form-horizontal" style="display: none">
        <div class="form-group">
            <label class='control-label col-md-5'>Batch Name</label>
            <div class="col-md-7">
                <input type='text' name='batchname' id='batchalias'
                       value="{{dm[0]['#batchalias']}}"
                       class="form-control"
                       maxlength="20" />
            </div>
        </div>
    </div>


    <!--to be shown as a modal only-->
    <div id='feedbackcommentform' class="form-horizontal" style="display: none">
        <div class="form-group">
            <div class="col-md-12">
                <textarea id="feedbackcommentname" rows="4"
                          class="form-control" ng-enabled="schema.mode!='output'"
                          maxlength="1000">#feedbackcomment</textarea>
            </div>
        </div>
    </div>
    <div id='lognoteform' class="form-horizontal" style="display: none">
        <div class="form-group">
            <label class='control-label col-md-3'>Summary</label>
            <div class="col-md-9">
                <input type="text" id='summary'
                       class="form-control"
                       ng-enabled="schema.mode!='output'"
                       maxlength="100" value="#lognotesummary">
            </div>
        </div>

        <div class="form-group">

            <label class='control-label col-md-3'>Details</label>
            <div class="col-md-9">
                
                <textarea id='details' rows='4'
                          class="form-control"
                          ng-enabled="schema.mode!='output'"
                          maxlength="2000">#lognotedetails</textarea>
            </div>

        </div>
    </div>

</span>





