﻿<div ng-controller="DashboardController2">
    <button class="btn btn-primary" ng-click="createNewPanel()" ng-enabled="datamap.paneltype!=''">
        <i class="fa fa-plus"></i>&ensp;Create Widget
    </button>
</div>