﻿<span class="print-logo" >
    <h1 style="border-bottom: 2px solid rgb(2,2,2);display: inline;float: left;width: 100%;margin: 0px;margin-top: 0px;color: rgb(24, 24, 111) !important; padding-bottom: 10px; font-weight: bold">
        Work Order Details
    </h1>
    <img ng-src="{{ printLogo }}" ng-if="showPrintLogo" style="max-height: 45px;width: auto;display: inline;float: right;margin-top: -51px;"/>
</span>