.page-signin {
    background: #e0f3f1 url(../../Images/bering_inv/signin.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    .page-signin .form-signin {
        background-color: rgba(1, 62, 91, 0.5);
    }

.container header {
    background: #e0f3f1 url(../../Images/bering_inv/header.jpg) no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}