.activitystream .container header .admin-area { padding-right: 55px; }

#activitystream { background: #f2f2f2; position: fixed; z-index: 1030; width: 0; top: 0; right: 0; float: right; border-left: 1px solid #bfbfbf; -webkit-box-shadow: -3px 3px 20px 0 rgba(0, 0, 0, 0.25); -moz-box-shadow: -3px 3px 20px 0 rgba(0, 0, 0, 0.25); box-shadow: -3px 3px 20px 0 rgba(0, 0, 0, 0.25); }

#activitystream.open { width: 325px; }

#activitystream .handle { -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-90deg); background: #f2f2f2; text-align: center; display: inline-block; position: absolute; top: 58px; left: -80px; min-width: 128px; padding: 12px 15px 5px; text-transform: uppercase; border-top: 1px solid #bfbfbf; border-left: 1px solid #bfbfbf; border-right: 1px solid #bfbfbf; border-top-left-radius: 3px; border-top-right-radius: 3px; cursor: pointer; font-size: 12px; }

#activitystream .unread { position: absolute; top: 4px; left: -46px; }

#activitystream .badge { background: #cf4044; }

#activitystream .pane { padding: 20px 20px 0 20px; display: none; }

#activitystream .pane .scroll { width: 100%; outline: none; }

#activitystream.open .pane { display: block; }

#activitystream header h2 { font-weight: bold; font-size: 14px; margin-top: 0; }

#activitystream header .buttons { margin-top: -13px; }

#activitystream header .buttons.togglehide { margin-left: -8px; }

#activitystream header .buttons.controls { margin-right: -12px; }

#activitystream .button { cursor: pointer; padding: 10px 8px; }

#activitystream header .button { float: left; }

#activitystream .hide-toggle .button { padding: 5px; margin-top: -5px; margin-right: 5px; color: #ccc; width: 14px; }

#activitystream .mobile header .button { padding: 10px 12px; }

#activitystream header .button.off { color: #999; }

#activitystream header .filter { margin-bottom: 5px; }

#activitystream header .filter .button { padding: 0; }

#activitystream header .filter .clearer { position: absolute; top: 46px; right: 18px; width: 34px; height: 34px; line-height: 34px; text-align: center; }

#activitystream .messages { clear: both; }

#activitystream .message { padding: 10px 15px; border-bottom: 1px solid #e5e5e5; line-height: normal; background: #fff; width: 284px; }

#activitystream .message.even { background: none; }

#activitystream .message:first-child { border-top: 1px solid #e5e5e5; }

#activitystream .message .read { width: 20px; color: #428bca; font-size: 8px; margin-top: 3px; }

#activitystream .message .icon { width: 25px; color: #999; }

#activitystream .message .text { width: 50%; width: -moz-calc(100% - 65px); width: -webkit-calc(100% - 65px); width: calc(100% - 65px); }

#activitystream .message .text .info a, #activitystream .message .text .info .by { font-weight: bold; }

#activitystream .message .text .date { color: #999; font-size: 12px; margin-top: 8px; }

#activitystream .messages .nomessages { font-weight: bold; color: #888; margin-top: 40px; }

.no-touch #activitystream header .button:hover { color: #666; }

.no-touch #activitystream header .button.off:hover { color: #000; }

.no-touch #activitystream .hide-toggle .button:hover { color: #000; }

@media all and (min-width: 330px) { #activitystream header .buttons.togglehide { display: none; margin-left: 0px; } }

/*# sourceMappingURL=activitystream.css.map */