﻿.activitystream .container header .admin-area {
    padding-right: 55px;
}

.notificationstream {
    .jspVerticalBar {
        width: 4px;
    }

    .unread {
        position: absolute;
        left: -46px;
        visibility: visible;
    }

    .badge {
        background: #cf4044;
    }

    .pane .scroll {
        width: 100%;
        outline: none;
    }

    header {
        h2 {
            font-weight: bold;
            font-size: 14px;
            margin-top: 0;
        }

        .buttons {
            margin-top: -13px;

            &.togglehide {
                margin-left: -8px;
            }
        }

        .buttons.controls {
            margin-right: -12px;
        }
    }

    .button {
        cursor: pointer;
        padding: 10px 8px;
    }

    header .button {
        float: left;
    }

    .hide-toggle {
        .button {
            padding: 5px;
            margin-top: -5px;
            margin-right: 5px;
            color: #ccc;
            width: 14px;
        }
    }

    .mobile header .button {
        padding: 10px 12px;
    }

    header {
        .button.off {
            color: #999;
        }

        .filter {
            margin-bottom: 5px;
        }

        .filter .button {
            padding: 0;
        }
    }

    .messages {
        clear: both;
        overflow: hidden;
    }

    .message {
        padding: 10px 15px;
        border-bottom: 1px solid #e5e5e5;
        line-height: normal;
        background: #fff;
        width: 284px;


        &.even {
            background: none;
        }

        &:first-child {
            border-top: 1px solid #e5e5e5;
        }

        .read {
            width: 20px;
            color: #428bca;
            font-size: 8px;
            margin-top: 3px;
        }

        .icon {
            width: 25px;
            color: #999;
        }

        .text {
            width: 50%;
            width: -moz-calc(100% - 65px);
            width: -webkit-calc(100% - 65px);
            width: calc(100% - 65px);

            .info {
                a, .by {
                    font-weight: bold;
                }
            }

            .date {
                color: #999;
                font-size: 12px;
                margin-top: 8px;
            }
        }

        .message-footer {
            display: table; 
            width: 100%; 
            padding-top: 10px;

            .message-footer-element {
                display: table-cell;
                vertical-align: bottom;

                &.expand-text {
                    color: #4488f2;
                    cursor: pointer;
                }
            }
        }
    }

    .messages .nomessages {
        font-weight: bold;
        color: #888;
        margin-top: 40px;
    }
}

.no-touch .notificationstream {
    header .button {
        &:hover {
            color: #666;
        }

        &.off:hover {
            color: #000;
        }
    }

    .hide-toggle .button:hover {
        color: #000;
    }
}

@media all and (min-width: 330px) {
    .notificationstream header .buttons.togglehide {
        display: none;
        margin-left: 0px;
    }
}
