﻿$signin_color: #e9e9e9;
$form_background: rgba(233, 233, 233, 0.50);
$asset_path: "../images";

.page-signin {
    background: $signin_color url(#{$asset_path}/signin-lg.jpg) no-repeat center center fixed;

    .form-signin {
        .logo.main img {
            height: auto;
            width: 400px;
        }

        a {
            color: #333;

            &:hover {
                color: #cc2229;
            }
        }

        button[type="submit"] {
            background: #333;
            border: #333 2px solid;
            color: #fff;

            &:hover {
                background-color: rgba(#333, 0.6);
            }
        }

        .logo.byline {
            img {
                width: 250px;
            }
        }
    }
}

.container {
    header {
        background: $signin_color url(#{$asset_path}/header.jpg) no-repeat center left;
        border-bottom: #000 1px solid;

        .admin-area {
            background-color: rgba(#000, 0.8);

            .breadcrumb .seperator {
                color: rgba(#fff, 0.4);
            }
        }

        .branding {
            background: none;

            .logo img {
                height: 75px;
            }
        }
    }

    footer {
        background: $signin_color url(#{$asset_path}/footer.jpg) no-repeat bottom left;

        .page-overlay {
            background-color: rgba(#000, 0.8);
        }
    }
}

/* Extra Small Devices, Phones */
@media all and (min-width: 1px) and (max-width: 479px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-xxs.jpg) no-repeat center center fixed;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-xs.jpg) no-repeat center center fixed;
    }
}

@media all and (min-width: 1px) and (max-width: 849px) {
    .page-signin {
        .page-overlay {
            background-color: $form_background;
        }

        .form-signin {
            background-color: none;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-sm.jpg) no-repeat center center fixed;
    }
}

@media all and (min-width: 850px) {
    .page-signin {
        .form-signin {
            background-color: $form_background;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-md.jpg) no-repeat center center fixed;
    }
}

.page-signin, .container header, .container footer {
    background-size: cover;
}
