﻿<div style="font-weight: bold;">
    <p>
        Subcontractor shall immediately notify First Solar when it reaches a billable of 70% of the Original Not to Exceed amount of the executed Task Order.
    </p>

    <p>
        All costs incurred or labor expended in excess of the Original Not to Exceed funds amount of the Task Order shall be borne solely by the Subcontractor without reimbursement.
    </p>
</div>