﻿<div style="font-weight: bold;">
    <p>
        When billing please send all invoice correspondence to <a>fseinvoices@firstsolar.com</a> and ensure to indicate the PO # and "Bill To Name" on the invoice, which is referenced above.
    </p>

    <p>
        Not adhering to these requirements may result in payment delay or invoice rejection. Any invoice related questions should be emailed to <a>APInquiriesPBG@firstsolar.com</a>.
    </p>
</div>