﻿<html style="box-sizing:border-box;" >
<head style="box-sizing:border-box;" >
    <title style="box-sizing:border-box;" >New Service Call Out</title>
    <!-- Latest compiled and minified CSS -->


    <style style="box-sizing:border-box;" >
        fieldset {
            min-width: 0;
            padding: 0;
            margin: 0;
            border: 0;
        }

        * {
            box-sizing: border-box;
        }


        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
            
        }

        .form-group {
            margin-bottom: 15px;
        }

        .row {
            margin-right: -15px;
            margin-left: -15px;
        }

        .col-xs-12 {
            width: 100%;
            float: left;
            padding-right: 15px;
            padding-left: 15px;
        }

        .col-xs-4 {
            width: 33.33333%;
            float: left;
            padding-right: 15px;
            padding-left: 15px;
        }

        .col-xs-8 {
            width: 66.66666667%;
            float: left;
            font-weight: bold;
            color: black;
            
            
        }

        .emaillabel {
            color: black;
            width: 100%;
            font-weight: bold;
        }

        .emailsection {
            
            
            border: 1px solid #e0e0e0;
            border-radius: 4px;
            padding: 15px;
        }

        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .alert-warning {
            color: #8a6d3b;
            background-color: #fcf8e3;
            border-color: #faebcc;
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            text-decoration: none;
        }

        .btn-success {
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }

        .btn-danger {
            color: #fff;
            background-color: #ac2925;
            border-color: #761c19;
        }

        .btn-warning {
            color: #fff;
            background-color: #d58512;
            border-color: #985f0d;
        }
    </style>
</head>

<body style="box-sizing:border-box;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;padding-top:20px;padding-bottom:20px;padding-right:20px;padding-left:20px;font-style:normal;font-variant:normal;font-weight:normal;font-size:14px;font-family:Arial, Helvetica, sans-serif;line-height:24px;" >
    <!-- TODO replace hard coded img url with client specific header -->
<!--    <img width="600" height="150" src="{{headerurl}}" style="box-sizing:border-box;" >-->

    <p style="box-sizing:border-box;" >
        Request from First Solar addressed to you
    <p style="box-sizing:border-box;" />

    <p  class="alert alert-warning" style="box-sizing:border-box;margin-top:20px;padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;margin-bottom:20px;border-width:1px;border-style:solid;border-radius:4px;color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc;" >
        Do not reply directly to this email, instead use the following actions
    <p style="box-sizing:border-box;" />



    <p style="box-sizing:border-box;" >
        <a class="btn btn-success" href="{{acceptUrl}}" target="_blank" style="box-sizing:border-box;display:inline-block;padding-top:6px;padding-bottom:6px;padding-right:12px;padding-left:12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border-width:1px;border-style:solid;border-radius:4px;text-decoration:none;color:#fff;background-color:#5cb85c; border: none; font-size:20px" >Accept Callout</a>
        <a class="btn btn-danger" href="{{rejectUrl}}" target="_blank" style="box-sizing:border-box;display:inline-block;padding-top:6px;padding-bottom:6px;padding-right:12px;padding-left:12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border-width:1px;border-style:solid;border-radius:4px;text-decoration:none;color:#fff;background-color:#ac2925; border: none;font-size:20px" >Reject Callout</a>
        <a class="btn btn-warning" href="{{pendingUrl}}" target="_blank" style="box-sizing:border-box;display:inline-block;padding-top:6px;padding-bottom:6px;padding-right:12px;padding-left:12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border-width:1px;border-style:solid;border-radius:4px;text-decoration:none;color:#fff;background-color:#d58512; border: none;font-size:20px" >Mark Callout as Pending</a>
    </p>

    <p style="box-sizing:border-box;margin-top:20px;" >
        Follows the callout details
    <p style="box-sizing:border-box;" />


    <div class="field  col-xs-12 emailsection" style="box-sizing:border-box;width:100%;float:left;border-width:1px;border-style:solid;border-color:#e0e0e0;border-radius:4px;padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;" >
        <div schema="schema" datamap="datamap" displayables="fieldMetadata.displayables" orientation="vertical" data-id="" renderer-parameters="fieldMetadata.rendererParameters" hideempty="hideempty" forprint="forprint" class="ng-isolate-scope" style="box-sizing:border-box;" >


            <fieldset class="form-group  col-xs-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                Subcontractor:  <span style="box-sizing:border-box;font-weight:normal;">{{subcontractor}}</span>
            </fieldset>
            <p style="box-sizing:border-box;" ></p>

            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                Expiration Date:  <span style="box-sizing:border-box;font-weight:normal;">{{expirationdate}}</span>
            </fieldset>
            <p style="box-sizing:border-box;" ></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                PO#:  <span style="box-sizing:border-box;font-weight:normal;">{{ponumber}}</span>
            </fieldset>
            <p style="box-sizing:border-box;" ></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                TO#:  <span style="box-sizing:border-box;font-weight:normal;">{{tonumber}}</span>
            </fieldset>
            <p style="box-sizing:border-box;" ></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                Site Name:  <span style="box-sizing:border-box;font-weight:normal;">{{site}}</span>
            </fieldset>
            <p style="box-sizing:border-box;" ></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                Address:  <span style="box-sizing:border-box;font-weight:normal;">{{address}}</span>
            </fieldset>
            <p style="box-sizing:border-box;" ></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                City:  <span style="box-sizing:border-box;font-weight:normal;">{{city}}</span>
            </fieldset>
            <p style="box-sizing:border-box;" ></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                State:  <span style="box-sizing:border-box;font-weight:normal;">{{state}}</span>
            </fieldset>
            <p style="box-sizing:border-box;" ></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                Zip:  <span style="box-sizing:border-box;font-weight:normal;">{{zip}}</span>
            </fieldset>
            <p style="box-sizing:border-box;" ></p>

            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                Billing Entity:  <span style="box-sizing:border-box;font-weight:normal;">{{billing}}</span>
            </fieldset>
            <p style="box-sizing:border-box;" ></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                Not To Exceed Amount:  <span style="box-sizing:border-box;font-weight:normal;">{{nottoexceed}}</span>
            </fieldset>
            <p style="box-sizing:border-box;" ></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                Remaining Funds:  <span style="box-sizing:border-box;font-weight:normal;">{{remaining}}</span>
            </fieldset>
            <p style="box-sizing:border-box;" ></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;color:black;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                <div style="box-sizing:border-box;" >
                    <p style="box-sizing:border-box;font-weight:normal;" >
                        Subcontractor shall immediately notify First Solar when it reaches a billable of 70% of the Original Not to Exceed amount of the executed Task Order.
                    </p>

                    <p style="box-sizing:border-box;font-weight:normal;" >
                        All costs incurred or labor expended in excess of the Original Not to Exceed funds amount of the Task Order shall be borne solely by the Subcontractor without reimbursement.
                    </p>
                </div>
            </fieldset>
            <p style="box-sizing:border-box;" ></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                Scope of Work: <span style="box-sizing:border-box;font-weight:normal;">{{scopeofwork}}</span>
            </fieldset>
            
            <p style="box-sizing:border-box;"></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;">
                Contractor Start Date: <span style="box-sizing:border-box;font-weight:normal">{{contractorstartdate}}</span>
            </fieldset>

            <p style="box-sizing:border-box;" ></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;color:black;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                <div style="box-sizing:border-box;" >
                    <p style="box-sizing:border-box;font-weight:normal;" >
                        When billing please send all invoice correspondence to <a style="box-sizing:border-box;" >fseinvoices@firstsolar.com</a> and ensure to indicate the PO # and "Bill To Name" on the invoice, which is referenced above.
                    </p>

                    <p style="box-sizing:border-box;font-weight:normal;" >
                        Not adhering to these requirements may result in payment delay or invoice rejection. Any invoice related questions should be emailed to <a style="box-sizing:border-box;" >APInquiriesPBG@firstsolar.com</a>.
                    </p>
                </div>
            </fieldset>
            <p style="box-sizing:border-box;" ></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                First Solar Site Contacts:  <span style="box-sizing:border-box;font-weight:normal;">{{fsplant}}</span>
            </fieldset>
            <p style="box-sizing:border-box;" ></p>

            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;min-width:0;font-weight:bold;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;" >
                Other Info: <span style="box-sizing:border-box;font-weight:normal;">{{otherinfo}}</span>
            </fieldset>




        </div>
    </div>
    <p style="box-sizing:border-box;" >

    </p>

</body>
</html>