﻿<html style="box-sizing:border-box;">
<head style="box-sizing:border-box;">
    <title style="box-sizing:border-box;">New Evaluation</title>
    <!-- Latest compiled and minified CSS -->


    <style style="box-sizing:border-box;">
        fieldset {
            min-width: 0;
            padding: 0;
            margin: 0;
            border: 0;
        }

        * {
            box-sizing: border-box;
        }


        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .row {
            margin-right: -15px;
            margin-left: -15px;
        }

        .col-xs-12 {
            width: 100%;
            float: left;
            padding-right: 15px;
            padding-left: 15px;
        }

        .col-xs-4 {
            width: 33.33333%;
            float: left;
            padding-right: 15px;
            padding-left: 15px;
        }

        .col-xs-8 {
            width: 66.66666667%;
            float: left;
            font-weight: bold;
            color: black;
        }

        .emaillabel {
            color: black;
            width: 100%;
            font-weight: bold;
        }

        .emailsection {
            border: 1px solid #e0e0e0;
            border-radius: 4px;
            padding: 15px;
        }

        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .alert-warning {
            color: #8a6d3b;
            background-color: #fcf8e3;
            border-color: #faebcc;
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            text-decoration: none;
        }

        .btn-success {
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }

        .btn-danger {
            color: #fff;
            background-color: #ac2925;
            border-color: #761c19;
        }

        .btn-warning {
            color: #fff;
            background-color: #d58512;
            border-color: #985f0d;
        }
    </style>
</head>

<body style="box-sizing:border-box;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;padding-top:20px;padding-bottom:20px;padding-right:20px;padding-left:20px;font-style:normal;font-variant:normal;font-weight:normal;font-size:14px;font-family:Arial, Helvetica, sans-serif;line-height:24px;">

    <p style="box-sizing:border-box;margin-top:20px;">
        An evaluation has been created on Work Package <a href="{{workpackageurl}}" target="_blank">{{wpnum}}</a> by the user {{user}} .
    <p style="box-sizing:border-box;" />

    <p style="box-sizing:border-box;">
        Please click <a href="{{workpackageurl}}#tabid=engineering" target="_blank">here</a> to see the details.
    <p style="box-sizing:border-box;" />
    
    <br />
    <br />

    <p><b>Component:</b> {{component}}</p>
    
    <p><b>Test:</b> {{testname}}</p>
    
    <p><b>Evaluation:</b></p>

    {{evaluation}}

</body>
</html>