﻿<html style="box-sizing:border-box;">
<head style="box-sizing:border-box;">
    <title style="box-sizing:border-box;">New Service Call Out</title>
    <!-- Latest compiled and minified CSS -->


    <style style="box-sizing:border-box;">
        fieldset {
            min-width: 0;
            padding: 0;
            margin: 0;
            border: 0;
        }

        * {
            box-sizing: border-box;
        }


        label {
            display: inline-block;
            max-width: 100%;
            margin-bottom: 5px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .row {
            margin-right: -15px;
            margin-left: -15px;
        }

        .col-xs-12 {
            width: 100%;
            float: left;
            padding-right: 15px;
            padding-left: 15px;
        }

        .col-xs-4 {
            width: 33.33333%;
            float: left;
            padding-right: 15px;
            padding-left: 15px;
        }

        .col-xs-8 {
            width: 66.66666667%;
            float: left;
            font-weight: bold;
            color: black;
        }

        .emaillabel {
            color: black;
            width: 100%;
            font-weight: bold;
        }

        .emailsection {
            border: 1px solid #e0e0e0;
            border-radius: 4px;
            padding: 15px;
        }

        .alert {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .alert-warning {
            color: #8a6d3b;
            background-color: #fcf8e3;
            border-color: #faebcc;
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            text-decoration: none;
        }

        .btn-success {
            color: #fff;
            background-color: #5cb85c;
            border-color: #4cae4c;
        }

        .btn-danger {
            color: #fff;
            background-color: #ac2925;
            border-color: #761c19;
        }

        .btn-warning {
            color: #fff;
            background-color: #d58512;
            border-color: #985f0d;
        }
    </style>
</head>

<body style="box-sizing:border-box;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;padding-top:20px;padding-bottom:20px;padding-right:20px;padding-left:20px;font-style:normal;font-variant:normal;font-weight:normal;font-size:14px;font-family:Arial, Helvetica, sans-serif;line-height:24px;">
    <!-- TODO replace hard coded img url with client specific header -->
    <!--    <img width="600" height="150" src="{{headerurl}}" style="box-sizing:border-box;" >-->

    <p style="box-sizing:border-box;margin-top:20px;">
        A New Maintenance Engineering Request Has Been Addressed To You
    <p style="box-sizing:border-box;" />

    <p class="alert alert-warning" style="box-sizing:border-box;margin-top:20px;padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;margin-bottom:20px;border-width:1px;border-style:solid;border-radius:4px;color:#8a6d3b;background-color:#fcf8e3;border-color:#faebcc;">
        Do not reply directly to this email, instead use the following actions
    <p style="box-sizing:border-box;" />



    <p style="box-sizing:border-box;">
        <a class="btn btn-success" href="{{acceptUrl}}" target="_blank" style="box-sizing:border-box;display:inline-block;padding-top:6px;padding-bottom:6px;padding-right:12px;padding-left:12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border-width:1px;border-style:solid;border-radius:4px;text-decoration:none;color:#fff;background-color:#5cb85c; border: none; font-size:20px">Accept Request</a>
        <a class="btn btn-danger" href="{{rejectUrl}}" target="_blank" style="box-sizing:border-box;display:inline-block;padding-top:6px;padding-bottom:6px;padding-right:12px;padding-left:12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border-width:1px;border-style:solid;border-radius:4px;text-decoration:none;color:#fff;background-color:#ac2925; border: none;font-size:20px">Reject Request</a>
        <a class="btn btn-warning" href="{{pendingUrl}}" target="_blank" style="box-sizing:border-box;display:inline-block;padding-top:6px;padding-bottom:6px;padding-right:12px;padding-left:12px;margin-bottom:0;font-size:14px;font-weight:400;line-height:1.42857143;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border-width:1px;border-style:solid;border-radius:4px;text-decoration:none;color:#fff;background-color:#d58512; border: none;font-size:20px">Mark Request as Pending</a>
    </p>

    <p style="box-sizing:border-box;margin-top:20px;">
        Follows the request details <a class="btn btn-info" href="{{packageUrl}}" target="_blank" style="box-sizing:border-box;display:inline-block;padding-top:6px;padding-bottom:6px;padding-right:12px;padding-left:10px;margin-bottom:0;font-size:12px;font-weight:400;line-height:1.0;text-align:center;white-space:nowrap;vertical-align:middle;-ms-touch-action:manipulation;touch-action:manipulation;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background-image:none;border-width:1px;border-style:solid;border-radius:4px;text-decoration:none;color:#fff;background-color:#5bc0de; border: none;">View Full Details</a>
    <p style="box-sizing:border-box;" />


    <div class="field  col-xs-12 emailsection" style="box-sizing:border-box;width:100%;float:left;border-width:1px;border-style:solid;border-color:#e0e0e0;border-radius:4px;padding-top:15px;padding-bottom:15px;padding-right:15px;padding-left:15px;">
        <div schema="schema" datamap="datamap" displayables="fieldMetadata.displayables" orientation="vertical" data-id="" renderer-parameters="fieldMetadata.rendererParameters" hideempty="hideempty" forprint="forprint" class="ng-isolate-scope" style="box-sizing:border-box;">
            <fieldset class="form-group  col-xs-12 row" style="box-sizing:border-box;font-weight:bold;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;">
                Work Package<span style="box-sizing:border-box;font-weight:normal"> {{wpnum}}</span>
            </fieldset>
            <p style="box-sizing:border-box;"></p>
            <fieldset class="form-group  col-xs-12 row" style="box-sizing:border-box;font-weight:bold;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;">
                Engineer:  <span style="box-sizing:border-box;font-weight:normal">{{engineer}}</span>
            </fieldset>
            <p style="box-sizing:border-box;"></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;font-weight:bold;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;">
                Reason for Request:  <span style="box-sizing:border-box;font-weight:normal">{{reason}}</span>
            </fieldset>
            <p style="box-sizing:border-box;"></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;font-weight:bold;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;">
                Summary:  <span style="box-sizing:border-box;font-weight:normal">{{summary}}</span>
            </fieldset>
            <p style="box-sizing:border-box;"></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;font-weight:bold;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;">
                Description:  <span style="box-sizing:border-box;font-weight:normal">{{description}}</span>
            </fieldset>
            <p style="box-sizing:border-box;"></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;font-weight:bold;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;">
                Work Type:  <span style="box-sizing:border-box;font-weight:normal">{{worktype}}</span>
            </fieldset>
            <p style="box-sizing:border-box;"></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;font-weight:bold;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;">
                Site Name:  <span style="box-sizing:border-box;font-weight:normal">{{siteid}}</span>
            </fieldset>
            <p style="box-sizing:border-box;"></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;font-weight:bold;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;">
                Scheduled Start:  <span style="box-sizing:border-box;font-weight:normal">{{schedstart}}</span>
            </fieldset>
            <p style="box-sizing:border-box;"></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;font-weight:bold;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;">
                Outage Required:  <span style="box-sizing:border-box;font-weight:normal">{{outagereq}}</span>
            </fieldset>
            <p style="box-sizing:border-box;"></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;font-weight:bold;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;">
                Tier Level:  <span style="box-sizing:border-box;font-weight:normal">{{tier}}</span>
            </fieldset>
            <p style="box-sizing:border-box;"></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;font-weight:bold;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;">
                Nerc Asset:  <span style="box-sizing:border-box;font-weight:normal">{{nerc}}</span>
            </fieldset>
            <p style="box-sizing:border-box;"></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;font-weight:bold;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;">
                Interconnect Documents:  <span style="box-sizing:border-box;font-weight:normal">{{interdocs}}</span>
            </fieldset>
            <p style="box-sizing:border-box;"></p>
            <fieldset class="form-group  col-xs-12 col-sm-12 col-md-12 row" style="box-sizing:border-box;font-weight:bold;min-width:0;padding-top:0;padding-bottom:0;margin-top:0;border-width:0;margin-bottom:15px;margin-right:-15px;margin-left:-15px;width:100%;float:left;padding-right:15px;padding-left:15px;">
                Operation Procedures:  <span style="box-sizing:border-box;font-weight:normal">{{operationprocedured}}</span>
            </fieldset>
            <p style="box-sizing:border-box;"></p>
        </div>
    </div>
    <p style="box-sizing:border-box;">

    </p>

</body>
</html>