﻿$form_background: rgba(1, 45, 68, 0.50);

.page-signin {
    background: #b0dae9 url(../Images/signin.jpg) no-repeat center top fixed;
    background-size: cover;

    .form-signin {
        .logo.byline {
            img {
                width: 250px;
            }
        }
    }
}

.page-signin .form-signin .logo.main img {
    content: url(../images/logo-main-mobile.png);
    height: 200px;
}

@media all and (min-width: 768px) {
    .page-signin .form-signin .logo.main img {
        content: url(../images/logo-main.png);
    }
}

.container header {
    background: #143444 url(../images/header.jpg) no-repeat top left;
    background-size: cover;
}

.container footer {
    background: #143444 url(../images/footer.jpg) no-repeat bottom left;
    background-size: cover;
}

.container header .branding {
    background: none;
    display: none;
}

.horizontal-menu-container {
    background-color: rgba(135, 135, 135, 0.50);
}

@media all and (min-width: 1px) and (max-width: 849px) {
    .page-signin {
        .page-overlay {
            background-color: $form_background;
        }

        .form-signin {
            background-color: none;
        }
    }
}

@media all and (min-width: 850px) {
    .page-signin {
        .form-signin {
            background-color: $form_background;
        }
    }
}
