/*$break_point: 991px;*/

.page-signin {
    background: #b0dae9 url(../Images/signin.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    .page-signin .form-signin {
        background-color: rgba(1, 45, 68, 0.50);
    }

        .page-signin .form-signin .logo.main img {
            content: url(../images/logo-main-mobile.png);
        }

@media all and (min-width: 768px) {
    .page-signin .form-signin .logo.main img {
        content: url(../images/logo-main.png);
    }
}

.container header {
    background: #143444 url(../images/header.jpg) no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    .container header .branding {
        background: none;
        display: none;
    }

.horizontal-menu-container {
    background-color: rgba(135, 135, 135, 0.50);
}

.container header .menu-grid .menu-expand {
    background-color: rgba(135, 135, 135, 0.50);
}
