/******************************************************************************
 ******************************************************************************
 * Place form specific CSS (based on data-application/data-schema attributes  *
 ******************************************************************************
 ******************************************************************************/
@media all and (min-width: 1px) {
	//Service Request Grid
    #listgrid[data-application="servicerequest"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //SR No
				width: 25%;
			}
			&:nth-child(2) { //Summary (take the remaining space)
			}
			&:nth-child(3) { //Reported By
				display: none;
			}
			&:nth-child(4) {  //Status
				display: none;
			}
			&:nth-child(5) { //Owner
				display: none;
			}
			&:nth-child(6) { //Color Block
				width: 4%;
			}
		}
	}

    //Work Order Grid
    #listgrid[data-application="workorder"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //WO No
                width: 30%;
			}
			&:nth-child(2) { //Summary (take the remaining space)
			}
			&:nth-child(3) { //Location
				display: none;
			}
			&:nth-child(4) { //Asset
				display: none;
			}
			&:nth-child(5) { //Status
				display: none;
			}
			&:nth-child(6) { //Color Block
				width: 4%;
			}
		}
	}

    //Change Grid 
	#listgrid[data-application="change"][data-schema="list"] {
		th, td {
			&:nth-child(2) { //Change ID
                width: 30%;
			}
			&:nth-child(3) { //Summary (take the remaining space)
			}
			&:nth-child(4) { //Status
				display: none;
			}
			&:nth-child(5) { //Type
				display: none;
			}
			&:nth-child(6) { //Priority
				display: none;
			}
			&:nth-child(7) { //Risk
				display: none;
			}
			&:nth-child(8) { //Color Block
				width: 4%;
			}
		}
	}

    //Purchasing Grid
	#listgrid[data-application="pr"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //PR No
                width: 35%;
			}
			&:nth-child(2) { //Summary (take the remaining space)
			}
			&:nth-child(3) { //Status
				display: none;
			}
			&:nth-child(4) { //Required Date
				display: none;
			}
			&:nth-child(5) { //Vendor
				display: none;
			}
			&:nth-child(6) { //Total Cost
				display: none;
			}
			&:nth-child(7) { //Site ID
				display: none;
			}
			&:nth-child(8) { //Color Block
				width: 4%;
			}
		}
	}

    //Incident Grid
	#listgrid[data-application="incident"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //Request#
                width: 35%;
			}
			&:nth-child(2) { //Summary (take the remaining space)
			}
			&:nth-child(3) { //Asset
				display: none;
			}
			&:nth-child(4) { //Target Finish
				display: none;
			}
			&:nth-child(5) { //Priority
				display: none;
			}
			&:nth-child(6) { //Reported Date
				display: none;
			}
			&:nth-child(7) { //Owner Group
				display: none;
			}
			&:nth-child(8) { //Status
				display: none;
			}
			&:nth-child(9) { //Color Block
				width: 4%;
			}
		}
	}

    //Inventory Grid
	#listgrid[data-application="invbalances"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //Item No
                width: 35%;
			}
			&:nth-child(2) { //Description (take the remaining space)
			}
			&:nth-child(3) { //Storeroom
				display: none;
			}
			&:nth-child(4) { //Bin
				display: none;
			}
			&:nth-child(5) { //Balance
				display: none;
			}
			&:nth-child(6) { //Site
				display: none;
			}
		}
	}
}

@media all and (min-width: 480px) {
	//Service Request Grid
    #listgrid[data-application="servicerequest"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //SR No
				width: 15%;
			}
			&:nth-child(4) { //Status
				width: 25%;
				display: table-cell;
			}
		}
	}

	//Work Order Grid
    #listgrid[data-application="workorder"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //WO No
                width: 20%;
			}
			&:nth-child(3) { //Location
				width: 25%;
				display: table-cell;
			}
		}
	}

	//Change Grid 
	#listgrid[data-application="change"][data-schema="list"] {
		th, td {
			&:nth-child(2) { //Change ID
                width: 20%;
			}
			&:nth-child(4) { //Status
				width: 25%;
				display: table-cell;
			}
		}
	}

	//Purchasing Grid
	#listgrid[data-application="pr"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //PR No
                width: 25%;
			}
			&:nth-child(4) { //Required Date
				width: 30%;
				display: table-cell;
			}
		}
	}

	//Incident Grid
	#listgrid[data-application="incident"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //Request#
                width: 20%;
			}
			&:nth-child(5) { //Priority
				width: 15%;
				display: table-cell;
			}
			&:nth-child(8) { //Status
				width: 20%;
				display: table-cell;
			}
		}
	}

	//Inventory Grid
	#listgrid[data-application="invbalances"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //Item No
                width: 30%;
			}
		}
	}
}

@media all and (min-width: 768px) {
	//Service Request Grid
    #listgrid[data-application="servicerequest"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //SR No
				width: 10%;
			}
			&:nth-child(4) { //Status
				width: 15%;
			}
			&:nth-child(5) { //Owner
				width: 15%;
				display: table-cell;
			}
		}
	}

	//Work Order Grid
    #listgrid[data-application="workorder"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //WO No
                width: 15%;
			}
			&:nth-child(3) { //Location
				width: 20%;
			}
			&:nth-child(4) { //Asset
				width: 30%;
				display: table-cell;
			}
		}
	}

	//Change Grid 
	#listgrid[data-application="change"][data-schema="list"] {
		th, td {
			&:nth-child(2) { //Change ID
                width: 15%;
			}
			&:nth-child(4) { //Status
				width: 20%;
			}
			&:nth-child(5) { //Type
				width: 20%;
				display: table-cell;
			}
			&:nth-child(6) { //Priority
				display: none;
			}
			&:nth-child(7) { //Risk
				display: none;
			}
		}
	}

	//Purchasing Grid
	#listgrid[data-application="pr"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //PR No
                width: 20%;
			}
			&:nth-child(3) { //Status
				width: 15%;
				display: table-cell;
			}
			&:nth-child(4) { //Required Date
				width: 20%;
			}
			&:nth-child(5) { //Vendor
				width: 15%;
				display: table-cell;
			}
		}
	}

	//Incident Grid
	#listgrid[data-application="incident"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //Request#
                width: 15%;
			}
			&:nth-child(3) { //Asset
				width: 20%;
				display: table-cell;
			}
			&:nth-child(4) { //Target Finish
				display: none;
			}
			&:nth-child(5) { //Priority
				width: 10%;
			}
			&:nth-child(6) { //Reported Date
				display: none;
			}
			&:nth-child(7) { //Owner Group
				width: 15%;
				display: table-cell;
			}
			&:nth-child(8) { //Status
				width: 15%;
			}
		}
	}

	//Inventory Grid
	#listgrid[data-application="invbalances"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //Item No
                width: 20%;
			}
			&:nth-child(3) { //Storeroom
				width: 20%;
				display: table-cell;
			}
			&:nth-child(4) { //Bin
				width: 20%;
				display: table-cell;
			}
		}
	}
}

@media all and (min-width: 992px) {
	//Service Request Grid
    #listgrid[data-application="servicerequest"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //SR No
				width: 10%;
			}
			&:nth-child(3) { //Reported By
				width: 12%;
				display: table-cell;
			}
			&:nth-child(4) { //Status
				width: 12%;
			}
			&:nth-child(5) { //Owner
				width: 12%;
			}
		}
	}

	//Work Order Grid
    #listgrid[data-application="workorder"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //WO No
                width: 10%;
			}
			&:nth-child(3) { //Location
				width: 15%;
			}
			&:nth-child(4) { //Asset
				width: 25%;
			}
			&:nth-child(5) { //Status
				width: 15%;
				display: table-cell;
			}
		}
	}
	
	//Change Grid 
	#listgrid[data-application="change"][data-schema="list"] {
		th, td {
			&:nth-child(2) { //Change ID
                width: 10%;
			}
			&:nth-child(4) { //Status
				width: 15%;
			}
			&:nth-child(5) { //Type
				width: 15%;
			}
			&:nth-child(6) { //Priority
				width: 15%;
				display: table-cell;
			}
			&:nth-child(7) { //Risk
				width: 15%;
				display: table-cell;
			}
		}
	}

	//Purchasing Grid
	#listgrid[data-application="pr"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //PR No
                width: 12%;
			}
			&:nth-child(3) { //Status
				width: 12%;
			}
			&:nth-child(4) { //Required Date
				width: 15%;
			}
			&:nth-child(5) { //Vendor
				width: 12%;
			}
			&:nth-child(6) { //Total Cost
				width: 12%;
				display: table-cell;
			}
			&:nth-child(7) { //Site ID
				width: 12%;
				display: table-cell;
			}
		}
	}

	//Incident Grid
	#listgrid[data-application="incident"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //Request#
                width: 10%;
			}
			&:nth-child(3) { //Asset
				width: 12%;
			}
			&:nth-child(4) { //Target Finish
				width: 15%;
				display: table-cell;
			}
			&:nth-child(5) { //Priority
				width: 8%;
			}
			&:nth-child(6) { //Reported Date
				width: 15%;
				display: table-cell;
			}
			&:nth-child(7) { //Owner Group
				width: 12%;
			}
			&:nth-child(8) { //Status
				width: 10%;
			}
		}
	}

	//Inventory Grid
	#listgrid[data-application="invbalances"][data-schema="list"] {
		th, td {
			&:nth-child(1) { //Item No
                width: 12%;
			}
			&:nth-child(3) { //Storeroom
				width: 15%;
			}
			&:nth-child(4) { //Bin
				width: 15%;
			}
			&:nth-child(5) { //Balance
				width: 15%;
				display: table-cell;
			}
			&:nth-child(6) { //Site
				width: 15%;
				display: table-cell;
			}
		}
	}
}
