﻿@using softWrench.sW4.Web.Util.StaticFileLoad
<!DOCTYPE html>
<html ng-app="sw_layout">
<head>
    <title>@Model.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <base href="/">
    <link rel="Shortcut Icon" ng-src="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/Content/Images/apple-touch-icon.png">
    <link rel="icon" sizes="196x196" href="~/Content/Images/apple-touch-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- styles -->
    @foreach (var tag in StaticFileTagRenderer.RenderStyles()) {
        @tag;
    }
    @*<base href="@Request.ApplicationPath" />*@
</head>
<body>
    @*@model softWrench.sW4.Web.Models.Home.HomeModel*@
    <!-- scripts -->
    @foreach (var tag in StaticFileTagRenderer.RenderScripts()) {
        @tag;
    }

    @*    <input type="hidden" id="hddn_configs" value="@Model.ConfigJSON" />*@
    <input type="hidden" id="routes_homeurl" value="@Url.Action("RedirectToAction", "Home")" />
    <input type="hidden" id="routes_basecontext" value="@Request.ApplicationPath" />
    <input type="hidden" id="hddn_popupmode" value="@Request.Params.Get("popupmode")" />
    <div class="spinner" data-class="spinner" id="mainspinner"></div>
    <div ng-controller="LayoutController" class="container {{clientName}} {{deviceType}} {{browserType}}">
        <notifications></notifications>
        <div class="vertical-menu clearfix" ng-if="menu.displacement == 'vertical'">
            <menu-wrapper menu="menu" popupmode="{{popupmode}}" class="menu-primary" />
        </div>
        <header class="site-header navbar-fixed-top hiddenonprint">
            <admin-menu is-client-admin="isClientAdmin"
                        is-sys-admin="isSysAdmin"
                        is-dynamic-admin="isDynamicAdmin"
                        popupmode="popupmode"
                        myprofileenabled="myprofileenabled"
                        data-menu="menu"
                        data-title="title">
            </admin-menu>
            <div class="branding">
                <div class="logo">
                    @if (System.IO.File.Exists(Request.MapPath("~/Content/Images/" + @Model.ClientName + "/logo-main.png"))) {
                        <img ng-src="{{resourceUrl('/Content/Images/@Model.ClientName/logo-main.png')}}">
                    } else if (System.IO.File.Exists(Request.MapPath("~/Content/Customers/" + @Model.ClientName + "/images/logo-main.png"))) {
                        <img ng-src="{{resourceUrl('/Content/Customers/@Model.ClientName/images/logo-main.png' )}}">
                    } else {
                        <img ng-src="{{resourceUrl('/Content/Images/logo-main.png')}}">
                    }
                </div>
            </div>
            <div class="menu menu-grid" ng-if="menu.displacement == 'horizontal'">
                <div class="menu-expand">
                    <i class="fa fa-ellipsis-v"></i>&ensp;Menu
                </div>
                <div class="menu-items">
                    <menu-wrapper menu="menu" popupmode="{{popupmode}}" class="menu-primary" />
                </div>
            </div>
        </header>
        <div class="content clearfix" ng-class="{'hapag-body': popupmode == 'none', 'hapag-body-popup': popupmode != 'none'}" ng-show="!ajaxmode" ng-dblclick="doubleClickDispatched($event)"
             ng-mousedown="mousedown($event)" ng-mouseup="mouseup($event)" ng-mousemove="mousemove($event)" ng-keydown="handlekeyboard($event)">
            <div id="rectangleselectiondiv" hidden style="border: 1px dotted #000;position: absolute;"></div>
            @RenderBody()
        </div>
        <footer class="site-footer hiddenonprint">
            <div class="page-overlay">
                @if (@Model.PreventPoweredBy) {

                } else {
                    <div class="logo">
                        <img ng-src="{{resourceUrl('/Content/Images/logo-footer.png')}}">
                    </div>
                }

            </div>
        </footer>
    </div>
    <sidepanels />
    <script type="text/javascript">
        $(document).on('touch click', '*[data-calendericon="true"]', function (e) {
            $('input[type="text"]', $(this).parent()).focus();
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
