﻿@using softWrench.sW4.Web.Util.StaticFileLoad
<!DOCTYPE html>
<html ng-app="sw_layout">
<head>
    <title>@Model.Title | softWrench</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <base href="/">
    <link rel="Shortcut Icon" ng-src="favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/Content/Images/apple-touch-icon.png">
    <link rel="icon" sizes="196x196" href="~/Content/Images/apple-touch-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <!-- styles -->
    @foreach (var tag in StaticFileTagRenderer.RenderStyles()) {
        @tag;
    }
    @*<base href="@Request.ApplicationPath" />*@
</head>
<body>
    @*@model softWrench.sW4.Web.Models.IBaseLayoutModel*@
    <!-- scripts-->
    @foreach (var tag in StaticFileTagRenderer.RenderScripts()) {
        @tag;
    }

    <input type="hidden" id="routes_homeurl" value="@Url.Action("RedirectToAction", "Home")" />
    <input type="hidden" id="routes_basecontext" value="@Request.ApplicationPath" />
    <input type="hidden" id="hddn_popupmode" value="@Request.Params.Get("popupmode")" />
    <div ng-controller="NoMenuLayoutController" class="{{clientName}} {{deviceType}} {{browserType}}">
        <notifications></notifications>
        <div class="spinner" data-class="spinner" id="mainspinner"></div>
        <div class="container no-menu-container {{clientName}} {{deviceType}} {{browserType}}">

            <header class="site-header navbar-fixed-top hiddenonprint">
                <div class="branding">
                    <div class="logo">
                        @if (System.IO.File.Exists(Request.MapPath("~/Content/Images/" + @Model.ClientName + "/logo-main.png"))) {
                            <img ng-src="{{resourceUrl('/Content/Images/@Model.ClientName/logo-main.png')}}">
                        } else if (System.IO.File.Exists(Request.MapPath("~/Content/Customers/" + @Model.ClientName + "/images/logo-main.png"))) {
                            <img ng-src="{{resourceUrl('/Content/Customers/@Model.ClientName/images/logo-main.png' )}}">
                        } else {
                            <img ng-src="{{resourceUrl('/Content/Images/logo-main.png')}}">
                        }
                    </div>
                @if (@Model.H1Header != null && @Model.H1HeaderStyle == "center") {
                    <h1 style="float: right; color: white;font-weight: bold;bottom: 10px;position: absolute;left: 36.42%;">
                        @Model.H1Header
                    </h1>
                }
                 
                </div>
            </header>
            <div class="content" ng-class="{'hapag-body': popupmode == 'none', 'hapag-body-popup': popupmode != 'none'}" ng-show="!ajaxmode">
                @RenderBody()
            </div>
            <footer class="site-footer hiddenonprint">
                @if (@Model.PreventPoweredBy) {

                } else {
                    <div class="page-overlay">
                        <div class="logo">
                            <img ng-src="{{resourceUrl('/Content/Images/logo-footer.png')}}">
                        </div>
                    </div>
                }

            </footer>
        </div>
        <script type="text/javascript">
            $(document).on('touch click', '*[data-calendericon="true"]', function (e) {
                $('input[type="text"]', $(this).parent()).focus();
            });
        </script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
