@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <base href="/">
</head>
<body>
    <hgroup ng-controller="ErrorController">
        <h1>{{i18N('general.error','Error')}}.</h1>
        <h2>{{i18N('general.errorrequestmessage','An error occurred while processing your request')}}.</h2>
    </hgroup>
</body>
</html>
