﻿<div class="container">
    <div class="wrapper" ng-controller="pdfController" pdfurl="@Model.PdfUrl" pdfname="@Model.FormName">
        <ng-pdf template-url="~/Content/templates/crud/pdf.html" scale="page-fit"></ng-pdf>
    </div>
</div>