﻿<article ng-controller="ApplicationController" id="applicationSection">

    <form class="form-horizontal">
        <div ng-show="multipleSchema" class="form-group" style="margin-bottom: 0">
            <label class="control-label col-md-4">{{schemaSelectionLabel}}</label>
            <div class="col-md-8">
                <select ng-model="selectedSchema.value"
                        ng-options="schema.title for schema in schemas"
                        ng-change="renderSelectedSchema()"
                        style="margin-left: 10px; margin-top: 8px" />
            </div>

        </div>
    </form>
    <div>
        <div ng-if="modalincluded">
            <crud-body-modal-wrapper></crud-body-modal-wrapper>
        </div>
        <crud-body original-datamap="originalDatamap"
                   timestamp="timeStamp"
                   extraparameters="extraparameters"
                   ismodal="false"
                   schema="schema"
                   datamap="datamap"
                   is-dirty="isDirty"
                   is-list="isList"
                   is-detail="isDetail"
                   blockedassociations="blockedassociations"
                   paginationdata="paginationData"
                   search-data="searchData"
                   search-operator="searchOperator"
                   search-sort="searchSort"
                   parentdata="previousdata"
                   previousschema="previousschema"
                   previousdata="previousdata"
                   cancelfn="toConfirmCancel(data,schema)" />

    </div>

    <div ng-if="crudsubtemplate!=null">
        <div ng-include src="crudsubtemplate" />
    </div>


</article>
