<div class="row" style="width: 100%;margin:10px" ng-controller="DeployValidationController" id="deploy-validation">
    <div class="col-md-12">        
        <button class="applicationcommand btn btn-primary" ng-click="validate()">validate</button>
        <br />
        <div style="margin-top:10px">
            <i class="fa fa-check deploy-success"></i> <label style="margin-right:10px">Indicates that the service is deployed withour any errors.</label>
            <!--<br />-->
            <i class="fa fa-times deploy-failure"></i> <label style="margin-right:10px">Indicates that the service is not deployed or has errors.</label>
            <!--<br />-->
            <i class="fa fa-exclamation-triangle deploy-failure"></i> <label style="margin-right:10px">Indicates that the service cannot be validated due to missing test data.</label>
            <br />
        </div>
        <label style="margin-top:10px">Hover or Click on the status icon to get more details.</label>
        <hr />
        <table class="table table-striped table-hover hidden-phone">
            <thead>
                <tr>
                    <th>{{i18N('general.application','Application')}}</th>
                    <th>{{i18N('general.applicationCode','Application Code')}}</th>
                    <th>{{i18N('general.create','Create')}}</th>
                    <th>{{i18N('general.update','Update')}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="application in applications">
                    <td>{{application.title}}</td>
                    <td>{{application.applicationName}}</td>
                    <td ng-class="{'has-failure' : hasProblemns(application, false)}" ng-click="showFailures(application, false);">
                        <i ng-if="succeded(application, false)" rel="tooltip" title="Success" class="fa fa-check deploy-success"></i>
                        <i ng-if="hasProblemns(application, false)" rel="tooltip" title="{{failureTooltip}}" class="fa fa-times deploy-failure"></i>
                        <i ng-if="!application.hasCreationSchema" rel="tooltip" title="Does not Apply" class="fa fa-minus deploy-no-creation"></i>
                        <i ng-if="isMissingTestData(application, false)" rel="tooltip" title="Missing test data" class="fa fa-exclamation-triangle deploy-failure"></i>
                    </td>
                    <td ng-class="{'has-failure' : hasProblemns(application, true)}" ng-click="showFailures(application, true);">
                        <i ng-if="succeded(application, true)" rel="tooltip" title="Success" class="fa fa-check deploy-success"></i>
                        <i ng-if="hasProblemns(application, true)" rel="tooltip" title="{{failureTooltip}}" class="fa fa-times deploy-failure"></i>
                        <i ng-if="isMissingTestData(application, true)" rel="tooltip" title="Missing test data" class="fa fa-exclamation-triangle deploy-failure"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>