﻿<div class="row" style="width: 100%;margin:10px" ng-controller="DeployValidationController" id="deploy-validation">
    <div class="col-md-12">        
        <span>
            <button class="applicationcommand btn btn-primary" ng-click="validateAll()">validate all</button>            
        </span>
        <br />
        <div style="margin-top:10px">
            <i class="fa fa-check deploy-success"></i> <label style="margin-right:10px;font-weight: normal !important;">Indicates that the service is deployed withour any errors.</label>
            <!--<br />-->
            <i class="fa fa-times deploy-failure"></i> <label style="margin-right:10px;font-weight: normal !important;">Indicates that the service is not deployed or has errors.</label>
            <!--<br />-->
            <i class="fa fa-exclamation-triangle deploy-failure"></i> <label style="margin-right:10px;font-weight: normal !important;">Indicates that the service cannot be validated due to missing test data.</label>
            <label style="margin-top:10px;font-weight: normal !important;">Hover on the status icon to get more details.</label>
            <br />
        </div>

        <div class="container">
            <div class="col-md-3">
                <label style="margin-top:10px;">Validation Summary</label>
                <table class="table" style="width:300px">
                    <tr>
                        <th style="width:100px;"></th>
                        <th style="width:100px;"></th>
                    </tr>
                    <tr class="info">
                        <td style="width:100px;">Total Executed</td>
                        <td style="width:100px;">{{testSuccessCount + testFailureCount + missingDataCount}}</td>
                    </tr>
                    <tr class="success">
                        <td style="width:100px;">Success</td>
                        <td style="width:100px;">{{testSuccessCount}}</td>
                    </tr>
                    <tr class="danger">
                        <td style="width:100px;">Failure</td>
                        <td style="width:100px;">{{testFailureCount}}</td>
                    </tr>
                    <tr class="danger">
                        <td style="width:100px;">Missing Test Data</td>
                        <td style="width:100px;">{{missingDataCount}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-3">
                <br />
                <br />
                <input style="margin-left:10px" type="checkbox" ng-model="showOnlyFailure" /> <label>Show failed validations only</label>
                <br />
                <input style="margin-left:10px" type="checkbox" ng-model="excludeMissingTestData" /> <label>Exclude  missing test data</label>
            </div>
        </div>


        <hr />

        <span>
            <button class="applicationcommand btn btn-primary" ng-click="validateFilesAndFolders()">validate files and directories</button>
        </span>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>File / Directory Name</th>
                    <th>Path</th>
                    <th colspan="2">Validation Result</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="file in testsFilesandDirectories" style="margin-bottom:10px" 
                    ng-show="(showOnlyFailure ? file.hasfailedTests : true)">
                    <td>{{file.name}}</td>
                    <td>{{file.path}}</td>
                    <td>
                        <div class="container">
                            <table class="table" style="table-layout:fixed; width:910px;" ng-if="file.validations && file.validations.length > 0">
                                <tr ng-repeat="validationResult in file.validations" ng-class="{'danger' : !validationResult.validationSuccess}"
                                    ng-show="(showOnlyFailure ? !validationResult.validationSuccess : true)">
                                    <td style="padding:5px;width:550px; word-wrap:break-word;">{{validationResult.validationMessage}}</td>
                                    <td style="padding:5px;width:50px; word-wrap:break-word;">
                                        <i ng-if="validationResult.validationSuccess" rel="tooltip" title="Success" class="fa fa-check deploy-success"></i>
                                        <i ng-if="!validationResult.validationSuccess" rel="tooltip" title="Failure" class="fa fa-times deploy-failure"></i>
                                    </td>
                                </tr>
                            </table>                            
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <hr />

        <span>
            <button class="applicationcommand btn btn-primary" ng-click="validateServices()">validate service deployments</button>
        </span>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>{{i18N('general.application','Application')}}</th>
                    <th>{{i18N('general.applicationCode','Application Code')}}</th>
                    <th colspan="2">Validation Result</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="application in applications" style="margin-bottom:10px" 
                    ng-show="(showOnlyFailure ? application.hasfailedTests : (excludeMissingTestData ?  !application.missingTestData : true))">
                    <td>{{application.title}}</td>
                    <td>{{application.applicationName}}</td>
                    <td>
                        <div class="container">
                            <table class="table" style="table-layout:fixed; width:910px;" ng-if="application.validationResultList && application.validationResultList.length > 0">
                                <tr ng-repeat="validationResult in application.validationResultList"  ng-class="{'danger' : validationResult.hasProblems}" ng-hide="(showOnlyFailure ? !validationResult.hasProblems : false)">
                                    <td style="padding:5px;width:550px; word-wrap:break-word;">{{validationResult.actionDescription}}</td>
                                    <td style="padding:5px;width:300px; word-wrap:break-word;">{{validationResult.actionName}}</td>                                    
                                    <td style="padding:5px;width:50px; word-wrap:break-word;" ng-click="showFailures(application, validationResult, false);">
                                        <i ng-if="!validationResult.hasProblems && validationResult.actionSupported" rel="tooltip" title="Success" class="fa fa-check deploy-success"></i>
                                        <i ng-if="validationResult.hasProblems && validationResult.actionSupported" rel="tooltip" title="{{failureTooltip}}" class="fa fa-times deploy-failure"></i>                                        
                                        <i ng-if="!validationResult.actionSupported && !validationResult.missingTestData" rel="tooltip" title="This operation is not supported" class="fa fa-minus deploy-no-creation"></i>
                                        <i ng-if="validationResult.missingTestData" rel="tooltip" title="Test data is missing" class="fa fa-exclamation-triangle deploy-no-creation"></i>
                                    </td>
                                </tr>
                            </table>
                            <div ng-if="!application.validationResultList">
                                <p> Test not run yet </p>
                            </div>
                        </div>
                    </td>                
                </tr>
            </tbody>
        </table>
        <br />
        <br />       
    </div>
</div>