<article class="container page" ng-controller="AceController">
    <form class="form-horizontal" name="entityMetadataEditorForm">
        <div class="metadataeditor">
            <div class="input-group col-xs-12" ng-show="templates.length > 0">
                <label class="col-xs-12">Select the Template</label>
                <div class="col-xs-12 col-sm-6">
                    <select class="form-control" ng-options="option.name for option in templates track by option.path"
                            ng-model="selectedTemplate" ng-change="loadTemplate()">                       
                    </select>
                </div>
            </div>
            <div id="editor" style="height: 800px; border: 1px solid rgb(240, 240, 240)"></div>
           
            <div class="comments input-group col-xs-12">
                <div class="row">
                    <label class="col-xs-12">Comment <span class="red">*</span></label>
                    <div class="col-xs-12 col-sm-6" id="comment">
                        <input type="text" name="commentInput" placeholder="Changes made should be described here" class="form-control" ng-model="comments" maxlength="100" ng-required="true" ng-maxlength="255"/>
                        <label ng-show="entityMetadataEditorForm.commentInput.$invalid && entityMetadataEditorForm.commentInput.$touched" style="color: red;margin-left:5px;">comment is required</label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-xs-12">Changed By <span class="red">*</span></label>
                    <div class="col-xs-12 col-sm-6" id="comment">
                        <input type="text" name="fullnameInput" placeholder="Please enter your full name here" class="form-control" ng-model="fullname" maxlength="100" ng-required="true" ng-maxlength="200"/>
                        <label ng-show="entityMetadataEditorForm.fullnameInput.$invalid && entityMetadataEditorForm.fullnameInput.$touched" style="color: red;margin-left:5px;">changed by is required</label>
                    </div>
                </div>
            </div>
            <div id="dvUserList">
                <table class="table table-striped table-hover hidden-phone" ng-show="results.length > 0">
                    <thead>
                    <tr>
                        <th>{{i18N('general.description','Description')}}</th>
                        <th>{{i18N('general.createdDate','Created Date')}}</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="value in results" ng-click="edit(value.metadata)" style="cursor: pointer">
                        <td><a>{{value.description}}</a></td>
                        <td><a>{{value.createdDate}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-actions col-xs-12">
                <!--<button ng-click="save()" type="submit" class="btn btn-primary"><i class="fa fa-check"></i>&ensp;{{i18N('general.save','Save')}}</button>-->
                <!--<button ng-click="restore()" type="submit" class="btn btn-primary"><i class="fa fa-refresh"></i>&ensp;{{i18N('general.restore','Restore Default')}}</button>-->
                <!--<button ng-click="restorexml()" type="submit" class="btn btn-primary"><i class="fa fa-refresh"></i>&ensp;{{i18N('general.restorexml','Restore Saved XML')}}</button>-->
                <button ng-click="savechanges()" type="submit" class="btn btn-primary"><i class="fa fa-save"></i>&ensp;{{i18N('general.savechanges','Save Changes')}}</button>
                <button ng-if="supportsbackup()" ng-click="readbackupfile()" type="button" class="btn btn-primary"><i class="fa fa-download"></i>&ensp; Load Original</button>
            </div>
            <!-- <script type="text/javascript" ng-src="{{contextPath('/Content/Scripts/ace/ace.js')}}"></script>-->
        </div>
    </form>
</article>
