﻿<article class="container page" ng-controller="EntityBuilderController">
    <form class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-lg-2">{{i18N('_utilities.metadatabuilder.tablename','Table Name')}}:</label>
            <div class="col-lg-2">
                <input type="text" class="form-control" ng-model="table" />
            </div>
        </div>

        <div class="form-actions form-group">
            <div class="col-lg-offset-2 col-lg-8">
                <button type="submit" id="saveBTN" class="btn btn-primary " ng-click="generateData()">
                    <i class="fa fa-check"></i>&ensp;{{i18N('_utilities.metadatabuilder.generatebutton','Generate')}}
                </button>
            </div>
        </div>

        <div class="col-lg-11" ng-show="hasdata">
            <textarea ng-model="metadata" readonly style="width: 100%; height: 700px; border: 1px solid rgb(240, 240, 240)" />
        </div>
        <div class="col-lg-11" ng-show="HasError">
            <div id="editor" ng-model="error" readonly />
        </div>
    </form>
</article>
