<article class="container page" ng-controller="AceController">
    <form class="form-horizontal">
        <div class="metadataeditor">
            <div class="input-group col-xs-12">
                <label class="col-xs-12">Select the Template</label>
                <div class="col-xs-12 col-sm-6">
                    <select class="form-control" ng-options="option.name for option in templates track by option.path"
                            ng-model="selectedTemplate" ng-change="loadTemplate()">                       
                    </select>
                </div>
            </div>
            <div id="editor" style="height: 800px; border: 1px solid rgb(240, 240, 240)"></div>
           
            <div class="comments input-group col-xs-12">
                <label class="col-xs-12">Comments <span class="red">*</span></label>
                <div class="col-xs-12 col-sm-6" id="comment">
                    <input type="text" placeholder="Changes made to the Metadata should be described here" class="form-control" ng-model="comments" maxlength="100"/>
                </div>
            </div>
            <div id="dvUserList">
                <table class="table table-striped table-hover hidden-phone" ng-show="results.length > 0">
                    <thead>
                    <tr>
                        <th>{{i18N('general.description','Description')}}</th>
                        <th>{{i18N('general.createdDate','Created Date')}}</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="value in results" ng-click="edit(value.metadata)" style="cursor: pointer">
                        <td><a>{{value.description}}</a></td>
                        <td><a>{{value.createdDate}}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-actions col-xs-12">
                <!--<button ng-click="save()" type="submit" class="btn btn-primary"><i class="fa fa-check"></i>&ensp;{{i18N('general.save','Save')}}</button>-->
                <!--<button ng-click="restore()" type="submit" class="btn btn-primary"><i class="fa fa-refresh"></i>&ensp;{{i18N('general.restore','Restore Default')}}</button>-->
                <!--<button ng-click="restorexml()" type="submit" class="btn btn-primary"><i class="fa fa-refresh"></i>&ensp;{{i18N('general.restorexml','Restore Saved XML')}}</button>-->
                <button ng-click="savechanges()" type="submit" class="btn btn-primary"><i class="fa fa-check"></i>&ensp;{{i18N('general.savechanges','Save Changes')}}</button>
            </div>
            <!-- <script type="text/javascript" ng-src="{{contextPath('/Content/Scripts/ace/ace.js')}}"></script>-->
        </div>
    </form>
</article>
