﻿<article class="container page adminlogs" ng-controller="LogAdminController">
    <form class="form-horizontal">
        <div class="log-select form-group">
            <label class="control-label col-lg-2">Select:</label>
            <div class="options col-lg-10">
                <label class="" for="changeviewlogid">
                    <input type="radio" id="changeviewlogid" ng-model="chooselog" value="changeviewlog">
                    Change Log Level

                </label>
                <label class="" for="viewdownloadlogid">
                    <input type="radio" id="viewdownloadlogid" ng-model="chooselog" value="viewdownloadlog" ng-change="setDefaultAppender()">
                    View/Download Log

                </label>
                <div style="margin-top:10px;" ng-show="chooselog === 'viewdownloadlog'">
                    <input type="radio" ng-model="logrotation" id="latestlog" value="0" ng-change="readLogFile(logrotation, filenumber)">
                    Latest Log

                    <input style="margin-left:10px;" type="radio" id="" ng-model="logrotation" value="1" ng-change="readLogFile(logrotation, filenumber)">
                    Select Rotation:

                    <select ng-disabled="logrotation === '0'" ng-model="filenumber" ng-change="readLogFile(logrotation, filenumber)">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>

                </div>
            </div>
        </div>
        <section ng-show="chooselog == 'viewdownloadlog'">
            <div class="appender form-group">
                <label class="control-label col-lg-2">Select Log Appender</label>
                <div class="col-lg-10">
                    <div>
                        <select ng-model="selectedappender"
                                ng-options="appender.name for appender in appenders"
                                ng-change="viewAppenderContent(selectedappender)"
                                class="form-control" />
                    </div>
                </div>
                <div class="col-lg-offset-2 col-lg-10" ng-show="selectedappender.value != null">
                    <button type="button" class="btn btn-primary" ng-click="downloadFile(selectedappender, logrotation, filenumber)">
                        <i class="fa fa-download"></i>&ensp;Download
                    </button>
                    <button type="button" class="btn btn-primary" ng-click="downloadZipFile(selectedappender)">
                        <i class="fa fa-download"></i>&ensp;Download all as Zip
                    </button>
                </div>
            </div>
            <div>
                <textarea ng-model="appendercontent" readonly
                          class="form-control textarealog" />
            </div>
        </section>
        <section ng-show="chooselog == 'changeviewlog'">
            <div class="form-group">
                <label class="control-label col-lg-2">Category Filter</label>
                <div class="col-lg-10">
                    <div>
                        <input type="text" class="form-control" ng-model="logname" ng-change="filter(this)" />
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <table class="table table-hover hidden-phone fixedtable">
                    <thead>
                        <tr class="header-row">
                            <th style="width: 50%">Name</th>
                            <th><a ng-click="changeAll('none')">None</a></th>
                            <th><a ng-click="changeAll('debug')">Debug</a></th>
                            <th><a ng-click="changeAll('info')">Info</a></th>
                            <th><a ng-click="changeAll('warn')">Warn</a></th>
                            <th><a ng-click="changeAll('error')">Error</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="log in logs">
                            <td>{{log.name}}</td>
                            <td><a ng-style="{color: log.level == 'none' ? 'red' : 'blue'}" ng-click="changeLevel(log.name,'none')">None</a></td>
                            <td><a ng-style="{color: log.level == 'debug' ? 'red' : 'blue'}" ng-click="changeLevel(log.name,'Debug')">Debug</a></td>
                            <td><a ng-style="{color: log.level == 'info' ? 'red' : 'blue'}" ng-click="changeLevel(log.name,'Info')">Info</a></td>
                            <td><a ng-style="{color: log.level == 'warn' ? 'red' : 'blue'}" ng-click="changeLevel(log.name,'Warn')">Warn</a></td>
                            <td><a ng-style="{color: log.level == 'error' ? 'red' : 'blue'}" ng-click="changeLevel(log.name,'Error')">Error</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </form>
</article> 