﻿<article class="container page" ng-controller="RoleController">
    <form class="form-horizontal">
        <section ng-show="isList">
            <div id="dvUserList">
                <form id="roleForm">
                    <table class="table table-striped table-hover hidden-phone">
                        <thead>
                            <tr>
                                <th>{{i18N('general.role','Permission')}}</th>
                                <th>{{i18N('general.active','Active')}}?</th>
                                <th>{{i18N('role.description','Description')}}</th>
                            </tr>
                        </thead>
                        <tbody id="gvUsers">
                            <tr ng-repeat="role in roles" ng-click="editRole(role.id,role.name,role.active)" style="cursor: pointer">
                                <td><a ng-click="editRole(role.id,role.name,role.active)">{{role.name}}</a></td>
                                <td>{{role.active}}</td>
                                <td>{{role.description}}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </section>
        <section ng-show="isDetail">
            <div id="dvUserDetail">
                <div id="dvDetail" class="form-horizontal">
                    <h2><span id="spTitle"></span></h2>
                    <input type="hidden" id="hfUserID" />
                    <div class="form-group">
                        <label class="control-label col-lg-2">{{i18N('general.role','Permission')}}</label>
                        <div class="col-lg-10">
                            <input type="text" id="txtUserName" ng-model="role.name" placeholder="{{i18N('placeholder.required.role','Role name is required')}}!" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">{{i18N('role.label','Label')}}</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model="role.label" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">{{i18N('role.description','Description')}}</label>
                        <div class="col-lg-10">
                            <textarea ng-model="role.description" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">{{i18N('general.active','Active')}}</label>
                        <div class="col-lg-10">
                            <input type="checkbox" id="role_active" ng-model="role.active" class="hidden-phone" />
                        </div>
                    </div>
                    <div class="form-actions hidden-phone">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button type="button" id="btnSave" class="btn btn-primary" ng-click="save()"><i class="fa fa-check"></i>&ensp;{{i18N('general.save','Save')}}</button>
                            <button type="button" class="btn" ng-click="cancel()"><i class="fa fa-times"></i>&ensp;{{i18N('general.cancel','Cancel')}}</button>
                            <button type="button" class="btn" ng-click="delete()"><i class="fa fa-trash"></i>&ensp;{{i18N('general.delete','Delete')}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</article>

