﻿<article class="container page" ng-controller="SQLClientController">
    <form class="form-horizontal" name="sqlClientForm">
        <div class="form-group">
            <div class="col-md-10">
                <textarea rows="30" cols="50" class="form-control" shortenter id="queryTextArea" ng-model="queryString"></textarea>                
            </div>
            <div class="col-md-2">
                <select style="margin-left:10px; width:100%;height:100%" multiple size="14" ng-model="queryHistorySelection" ng-change="selectHistoryQuery(queryHistorySelection)">
                    <option ng-repeat="x in queryHistory" value="{{x.key}}" title="{{x.data.query}}">{{x.data.query}}</option>
                </select>
            </div>
        </div>

        <div class="form-actions form-group">
            <div class="row" style="width: 100%;">
                <div class="col-md-8">
                    <span>
                        <label>Datasource:</label>
                        <select ng-model="dataSource">
                            <option ng-repeat="x in dataSources" value="{{x.value}}">{{x.name}}</option>
                        </select>
                        <input style="margin-left:20px;" type="checkbox" name="limitFetchRows" ng-model="limitRows"> Limit rows
                        <input type="text" name="limitFetchRowsCountInput" ng-model="limitFetchRowsCount" ng-disabled="!limitRows" ng-pattern="/^\d+$/" />
                        <label ng-show="sqlClientForm.limitFetchRowsCountInput.$invalid && !sqlClientForm.limitFetchRowsCountInput.$pristine" style="color: red;margin-left:5px;">enter a valid integer number</label>                         
                    </span>
                    
                </div>
                <div class="col-md-4">
                    <div class="pull-right">
                        <button type="submit" id="executeQuery" class="btn btn-primary" ng-click="runSqlQuery()" title="Use CTRL + ENTER as a shorthand">
                            <i class="fa fa-flash"></i>&ensp;Execute SQL
                        </button>
                        <button type="submit" id="executeQuery" style="margin-left:20px" class="btn btn-primary" ng-click="clearHistory()" title="Clear the client history">
                            <i class="fa fa-trash"></i>&ensp;Clear History
                        </button>     
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row"style="width: 100%;">
            <div class="table-responsive" style="width: 100%;max-height:500px;">
                <table style="width: 100%;border: 1px solid black; border-collapse: collapse;" ng-show="hasData">
                    <thead>
                        <tr>
                            <th ng-repeat="header in headers" style="background-color: #4CAF50;color: white;border: 1px solid black;text-align: left;padding: 15px;">
                                {{ header }}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in resultSet">
                            <td style="border: 1px solid black;text-align: left;padding: 15px;" ng-repeat="val in item">
                                {{ val }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <textarea ng-style="hasError && {'color':'red'} || {'color':'black'}"  style="width: 100%; color:red; margin-top:20px;" rows="4" cols="50" id="editor" ng-model="executionMessage" readonly ng-show="true"/>
        </div>        
    </form>
</article>
