<div class="container" ng-controller="UserController">

    <section ng-show="isList">

        <a ng-click="new();" style="cursor: pointer">{{i18N('general.newuser','New User')}}</a>
        <div id="dvUserList">
            <form id="roleForm">
                <table class="table table-striped table-hover hidden-phone">
                    <thead>
                        <tr>
                            <th>{{i18N('general.user','User')}}</th>
                            <th>{{i18N('general.firstname','First Name')}}</th>
                            <th>{{i18N('general.lastname','Last Name')}}</th>
                            <th>{{i18N('general.active','Active')}}</th>
                        </tr>
                    </thead>
                    <tbody id="gvUsers">
                        <tr ng-repeat="user in listObjects" ng-click="edit(user.id)" style="cursor: pointer">
                            <td><a>{{user.userName}}</a></td>
                            <td><a>{{user.firstName}}</a></td>
                            <td><a>{{user.lastName}}</a></td>
                            <td><a>{{user.isActive}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </section>

    <section ng-show="isDetail">
        <div id="dvDetail" class="form-horizontal" style="padding-top: 10px">

            <div class="form-group">
                <label class="control-label col-lg-2"><span style="font-family: Arial Round">* </span><span>{{i18N('general.username','User Name')}}</span></label>
                <div class="col-lg-10">
                    <input type="text" style="text-transform: lowercase;" ng-model="user.userName" placeholder="{{i18N('placeholder.required.username','User name is required')}}!" class="form-control" readonly />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2"><span style="font-family: Arial Round">* </span><span>{{i18N('general.password','Password')}}</span></label>
                <div class="col-lg-10">
                    <input type="password" ng-model="user.password" placeholder="*******" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2"><span style="font-family: Arial Round">* </span><span>{{i18N('general.firstname','First Name')}}</span></label>
                <div class="col-lg-10">
                    <input type="text" ng-model="user.firstName" placeholder="{{i18N('placeholder.required.firstname','First name is required')}}!" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2"><span style="font-family: Arial Round">* </span><span>{{i18N('general.lastname','Last Name')}}</span></label>
                <div class="col-lg-10">
                    <input type="text" ng-model="user.lastName" placeholder="{{i18N('placeholder.required.lastname','Last name is required')}}!" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2"><span style="font-family: Arial Round"></span><span>ORGID</span></label>
                <div class="col-lg-10">
                    <input type="text" ng-model="user.orgId" placeholder="{{i18N('placeholder.warn.orgid','Default OrgId Value')}}" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2"><span style="font-family: Arial Round"></span><span>SiteId</span></label>
                <div class="col-lg-10">
                    <input type="text" ng-model="user.siteId" placeholder="{{i18N('placeholder.warn.siteid','Default SiteId Value')}}" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2"><span style="font-family: Arial Round"></span><span>{{i18N('general.email','Email')}}</span></label>
                <div class="col-lg-10">
                    <input type="email" ng-model="user.email" placeholder="{{i18N('general.email','Email')}}" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2"><span style="font-family: Arial Round"></span><span>{{i18N('general.department','Department')}}</span></label>
                <div class="col-lg-10">
                    <input type="text" ng-model="user.department" placeholder="{{i18N('general.department','Department')}}" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2"><span style="font-family: Arial Round"></span><span>{{i18N('general.phone','Phone')}}</span></label>
                <div class="col-lg-10">
                    <input type="text" ng-model="user.phone" placeholder="{{i18N('general.phone','Phone')}}" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2"><span style="font-family: Arial Round"></span><span>{{i18N('general.language','Language')}}</span></label>
                <div class="col-lg-2">
                    <!--input type="text" ng-model="user.language" placeholder="{{i18N('general.language','Language')}}" class="form-control" /-->

                    <select id="userLanguage" ng-model="user.language" class="form-control">
                        <option value="EN">{{i18N('language.english','English')}}</option>
                        <option value="DE">{{i18N('language.german','German')}}</option>
                        <option value="ES">{{i18N('language.spanish','Spanish')}}</option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2"><span style="font-family: Arial Round">* </span><span>{{i18N('general.active','Active')}}</span></label>
                <div class="col-lg-10">
                    <input type="checkbox" ng-model="user.isActive" />
                </div>
            </div>




            <div id="profiles" class="form-group">
                <label class="control-label col-lg-2">
                    <span style="font-family: Arial Round">{{i18N('general.userprofiles','User Profiles')}}</span>
                </label>
                <div class="col-lg-10">
                    <div class="select-left-right">
                        <select multiple="multiple" ng-model="selectedprofiles" ng-options="profile.name for profile in user.profiles"
                            class="form-control" />

                        <button class="btn-success" ng-click="addSelectedProfiles(availableprofilesselected)">ADD</button>
                        <button class="btn-warning" ng-click="removeSelectedProfiles(selectedprofiles)">DELETE</button><br />
                        <label>Profiles Deleted</label>

                        <select multiple="multiple" ng-model="availableprofilesselected" ng-options="profile.name for profile in availableprofiles"
                            class="form-control input-block-level" />

                    </div>


                </div>
            </div>

            <div class="form-actions form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <button type="submit" id="saveBTN" class="btn btn-primary " ng-click="save()">
                        <i style="margin-right: 0.5em" class="glyphicon glyphicon-ok"></i>{{i18N('general.save','Save')}}
                    </button>
                    <button type="button" class="btn" ng-click="cancel()" class="btn ">
                        <i style="margin-right: 0.5em" class="glyphicon glyphicon-backward"></i>{{i18N('general.cancel','Cancel')}}
                    </button>
                </div>
            </div>



        </div>

    </section>
</div>

