.menu-grid > ul > li > a.selected,
.menu-grid .btn-default.selected,
.menu-grid .open .dropdown-toggle.btn-default.selected {
    color: #000;
}

@media all and (min-width: 768px) {
    .container.desktop .dash-header .listgrid-table {
        margin-top: 83px !important;
    }

    .container.desktop .dash-header .affix-pagination, .container.desktop .dash-header .listgrid-thead {
        position: absolute;
        top: -165px !important;
    }
}
