﻿$form_background: rgba(1, 26, 45, 0.5);

.page-signin {
    background: #b0dae9 url(../images/signin.jpg) no-repeat center top fixed;
    background-size: cover;
}

.container {
    header {
        background: #34a7e0 url(../images/header.jpg) no-repeat top left;
        background-size: cover;
    }

    footer {
        background: #34a7e0 url(../images/footer.jpg) no-repeat bottom left;
        background-size: cover;
    }
}

.container header .branding {
    background: url(../images/branding.png) no-repeat top left;
}

.container header .branding .logo img {
    width: 420px;
}

@media all and (min-width: 1px) and (max-width: 849px) {
    .page-signin {
        .page-overlay {
            background-color: $form_background;
        }

        .form-signin {
            background-color: none;
        }
    }
}

@media all and (min-width: 850px) {
    .page-signin {
        .form-signin {
            background-color: $form_background;
        }
    }
}
