<table class="table table-hover">
    <thead>
        <tr class="header-row">
            <th ng-repeat="column in associationSchemas[fieldMetadata.associationKey].displayables" ng-hide="column.isHidden"
                ng-style="{'min-width': column.rendererParameters['minwidth'], 'max-width': column.rendererParameters['maxwidth']}">
                <span>{{i18NLabel(column)}}</span>
            </th>
        </tr>
    </thead>
    <tr ng-repeat="(optionIndex, option) in associationOptions[fieldMetadata.associationKey]" config-association-list-input-datamap>
        <td ng-repeat="(columnIndex, column) in associationSchemas[fieldMetadata.associationKey].displayables" ng-hide="column.isHidden">

            <span ng-if="column.isReadOnly">{{option.extrafields[column.attribute]}}</span>

            <input ng-if="!column.isReadOnly" type="text" class="hidden-phone form-control" ng-model="datamap[fieldMetadata.attribute][optionIndex][column.attribute]" />
        </td>
    </tr>
</table>