.page-signin {
  background: #ffb755 url(../images/signin-lg.jpg) no-repeat center center fixed; }
  .page-signin .form-signin {
    /*padding: 40px 15px;*/
    background-color: rgba(1, 62, 91, 0.8); }

.container header {
  background: #ffb755 url(../images/header.jpg) no-repeat center left; }
  .container header .admin-area {
    background-color: rgba(1, 62, 91, 0.8); }
  .container header .branding {
    /*background: url(../images/branding.png) no-repeat top left;*/
    background: none; }
    .container header .branding .logo img {
      height: 115px;
      width: auto; }

/* Extra Small Devices, Phones */
@media all and (min-width: 1px) and (max-width: 479px) {
  .page-signin {
    background: #ffb755 url(../images/signin-xxs.jpg) no-repeat center center fixed; } }

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .page-signin {
    background: #ffb755 url(../images/signin-xs.jpg) no-repeat center center fixed; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-signin {
    background: #ffb755 url(../images/signin-sm.jpg) no-repeat center center fixed; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .page-signin {
    background: #ffb755 url(../images/signin-md.jpg) no-repeat center center fixed; } }

/* Large Devices, Wide Screen */
.page-signin, .container header {
  background-size: cover; }

