﻿$form_background: rgba(0, 97, 204, 0.76);

.page-signin {
    background: #0061cc url(../Images/signin.jpg) no-repeat center top fixed;
    background-size: cover;

    .page-overlay {
        background-color: $form_background;
    }

    .form-signin {
        .logo.byline {
            img {
                width: 250px;
            }
        }
    }
}

.page-signin .form-signin .logo.main img {
    margin-top: 20px;
    padding: 0;
    box-shadow: 0 0 80px 20px rgba(255, 255, 255, 1.0);
    border-radius: 100px;
}

.page-signin .form-signin .branding {
    background: url(../Images/signin-branding.png) no-repeat center center;
    height: 50px;
    width: 340px;
    margin-top: 40px;
    position: relative;
}

.page-signin .form-signin button[type="submit"] {
    background: #fff;
    color: #0061cc;
}

.page-signin .form-signin button[type="submit"]:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.page-signin .form-signin .divider.bottom {
    height: 80px;
    background: url(../Images/divider.png) no-repeat center center;
}

.container {
    header {
        background: #0061cc url(../Images/header.jpg) no-repeat center left;
        background-size: cover;

        .branding {
            .logo {
                img {
                    height: auto;
                }
            }
        }
    }

    footer {
        background: #0061cc url(../Images/footer.jpg) no-repeat bottom left;
        background-size: cover;
    }
}

.container header .branding {
    background: url(../Images/branding.png) no-repeat center left;
}

.container header .branding .logo {
    height: 120px;
    width: 120px;
}

.container header .horizontal-menu-container, .container header .menu-grid .menu-expand {
    background-color: rgba(0, 0, 0, 0.6);
}

.container header .menu-grid {
    border-top: 1px solid #fff;
}

.container header .menu-expand:hover {
    color: rgba(255, 255, 255, 0.85);
}

@media all and (min-width: 1px) and (max-width: 849px) {
    .page-signin {
        .form-signin {
            background-color: none;
        }
    }
}

@media all and (min-width: 850px) {
    .page-signin {
        .form-signin {
            background-color: $form_background;
            box-shadow: inset 0 0 200px 5px rgba(0, 49, 102, 0.75);
            border: 2px solid #4eaad9;
        }
    }
}
