<div>
    <div class="admin-area" ng-if="popupmode == 'none'">
        <div class="breadcrumb" breadcrumb data-menu="menu" data-title="title" ng-if="menu.displacement == 'breadcrumb'"></div>
        <div class="text" ng-if="menu.displacement != 'breadcrumb'"><span class="glyphicon glyphicon-log-out"></span>&ensp;{{i18N('_headermenu.loggedinas','Logged in as')}} {{userInfo()}}</div>

        <div class="admin-menu">
            <a data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-cog"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
                <li class="user"><a>{{userInfo()}}</a></li>
                <li ng-show="myprofileenabled">
                    <a href="#" ng-click="myProfile()">
                        <i class="fa fa-user"></i>&ensp;{{i18N('_headermenu.myprofile','Edit My Profile')}}
                    </a>
                </li>
                <li class="dropdown-submenu" ng-show="isSysAdmin">
                    <a data-toggle="dropdown" aria-expanded="false">
                        <i class=" fa fa-cogs"></i>&ensp;{{i18N('_headermenu.utilities','Utilities')}}
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" ng-click="doAction(null,'EntityMetadata','Builder',null,$event.target)">{{i18N('_headermenu.metadatabuilder','Metadata Builder')}}</a></li>
                        <li><a href="#" ng-click="doAction(null,'EntityMetadata','Editor',null,$event.target)">{{i18N('_headermenu.metadataeditor','Metadata Editor')}}</a></li>
                        <li><a href="#" ng-click="doAction(null,'EntityMetadata','MenuEditor',null,$event.target)">{{i18N('_headermenu.menueditor','Menu Editor')}}</a></li>
                        <li><a href="#" ng-click="doAction(null,'EntityMetadata','StatuscolorEditor',null)">{{i18N('_headermenu.statuscoloreditor','StatusColour Editor')}}</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu" ng-show="isClientAdmin">
                    <a data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-gear"></i>&ensp;Admin
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#" ng-click="loadApplication('Person','newPersonDetail')">{{i18N('_headermenu.usersetup','New User')}}</a></li>
                        <li><a href="#" ng-click="loadApplication('Person','list')">{{i18N('_headermenu.usersetup','User Setup')}}</a></li>
                        <li><a href="#" ng-click="doAction(null,'UserProfile','Get',null,$event.target)">{{i18N('_headermenu.userprofilesetup','User Profile Setup')}}</a></li>
                        <li><a href="#" ng-click="doAction(null,'Role','Get',null,$event.target)">{{i18N('_headermenu.rolesetup','Role Setup')}}</a></li>
                        <li><a href="#" ng-click="doAction(null,'Scheduler','Index',null,$event.target)">{{i18N('_headermenu.schedulersetup','Scheduler Setup')}}</a></li>
                        <li><a href="#" ng-click="doAction(null,'Configuration','Get',{popup:true},$event.target)">{{i18N('_headermenu.configuration','Configuration')}}</a></li>
                        <li><a href="#" ng-click="doAction(null,'Configuration','WhereClauses',{popup:true},$event.target)">{{i18N('_headermenu.whereclauses','Where Clauses')}}</a></li>
                        <li><a href="#" ng-click="loadApplication('_SoftwrenchError','list')">{{i18N('_headermenu.softwrenchError','Softwrench Errors')}}</a></li>
                        <li><a href="#" ng-click="loadApplication('_audit','auditList')">{{i18N('_headermenu.audit','Audit Trail')}}</a></li>
                        <li><a href="#" ng-click="doAction(null,'LogAdmin','Index')">{{i18N('_headermenu.logadmin','Administrate Logs')}}</a></li>
                        <li><a href="#" ng-click="doAction(null,'EntityMetadata','Refresh',null,$event.target)">{{i18N('_headermenu.refreshmetadata','Refresh Metadata')}}</a></li>
                    </ul>
                </li>
                <li ng-show="isClientAdmin">
                    <a href="#" ng-click="doAction(null,'Configuration','About',null,$event.target)">
                        <i class="fa fa-info-circle"></i>&ensp;{{i18N('_headermenu.about','About')}}
                    </a>
                </li>
                <!--<li ng-show="isSysAdmin">
                    <a href="#" ng-click="doAction(null,'EntityMetadata','Refresh',null,$event.target)">
                        <i class="fa fa-refresh"></i>&ensp;Refresh Metadata
                    </a>
                </li>-->
                <li>
                    <a ng-href="{{contextPath('SignOut/SignOut')}}" ng-click="logout()">
                        <i class="fa fa-sign-out"></i>&ensp;{{i18N('_headermenu.logout','Logout')}}
                    </a>
                </li>
            </ul>
        </div>
    <div class="clear"></div>
</div>