<li ng-switch on="leaf.type">

    <a id="{{leaf.type + '_' + leaf.id}}" ng-switch-when="ActionMenuItemDefinition" rel="tooltip" data-original-title="{{i18NMenuLabel(leaf,true)}}"
       ng-click="doAction(leaf, $event)" href="#"
       class="level{{level}}">
        <i class="{{isMenuItemIcon(leaf)}}"> </i>
        {{i18NMenuLabel(leaf,false)}}
    </a>

    <a id="{{leaf.type + '_' + leaf.id}}" ng-switch-when="ApplicationMenuItemDefinition" rel="tooltip" data-original-title="{{i18NMenuLabel(leaf,true)}}"
       ng-click="goToApplication(leaf, $event)" href="#"
       class="level{{level}}">
        <i class="{{isMenuItemIcon(leaf)}}"> </i>
        {{i18NMenuLabel(leaf,false)}}
    </a>
    
    <a id="{{leaf.type + '_' + leaf.id}}" ng-switch-when="ExternalLinkMenuItemDefinition" rel="tooltip" data-original-title="{{i18NMenuLabel(leaf,true)}}"
       href="{{leaf.link}}"
       target="_blank"
       class="level{{level}}">
        <i class="{{isMenuItemIcon(leaf)}}"> </i>
        {{i18NMenuLabel(leaf,false)}}
    </a>

    <div ng-switch-when="ResourceMenuItem">
        <div ng-include="contextPath(leaf.path)" href="#" class="level{{level}}" />
    </div>

    <div ng-switch-when="MenuContainerDefinition" class="dropdown dropdown-container btn-group">


        <button ng-if="!leaf.hasMainAction && isButtonStyleContainer(level,leaf)" type="button" class="btn btn-default dropdown-toggle non-isolate" data-toggle="dropdown"
                rel="tooltip" data-original-title="{{i18NMenuLabel(leaf,true)}}" ng-click="handleContainerClick(leaf,$event)">
            <i class="{{isMenuItemIcon(leaf)}}"> </i>
            {{i18NMenuLabel(leaf,false)}}
            <span class="level{{level}}" ng-class="{'right-caret': displacement == 'vertical', 'bottom-caret' : displacement == 'horizontal'}" />
        </button>

        
        <button ng-if="leaf.hasMainAction && isButtonStyleContainer(level,leaf)" type="button" class="btn btn-default btn-split dropdown-toggle" 
                rel="tooltip" data-original-title="{{i18NMenuLabel(leaf,true)}}" ng-click="handleContainerClick(leaf,$event)">
            <i class="{{isMenuItemIcon(leaf)}}"> </i>
            {{i18NMenuLabel(leaf,false)}}
        </button>

        <button type="button" class="btn btn-default btn-split dropdown-toggle" data-toggle="dropdown" aria-expanded="false" ng-if="leaf.hasMainAction">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>

        <a ng-if="!isButtonStyleContainer(level,leaf)" href="#"
           data-toggle="dropdown" rel="tooltip" data-original-title="{{i18NMenuLabel(leaf,true)}}"
           ng-click="handleContainerClick(leaf,$event)" class="level{{level}}">

            {{i18NMenuLabel(leaf,false)}}
            <span class="right-caret level{{level}}" />
        </a>
        <sub-menu leaf="leaf" displacement="displacement" level="level"></sub-menu>
    </div>

    <div ng-switch-when="DividerMenuItem" class="divider" />
</li>
