﻿<li ng-repeat="item in leafs" ng-switch on="item.type" ng-class="{'dropdown-submenu' : item.leafs && isDesktop()}">
    <!-- Desktop Dropdown -->
    <a ng-switch-when="MenuContainerDefinition" ng-if="isDesktop()" data-toggle="dropdown" aria-expanded="false">
        <i class="{{item.icon}}"></i>&ensp;{{item.title}}
    </a>
    <!-- Mobile menu -->
    <a ng-switch-when="MenuContainerDefinition" ng-if="isMobile()" ng-click="toggleOpen($event)" class="hassubmenu">
        <i class="{{item.icon}}"></i>&ensp;{{item.title}}
    </a>

    <!-- Common Items -->
    <ul ng-if="item.leafs" leafs="item.leafs" ng-class="{'submenu' : isMobile(), 'dropdown-menu' : isDesktop()}" role="menu" bc-menu-dropdown></ul>
    <a class="menu-item" ng-switch-when="AdminMenuItemDefinition" ng-click="adminEval(item.click)" bc-menu-item>
        <i class="{{item.icon}}"></i>&ensp;{{item.title}}
    </a>
    <a class="menu-item" ng-switch-when="ActionMenuItemDefinition" ng-click="doAction(item, $event)" bc-menu-item>
        <i class="{{item.icon}}"></i>&ensp;{{item.title}}
    </a>
    <a class="menu-item" ng-switch-when="ApplicationMenuItemDefinition" ng-click="goToApplication(item, $event, true)" bc-menu-item>
        <i class="{{item.icon}}"></i>&ensp;{{item.title}}
    </a>
    <a class="menu-item" ng-switch-when="ServiceMenuItemDefinition" ng-click="dispatch(item)" bc-menu-item>
        <i class="{{item.icon}}"></i>&ensp;{{item.title}}
    </a>
    <a class="menu-item" ng-switch-when="ExternalLinkMenuItemDefinition" href="{{item.link}}" target="_blank">
        <i class="{{item.icon}}"></i>&ensp;{{item.title}}
    </a>
</li>
