﻿<div>
    <div ng-if="isbtnLeft(fieldMetadata)">
        <button class="{{fieldMetadata.rendererParameters.icon}} fieldButton"></button>
        <label class="form-control " style="text-align:left; word-break:break-word;width: 96%;display: inline-block;"
               ng-bind-html="getFormattedValue(datamap[fieldMetadata.attribute],fieldMetadata) | linebreak"
               ng-init="bindEvalExpression(fieldMetadata)">
        </label>
    </div>
    <div ng-if="!isbtnLeft(fieldMetadata)">
        <label class="form-control " style="text-align:left; word-break:break-word;width: 96%;display: inline-block;"
               ng-bind-html="getFormattedValue(datamap[fieldMetadata.attribute],fieldMetadata) | linebreak"
               ng-init="bindEvalExpression(fieldMetadata)">
        </label>
        <button class="{{fieldMetadata.rendererParameters.icon}} fieldButton"></button>
    </div>
</div>
