<li ng-switch on="leaf.type">

    <a id="{{leaf.type + '_' + leaf.id}}" ng-switch-when="ActionMenuItemDefinition" rel="tooltip" data-original-title="{{i18NMenuLabel(leaf,true)}}"
       local-click="doAction(leaf, null)" href="#"
       class="level{{level}}">
        {{i18NMenuLabel(leaf,false)}}
    </a>

    <a id="{{leaf.type + '_' + leaf.id}}" ng-switch-when="ApplicationMenuItemDefinition" rel="tooltip" data-original-title="{{i18NMenuLabel(leaf,true)}}"
       local-click="goToApplication(leaf, null)" href="#"
       class="level{{level}}">
        <i class="{{isMenuItemTitle(leaf,false)}}"> </i>
        {{i18NMenuLabel(leaf,false)}}
    </a>

    <div ng-switch-when="ResourceMenuItem">
        <div ng-include="contextPath(leaf.path)" href="#" class="level{{level}}" />
    </div>

    <div ng-switch-when="MenuContainerDefinition" class="dropdown dropdown-container">
        
        <button ng-if="isButtonStyleContainer(level,leaf)" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                rel="tooltip" data-original-title="{{i18NMenuLabel(leaf,true)}}" local-click="handleContainerClick(leaf,null)">
           <i class="{{isMenuItemTitle(leaf,false)}}"> </i>
            {{i18NMenuLabel(leaf,false)}}
            <span class="level{{level}}" ng-class="{'right-caret': displacement == 'vertical', 'bottom-caret' : displacement == 'horizontal'}" />
         </button>
           
        <a ng-if="!isButtonStyleContainer(level,leaf)" href="#"
           data-toggle="dropdown" rel="tooltip" data-original-title="{{i18NMenuLabel(leaf,true)}}"
           local-click="handleContainerClick(leaf,null)" class="level{{level}}">
            
            {{i18NMenuLabel(leaf,false)}}
            <span class="right-caret level{{level}}" />
        </a>
        <sub-menu leaf="leaf" displacement="displacement" level="level"></sub-menu>
    </div>

    <div ng-switch-when="DividerMenuItem" class="divider" />
</li>
