<div class="hiddenonprint">
    <div id="divsuccessmessagedetail" class="alert alert-success" ng-show="hasSuccessDetail">
        <div>
            <ul>
                <li>{{successMsg}} <a class="close" ng-click="removeAlert()">x</a></li>
            </ul>
        </div>
    </div>

    <div id="divsuccessmessagelist" class="alert alert-success topMessageAux affix-thead" ng-show="hasSuccessList">
        <div>
            <ul>
                <li>{{successMsg}}</li>
            </ul>
        </div>
    </div>

    <div id="diverrormessagedetail" class="alert alert-danger" ng-show="$root.hasErrorDetail">
        <a class="close" ng-click="removeAlert()">x</a>
        <img ng-src="{{contextPath('/Content/Images/1386143956_info.png')}}" alt="details" ng-click="openModal()" />
        <span class="col-lg-offset-2">{{i18N('general.error','Error')}} {{errorMsg}}.
        </span>
    </div>


    <div id="diverrormessagelist" class="alert alert-danger topMessageAux affix-thead" ng-show="$root.hasErrorList" style="height: 62px;">
        <a class="close" ng-click="removeAlert()">x</a>
        <img ng-src="{{contextPath('/Content/Images/1386143956_info.png')}}" alt="details" ng-click="openModal()" />
        <span class="col-lg-offset-2">{{i18N('general.error','Error')}} {{errorMsg}}.
        </span>
    </div>

    <div class="alert alert-danger" ng-show="hasValidationError">
        <a class="close" ng-click="removeValidationAlert()">x</a>
        <div>
            <ul>
                <li ng-repeat="error in validationArray">{{error}}
                </li>
            </ul>
        </div>
    </div>

    <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content" style="width: 900px">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4>{{i18N('general.error','Error')}} {{errorMsg}}</h4>
                    <!--                    <div class="form-horizontal">-->
                    <!--                        <div class="form-group">-->
                    <!--                            <label class="control-label">Error</label>-->
                    <!--                            <textarea class="form-control" ng-model="errorMsg" cols="140" rows="15" style="margin-top: 10px; background-color: white; " />-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="control-label">{{i18N('general.mainstack','Main Stack')}}</label>
                            <textarea class="form-control" ng-model="errorStack" cols="140" rows="15" style="margin-top: 10px; background-color: white;" />
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
