﻿<div class="messages">
    <div ng-repeat="message in getMessages()" ng-class="getMessageClass(message.type)" ng-if="message.display" class="message clearfix">
        <div ng-click="removeMessage(message)" class="close">
            <i class="fa fa-times"></i>
        </div>
        <div class="info clearfix">
            <div class="icon">
                <i ng-class="getIconClass(message.type)"></i>
            </div>
            <div class="text">
                <div class="title">{{getTitleText(message.title, message.type)}}</div>
                <div class="body" ng-bind-html="message.body"></div>
                <div ng-click="openModal(message)" ng-show="displayMoreInfo(message)" class="more">More Info...</div>
            </div>
            <div class="buttons clearfix">
                <div ng-click="openModal(message)" ng-show="displayMoreInfo(message)" class="button secondary">More Info...</div>
                <div ng-click="removeMessage(message)" class="button primary">OK, Got It</div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
                <div class="form-horizontal">
                    <h4>{{moreInfo.title}}</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label">{{i18N('general.errortype','Error Type')}}</label>
                        <input type="text" readonly class="form-control" ng-model="moreInfo.type" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{i18N('general.erroroutline','Error Outline')}}</label>
                        <textarea readonly class="form-control" ng-model="moreInfo.outline" cols="140" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">{{i18N('general.mainstack','Main Stack')}}</label>
                        <richtext-field content="moreInfo.stack" readonly="true"></richtext-field>
                        <!--<textarea readonly class="form-control" ng-model="moreInfo.stack" cols="140" rows="10"></textarea>-->
                    </div>
                    <div class="form-group">
                        <button clipboard text="moreInfo.text" class="btn btn-primary" rel="tooltip" data-original-title="Copy Details to Clipboard">
                            <i class="fa fa-clipboard"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
