<div class="messages">
    <div ng-repeat="message in messages" ng-class="getMessageClass(message.type)" ng-show="message.display" class="message clearfix">
        <div  ng-click="removeMessage(message)" class="close">
            <i class="fa fa-times"></i>
        </div>
        <div class="info clearfix">
            <div class="icon">
                <i ng-class="getIconClass(message.type)"></i>
            </div>
            <div class="text">
                <div class="title">{{getTitleText(message.title, message.type)}}</div>
                <div class="body">{{message.body}}</div>
                <div ng-click="addTestMessage()" class="more">More Info...</div>
            </div>
            <div class="buttons clearfix">
                <div ng-click="addTestMessage()" class="button secondary" ng-show="displayMoreInfo(message.more)">More Info...</div>
                <div ng-click="removeMessage(message)" class="button primary">OK, Got It</div>
            </div>
        </div>
    </div>
</div>