<div class="pages">
    <ul>
        <li ng-class="getPageClass(-1)" ng-click="changePage(1)">
            1
        </li>
        <li ng-show="showEllipsis('start')">
            ...
        </li>
        <li ng-repeat="i in getPageArray() track by $index" ng-class="getPageClass($index)" ng-show="showPage($index)" ng-click="changePage($index+2)">
            <span>{{$index+2}}</span>
        </li>
        <li ng-show="showEllipsis('end')">
            ...
        </li>
        <li ng-class="getPageClass(getLastPage() - 2)" ng-click="changePage(getLastPage())">
            {{getLastPage()}}
        </li>
    </ul>
</div>