<div class="hapag-pagination">
    <div style="float: left">
        <label>Results Per Page</label>
        <input id="pagesize" type="number" min="10" step="5" ng-model="paginationData.pageSize" style="width: 40px; display: inline-block" />
        <button class="add-on" id="btnPanel1" style="height: 30px;" ng-click="selectPage(page.pageNumber)"><i class="glyphicon glyphicon-search"></i></button>
    </div>
    <ul class="pagination pagination-sm" style="display: inline">
        <li ng-show="paginationData.hasPrevious"><a ng-click="firstpage()" href="#"><|</a></li>
        <li ng-show="paginationData.hasPrevious"><a ng-click="previousPage(paginationData.pageNumber)" href="#"><</a></li>
        <li ng-repeat="page in paginationData.pagesToShow" ng-class="{active: page.active}">
            <a ng-click="selectPage(page.pageNumber)" href="#">{{page.pageNumber}}</a>
        </li>
        <li ng-show="paginationData.hasNext"><a ng-click="nextPage(paginationData.pageNumber)" href="#">></a></li>
        <li ng-show="paginationData.hasNext"><a ng-click="selectPage(paginationData.pageCount)" href="#">|></a></li>
    </ul>
    <div class="hapag-pagination-actions">
        <img src="/Content/Images/print_small.gif" alt="print" />
        <img src="/Content/Images/excel_small.gif" alt="excel" />
        <img src="/Content/Images/refresh_sm.gif" alt="refresh" />
    </div>
    <label class="hapag-pagination-displaylbl">Displaying page {{paginationData.pageNumber}} 
        of {{paginationData.pageCount}},items x to y of  {{paginationData.totalCount}}</label>
</div>
