<div class="" ng-show="isPaginationEnabled()">
    <div class="part pagination" ng-show="shouldShowPagination()">
        <a ng-click="previousPage()" ng-class="getDirectionClass('prev')" href="#" class="direction prev" rel="tooltip" data-original-title="{{getTooltip('prev')}}">
            <i class="fa fa-chevron-left"></i>
        </a>
        <pagination-pages pagination-data="paginationData" ng-if="!layout.simple"></pagination-pages>
        <a ng-click="nextPage()" ng-class="getDirectionClass('next')" href="#" class="direction next" rel="tooltip" data-original-title="{{getTooltip('next')}}">
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>
    <div class="part total" ng-if="layout.simple">
        <label ng-if="isHapag()">{{i18N('_grid.pagination.display',"Displaying Page {0} of {1}, Total items {2}",[paginationData.selectedPage,paginationData.pageCount,paginationData.totalCount])}}</label>
        <label ng-if="!isHapag()">{{i18N('_grid.pagination.display',"Items: {0}",[paginationData.totalCount])}}</label>
    </div>
    <div class="part pagesize" ng-show="shouldShowPagination()" ng-if="!layout.simple">
        <label>{{i18N('_grid.pagination.resultsperpage','Results Per Page')}}: </label>
        <select id="pagesize"
                ng-model="paginationData.pageSize"
                ng-options="option as option for option in paginationData.paginationOptions"
                ng-change="selectPage(1)"></select>
    </div>
</div>