<div ng-show="isPaginationEnabled()" style="display:inline-block">
    <div class="part pagination" ng-show="shouldShowPagination()" ng-style="sidePanelStyle()">
        <a ng-click="previousPage()" ng-class="getDirectionClass('prev')" href="" class="direction prev" rel="tooltip" data-original-title="{{getTooltip('prev', layout.simple)}}">
            <i class="fa fa-chevron-left"></i>
        </a>
        <pagination-pages pagination-data="paginationData" ng-if="!layout.simple"></pagination-pages>
        <a ng-click="nextPage()" ng-class="getDirectionClass('next')" href="" class="direction next" rel="tooltip" data-original-title="{{getTooltip('next', layout.simple)}}">
            <i class="fa fa-chevron-right"></i>
        </a>
    </div>
    <div class="part right total" ng-if="layout.simple" ng-style="sidePanelStyle()">
        <label ng-if="isHapag()">{{i18N('_grid.pagination.display',"Displaying Page {0} of {1}, Total items {2}",[paginationData.selectedPage,paginationData.pageCount,paginationData.totalCount])}}</label>
        <label ng-if="!isHapag()" class="text">{{i18N('_grid.pagination.display',"Items:")}}<br />{{i18N('_grid.pagination.display',"{0}",[paginationData.totalCount])}}</label>
    </div>
    <div class="part pagesize" ng-show="shouldShowPagination()" ng-if="!layout.simple">
        <div class="form-inline">
            <div class="form-group">
                <label class="control-label">{{i18N('_grid.pagination.resultsperpage','Results Per Page')}}: </label>
                <label ng-if="paginationData.paginationOptions.length==1" class="control-label">{{paginationData.pageSize}}</label>
                <select
                        ng-if="paginationData.paginationOptions.length > 1"
                        class="form-control input-sm"
                        id="pagesize"
                        ng-model="paginationData.pageSize"
                        ng-options="option as option for option in getPaginationOptions()"
                        ng-change="selectPage(1)"></select>
            </div>
        </div>
    </div>
</div>
