﻿<div class="modal fade printModal"
     data-class="printModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="height: 100%">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <!--#region detail-->
                <div ng-if="!isList">

                    <div>
                        <input type="checkbox" ng-model="vm.shouldPrintMain" ng-checked="true">
                        {{i18N('printmodal.print','Print')}} {{printSchema.title}}
                    </div>

                    <div ng-repeat="composition in nonInlineCompositions(printSchema)">
                        <ng-switch on="composition.type">
                            <input type="checkbox"
                                   ng-switch-when="ApplicationCompositionDefinition"
                                   ng-checked="compositionstoprint[composition.relationship].value"
                                   ng-model="compositionstoprint[composition.relationship].value">
                            <input type="checkbox" ng-switch-default
                                   ng-model="compositionstoprint[composition.id].value"
                                   ng-checked="false">
                        </ng-switch>
                        {{i18N('printmodal.printcomposition','Print {0}',[composition.label])}}
                    </div>

                    <div style="padding-top: 30px">

                        <input type="checkbox"
                               ng-model="vm.shouldPageBreak"
                               ng-checked="true">
                        {{i18N('printmodal.applypagebreaks','Apply page-breaks?')}}
                    </div>
                </div>
                <!-- #endregion-->
                <!--#region list-->
                <div ng-if="isList">
                    <div>
                        <label><input type="checkbox" ng-model="listOptions.isDetailed"> Print Details</label>
                    </div>
                    
                    <div class="radio">
                        <label><input type="radio" value="currentselection" ng-model="listOptions.pageOption" ng-show="showcurrentselection">Current Selection</label>
                    </div>

                    <div class="radio">
                        <label><input type="radio" value="current" ng-model="listOptions.pageOption">Current Page</label>
                    </div>

                    <div class="radio">
                        <label><input type="radio" value="all" ng-model="listOptions.pageOption" ng-enabled="!listOptions.isDetailed">All Pages</label>
                    </div>
                    <div class="radio"> 
                        <label>
                            <input type="radio" value="pages" ng-model="listOptions.pageOption" ng-enabled="!listOptions.isDetailed">
                            Pages
                            <input type="number" min="1" max="{{lastPage}}" class="thin-input" ng-model="listOptions.startPage" ng-change="pageRangeChange()" ng-enabled="!listOptions.isDetailed">
                            to
                            <input type="number" min="1" max="{{lastPage}}" class="thin-input" ng-model="listOptions.endPage" ng-change="pageRangeChange()" ng-enabled="!listOptions.isDetailed">
                        </label>
                    </div>

                </div>
                <!-- #endregion-->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn pull-left commandButton" ng-click="print()">
                    <i class="fa fa-print"></i>&ensp;{{i18N('general.print','Print')}}
                </button>
                <button type="button" class="btn pull-left commandButton" data-dismiss="modal"><i class="fa fa-times"></i>&ensp;{{i18N('general.cancel','Cancel')}}</button>
            </div>
        </div>
    </div>
</div>