<!--<ng-switch on="dm.fields[column.parameters['column']]">-->
<div class="form-group samelinepickers col-sm-9 col-md-10" ng-controller="SamelinePickersController">
    <input type="hidden" ng-model="datamap[fieldMetadata.parameters['joinattribute']]" />
    <div class="col-md-6 clearfix">
        <div ng-if="isDesktop()" class="input-group" data-datepicker="true" style="float: left">
            <input ng-enabled="schema.mode != 'output'"
                   type="text" ng-model="datamap[fieldMetadata.parameters['joinattribute'] + '_date']"
                   data-original-attribute="{{datamap[fieldMetadata.parameters['joinattribute'] + '_date']}}"
                   data-date-time
                   data-show-time="false"
                   data-show-date="true"
                   data-date-format="{{fieldMetadata.parameters['dateformat']}}"
                   data-show-meridian="true"
                   data-allow-past="{{fieldMetadata.parameters['allowpast']}}"
                   data-allow-future="{{fieldMetadata.parameters['allowfuture']}}"
                   class="form-control hiddenonprint" />
            <span ng-enabled="schema.mode != 'output'"
                  class="input-group-addon hiddenonprint" data-calendericon="true" rel="tooltip" data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}" style="cursor: pointer;">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
        <div ng-if="isMobile()" class="input-group">
            <input type="date" class="form-control" ng-model="datamap[fieldMetadata.parameters['joinattribute'] + '_date']" />
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
        <!--<div ng-if="isMobile()">
            <input type="text" class="form-control" ng-model="datamap[fieldMetadata.parameters['joinattribute'] + '_date']"/>
        </div>-->
    </div>

    <div class="col-md-6 clearfix">
        <div ng-if="isDesktop()" class="input-group" data-datepicker="true">
            <input ng-enabled="schema.mode != 'output'"
                   type="text" ng-model="datamap[fieldMetadata.parameters['joinattribute'] + '_time']"
                   data-original-attribute="{{datamap[fieldMetadata.parameters['joinattribute'] + '_time']}}"
                   data-date-time
                   data-show-time="true"
                   data-show-date="false"
                   data-date-format="{{fieldMetadata.parameters['timeformat']}}"
                   data-show-ampm="{{fieldMetadata.parameters['showmeridian']}}"
                   data-allow-past="{{fieldMetadata.parameters['allowpast']}}"
                   data-allow-future="{{fieldMetadata.parameters['allowfuture']}}"
                   class="form-control" />
            <span ng-enabled="schema.mode != 'output'"
                  class="input-group-addon hiddenonprint" data-calendericon="true" rel="tooltip" data-original-title="{{i18N('calendar.time_tooltip','Open the time view popup')}}" style="cursor: pointer;">
                <i class="glyphicon glyphicon-time"></i>
            </span>
        </div>
        <div ng-if="isMobile()" class="input-group">
            <input type="time" class="form-control" ng-model="datamap[fieldMetadata.parameters['joinattribute'] + '_time']" />
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-time"></i>
            </span>
        </div>
        <!--<div ng-if="isMobile()">
            <input type="text" class="form-control" ng-model="datamap[fieldMetadata.parameters['joinattribute'] + '_time']" />
        </div>-->
    </div>
</div>


