<!--<ng-switch on="dm.fields[column.parameters['column']]">-->
<div class="form-group samelinepickers" ng-controller="SamelinePickersController">
    <input type="hidden" ng-model="datamap[fieldMetadata.parameters['joinattribute']]" />
    <div class="col-md-6 clearfix">
        <div class="input-group" data-datepicker="true" style="float: left">
            <input type="test" ng-model="date1"
                   data-original-attribute="{{date1}}"
                   data-date-time
                   data-show-time="false"
                   data-show-date="true"
                   data-date-format="{{fieldMetadata.parameters['dateformat']}}"
                   data-show-meridian="true"
                   data-allow-past="{{fieldMetadata.rendererParameters['allowpast']}}"
                   data-allow-future="{{fieldMetadata.rendererParameters['allowfuture']}}"
                   class="form-control datetime">
            <span class="input-group-addon hiddenonprint" data-calendericon="true" rel="tooltip" data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}" style="cursor: pointer;">
                <i class="glyphicon glyphicon-calendar"></i>
            </span>
        </div>
    </div>

    <div class="col-md-6 clearfix">
        <div class="input-group" data-datepicker="true">
            <input type="test" ng-model="date2"
                   data-original-attribute="{{date2}}"
                   data-date-time
                   data-show-time="true"
                   data-show-date="false"
                   data-date-format="{{fieldMetadata.parameters['timeformat']}}"
                   data-show-meridian="true"
                   data-allow-past="{{fieldMetadata.rendererParameters['allowpast']}}"
                   data-allow-future="{{fieldMetadata.rendererParameters['allowfuture']}}"
                   class="form-control datetime">
            <span class="input-group-addon hiddenonprint" data-calendericon="true" rel="tooltip" data-original-title="{{i18N('calendar.time_tooltip','Open the time view popup')}}" style="cursor: pointer;">
                <i class="glyphicon glyphicon-time"></i>
            </span>
        </div>
    </div>
</div>


