﻿<div class="searchbox">
    <input type="text" class="form-control" placeholder="{{placeholder}}" ng-model="ngModel" />
    <div class="clear-button" ng-if="ngModel" ng-click="clearSearch()"><i class="fa fa-times-circle"></i></div>
</div>