<script type="text/javascript">

    function UsefulFaqLinksController($scope, $http, $templateCache, i18NService) {

        $scope.openUsefulFaqLinkPopup = function (data) {
            if (data != null) {
                data.applicationName = 'solution';
                data.schemaId = 'detail';
                data.mode = 'output';
                data.title = 'FAQ';
                data.parameters = { id: data.solutionId, popupmode: 'browser' };
                if (data.lang == null || data.lang == undefined) {
                    data.lang = 'E';
                }
                data.parameters = { id: data.solutionId, faqid: data.faqid, lang: data.lang, popupmode: 'browser' };
//                $scope.$emit('sw_goToApplicationView', data);
            }
        };

        $scope.i18N = function (key, defaultValue, paramArray) {
            return i18NService.get18nValue(key, defaultValue, paramArray);
        };

    }
</script>

<!--SM - 09/10 - Start, fix faq label/links layout-->
<div class="well well-sm faq clearfix" ng-show="datamap[fieldMetadata.attribute]">
    <article ng-controller="UsefulFaqLinksController">
        <div class="col-md-4">
            <label>{{i18N('usefullinks.information','Useful links to the FAQ regarding problems with')}} {{i18N('usefullinks.' + schema.applicationName + '.' + schema.schemaId + '._title',schema.title)}}</label></div>
        <div class="col-md-8">
            <ul>
                <li ng-repeat="usefulFaqLink in  datamap[fieldMetadata.attribute]" ng-click="openUsefulFaqLinkPopup(usefulFaqLink)"><a href="#">{{usefulFaqLink.description}}</a> </li>
        </ul>
        </div>
    </article>
</div>
<!--SM - 09/10 - Start, fix faq label/links layout-->