<div class="composition master-details clearfix">

    <masterdetailtoolbar position="compositiontop"
                         class="compositiontop"
                         schema="compositionlistschema"
                         parentschema="parentschema"
                         datamap="compositiondata"
                         parentdatamap="parentdata"
                         pagination-data="paginationData"
                         search-data="searchData"
                         search-sort="searchSort"
                         search-operator="searchOperator"
                         mode="{{mode}}"
                         comm-log-datamap="getDetailDatamap"/>

    <div ng-show="hasRecords()" class="clearfix">

        <div class="row">
            <div class="master col-xs-12 col-sm-4">
                <scroll-pane data-available-fn="getScrollSpaceMaster">
                    <div class="scroll">
                        <div class="entries">
                            <div ng-repeat="entry in compositiondata track by $index" ng-class="[$odd ? 'odd' : 'even', getMaster(entry).open ? 'current' : '']" ng-click="displayDetails(entry)" class="entry clearfix">
                                <div class="icons">
                                    <div ng-repeat="icon in getMaster(entry).icons" ng-show="icon" class="icon">
                                        <i class="fa {{icon}}"></i>
                                    </div>
                                </div>
                                <div class="info clearfix">
                                    <div class="title" ng-show="getMaster(entry).title">{{getMaster(entry).title}}</div>
                                    <div class="tag" ng-show="getMaster(entry).tag">{{getMaster(entry).tag}}</div>
                                    <div class="subtitle" ng-show="getMaster(entry).subtitle">{{getMaster(entry).subtitle}}</div>
                                    <div class="message" ng-show="getMaster(entry).message">{{getMaster(entry).message}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </scroll-pane>
                <div class="context swpagination clearfix" ng-if="showPagination()">
                    <pagination pagination-data="paginationData" renderfn="selectPage(pageNumber, pageSize, printMode)"/>
                </div>
            </div>
            <div class="details col-xs-12 col-sm-8 hidden-xs">
                <scroll-pane data-available-fn="getScrollSpaceDetails">
                    <div class="scroll">
                        <div ng-if="!!getDetailDatamap" class="fields">
                            <crud-output schema="compositiondetailschema"
                                         datamap="getDetailDatamap"
                                         displayables="compositiondetailschema.displayables"
                                         cancelfn="cancelfn()"
                                         hideempty="true" />
                        </div>
                    </div>
                </scroll-pane>
                <div ng-if="!compositiondata" class="no-records">
                    <i class="fa fa-info-circle"></i>&ensp;No records match your search.
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="hasRecords()" class="no-records col-xs-12">
        <i class="fa fa-info-circle"></i>&ensp;No records to display.
    </div>

</div>
