<div class="composition master-details clearfix">
    <div ng-show="hasRecords()" class="clearfix">
        <!--TODO: add scroll pane-->
        <div class="master col-xs-4">
            <div class="quick-search">
                <div class="input-group">
                    <input type="text" placeholder="Search..." class="form-control">
                    <span class="input-group-btn">
                        <button class="btn btn-default">
                            <i class="fa fa-search"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="entries">
                <div ng-repeat="entry in compositiondata" ng-class="$odd ? 'odd' : 'even'" ng-click="displayDetails(entry)" class="entry">
                    <div class="icons">
                        <div ng-repeat="icon in entry.master.icons" ng-show="icon" class="icon">
                            <i class="fa {{icon}}"></i>
                        </div>
                    </div>
                    <div class="info">
                        <div class="author">{{entry.master.author}}</div>
                        <div class="date">{{entry.master.date}}</div>
                        <div class="title">{{entry.master.title}}</div>
                        <div class="message">{{entry.master.message}}</div>
                    </div>
                </div>
            </div>
            <!--TODO: Pagination-->
        </div>
        <!--TODO: add scroll pane-->
        <div class="details col-xs-8">
            <div class="fields">
                <div class="field" ng-repeat="fieldMetadata in getDetailSchema().displayables" ng-show="showDetailField(fieldMetadata)">
                    <label class="control-label">{{fieldMetadata.label}}</label>
                    <label class="form-control">{{getFormattedValue(getDetailDatamap[fieldMetadata.attribute], fieldMetadata, getDetailDatamap)}}</label>
                </div>
            </div>
            <div class="commands">
                <div class="buttons">
                    <!--TODO: make buttons function-->
                    <button class="btn btn-default fa fa-mail-reply" title="Reply"></button>
                    <button class="btn btn-default fa fa-mail-reply-all" title="Reply all"></button>
                    <button class="btn btn-default fa fa-mail-forward" title="Forward"></button>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="hasRecords()" class="no-records col-xs-12">
        <i class="fa fa-info-circle"></i>&ensp;No records to display.
    </div>
</div>
