<form class="form-horizontal">
    <div class="form-actions form-group" data-class="commandbar" ng-if="isEnabledToExpand()">
        <div class="col-lg-12" style="padding-top: 5px">
            <button type="button" class="btn commandButton"
                    ng-show="noupdateallowed && clonedCompositionData.length > 1" ng-click="expandAll()">
                {{i18N('composition.expandall','Expand All')}}
            </button>
            <button type="button" class="btn commandButton"
                    ng-show="noupdateallowed && clonedCompositionData.length > 1" ng-click="collapseAll()">
                {{i18N('composition.collapseall','Collapse All')}}
            </button>
        </div>
    </div>

    <div style="overflow-y: initial; overflow-x: auto">
        <table class="table table-hover" id="compositionlistgrid">
            <thead>
                <tr class="hapag-table-header">
                    <th ng-repeat="column in compositionlistschema.displayables"
                        ng-show="!isFieldHidden(compositionlistschema,column)">
                        <span class="add-on">{{i18NLabel(column)}}</span>
                    </th>
                </tr>
            </thead>
            <tbody ng-show="clonedCompositionData.length > 0">
                <tr ng-repeat-start="compositionitem in clonedCompositionData" bindonce>
                    <td ng-repeat="column in compositionlistschema.displayables" ng-show="!isFieldHidden(compositionlistschema,column)"
                        bo-style="{'min-width': column.rendererParameters['minwidth'],
                                'max-width': column.rendererParameters['maxwidth'],
                                'width': column.rendererParameters['width']}">
                        <ng-switch on="column.type">
                            <div ng-switch-when="ApplicationSection" style="min-width:80px">
                                <div ng-include="contextPath(column.resourcepath)" href="#" style="width: 100%" />
                            </div>
                            <div ng-switch-when="ApplicationFieldDefinition" class="gridcolumnvalue"
                                 bo-style="{
                                         'min-width':getGridColumnStyle(column,'minwidth'),
                                         'max-width':getGridColumnStyle(column,'maxwidth'),
                                         'width':getGridColumnStyle(column,'width')
                                         }">
                                <a style="color: black; cursor: pointer;" ng-click="toggleDetails(compositionitem,collectionproperties.allowUpdate)">
                                    {{getFormattedValue(compositionitem[column.attribute],column)}}
                                </a>
                            </div>
                        </ng-switch>
                    </td>
                </tr>

                <tr ng-repeat-end ng-if="detailData[compositionitem[compositionlistschema.idFieldName]].expanded">
                    <td colspan="100%" style="background-color: white">
                        <div class="expanded-item-composition" ng-if="noupdateallowed">

                            <expanded-item-output displayables="compositiondetailschema.displayables"
                                                  schema="compositiondetailschema"
                                                  datamap="detailData[compositionitem[compositionlistschema.idFieldName]].data"
                                                  cancelfn="cancelComposition()">
                            </expanded-item-output>

                        </div>
                        <div class="expanded-item-composition" ng-if="!noupdateallowed">

                            <expanded-item-input displayables="compositiondetailschema.displayables"
                                                 schema="compositiondetailschema"
                                                 datamap="detailData[compositionitem[compositionlistschema.idFieldName]].data"
                                                 association-options="associationOptions"
                                                 cancelfn="cancelComposition()"
                                                 savefn="save()">
                            </expanded-item-input>

                        </div>

                    </td>
                </tr>

            </tbody>
            <tbody ng-show="clonedCompositionData.length == 0">
                <tr>
                    <td colspan="100%">
                        {{i18N('general.norecords','No records to display')}}
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="context clearfix" ng-if="showPagination">
            <pagination pagination-data="paginationData" renderfn="selectPage(pageNumber, pageSize, printMode)" showactions="false" />
        </div>

    </div>
    <div ng-if="showListCommands()" class="form-actions form-group" data-class="commandbar">
        <div class="col-lg-12 hapag-align-button" style="padding-top: 5px">
            <!--This button will only be show at this position in case of an inline composition.
                Otherwise, it shoul join the default command bar-->
            <button type="button" id="additem" class="btn commandButton" ng-click="newDetailFn($event)" ng-show="allowButton(collectionproperties.allowInsertion)">
                <i style="margin-right: 0.5em" class="glyphicon glyphicon-ok"></i>{{i18N(relationship + '.add','Add ' + title)}}
            </button>

        </div>
    </div>

    <commandbar schema="parentschema"
                mode="parentschema.mode"
                ng-if="!inline"
                datamap="parentdata.fields"
                localcommandprovider="compositionProvider()"
                localschema="compositionlistschema"
                savefn="save()"
                cancelfn="cancel(previousdata,previousschema)" />

    <div ng-if="newDetail" class="js_compositionnewitem" style="margin-top: 10px">

        <new-item-input displayables="compositiondetailschema.displayables"
                        elementid="inputComposition"
                        schema="compositiondetailschema"
                        datamap="selecteditem"
                        association-options="associationOptions"
                        cancelfn="cancelComposition()"
                        savefn="save()" />
    </div>

</form>
