<div class="composition master-details clearfix">
    <div class="master col-xs-4">
        <div class="quick-search">
            <div class="input-group">
                <input type="text" placeholder="Search..." class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="messages">
            <div class="message">
                <div class="email">sasa@gmail.com</div>
                <div class="date">12/18/15</div>
                <div class="title">Bundle Products purchased from...</div>
                <div class="message">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est...</div>
            </div>
            <div class="message">
                <div class="email">sasa@gmail.com</div>
                <div class="date">12/18/15</div>
                <div class="title">Bundle Products purchased from...</div>
                <div class="message">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est...</div>
            </div>
            <div class="message">
                <div class="email">sasa@gmail.com</div>
                <div class="date">12/18/15</div>
                <div class="title">Bundle Products purchased from...</div>
                <div class="message">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est...</div>
            </div>
            <div class="message">
                <div class="email">sasa@gmail.com</div>
                <div class="date">12/18/15</div>
                <div class="title">Bundle Products purchased from...</div>
                <div class="message">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est...</div>
            </div>
            <div class="message">
                <div class="email">sasa@gmail.com</div>
                <div class="date">12/18/15</div>
                <div class="title">Bundle Products purchased from...</div>
                <div class="message">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est...</div>
            </div>
        </div>
        <!--<div>
            Pagination
        </div>-->
    </div>
    <div class="details col-xs-8">
        <div class="fields">
            <div class="field">
                <label class="control-label">To:</label>
                <label class="form-control">sasa@gmail.com</label>
            </div>
            <div class="field">
                <label class="control-label">From:</label>
                <label class="form-control">sasa@gmail.com</label>
            </div>
            <div class="field">
                <label class="control-label">Subject:</label>
                <label class="form-control">Bundle Products purchased from TheWebMaker.net</label>
            </div>
            <div class="field">
                <label class="control-label">Message:</label>
                <label class="form-control">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor. Sed semper lorem at felis. Vestibulum volutpat, lacus a ultrices sagittis, mi neque euismod dui, eu pulvinar nunc sapien ornare nisl. Phasellus pede arcu, dapibus eu, fermentum et, dapibus sed, urna.</label>
            </div>
        </div>
        <div class="commands">
            <div class="buttons">
                <button class="btn btn-default fa fa-mail-reply" title="Reply"></button>
                <button class="btn btn-default fa fa-mail-reply-all" title="Reply all"></button>
                <button class="btn btn-default fa fa-mail-forward" title="Forward"></button>
            </div>
        </div>
    </div>
</div>
