<form class="form-horizontal">
    <div class="context clearfix" data-class="commandbar" style="background: none; border-bottom: none">

        <compositiontoolbar position="compositiontop"
                            schema="compositionlistschema"
                            parentschema="parentschema"
                            datamap="compositiondata"
                            parentdatamap="parentdata"
                            pagination-data="paginationData"
                            search-data="searchData"
                            search-sort="searchSort"
                            search-operator="searchOperator" />
    </div>


    <table class="table table-hover" id="compositionlistgrid">
        <thead>
            <tr class="hapag-table-header">
                <th ng-if="compositionlistschema.properties['list.selectionstyle'] == 'multipleselection'">
                    <!--Multiselect-->
                </th>
                <th ng-if="compositionlistschema.properties['list.selectionstyle'] == 'singleselection'">
                    <!--Singleselect-->
                </th>
                <th ng-repeat="column in compositionlistschema.displayables"
                    ng-show="!isFieldHidden(compositionlistschema,column)">
                    <span class="add-on">{{i18NLabel(column)}}</span>
                </th>
            </tr>
        </thead>
        <tbody ng-show="clonedCompositionData.length > 0">
            <tr ng-repeat-start="compositionitem in clonedCompositionData">
                <td ng-if="compositionlistschema.properties['list.selectionstyle'] == 'multipleselection'" style="text-align: center;">
                    <!--Multiselect-->
                    <!-- TODO: Move style to css -->
                    <input type="checkbox"
                           name="compositionlistschema.properties['list.selectionstyle']"
                           value="{{option.value}}"
                           ng-checked="isCheckboxSelected(option,fieldMetadata.associationKey)"
                           ng-click="toogleCheckboxSelection(option,fieldMetadata.associationKey)">
                </td>
                <td ng-if="compositionlistschema.properties['list.selectionstyle'] == 'singleselection'">
                    <!--Singleselect-->
                </td>
                <td ng-repeat="column in compositionlistschema.displayables" ng-show="!isFieldHidden(compositionlistschema,column)">
                    <ng-switch on="column.type">
                        <div ng-switch-when="ApplicationSection">
                            <div ng-include="contextPath(column.resourcepath)" href="#" style="width: 100%" />
                        </div>

                        <div ng-switch-when="ApplicationFieldDefinition">
                            <ng-switch on="column.rendererType">
                                <div ng-switch-when="checkbox">
                                    <i class="fa" ng-class="{'fa-check-square-o' : compositionitem[column.attribute] == 'true', 'fa-square-o' :  compositionitem[column.attribute] == 'false'}" />
                                </div>
                                <div ng-switch-when="icon">
                                    <i class="fa" ng-class="loadIcon(compositionitem[column.attribute],column)"></i>
                                </div>
                                <div ng-switch-when="datetime">
                                    <a style="color: black; cursor: pointer; word-break:break-all;"
                                       ng-click="toggleDetails(compositionitem,column)">
                                        {{getFormattedValue(compositionitem[column.attribute],column)}}
                                    </a>
                                </div>


                                <a style="color: black; cursor: pointer; word-break:break-all;"
                                   ng-switch-default
                                   ng-click="toggleDetails(compositionitem,column)">
                                    {{getFormattedValue(compositionitem[column.attribute],column)}}
                                </a>
                            </ng-switch>


                        </div>
                    </ng-switch>

                </td>
            </tr>
            <tr ng-repeat-end ng-if="detailData[compositionitem[compositionlistschema.idFieldName]].expanded">
                <td colspan="100%" style="background-color: white" class="detaildata">
                    <div class="expanded-item-composition" ng-if="noupdateallowed">

                        <expanded-item-output displayables="compositiondetailschema.displayables"
                                              schema="compositiondetailschema"
                                              datamap="detailData[compositionitem[compositionlistschema.idFieldName]].data"
                                              cancelfn="cancelComposition()">
                        </expanded-item-output>

                    </div>
                    <div class="expanded-item-composition" ng-if="!noupdateallowed">

                        <expanded-item-input displayables="compositiondetailschema.displayables"
                                             schema="compositiondetailschema"
                                             datamap="detailData[compositionitem[compositionlistschema.idFieldName]].data"
                                             association-options="associationOptions"
                                             cancelfn="cancelComposition()"
                                             savefn="save()">
                        </expanded-item-input>

                    </div>

                </td>
            </tr>
        </tbody>
        <tbody ng-show="clonedCompositionData.length == 0">
            <tr>
                <td colspan="100%">
                    {{i18N('general.norecords','No records to display')}}
                </td>
            </tr>
        </tbody>
    </table>

    <div ng-if="showListCommands()" class="form-actions form-group" data-class="commandbar">
        <div class="col-lg-12 hapag-align-button" style="padding-top: 5px">
            <!--This button will only be show at this position in case of an inline composition.
                Otherwise, it shoul join the default command bar-->
            <button type="button" id="additem" class="btn commandButton" ng-click="newDetailFn()" ng-show="allowButton(collectionproperties.allowInsertion)">
                <i style="margin-right: 0.5em" class="glyphicon glyphicon-ok {{list.schema.icon}}"></i>{{i18N(relationship + '.add','Add ' + title)}}
            </button>

        </div>
    </div>

    <commandbar schema="parentschema"
                mode="parentschema.mode"
                ng-if="!inline"
                datamap="parentdata.fields"
                localcommandprovider="compositionProvider()"
                localschema="compositionlistschema"
                savefn="save()"
                cancelfn="cancel(previousdata,previousschema)" />

    <div ng-if="newDetail" style="margin-top: 10px">

        <new-item-input displayables="compositiondetailschema.displayables"
                        elementid="inputComposition"
                        schema="compositiondetailschema"
                        datamap="selecteditem"
                        association-options="associationOptions"
                        cancelfn="cancelComposition()"
                        savefn="save()" />
    </div>

</form>
