<div ng-show="isShowingComposition()">

    <div style="background: none; border-bottom: none" ng-show="!inline && ismodal=='false'">

        <compositiontoolbar position="compositiontop"
                            schema="compositionlistschema"
                            parentschema="parentschema"
                            datamap="compositiondata"
                            parentdatamap="parentdata"
                            pagination-data="paginationData"
                            search-data="searchData"
                            search-sort="searchSort"
                            search-operator="searchOperator"
                            mode="{{mode}}"
                            class="compositiontoolbar" />
    </div>

    <!--build responsive css rules based on metadata-->
    <style column-widths schema="compositionlistschema" inline="inline"></style>
    <table class="table"
           ng-class="showTableHover() ? 'table-hover' : 'no-hover'; inline? 'table-inline' : ''" data-application="{{compositionlistschema.applicationName}}" data-schema="{{compositionlistschema.schemaId}}" id="compositionlistgrid">
        <thead ng-if="showInlineHeader()">
            <tr class="hapag-table-header">
                <th ng-if="hasDetailOutputSchema()" class="hiddenonprint">
                    <!--batchMode-->
                </th>

                <th ng-if="compositionlistschema.properties['list.selectionstyle'] == 'multiple'">
                    <!--Multiselect-->
                </th>
                <th ng-if="compositionlistschema.properties['list.selectionstyle'] == 'single'">
                    <!--Singleselect-->
                </th>
                <th class="{{safeCSSselector(column.attribute)}}"
                    ng-repeat="column in ::nonHiddenDisplayables()"
                    ng-show="!isCompositionItemFieldHidden(compositionlistschema,column,null)"
                    ng-init="columnFilter = filterForColumn(column)">
                    <span ng-show="isFieldRequired(column,column.requiredExpression)" class="requiredfieldmark">* </span>

                    <span ng-if="!!columnFilter && shouldShowSort(column)" ng-click="sort(column)" class="add-on part" rel="tooltip" data-container="body" data-original-title="{{sortLabel(column)}}">
                        {{i18NLabel(column)}}
                    </span>
                    <span ng-if="!columnFilter || !shouldShowSort(column)" class="add-on part" data-container="body">
                        {{i18NLabel(column)}}
                    </span>
                    <div class="fa fa-sort-amount-asc part" ng-show="shouldShowSort(column,'asc')"
                         rel="tooltip" data-original-title="Sorted ascendant">
                    </div>
                    <div class="fa fa-sort-amount-desc part" ng-show="shouldShowSort(column,'desc')"
                         rel="tooltip" data-original-title="Sorted descendant">
                    </div>
                    <div ng-if="!hideFilter()" class="filter-label part" filterrowrendered>
                        <crud-filter-dropdown filter="columnFilter"
                                              schema="compositionlistschema" datamap="datamap" panelid="panelid"
                                              advanced-filter-mode="advancedFilterMode" select-all="selectAllChecked"
                                              search-data="searchData" search-operator="searchOperator" filter-applied="filterApplied()"
                                              filter-standalone />
                    </div>
                </th>
                <th ng-if="showEditButton()">
                    <!-- edit button -->
                </th>
                <th ng-if="showDeleteButton()">
                    <!-- delete button -->
                </th>
            </tr>
        </thead>
        <tbody ng-show="compositionData().length > 0">
            <tr ng-repeat-start="(rowindex, compositionitem) in compositionData()"
                ng-show="!isRowHidden(compositionlistschema, collectionproperties, compositionitem)"
                ng-class="$odd ? 'odd' : 'even'"
                draggable="{{ draggableValue() }}"
                composition-list-key="{{getCompositionListKey()}}"
                composition-list-id="{{compositionitem[compositionlistschema.idFieldName]}}">
                <td ng-if="hasDetailOutputSchema()" class="rowexpand hiddenonprint">
                    <button class="btn btn-default" ng-click="toggleDetails(compositionitem,column,'arrow',$event,rowindex)" ng-show="expansionAllowed(compositionitem)">
                        <i class="fa fa-caret-right" ng-hide="isItemExpanded(compositionitem)"></i>
                        <i class="fa fa-caret-down" ng-show="isItemExpanded(compositionitem)"></i>
                    </button>
                </td>

                <td ng-if="compositionlistschema.properties['list.selectionstyle'] == 'multiple'" style="text-align: center;">
                    <!--Multiselect-->
                    <!-- TODO: Move style to css -->
                    <input type="checkbox"
                           ng-model="compositionitem['_#selected']"
                           ng-true-value="true" ng-false-value="false">
                </td>
                <td ng-if="compositionlistschema.properties['list.selectionstyle'] == 'single'">
                    <input type="radio" ng-model="compositionitem['#selected']" value="true" name="radio" ng-click="toggleDetails(compositionitem,column,'singleselection',$event,rowindex)">
                </td>
                <td class="{{safeCSSselector(column.attribute)}}"
                    ng-repeat="column in nonHiddenDisplayables()"
                    ng-show="!isCompositionItemFieldHidden(compositionlistschema,column,compositionitem) || forceBlankSpace(column)"
                    ng-click="toggleDetails(compositionitem,column,'row',$event,rowindex)"
                    data-title="{{column.label}}">
                    <ng-switch on="column.type" ng-show="!isCompositionItemFieldHidden(compositionlistschema,column,compositionitem)">

                        <div ng-switch-when="ApplicationAssociationDefinition">
                            <ng-switch on="column.rendererType">
                                <div ng-switch-when="lookup" class="row">
                                    <lookup-input parentdata="parentdata"
                                                  datamap="compositionitem" field-metadata="column" schema="compositionlistschema"
                                                  disabledassociations="disabledassociations" blockedassociations="blockedassociations"
                                                  mode="composition"
                                                  displayablepath="{{getApplicationPath(compositionitem,column)}}" />
                                </div>
                                <div ng-switch-when="autocompleteclient" class="row">
                                    <autocomplete-client-input parentdata="parentdata"
                                                               datamap="compositionitem" field-metadata="column" schema="compositionlistschema"
                                                               disabledassociations="disabledassociations" blockedassociations="blockedassociations"
                                                               mode="composition" ismodal="ismodal"
                                                               displayablepath="{{getApplicationPath(compositionitem,column)}}" />
                                </div>
                            </ng-switch>
                        </div>

                        <div ng-switch-when="OptionField">
                            <div ng-class="{'input-group': column.rendererParameters['prepend'] || column.rendererParameters['append'] }">
                                <span class="input-group-addon" ng-if="column.rendererParameters['prepend']!=null">{{column.rendererParameters['prepend']}}</span>
                                <select class="hidden-phone form-control combobox"
                                        ng-model="compositionitem[column.target]"
                                        number-to-string
                                        ng-options="option.value as i18NOptionField(option,column,compositionlistschema) for option in GetAssociationOptions(column, null, {compositionItem: compositionitem})"
                                        data-field="{{fieldMetadata.associationKey}}">
                                    <option value="" ng-if="false"></option>
                                </select>
                                <span class="input-group-addon" ng-if="fieldMetadata.rendererParameters['append']!=null">{{fieldMetadata.rendererParameters['append']}}</span>
                            </div>
                        </div>

                        <div ng-switch-when="ApplicationSection">
                            <div ng-include="contextPath(column.resourcepath)" href="#" style="width: 100%" />
                        </div>
                        <div ng-switch-when="ApplicationFieldDefinition">
                            <ng-switch on="column.rendererType">
                                <div ng-switch-when="checkbox">
                                    <i class="fa {{getBooleanClass(compositionitem,column.attribute)}}" ng-if="column.rendererParameters['editable'] != 'true'" />
                                    <input type="checkbox" ng-if="column.rendererParameters['editable'] == 'true'" ng-model="compositionitem[column.attribute]"
                                           ng-checked="{{isChecked(compositionitem[column.attribute])}}"
                                           ng-enabled="isModifiableEnabled(column,compositionitem)"
                                           ng-click="invokeCustomCheckBoxService(column,compositionitem,$event)"
                                           ng-true-value="{{determineCheckBoxValueType(column,compositionitem,true)}}" ng-false-value="{{determineCheckBoxValueType(column,compositionitem,false)}}" />
                                </div>

                                <div ng-switch-when="numericinput">
                                    <input id="spinner"
                                           class="hidden-phone form-control"
                                           ng-model="compositionitem[column.attribute]"
                                           ng-init="initField(column,compositionitem)"
                                           min="{{column.rendererParameters['min']}}"
                                           max="{{setMaxNumericInput(compositionitem,column)}}"
                                           ng-enabled="isModifiableEnabled(column,compositionitem)"
                                           data-field="{{column.attribute+rowindex}}"
                                           number-spinner />
                                </div>
                                <div ng-switch-when="icon">
                                    <i class="fa" ng-class="loadIcon(compositionitem[column.attribute],column)"></i>
                                    <span ng-if="column.rendererParameters['showattribute'] == 'true'">
                                        {{getFormattedValue(compositionitem[column.attribute],column,compositionData())}}
                                    </span>
                                </div>
                                <div ng-switch-when="upload">
                                    <div file-upload class="input-group" id="file-upload-{{column.attribute+rowindex}}">
                                        <input id="uploadFile" class="form-control" placeholder="No file chosen" disabled="disabled" />
                                        <div class="input-group-addon fileUpload" data-upload="files">
                                            <span>Choose File</span>
                                            <input class="form-control uploadfile_tooltip upload"
                                                   name="file-upload-{{column.attribute+rowindex}}"
                                                   id="uploadBtn"
                                                   type="file" accept="{{uploadAcceptedFiles(column)}}"
                                                   fileread="compositionitem[column.attribute]"
                                                   path="compositionitem.newattachment_path" />
                                        </div>
                                    </div>
                                </div>
                                <div ng-switch-when="datetime">
                                    <div id="datetimepicker" class="input-group" data-datepicker="true" ng-if="column.rendererParameters['editable'] == 'true'">
                                        <input type="text" ng-model="compositionitem[column.attribute]"
                                               data-date-time
                                               data-show-time="{{column.rendererParameters['showtime']}}"
                                               data-show-date="{{column.rendererParameters['showdate']}}"
                                               data-date-format="{{column.rendererParameters['format']}}"
                                               data-show-meridian="{{column.rendererParameters['showmeridian']}}"
                                               data-allow-past="{{column.rendererParameters['allowpast']}}"
                                               data-allow-future="{{column.rendererParameters['allowfuture']}}"
                                               ng-enabled="isModifiableEnabled(column,compositionitem)"
                                               class="form-control">
                                        <span class="input-group-addon" data-calendericon="true" rel="tooltip" data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}" style="cursor: pointer;">
                                            <i class="datetime-class"></i>
                                        </span>
                                    </div>
                                    <a ng-if="column.rendererParameters['editable'] != 'true'">
                                        {{getFormattedValue(compositionitem[column.attribute],column,compositionData())}}
                                    </a>

                                </div>
                                <div ng-switch-default>
                                    <div ng-if="column.rendererParameters['editable'] == 'true'"
                                         ng-class="{'input-group': column.rendererParameters['prepend'] || column.rendererParameters['append'] }">
                                        <span class="input-group-addon" ng-if="column.rendererParameters['prepend']!=null">{{column.rendererParameters['prepend']}}</span>
                                        <input type="{{getInputType(column)}}"
                                               ng-model="compositionitem[column.attribute]" class="hidden-phone form-control"
                                               data-ng-maxlength="{{column.rendererParameters['maxlength']}}"
                                               maxlength="{{column.rendererParameters['maxlength']}}"
                                               placeholder="{{column.rendererParameters['placeholder']}}"
                                               ng-init="initField(column,compositionitem)"
                                               ng-enabled="isModifiableEnabled(column,compositionitem)"
                                               dynamic-name="column.attribute" />
                                        <span class="input-group-addon" ng-if="column.rendererParameters['append']!=null">{{column.rendererParameters['append']}}</span>
                                    </div>
                                    <div ng-if="column.rendererParameters['editable'] != 'true'">
                                        <a ng-if="column.rendererParameters['compositionrenderinput'] != 'true'" style="vertical-align: middle">
                                            {{getFormattedValue(compositionitem[column.attribute],column,compositionData())}}
                                        </a>
                                        <input ng-if="column.rendererParameters['compositionrenderinput'] == 'true'"
                                               type="text"
                                               class="form-control"
                                               ng-readonly="true"
                                               ng-init="initField(column,compositionitem)"
                                               ng-model="compositionitem[column.attribute]" />
                                    </div>
                                </div>
                            </ng-switch>
                        </div>
                    </ng-switch>
                </td>
                <td class="rowedit" ng-if="showEditButton()" data-title="Edit">
                    <button class="btn btn-primary" ng-click="editClick(compositionitem, column, $event, rowindex)">
                        <i class="fa fa-edit"></i>
                    </button>
                </td>
                <td class="rowedit" ng-if="showDeleteButton()" data-title="Delete">
                    <button class="btn btn-primary" ng-click="delete(compositionitem, column, $event, rowindex)" ng-show="!isBatch() && showDeleteButton()">
                        <i class="fa fa-trash"></i>
                    </button>

                    <!-- batch delete -->
                    <button class="btn btn-primary" ng-click="removeBatchItem(rowindex)" ng-hide="hideRemoveBatchItem(compositionitem)">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            <tr ng-repeat-end ng-if="detailData[compositionitem[compositionlistschema.idFieldName]].expanded">
                <td colspan="100%" style="background-color: white" class="detaildata">
                    <div class="expanded-item-composition" ng-if="isExpandReadOnly()">
                        <expanded-item-output displayables="compositionoutputschema.displayables"
                                              schema="compositionoutputschema"
                                              datamap="detailData[compositionitem[compositionlistschema.idFieldName]].data"
                                              cancelfn="cancelComposition()"
                                              class="clearfix">
                        </expanded-item-output>
                    </div>
                    <div class="expanded-item-composition" ng-if="!isExpandReadOnly()">
                        <expanded-item-input displayables="compositiondetailschema.displayables"
                                             schema="compositiondetailschema"
                                             datamap="detailData[compositionitem[compositionlistschema.idFieldName]].data"
                                             cancelfn="cancelComposition()"
                                             savefn="save()"
                                             class="clearfix">
                        </expanded-item-input>
                    </div>
                </td>
            </tr>
            <tr class="batchadd" ng-if="inline && collectionproperties.allowInsertion == 'true'">
                <td colspan="100%">
                    <button class="btn btn-primary" ng-click="addItem()"><i class="fa fa-plus"></i>&ensp;{{batchAddTitle}}</button>
                </td>
            </tr>
        </tbody>
        <tbody ng-show="isNoRecords()" style="border:none !important">
            <tr>
                <td colspan="100%">
                    <p class="no-results" ng-if="showInlineHeader()">
                        <i class="fa fa-info-circle" ng-if="showInlineHeader()"></i>&ensp;{{i18N('general.norecords','No records to display.')}}
                        <button class="btn btn-primary" ng-click="addItem()" ng-if="inline && collectionproperties.allowInsertion == 'true'"><i class="fa fa-plus"></i>&ensp;{{batchAddTitle}}</button>
                    </p>
                    <div ng-if="!showInlineHeader()">
                        <button class="btn btn-primary" ng-click="addItem()" ng-if="inline && collectionproperties.allowInsertion == 'true'"><i class="fa fa-plus"></i>&ensp;{{batchAddTitle}}</button>

                    </div>
                </td>
            </tr>
        </tbody>

    </table>
    <div class="context clearfix" ng-if="showPagination()">
        <pagination pagination-data="paginationData" renderfn="selectPage(pageNumber, pageSize, printMode)" />
    </div>



    <!--    <div ng-if="showListCommands()" class="form-actions form-group" data-class="commandbar" ng-if="shouldShowAdd()">-->
    <!--        <div class="col-lg-12 hapag-align-button" style="padding-top: 5px">-->
    <!--            This button will only be show at this position in case of an inline composition.
    <!--            Otherwise, it shoul join the default command bar-->
    <!--            <button type="button" id="additem" class="btn commandButton" ng-click="newDetailFn()" ng-show="allowButton(collectionproperties.allowInsertion)">-->
    <!--                <i class="fa fa-plus {{list.schema.icon}}"></i>&ensp;{{i18N(relationship + '.add','Add ' + title)}}-->
    <!--            </button>-->
    <!--
    <!--        </div>-->
    <!-- </div>-->

    <div ng-if="newDetail" style="margin-top: 10px">
        <form name="compositionform">
            <new-item-input displayables="compositiondetailschema.displayables"
                            elementid="inputComposition"
                            schema="compositiondetailschema"
                            datamap="selecteditem"
                            cancelfn="cancelComposition()"
                            savefn="save()"
                            previousdata="parentdata"
                            previousschema="parentschema"
                            parentdata="parentdata"
                            parentschema="parentschema" />
        </form>
    </div>


</div>
