<form name="crudInputForm" >
    <section id="{{elementid}}" schemaid="{{schema.schemaId}}">
        <div class="field-wrap" ng-if="!isTabSection()" dnd-list="nonTabFieldsCached">

            <div class="dndPlaceholder col col-sm-3">
                <div class="dndPlaceholder-content">
                    Drop Field Here
                </div>
            </div>


            <fieldset ng-repeat="fieldMetadata in nonTabFieldsCachedDelegate()"
                      dnd-draggable="fieldMetadata"
                      dnd-effect-allowed="all"
                      dnd-moved="nonTabFieldsCached.splice($index, 1);fieldMoved()"
                      dnd-horizontal-list="isHorizontalOrientation()"
                      dnd-disable-if="!isOnDynFormEdition()"
                      class="form-group"
                      ng-class="getFieldClass(fieldMetadata)"
                      ng-show="!isFieldHidden(schema,fieldMetadata)"
                      ng-style="fieldSetStyle(fieldMetadata)"
                      rel="input-form-repeat"
                      bodyrendered>

                <span ng-class="getLabelSpanClass(fieldMetadata)">
                    <label class="control-label"
                           rel="{{showLabelTooltip(fieldMetadata)}}" ng-class="getLabelClass(fieldMetadata)"
                           data-original-title="{{i18NLabelTooltip(fieldMetadata)}}"
                           ng-if="isLabelVisible(fieldMetadata,false)"
                           ng-mouseup="labelClicked($event,fieldMetadata)"
                           >
                        <span ng-show="isFieldRequired(fieldMetadata)" class="requiredfieldmark" ng-style="getLabelRequiredStyle(fieldMetadata)">* </span>
                        <icon class="fa fa-undo" ng-if="showUndoIcon(fieldMetadata)" ng-click="restoreDefault(fieldMetadata)" style="cursor: pointer" rel="tooltip" data-original-title="Restore to original value" data-html="true"></icon>
                        <icon ng-show="{{showHelpIcon(fieldMetadata, 'left')}}" class="fa fa-question-circle" rel="tooltip" data-html="true" data-original-title="{{helpToolTip(fieldMetadata)}}"></icon>
                        <span ng-style="getLabelStyle(fieldMetadata)">
                            <!--this will bring either label or header in case of section-->
                            &nbsp;{{i18NInputLabelEvaluating(fieldMetadata,false)}}
<!--                            -->
<!--                            <input style="display: inline; width: auto; margin-left: 10px;border:none"-->
<!--                                   type="text"-->
<!--                                   ng-model="fieldMetadata.label" class="hidden-phone form-control"-->
<!--                                   ng-model-options="{ debounce: 300 }"-->
<!--                                   data-field="{{fieldMetadata.attribute}}"-->
<!--                                   data-ng-maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"-->
<!--                                   ng-maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"-->
<!--                                   maxlength="{{fieldMetadata.rendererParameters['inputmaxlength']}}"-->
<!--                                   placeholder="{{fieldMetadata.rendererParameters['placeholder']}}" />-->


                        </span>
                        
                      
                        <dynform-detail-edit-bar-wrapper fieldMetadata="fieldMetadata" mode='label' extraparameters="extraparameters" schema="schema"></dynform-detail-edit-bar-wrapper>
                        <icon ng-show="{{showHelpIcon(fieldMetadata, 'right')}}" class="fa fa-question-circle" rel="tooltip" data-html="true" data-original-title="{{helpToolTip(fieldMetadata)}}"></icon>
                    </label>

                </span>


                <legend ng-if="isLabelVisible(fieldMetadata,true)"
                        rel="tooltip"
                        data-original-title="{{i18NLabelTooltip(fieldMetadata)}}"
                        class="legend-label" ng-style="{{headerStyle(fieldMetadata)}}">
                    <icon ng-show="{{showHelpIcon(fieldMetadata, 'left')}}" class="fa fa-question-circle" rel="tooltip" data-html="true" data-original-title="{{helpToolTip(fieldMetadata)}}"></icon>

                    <div ng-if="isSectionControlEnabled(fieldMetadata)">
                        <input type="checkbox"
                               name="datamap[fieldMetadata.attribute]"
                               value="{{option.value}}"
                               style="top: 2px; position: relative"
                               ng-checked="isChecked(fieldMetadata)"
                               ng-click="toggleSectionSelection(fieldMetadata)"
                               ng-show="!hasPersistedFieldInsideSection(fieldMetadata)">
                        {{i18NInputLabel(fieldMetadata)}}
                        <dynform-detail-edit-bar-wrapper fieldMetadata="fieldMetadata" mode='section' extraparameters="extraparameters" schema="schema"></dynform-detail-edit-bar-wrapper>

                        <section-element-input extraparameters="extraparameters"
                                               schema="schema"
                                               datamap="datamap"
                                               is-dirty="isDirty"
                                               panelid="{{panelid}}"
                                               header-section="true"
                                               displayables="fieldMetadata.header.headerDisplayables"
                                               elementid="{{elementid + 'SectionHeader' + fieldMetadata.id}}">
                        </section-element-input>


                    </div>
                    <div ng-if="!isSectionControlEnabled(fieldMetadata)">
                        {{i18NInputLabel(fieldMetadata)}}
                        <dynform-detail-edit-bar-wrapper fieldMetadata="fieldMetadata" mode='section' schema="schema"></dynform-detail-edit-bar-wrapper>
                        <section-element-input extraparameters="extraparameters"
                                               field-metadata="fieldMetadata"
                                               schema="schema"
                                               datamap="datamap"
                                               panelid="{{panelid}}"
                                               is-dirty="isDirty"
                                               header-section="true"
                                               orientation="horizontal"
                                               displayables="fieldMetadata.header.headerDisplayables"
                                               elementid="{{elementid + 'SectionHeader' + fieldMetadata.id}}">
                        </section-element-input>
                    </div>

                    <icon ng-show="{{showHelpIcon(fieldMetadata, 'right')}}" class="fa fa-question-circle" rel="tooltip" data-html="true" data-original-title="{{helpToolTip(fieldMetadata)}}"></icon>
                </legend>

                <!--#region Read only section-->

                <div ng-class="getInputClass(fieldMetadata)"
                     ng-if="isStaticReadOnlyField(fieldMetadata,datamap)"
                     ng-switch on="fieldMetadata.rendererType">

                    <input type="datetime" ng-switch-when="datetime"
                           ng-model="datamap[fieldMetadata.attribute]"
                           data-date-time
                           data-show-time="{{fieldMetadata.rendererParameters['showtime']}}"
                           data-show-date="{{fieldMetadata.rendererParameters['showdate']}}"
                           data-show-minutes="{{fieldMetadata.rendererParameters['showminutes']}}"
                           data-format-string="{{fieldMetadata.rendererParameters['format']}}"
                           data-show-meridian="{{fieldMetadata.rendererParameters['showmeridian']}}"
                           class="form-control datetimereadonly"
                           value="{{getFormattedValue(datamap[fieldMetadata.attribute],fieldMetadata,datamap)}}" ng-readonly="true" readonly>
                    <label ng-switch-when="label" class="form-control" style="border-width: 0px; box-shadow: none; white-space: pre-line;"
                           ng-style="{ 'color' : fieldMetadata.rendererParameters['color'], 'font-weight' : fieldMetadata.rendererParameters['font-weight']}">{{datamap[fieldMetadata.attribute] || fieldMetadata.defaultValue}}</label> <!-- space makes difference inside this label element do no add if not intended to show on screen -->

                    <textarea ng-switch-when="textarea"
                              ng-model="datamap[fieldMetadata.attribute]" class="form-control" cols="120"
                              rows="10" wrap="hard"
                              data-ng-maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                              maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                              ng-readonly="true"
                              ng-enabled="isModifiableEnabled(fieldMetadata)"
                              ng-init="bindEvalExpression(fieldMetadata)"
                              data-id="{{fieldMetadata.attribute}}"
                              ng-style="{ 'color' : fieldMetadata.rendererParameters['color'], 'font-weight' : fieldMetadata.rendererParameters['font-weight']}" />

                    <code-editor ng-switch-when="code" readonly="true" mode="{{codeEditorMode(this)}}" value="datamap[fieldMetadata.attribute]"></code-editor>

                    <div ng-switch-when="imagepreview" class="imagepreview">
                        <img ng-src="{{ datamap[fieldMetadata.attribute] }}" />
                    </div>

                    <div ng-switch-when="richtext" id="richtext">
                        <richtext-field data-content="datamap[fieldMetadata.attribute]"
                                        data-readonly="true"
                                        height="{{fieldMetadata.rendererParameters['height']}}">
                        </richtext-field>
                    </div>




                    <input type="text"
                           class="form-control"
                           ng-readonly="true"
                           ng-switch-default
                           ng-init="initField(fieldMetadata)"
                           value="{{getFormattedValue(datamap[fieldMetadata.attribute],fieldMetadata,datamap)}}" />

                </div>

                <!--#endregion -->

                <div ng-if="!isStaticReadOnlyField(fieldMetadata,datamap) &amp;&amp; fieldMetadata.rendererType !== 'label' "
                     ng-show="fieldMetadata.attribute!=schema.idFieldName || fieldMetadata.showExpression === '!false'"
                     ng-switch on="fieldMetadata.rendererType"
                     ng-class="getInputClass(fieldMetadata)">

                    <!--#region combo-->
                    <div ng-switch-when="combo" class="sw-combobox-container">

                        <div ng-class="{'input-group': fieldMetadata.rendererParameters['prepend'] || fieldMetadata.rendererParameters['append'] }">
                            <span class="input-group-addon" ng-if="fieldMetadata.rendererParameters['prepend']!=null">{{fieldMetadata.rendererParameters['prepend']}}</span>
                            <select ng-if="!fieldMetadata.rendererParameters['multiple']"
                                    class="hidden-phone form-control combobox"
                                    ng-model="datamap[fieldMetadata.target]"
                                    number-to-string
                                    ng-options="option.value as i18NOptionField(option,fieldMetadata,schema) for option in GetAssociationOptions(fieldMetadata,datamap[fieldMetadata.target])"
                                    ng-enabled="isSelectEnabled(fieldMetadata)"
                                    ng-init="initField(fieldMetadata)"
                                    data-field="{{fieldMetadata.associationKey}}">
                                <option value="" style="display: none"></option>
                            </select>

                            <select ng-if="fieldMetadata.rendererParameters['multiple']"
                                    multiple
                                    class="hidden-phone form-control combobox"
                                    ng-model="datamap[fieldMetadata.target]"
                                    number-to-string
                                    ng-options="option.value as i18NOptionField(option,fieldMetadata,schema) for option in GetAssociationOptions(fieldMetadata,datamap[fieldMetadata.target])"
                                    ng-enabled="isSelectEnabled(fieldMetadata)"
                                    ng-init="initField(fieldMetadata)"
                                    data-field="{{fieldMetadata.associationKey}}">
                                <option value="" style="display: none"></option>
                            </select>

                            <span class="input-group-addon" ng-if="fieldMetadata.rendererParameters['append']!=null">{{fieldMetadata.rendererParameters['append']}}</span>
                        </div>

                    </div>
                    <!--#endregion-->
                    <!--#region checkbox-->
                    <div ng-switch-when="checkbox">
                        <table ng-if="fieldMetadata.type === 'OptionField'" style="min-width: 200px;">
                            <thead ng-if="fieldMetadata.label!=null && fieldMetadata.rendererParameters['hide.optionfieldheader'] !== 'true'">
                                <tr><td class="optionfieldheader">{{fieldMetadata.label}}</td></tr>
                            </thead>
                            <tr ng-repeat="optionArrays in getGroupedCheckboxOptions(fieldMetadata)">
                                <td ng-repeat="option in optionArrays" class="checkboxcolumn">
                                    <span>
                                        <span ng-if="isPositionLeft(fieldMetadata)">
                                            <icon ng-show="option.help" class="fa fa-question-circle" rel="tooltip" data-html="true" data-original-title="{{option.help}}"></icon>
                                            {{i18NOptionField(option,fieldMetadata,schema)}}
                                        </span>
                                        <input type="checkbox"
                                               name="datamap[fieldMetadata.attribute]"
                                               value="{{option.value}}"
                                               ng-disabled="isCheckboxItemReadOnlyField(fieldMetadata,option,datamap)  "
                                               ng-checked="isCheckboxSelected(option,fieldMetadata.associationKey)"
                                               ng-click="toggleCheckboxSelection($event,fieldMetadata,option,fieldMetadata.associationKey)">
                                        <span ng-if="!isPositionLeft(fieldMetadata)">
                                            {{i18NOptionField(option,fieldMetadata,schema)}}
                                            <icon ng-show="option.help" class="fa fa-question-circle" rel="tooltip" data-html="true" data-original-title="{{option.help}}"></icon>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                        <div ng-if="fieldMetadata.type !== 'OptionField'" style="min-width: 200px;">
                            <label class="control-label"
                                   rel="{{showLabelTooltip(fieldMetadata)}}"
                                   data-original-title="{{i18NLabelTooltip(fieldMetadata)}}"
                                   ng-class="getCheckboxLabelLeftClass(fieldMetadata)"
                                   ng-style="getLabelStyle(fieldMetadata)"
                                   >
                                <span ng-show="isFieldRequired(fieldMetadata)" class="requiredfieldmark">* </span>
                                {{i18NInputLabel(fieldMetadata)}}
                            </label>
                            <input type="checkbox"
                                   id="checkbox"
                                   ng-model="datamap[fieldMetadata.attribute]"
                                   ng-init="initCheckbox(fieldMetadata)"
                                   ng-checked="isChecked(fieldMetadata)"
                                   ng-enabled="isModifiableEnabled(fieldMetadata)"
                                   ng-true-value="true" ng-false-value="false" />
                            <label class="control-label"
                                   rel="{{showLabelTooltip(fieldMetadata)}}"
                                   data-original-title="{{i18NLabelTooltip(fieldMetadata)}}"
                                   ng-style="getLabelStyle(fieldMetadata)"
                                   ng-class="getCheckboxLabelRightClass(fieldMetadata)">
                                <span ng-show="isFieldRequired(fieldMetadata)" class="requiredfieldmark">* </span>
                                {{i18NInputLabel(fieldMetadata,true)}}
                                <dynform-detail-edit-bar-wrapper fieldMetadata="fieldMetadata" mode='label' extraparameters="extraparameters" schema="schema"></dynform-detail-edit-bar-wrapper>
                            </label>
                        </div>
                    </div>
                    <!-- #endregion-->
                    <!--#region autocompleteclient-->
                    <div ng-switch-when="autocompleteclient">
                        <div ng-switch on="fieldMetadata.type">
                            <div ng-switch-when="OptionField">
                                <select id="{{formatId(fieldMetadata.target)}}"
                                        class="hidden-phone form-control combobox"
                                        ng-class="{'combobox-dynamic' : isDesktop()}"
                                        ng-model="datamap[fieldMetadata.target]"
                                        number-to-string
                                        ng-options="option.value as i18NOptionField(option,fieldMetadata,schema) for option in GetAssociationOptions(fieldMetadata,datamap[fieldMetadata.target])"
                                        data-associationkey="{{fieldMetadata.associationKey}}"
                                        data-displayablepath="{{getApplicationPath(fieldMetadata)}}">
                                    <option value="" style="display: none"></option>
                                </select>
                            </div>
                            <div ng-switch-default>
                                <select id="{{formatId(fieldMetadata.target)}}"
                                        class="hidden-phone form-control combobox"
                                        ng-class="{'combobox-dynamic' : isDesktop()}"
                                        ng-model="datamap[fieldMetadata.target]"
                                        number-to-string
                                        ng-options="option.value as option.label for option in GetAssociationOptions(fieldMetadata,datamap[fieldMetadata.target])"
                                        data-associationkey="{{fieldMetadata.associationKey}}"
                                        data-displayablepath="{{getApplicationPath(fieldMetadata)}}">
                                    <option value="" style="display: none"></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <!--#endregion-->

                    <div ng-switch-when="multiselectautocompleteclient">
                        <selectize config="{valueField:'value', labelField:'label',hideSelected:true, searchField: ['label'], createOnBlur:'true', beforeItemAdd:getDispatchFn(fieldMetadata.rendererParameters['newItemValidation'])}"
                                   options="GetAssociationOptions(fieldMetadata)"
                                   creationallowed="{{fieldMetadata.rendererParameters['creationallowed']}}"
                                   single="{{fieldMetadata.rendererParameters['multiselectautocomplete.single']}}"
                                   validationpattern="{{getValidationPatterString(fieldMetadata)}}"
                                   ng-model="datamap[fieldMetadata.target]">
                        </selectize>
                    </div>
                    <div ng-switch-when="autocompleteserver">
                        <input type="text" class="hidden-phone form-control typeahead" data-association-key="{{fieldMetadata.associationKey}}" data-target="{{fieldMetadata.attribute}}" />
                        <input type="hidden" id="{{'autocomplete_' + fieldMetadata.attribute}}" ng-model="datamap[fieldMetadata.target]" />
                    </div>

                    <div ng-if="fieldMetadata.rendererType == 'lookup' ||  fieldMetadata.rendererType == 'modal' || fieldMetadata.rendererType == 'autocompleteserver'">
                        <lookup-input panelid="{{getPanelId()}}"
                                      datamap="datamap"
                                      field-metadata="fieldMetadata"
                                      schema="schema"
                                      disabledassociations="disabledassociations"
                                      blockedassociations="blockedassociations"
                                      displayablepath="{{ getApplicationPath(fieldMetadata) }}" />
                    </div>


                    <!--#region radio-->
                    <fieldset ng-switch-when="radio">
                        <label ng-if="fieldMetadata.rendererParameters['vertical']==null" ng-repeat="option in GetAssociationOptions(fieldMetadata)" class="checkbox-inline">
                            <input type="radio"
                                   name="{{fieldMetadata.attribute}}"
                                   value="{{option.value}}"
                                   ng-disabled="isReadOnlyField(fieldMetadata,datamap)"
                                   ng-model="datamap[fieldMetadata.attribute]">
                            <span>
                                {{i18NOptionField(option,fieldMetadata,schema)}}
                                <icon ng-show="option.help" class="fa fa-question-circle" rel="tooltip" data-html="true" data-original-title="{{option.help}}"></icon>
                            </span>
                        </label>
                        <div ng-if="fieldMetadata.rendererParameters['vertical']!=null" class="radio" ng-repeat="option in GetAssociationOptions(fieldMetadata)">
                            <label>
                                <input type="radio"
                                       name="{{fieldMetadata.attribute}}"
                                       ng-disabled="isReadOnlyField(fieldMetadata,datamap)"
                                       value="{{option.value}}"
                                       ng-model="datamap[fieldMetadata.attribute]">
                                <span>
                                    {{i18NOptionField(option,fieldMetadata,schema)}}
                                    <icon ng-show="option.help" class="fa fa-question-circle" rel="tooltip" data-html="true" data-original-title="{{option.help}}"></icon>
                                </span>
                            </label>
                        </div>
                    </fieldset>
                    <!--#endregion-->
                    <div ng-switch-when="textarea">
                        <textarea ng-model="datamap[fieldMetadata.attribute]" class="form-control" cols="120" rows="10" wrap="hard"
                                  data-ng-maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                                  maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                                  ng-enabled="isModifiableEnabled(fieldMetadata)"
                                  ng-init="initField(fieldMetadata)" />
                    </div>
                    <div ng-switch-when="richtext">
                        <richtext-field data-content="datamap[fieldMetadata.attribute]"
                                        height="{{fieldMetadata.rendererParameters['height']}}"
                                        data-readonly="!isModifiableEnabled(fieldMetadata)">
                        </richtext-field>


                    </div>
                    <div ng-switch-when="upload">
                        <div file-upload class="input-group" id="{{fieldMetadata.attribute}}">
                            <input id="uploadFile" class="form-control" placeholder="No file chosen" disabled="disabled" />
                            <div class="input-group-addon fileUpload" data-upload="files">
                                <span>Choose File</span>
                                <input class="form-control uploadfile_tooltip upload"
                                       name="{{fieldMetadata.attribute}}"
                                       id="uploadBtn"
                                       type="file" accept="{{uploadAcceptedFiles}}"
                                       fileread="datamap[fieldMetadata.attribute]"
                                       path="datamap.newattachment_path" />
                            </div>
                        </div>
                    </div>
                    <div ng-switch-when="dndupload">
                        <input id="uploadFile" ng-model="datamap.newattachment_path" class="form-control" placeholder="No file chosen" disabled="disabled" />

                        <div file-dropzone="{{ fieldMetadata.rendererParameters['acceptedFileExtensions'] }} "
                             class="dropzone form-control" data-file-name="datamap.newattachment_path" data-file="datamap[fieldMetadata.attribute]"
                             data-dropzone-hover-class="file-over"
                             data-field="fieldMetadata">

                            <i class="fa fa-dot-circle-o"></i>&ensp;Drag and drop a file here to upload, or

                            <input ng-if="!fieldMetadata.rendererParameters['multiple'] || fieldMetadata.rendererParameters['multiple'] === false || fieldMetadata.rendererParameters['multiple'] === 'false'"
                                   id="uploadInput" type="file"
                                   fileread="datamap[fieldMetadata.attribute]" data-file-read-field="fieldMetadata" path="datamap.newattachment_path"
                                   data-accepted-extensions="{{ fieldMetadata.rendererParameters['acceptedFileExtensions'] }}" />

                            <input ng-if="!!fieldMetadata.rendererParameters['multiple'] && (fieldMetadata.rendererParameters['multiple'] === true || fieldMetadata.rendererParameters['multiple'] === 'true')"
                                   id="uploadInput" type="file"
                                   fileread="datamap[fieldMetadata.attribute]" data-file-read-field="fieldMetadata" path="datamap.newattachment_path"
                                   data-accepted-extensions="{{ fieldMetadata.rendererParameters['acceptedFileExtensions'] }}"
                                   multiple="multiple" />

                            <a href="" id="uploadInputLink" ng-click="browseFile($event)">browse</a>
                            <br />
                            <i class="fa fa-question-circle" style="color: inherit"
                               rel="tooltip"
                               data-original-title="Make sure to adjust the focus by clicking anywhere on the form's background before pasting the image">
                            </i>&ensp;You can also use 'Print Screen' and 'Ctrl+V' to attach a screenshot.
                        </div>

                        <div ng-if="!!datamap[fieldMetadata.attribute] &&
                         isString(datamap[fieldMetadata.attribute]) &&
                         (fieldMetadata.rendererParameters['showImagePreview'] === true || fieldMetadata.rendererParameters['showImagePreview'] === 'true')"
                             class="imagepreview">
                            <img ng-src="{{ datamap[fieldMetadata.attribute] }}" />
                        </div>
                    </div>

                    <div ng-switch-when="multipleupload">
                        <div file-upload class="input-group" id="{{fieldMetadata.attribute}}">
                            <input id="uploadFile" class="form-control" placeholder="No file chosen" disabled="disabled" />
                            <div class="input-group-addon fileUpload" data-upload="files">
                                <span>Choose File</span>
                                <input class="form-control uploadfile_tooltip upload"
                                       name="{{fieldMetadata.attribute}}"
                                       id="uploadBtn"
                                       type="file" accept="{{uploadAcceptedFiles}}"
                                       fileread="datamap[fieldMetadata.attribute]"
                                       path="datamap.newattachment_path"
                                       multiple="multiple" />
                            </div>
                        </div>
                    </div>

                    <div ng-switch-when="link">
                        <ul ng-if="isArray(datamap[fieldMetadata.attribute])">

                            <li ng-repeat="link in datamap[fieldMetadata.attribute]">
                                <a href="{{ link[fieldMetadata.rendererParameters['linkUrlField'] || 'url' ] }}" target="_blank">
                                    {{ link[fieldMetadata.rendererParameters['linkNameField'] || 'name' ] }}
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div ng-switch-when="screenshot">
                        <div ng-show="!isIE()" id="imgHolder_{{fieldMetadata.attribute}}" name="{{fieldMetadata.attribute}}" contenteditable='true' class="form-control image-holder"></div>
                        <iframe id="richTextBox_{{fieldMetadata.attribute}}" ng-show="isIE()" ng-src="{{contextPath('/UserControls/RichTextBox.aspx')}}"
                                class="richtextbox" frameborder="0" />
                    </div>

                    <!--#region numericinput-->
                    <div ng-switch-when="numericinput">
                        <span style="display: inline-block" ng-if="fieldMetadata.rendererParameters['prepend']!=null">
                            {{fieldMetadata.rendererParameters['prepend']}}
                        </span>
                        <div style="display: inline-block">
                            <input ng-if="fieldMetadata.rendererParameters['numberType'] === 'double' || fieldMetadata.rendererParameters['numberType'] === 'float' || fieldMetadata.rendererParameters['numberType'] === 'decimal'"
                                   data-field="{{fieldMetadata.attribute}}"
                                   step=".01"
                                   pattern="^\d+(?:\.\d{1,2})?$"
                                   id="spinner"
                                   class="hidden-phone form-control"
                                   ng-model="datamap[fieldMetadata.attribute]"
                                   ng-init="initField(fieldMetadata)"
                                   min="{{fieldMetadata.rendererParameters['min']}}"
                                   max="{{setMaxNumericInput(datamap,fieldMetadata)}}"
                                   number-spinner ng-model-options="{ debounce : 500 }"
                                   float-converter />

                            <input ng-if="fieldMetadata.rendererParameters['numberType'] !== 'double' && fieldMetadata.rendererParameters['numberType'] !== 'float'"
                                   data-field="{{fieldMetadata.attribute}}"
                                   id="spinner"
                                   class="hidden-phone form-control"
                                   ng-model="datamap[fieldMetadata.attribute]"
                                   ng-init="initField(fieldMetadata)"
                                   min="{{fieldMetadata.rendererParameters['min']}}"
                                   max="{{setMaxNumericInput(datamap,fieldMetadata)}}"
                                   number-spinner />
                        </div>
                        <span style="display: inline-block" ng-if="fieldMetadata.rendererParameters['append']!=null">
                            {{fieldMetadata.rendererParameters['append']}}
                        </span>
                    </div>
                    <!--#endregion-->


                    <div ng-switch-when="combodropdown">
                        <div class="multiselect-div">
                            <select multiple="multiple" class="hidden-phone form-control combobox multiselect"
                                    data-associationkey="{{fieldMetadata.associationKey}}"
                                    id="{{formatId(fieldMetadata.target)}}"
                                    ng-model="datamap[fieldMetadata.target]"
                                    ng-options="option.value as i18NOptionField(option,fieldMetadata,schema) for option in GetAssociationOptions(fieldMetadata,datamap[fieldMetadata.target])"
                                    custombuttontext="">
                                <!-- <option value=""></option>-->
                            </select>
                            <div ng-if="fieldMetadata.rendererParameters['showvaluesbelow'] == 'true'">
                                <table>
                                    <tbody>
                                        <tr ng-repeat="selected in getSelectedTexts(fieldMetadata)">
                                            <td><span rel="tooltip" data-original-title="{{selected}}">{{formatLabel(selected, fieldMetadata)}}</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <!--#region datecomponents-->

                    <div ng-switch-when="datetime">
                        <div ng-if="isDesktop()" id="datetimepicker" class="input-group" data-datepicker="true">
                            <input type="text" ng-model="datamap[fieldMetadata.attribute]"
                                   data-date-time
                                   data-show-time="{{fieldMetadata.rendererParameters['showtime']}}"
                                   data-show-date="{{fieldMetadata.rendererParameters['showdate']}}"
                                   data-show-minutes="{{fieldMetadata.rendererParameters['showminutes']}}"
                                   data-format-string="{{fieldMetadata.rendererParameters['format']}}"
                                   data-allow-past="{{fieldMetadata.rendererParameters['allowpast']}}"
                                   data-allow-future="{{fieldMetadata.rendererParameters['allowfuture']}}"
                                   class="form-control">
                            <span class="input-group-addon" data-calendericon="true" rel="tooltip" data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}" style="cursor: pointer;">
                                <i class="datetime-class"></i>
                            </span>
                        </div>
                        <input ng-if="isMobile()" type="datetime" class="form-control" ng-model="datamap[fieldMetadata.attribute]">
                    </div>

                    <div ng-switch-when="date">
                        <div ng-if="isDesktop()" id="datetimepicker" class="input-group" data-datepicker="true">
                            <input type="text" ng-model="datamap[fieldMetadata.attribute]"
                                   data-date-time
                                   data-show-time="{{fieldMetadata.rendererParameters['showtime']}}"
                                   data-show-date="{{fieldMetadata.rendererParameters['showdate']}}"
                                   data-show-minutes="{{fieldMetadata.rendererParameters['showminutes']}}"
                                   data-format-string="{{fieldMetadata.rendererParameters['format']}}"
                                   data-allow-past="{{fieldMetadata.rendererParameters['allowpast']}}"
                                   data-allow-future="{{fieldMetadata.rendererParameters['allowfuture']}}"
                                   class="form-control">
                            <span class="input-group-addon" data-calendericon="true" rel="tooltip" data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}" style="cursor: pointer;">
                                <i class="datetime-class"></i>
                            </span>
                        </div>
                        <input ng-if="isMobile()" type="date" class="form-control" ng-model="datamap[fieldMetadata.attribute]">
                    </div>

                    <div ng-switch-when="time">
                        <div ng-if="isDesktop()" id="datetimepicker" class="input-group" data-datepicker="true">
                            <input type="text" ng-model="datamap[fieldMetadata.attribute]"
                                   data-date-time
                                   data-show-time="{{fieldMetadata.rendererParameters['showtime']}}"
                                   data-show-minutes="{{fieldMetadata.rendererParameters['showminutes']}}"
                                   data-show-date="{{fieldMetadata.rendererParameters['showdate']}}"
                                   data-format-string="{{fieldMetadata.rendererParameters['format']}}"
                                   data-allow-past="{{fieldMetadata.rendererParameters['allowpast']}}"
                                   data-allow-future="{{fieldMetadata.rendererParameters['allowfuture']}}"
                                   class="form-control">
                            <span class="input-group-addon" data-calendericon="true" rel="tooltip" data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}" style="cursor: pointer;">
                                <i class="datetime-class"></i>
                            </span>
                        </div>
                        <input ng-if="isMobile()" type="time" class="form-control" ng-model="datamap[fieldMetadata.attribute]">
                    </div>

                    <!--#endregion-->
                    <div ng-switch-when="custom">
                        <div ng-include="contextPath(fieldMetadata.rendererParameters.resourcepath)" href="#" style="width: 100%" />
                    </div>

                    <label ng-switch-when="label" class="form-control" style="border-width: 0px; box-shadow: none; white-space: pre-line;"
                           ng-style="{ 'color' : fieldMetadata.rendererParameters['color'], 'font-weight' : fieldMetadata.rendererParameters['font-weight']}">{{datamap[fieldMetadata.attribute] || fieldMetadata.defaultValue}}</label> <!-- space makes difference inside this label element do no add if not intended to show on screen -->

                    <code-editor ng-switch-when="code" mode="{{codeEditorMode(fieldMetadata)}}" value="datamap[fieldMetadata.attribute]"></code-editor>

                    <!--#region default-->
                    <div ng-switch-default>
                        <ng-switch on="fieldMetadata.type">
                            <div ng-switch-when="ApplicationSection">
                                <div ng-if="secondaryContent(fieldMetadata,schema)">
                                    <crud-expandable-section extraparameters="extraparameters"
                                                             schema="schema"
                                                             datamap="datamap"
                                                             is-dirty="isDirty"
                                                             displayables="fieldMetadata.displayables"
                                                             blockedassociations="blockedassociations"
                                                             renderer-parameters="fieldMetadata.rendererParameters"
                                                             elementid="{{elementid + 'Section' + fieldMetadata.id}}"
                                                             orientation="{{fieldMetadata.orientation}}"
                                                             islabelless="{{isSectionWithoutLabel(fieldMetadata)}}" />
                                </div>


                                <div ng-if="!secondaryContent(fieldMetadata,schema)">
                                    <div ng-if="fieldMetadata.resourcepath != null"
                                         ng-include="contextPath(fieldMetadata.resourcepath)" href="#" style="width: 100%" />
                                    <div ng-if="fieldMetadata.resourcepath == null">
                                        <section-element-input extraparameters="extraparameters"
                                                               schema="schema"
                                                               datamap="datamap"
                                                               is-dirty="isDirty"
                                                               displayables="fieldMetadata.displayables"
                                                               blockedassociations="blockedassociations"
                                                               renderer-parameters="fieldMetadata.rendererParameters"
                                                               elementid="{{elementid + 'Section' + fieldMetadata.id}}"
                                                               orientation="{{fieldMetadata.orientation}}"
                                                               islabelless="{{isSectionWithoutLabel(fieldMetadata)}}"
                                                               panelid="{{panelid}}"
                                                               ismodal="{{ismodal}}"
                                                               tabsection="{{isTabSection(fieldMetadata)}}"
                                                               cancelfn="cancelfn(data,schema)">
                                        </section-element-input>

                                    </div>
                                </div>


                            </div>
                            <div ng-switch-when="ApplicationCompositionDefinition">

                                <inline-composition-list-wrapper parentschema="schema"
                                                                 parentdata="datamap"
                                                                 metadata="fieldMetadata"
                                                                 iscollection="fieldMetadata.collection"
                                                                 ismodal="{{ismodal}}" />
                            </div>
                            <div ng-switch-when="TableDefinition">
                                <crud-table field-metadata="fieldMetadata" schema="schema" datamap="datamap" />
                            </div>
                            <div ng-switch-when="TreeDefinition">
                                <crud-tree field-metadata="fieldMetadata" schema="schema" datamap="datamap" />
                            </div>
                            <div ng-switch-default>
                                <div ng-switch on="fieldMetadata.isHidden">
                                    <div ng-switch-when="true">
                                        <input type="hidden" ng-model="datamap[fieldMetadata.attribute]" class="hidden-phone form-control" />
                                    </div>
                                    <div ng-switch-default ng-if="fieldMetadata.rendererType != 'lookup' &&  fieldMetadata.rendererType != 'modal'">

                                        <div ng-class="{'input-group': fieldMetadata.rendererParameters['prepend'] || fieldMetadata.rendererParameters['append'] }"
                                             ng-init="inputType = getInputType(fieldMetadata); pattern = getValidationPattern(fieldMetadata);">
                                            <span class="input-group-addon" ng-if="fieldMetadata.rendererParameters['prepend']!=null">{{fieldMetadata.rendererParameters['prepend']}}</span>
                                            <input ng-if="inputType === 'password'"
                                                   type="{{inputType}}"
                                                   password-validation password-username-value="{{ datamap[fieldMetadata.rendererParameters['usernameFieldName']] }}"
                                                   ng-model-options="{ debounce: 300 }"
                                                   ng-model="datamap[fieldMetadata.attribute]" class="hidden-phone form-control"
                                                   data-field="{{fieldMetadata.attribute}}"
                                                   ng-enabled="isModifiableEnabled(fieldMetadata)"
                                                   data-ng-maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                                                   ng-maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                                                   placeholder="{{fieldMetadata.rendererParameters['placeholder']}}"
                                                   ng-blur="onBlur(fieldMetadata)"
                                                   ng-init="initField(fieldMetadata)"
                                                   dynamic-name="fieldMetadata.attribute" />
                                            <input ng-if="inputType !== 'password'"
                                                   type="{{inputType}}"
                                                   ng-model="datamap[fieldMetadata.attribute]" class="hidden-phone form-control"
                                                   ng-model-options="{ debounce: 300 }"
                                                   data-field="{{fieldMetadata.attribute}}"
                                                   ng-enabled="isModifiableEnabled(fieldMetadata)"
                                                   data-ng-maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                                                   ng-maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                                                   placeholder="{{fieldMetadata.rendererParameters['placeholder']}}"
                                                   ng-pattern="pattern"
                                                   ui-mask="{{fieldMetadata.rendererParameters['mask']}}"
                                                   model-view-value="{{fieldMetadata.rendererParameters['mask-modelvalue']}}"
                                                   ng-init="initField(fieldMetadata)"
                                                   ng-required="isFieldRequired(fieldMetadata)"
                                                   ng-enter="blurField(event,fieldMetadata)"
                                                   ng-blur="onBlur(fieldMetadata)"
                                                   dynamic-name="fieldMetadata.attribute" />
                                            <span class="input-group-addon" ng-if="fieldMetadata.rendererParameters['append']!=null">{{fieldMetadata.rendererParameters['append']}}</span>
                                            <p ng-if="fieldMetadata.rendererParameters['valmessage']" ng-show="crudInputForm[fieldMetadata.attribute].$invalid && !crudInputForm[fieldMetadata.attribute].$pristine" style="color: red;">{{fieldMetadata.rendererParameters['valmessage']}}</p>
                                            <p ng-if="isFieldRequired(fieldMetadata)" ng-show="crudInputForm[fieldMetadata.attribute].$error.required && !crudInputForm[fieldMetadata.attribute].$pristine" style="color: red;">this field is required</p>
                                            <p ng-if="fieldMetadata.rendererParameters['maxlength']" ng-show="crudInputForm[fieldMetadata.attribute].$error.maxlength && !crudInputForm[fieldMetadata.attribute].$pristine" style="color: red;">this field is limited to {{fieldMetadata.rendererParameters['maxlength']}} characters</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-switch>
                    </div>

                    <div class="row" ng-if="fieldMetadata.type == 'ApplicationAssociationDefinition' && fieldMetadata.detailSection != null"
                         ng-hide="isFieldHidden(schema,fieldMetadata.detailSection) || !detailsExpanded(fieldMetadata)">
                        <section-element-input class="expandeddetails"
                                               extraparameters="extraparameters"
                                               schema="schema"
                                               datamap="datamap"
                                               is-dirty="isDirty"
                                               ismodal="{{ismodal}}"
                                               displayables="fieldMetadata.detailSection.displayables"
                                               blockedassociations="blockedassociations"
                                               renderer-parameters="fieldMetadata.rendererParameters"
                                               elementid="{{elementid + 'Section' + fieldMetadata.id}}"
                                               orientation="{{fieldMetadata.orientation}}"
                                               islabelless="{{isSectionWithoutLabel(fieldMetadata)}}"
                                               tabsection="{{isTabSection(fieldMetadata)}}"
                                               cancelfn="cancelfn(data,schema)">
                        </section-element-input>
                    </div>
                </div>
            </fieldset>
        </div>

        <div ng-if="isTabSection()">
            <div class="detail-header clearfix">
                <ul class="nav nav-tabs compositiondetailtab hapag-composition">
                    <li ng-class="{'active': $first}" ng-repeat="tab in tabsDisplayables(displayables)" ng-switch on="tab.type" tabsrendered>
                        <a ng-switch-when="ApplicationCompositionDefinition" ng-href="#{{tab.tabId}}" data-tabid="{{tab.tabId}}" ng-show="shouldShowComposition(tab)">
                            <i class="{{getTabIcon(tab)}}"></i>&ensp;{{i18N(tab.tabId + '._title',tab.label)}}&ensp;
                            <span ng-show="showTabRecordCount(tab)" class="tabRecordCount spin badge">{{getTabRecordCount(tab)}}</span>
                            <span ng-show="!showTabRecordCount(tab)" class="tabRecordspin" style="display: inline-block"></span>
                        </a>
                        <a ng-switch-when="ApplicationTabDefinition" ng-href="#{{tab.tabId}}" data-tabid="{{tab.tabId}}" ng-show="shouldShowTab(tab)">
                            <i class="fa {{tab.icon}} "></i>&ensp;{{i18NTabLabel(tab)}}&ensp;
                            <span ng-show="showTabRecordCount(tab)" class="tabRecordCount spin badge">{{getTabRecordCount(tab)}}</span>
                            <span ng-show="!showTabRecordCount(tab)" class="tabRecordspin" style="display: inline-block"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content tabsection-content">
                <div class="tab-pane" ng-class="{'active': $first}" ng-repeat="tab in tabsDisplayables(displayables)" id="{{tab.tabId}}" ng-switch on="tab.type">
                    <div ng-switch-when="ApplicationCompositionDefinition" ng-switch on="tab.collection">
                        <div ng-switch-when="true" class="hiddenonprint">
                            <composition-list-wrapper parentschema="schema"
                                                      parentdata="datamap"
                                                      cancelfn="cancelfn(data,schema)"
                                                      previousschema="previousschema" previousdata="previousdata"
                                                      metadata="tab"
                                                      mode="{{schema.mode}}"
                                                      tabid="{{tab.tabId}}"
                                                      ismodal="{{ismodal}}"
                                                      startlazyloading="{{$first}}" />
                        </div>
                        <div ng-switch-when="false">
                        </div>
                    </div>
                    <div class="tab-pane" ng-switch-when="ApplicationTabDefinition">
                        <crud-input-wrapper ismodal="{{ismodal}}"
                                            extraparameters="extraparameters"
                                            elementid="tab_{{tab.tabid}}"
                                            displayables="tab.displayables"
                                            schema="schema" datamap="datamap"
                                            association-schemas="associationSchemas"
                                            blockedassociations="blockedassociations"
                                            cancelfn="cancel(data,schema)"
                                            savefn="save(selecteditem, parameters)"
                                            previousschema="previousschema"
                                            previousdata="previousdata"
                                            is-main-tab="{{$first}}"
                                            tabid="{{tab.tabId}}" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</form>
