<form class="form-horizontal" style="padding-left: 10px">
    <div class="form-group container" style="padding-left: 25px">
        <crud-output-fields schema="schema"
                            datamap="datamap"
                            displayables="displayables"
                            orientation="vertical">
        </crud-output-fields>
    </div>
    
    <div class="form-actions hidden-phone form-group hiddenonprint commandbar" data-class="commandbar">
        <div class="spinner" data-class="spinner" id="detailspinner"></div>
        <table style="width: 100%;">
            <tr>
                <td style="text-align: center; vertical-align: middle;" data-class="commandbar">
                    <outputdetailtoolbar schema="schema" datamap="datamap" mode="'output'" position="detailform" />
                </td>
            </tr>
        </table>
    </div>

    <!--    <commandbar schema="schema" mode="schema.mode" datamap="datamap" cancelfn="cancel(previousdata,previousschema)" />-->
</form>
