<form class="form-horizontal" style="padding-left: 10px">
    <div class="form-group container" style="padding-left: 25px">
        <crud-output-fields extraparameters="extraparameters"
                            schema="schema"
                            datamap="datamap"
                            displayables="displayables"
                            orientation="vertical"
                            hideempty="hideempty">
        </crud-output-fields>
    </div>
</form>
