<div>
    <section class="container" ng-if="isList">
        <crud-list datamap="datamap"
                   schema="schema"
                   pagination-data="paginationdata"
                   search-data="searchData"
                   search-operator="searchOperator"
                   search-sort="searchSort" />
    </section>

    <form id="crudbodyform" class="form-horizontal" data-application="{{schema.applicationName}}" data-schema="{{schema.schemaId}}" method="post" enctype="multipart/form-data" ng-if="isDetail">
        <ng-switch on="hasTabs(schema)">
            <div ng-if="isEditDetail(datamap,schema)">
                <div class="ticketid_spacer"></div>
                <div class="well well-sm ticketid">
                    <h5>{{schema.idDisplayable}} {{request(datamap,schema)}}&emsp;Summary: {{datamap.fields.description}}</h5>
                </div>
             </div>

            <div ng-switch-when="true" class="hiddenonprint detail-body">
                <div class="detail-header clearfix">
                    <ul class="nav nav-tabs compositiondetailtab hapag-composition">
                        <li class="active">
                            <a href="#main" data-toggle="tab" ng-click="setActiveTab(null)"><i class="fa fa-file-text-o"></i> {{schema.title}}</a>
                        </li>
                        <li ng-repeat="tab in tabsDisplayables(schema)" ng-switch on="tab.type">
                            <a ng-switch-when="ApplicationCompositionDefinition"
                               ng-href="#{{tab.tabId}}" data-toggle="tab" ng-show="!composition.hidden" ng-click="setActiveTab(tab.tabId)">
                                <i class="{{getTabIcon(tab)}}"></i> {{i18N(tab.tabId + '._title',tab.label)}}
                            </a>
                            <a ng-switch-when="ApplicationTabDefinition"
                               ng-href="#{{tab.tabId}}" data-toggle="tab" ng-show="!composition.hidden" ng-click="setActiveTab(tab.tabId)">
                                <i class=" {{tab.icon}}">
                                </i>
                                {{i18NTabLabel(tab)}}
                            </a>
                        </li>
                    </ul>
                    <div class="buttons" ng-if="isNotHapagTest()">
                        <button type="button" class="btn btn-primary" ng-click="toConfirmCancel(previousdata,previousschema)" rel="tooltip" data-original-title="Back"><i class="glyphicon ng-scope glyphicon-backward"></i></button>
                        <button type="button" class="btn btn-primary" ng-click="crawl(1)" rel="tooltip" data-original-title="Previous"><i class ="fa fa-arrow-left"></i></button>
                        <button type="button" class="btn btn-primary" ng-click="crawl(0)" rel="tooltip" data-original-title="Next"><i class="fa fa-arrow-right"></i></button>
                    </div>
                </div>
                <div class="tab-content">
                    <div class="tab-pane active" id="main">
                        <ng-switch on="schema.mode">
                            <!--<div ng-if="isNotHapagTest()">
                                <button type="button" class="btn btn-primary" ng-click="toConfirmCancel(previousdata,previousschema)">Back</button>
                            </div>-->
                            <div ng-switch-when="input">
                                <crud-input elementid="crudInputMainComposition"
                                            schema="schema" datamap="datamap.fields"
                                            original-datamap="originalDatamap.fields"
                                            is-dirty="isDirty"
                                            association-options="associationOptions"
                                            association-schemas="associationSchemas"
                                            blockedassociations="blockedassociations"
                                            displayables="schema.displayables"
                                            cancelfn="toConfirmCancel(data,schema)"
                                            savefn="save(selecteditem, parameters)"
                                            previousschema="previousschema" previousdata="previousdata" />

                            </div>
                            <div ng-switch-when="output">
                                <crud-output schema="schema" datamap="datamap.fields"
                                             displayables="schema.displayables"
                                             cancelfn="toListSchema(data,schema)" previousschema="previousschema" previousdata="previousdata" />
                            </div>
                        </ng-switch>
                    </div>
                    <div class="tab-pane" ng-repeat="tab in tabsDisplayables(schema)" id="{{tab.tabId}}" ng-switch on="tab.type">
                        <div ng-switch-when="ApplicationCompositionDefinition" ng-switch on="tab.collection">
                            <div ng-switch-when="true" class="hiddenonprint">
                                <composition-list title="{{i18N(tab.schema.schemas.detail.applicationName + '._title',tab.label)}}"
                                                  compositionschemadefinition="tab.schema"
                                                  relationship="{{tab.relationship}}"
                                                  compositiondata="datamap.fields[tab.relationship]"
                                                  parentschema="schema"
                                                  parentdata="datamap"
                                                  cancelfn="toListSchema(data,schema)"
                                                  previousschema="previousschema" previousdata="previousdata"></composition-list>
                            </div>
                            <div ng-switch-when="false">
                            </div>
                        </div>
                        <div class="tab-pane" ng-switch-when="ApplicationTabDefinition" ng-switch on="schema.mode">
                            <div ng-switch-when="input">
                                <crud-input elementid="crudInputMainComposition"
                                            displayables="tab.displayables"
                                            schema="schema" datamap="datamap.fields"
                                            association-options="associationOptions"
                                            association-schemas="associationSchemas"
                                            blockedassociations="blockedassociations"
                                            cancelfn="toListSchema(data,schema)"
                                            savefn="save(selecteditem, parameters)"
                                            previousschema="previousschema" previousdata="previousdata" />
                            </div>
                            <div ng-switch-when="output">
                                <crud-output schema="schema" datamap="datamap.fields"
                                             displayables="tab.displayables"
                                             cancelfn="toListSchema(data,schema)" previousschema="previousschema" previousdata="previousdata" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- the false == no tabs at all. Is this really needed?-->
            <div ng-switch-when="false" class="hiddenonprint detail-body">
                <ng-switch on="schema.mode">
                    <div ng-switch-when="input">
                        <crud-input elementid="crudInputMain" schema="schema" datamap="datamap.fields"
                                    association-options="associationOptions"
                                    blockedassociations="blockedassociations"
                                    association-schemas="associationSchemas"
                                    cancelfn="toListSchema(data,schema)"
                                    displayables="schema.displayables"
                                    savefn="save(selecteditem, parameters)"
                                    previousschema="previousschema" previousdata="previousdata" />
                    </div>
                    <div ng-switch-when="output">
                        <crud-output schema="schema" datamap="datamap.fields"
                                     displayables="schema.displayables"
                                     cancelfn="toListSchema(data,schema)" previousschema="previousschema" previousdata="previousdata" />
                    </div>
                    <div ng-switch-default>
                        {{i18N('general.modeundefined','Error, mode is undefined')}}!
                    </div>
                </ng-switch>
            </div>
        </ng-switch>
    </form>

    <!-- had to divide the 'print-modal' and 'print-seciton' in two diferent divs, otherwise the 'print-section' was totally ignored (really dont know why) -->
    <div ng-if="schema != null">
        <print-modal schema="schema" datamap="datamap" />
    </div>
    <div ng-if="schema != null">
        <print-section schema="schema" datamap="datamap" />
    </div>
</div>

