<div class="modal fade container {{cssclass}}" id="crudmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" click-outside="clickOutside()" outside-if-not="applicationcommand, icon, text, menu-item">
    <scroll-pane data-available-fn="setPaneHeight" panelid="#modal" use-available-height="useavailableheight">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-hidden="true" ng-click="closeModal()">&times;</button>
                <h3>{{modaltitle}}</h3>
            </div>
            <div class="scroll">
                <div class="modal-body" ng-show="modalshown">
                    <crud-body
                               panelid="#modal"
                               cancelfn="cancel()"
                               ismodal="true"
                               schema="schema"
                               datamap="datamap"
                               original-datamap="originalDatamap"
                               blockedassociations="blockedassociations"
                               is-list="isList"
                               is-detail="isDetail"
                               parentdata="previousdata"
                               previousdata="previousdata"
                               previousschema="previousschema" />
                </div>
            </div>
            <div class="modal-footer">
                <generictoolbar datamap="datamap" position="{{getPosition(schema,'commandbar.bottom','modal.detail.primary')}}" schema="schema" />
            </div>
        </div>
    </scroll-pane>
</div>