<form id="{{elementid}}" class="form-horizontal" method="post" enctype="multipart/form-data" >
    
    

    <crud-input-fields extraparameters="extraparameters"
                       schema="schema"
                       datamap="datamap"
                       displayables="displayables"
                       ismodal="{{ismodal}}"
                       blockedassociations="blockedassociations"
                       elementid="{{elementid + 'Fields'}}"
                       previousschema="previousschema"
                       previousdata="previousdata"
                       parentschema="parentschema"
                       parentdata="parentdata"
                       orientation="vertical"
                       panelid="panelid"
                       cancelfn="cancelfn(data,schema)"></crud-input-fields>


    <div class="form-actions hidden-phone form-group hiddenonprint commandbar" data-class="commandbar">
        <div class="spinner" data-class="spinner" id="detailspinner"></div>
        <table style="width: 100%;">
            <tr>
                <td style="text-align: center; vertical-align: middle;" data-class="commandbar" class="toolbar-cell">
                    <inputdetailtoolbar schema="schema" datamap="datamap" mode="'input'" position="{{getPosition(schema,'detailform')}}"/>
                </td>
            </tr>
        </table>
    </div>


</form>
