<section id="{{elementid}}" schemaid="{{schema.schemaId}}">
    <div ng-init="setForm(crudbodyform)" />
    <div>
        <fieldset ng-repeat="fieldMetadata in nonTabFields(displayables)"
                  class="form-group {{getFieldClass(fieldMetadata)}}"
                  ng-show="!isFieldHidden(schema,fieldMetadata)"
                  rel="input-form-repeat"
                  bodyrendered>
            <label class="control-label"
                   rel="{{showLabelTooltip(fieldMetadata)}}"
                   data-original-title="{{i18NLabelTooltip(fieldMetadata)}}"
                   ng-if="isLabelVisible(fieldMetadata,false)"
                   ng-style="getLabelStyle(fieldMetadata)"
                   ng-class="getLabelClass(fieldMetadata)">
                <span ng-show="isFieldRequired(fieldMetadata)" class="requiredfieldmark">* </span>
                <!--this will bring either label or header in case of section-->
                {{i18NInputLabel(fieldMetadata)}}
            </label>
            <legend ng-if="isLabelVisible(fieldMetadata,true)"
                    rel="tooltip"
                    data-original-title="{{i18NLabelTooltip(fieldMetadata)}}"
                    class="legend-label">
                {{i18NInputLabel(fieldMetadata)}}
            </legend>

            <!--Read only section-->

            <div ng-class="getInputClass(fieldMetadata)" ng-if="fieldMetadata.isReadOnly" ng-switch on="fieldMetadata.rendererType">
                <input type="datetime" ng-switch-when="datetime"
                       ng-model="datamap[fieldMetadata.attribute]"
                       data-date-time
                       data-show-time="{{fieldMetadata.rendererParameters['showtime']}}"
                       data-show-date="{{fieldMetadata.rendererParameters['showdate']}}"
                       data-format-string="{{fieldMetadata.rendererParameters['format']}}"
                       data-show-meridian="{{fieldMetadata.rendererParameters['showmeridian']}}"
                       class="form-control datetimereadonly"
                       value="{{getFormattedValue(datamap[fieldMetadata.attribute],fieldMetadata,datamap)}}" ng-readonly="true" readonly>
                <label ng-switch-when="label" class="control-label"
                       ng-style="{ 'color' : fieldMetadata.rendererParameters['color'], 'font-weight' : fieldMetadata.rendererParameters['font-weight']}">
                    {{datamap[fieldMetadata.attribute]}}
                </label>

                <textarea ng-switch-when="textarea"
                          ng-model="datamap[fieldMetadata.attribute]" class="form-control" cols="120"
                          rows="10" wrap="hard"
                          data-ng-maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                          maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                          ng-readonly="true"
                          ng-enabled="isModifiableEnabled(fieldMetadata)"
                          ng-init="bindEvalExpression(fieldMetadata)"
                          data-id="{{fieldMetadata.attribute}}"
                          ng-style="{ 'color' : fieldMetadata.rendererParameters['color'], 'font-weight' : fieldMetadata.rendererParameters['font-weight']}" />

                <div ng-switch-when="checkbox">
                    <table ng-if="fieldMetadata.type === 'OptionField'" style="min-width: 200px;">
                        <tr ng-repeat="option in getCheckboxOptions(fieldMetadata)">
                            <td ng-if="isPositionLeft(fieldMetadata)">
                                {{i18NOptionField(option,fieldMetadata,schema)}}
                            </td>
                            <td>
                                <input type="checkbox"
                                       name="datamap[fieldMetadata.attribute]"
                                       value="{{option.value}}"
                                       ng-checked="isCheckboxSelected(option,fieldMetadata.associationKey)"
                                       ng-click="toggleCheckboxSelection(option,fieldMetadata.associationKey)">
                            </td>
                            <td ng-if="!isPositionLeft(fieldMetadata)">
                                {{i18NOptionField(option,fieldMetadata,schema)}}
                            </td>
                        </tr>
                    </table>
                    <div ng-if="fieldMetadata.type !== 'OptionField'" style="min-width: 200px;">
                        <label class="control-label"
                               rel="{{showLabelTooltip(fieldMetadata)}}"
                               data-original-title="{{i18NLabelTooltip(fieldMetadata)}}"
                               ng-class="getCheckboxLabelLeftClass(fieldMetadata)">
                            <span ng-show="isFieldRequired(fieldMetadata)" class="requiredfieldmark">* </span>
                            {{i18NInputLabel(fieldMetadata)}}
                        </label>
                        <input type="checkbox"
                               id="checkbox"
                               ng-model="datamap[fieldMetadata.attribute]"
                               ng-init="initCheckbox(fieldMetadata)"
                               ng-enabled="isModifiableEnabled(fieldMetadata)"
                               ng-true-value="true" ng-false-value="false" />
                        <label class="control-label"
                               rel="{{showLabelTooltip(fieldMetadata)}}"
                               data-original-title="{{i18NLabelTooltip(fieldMetadata)}}"
                               ng-class="getCheckboxLabelRightClass(fieldMetadata)">
                            <span ng-show="isFieldRequired(fieldMetadata)" class="requiredfieldmark">* </span>
                            {{i18NInputLabel(fieldMetadata)}}
                        </label>
                    </div>
                </div>

                <input type="text"
                       class="form-control"
                       ng-readonly="true"
                       ng-switch-default
                       ng-init="initField(fieldMetadata)"
                       value="{{getFormattedValue(datamap[fieldMetadata.attribute],fieldMetadata,datamap)}}" />

            </div>



            <div ng-if="!fieldMetadata.isReadOnly"
                 ng-show="fieldMetadata.attribute!=schema.idFieldName"
                 ng-switch on="fieldMetadata.rendererType"
                 ng-class="getInputClass(fieldMetadata)">
            
                <div ng-switch-when="combo" class="sw-combobox-container">

                    <div ng-class="{'input-group': fieldMetadata.rendererParameters['prepend'] || fieldMetadata.rendererParameters['append'] }">
                        <span class="input-group-addon" ng-if="fieldMetadata.rendererParameters['prepend']!=null">{{fieldMetadata.rendererParameters['prepend']}}</span>
                        <select
                            ng-if="!fieldMetadata.rendererParameters['multiple']"
                            class="hidden-phone form-control combobox"
                            ng-model="datamap[fieldMetadata.target]"
                            number-to-string
                            ng-options="option.value as i18NOptionField(option,fieldMetadata,schema) for option in GetAssociationOptions(fieldMetadata)"
                            ng-enabled="isSelectEnabled(fieldMetadata)"
                            ng-init="initField(fieldMetadata)"
                            data-field="{{fieldMetadata.associationKey}}">
                            <option value=""></option>
                        </select>

                        <select ng-if="fieldMetadata.rendererParameters['multiple']"
                                multiple
                                class="hidden-phone form-control combobox"
                                ng-model="datamap[fieldMetadata.target]"
                                number-to-string
                                ng-options="option.value as i18NOptionField(option,fieldMetadata,schema) for option in GetAssociationOptions(fieldMetadata)"
                                ng-enabled="isSelectEnabled(fieldMetadata)"
                                ng-init="initField(fieldMetadata)"
                                data-field="{{fieldMetadata.associationKey}}">
                            <option value=""></option>
                        </select>

                        <span class="input-group-addon" ng-if="fieldMetadata.rendererParameters['append']!=null">{{fieldMetadata.rendererParameters['append']}}</span>
                    </div>

                </div>
                <div ng-switch-when="checkbox">
                    <table ng-if="fieldMetadata.type === 'OptionField'" style="min-width: 200px;">
                        <tr ng-repeat="option in getCheckboxOptions(fieldMetadata)">
                            <td ng-if="isPositionLeft(fieldMetadata)">
                                {{i18NOptionField(option,fieldMetadata,schema)}}
                            </td>
                            <td>
                                <input type="checkbox"
                                       name="datamap[fieldMetadata.attribute]"
                                       value="{{option.value}}"
                                       ng-checked="isCheckboxSelected(option,fieldMetadata.associationKey)"
                                       ng-click="toggleCheckboxSelection(option,fieldMetadata.associationKey)">
                            </td>
                            <td ng-if="!isPositionLeft(fieldMetadata)">
                                {{i18NOptionField(option,fieldMetadata,schema)}}
                            </td>
                        </tr>
                    </table>
                    <div ng-if="fieldMetadata.type !== 'OptionField'" style="min-width: 200px;">
                        <label class="control-label"
                               rel="{{showLabelTooltip(fieldMetadata)}}"
                               data-original-title="{{i18NLabelTooltip(fieldMetadata)}}"
                               ng-class="getCheckboxLabelLeftClass(fieldMetadata)">
                            <span ng-show="isFieldRequired(fieldMetadata)" class="requiredfieldmark">* </span>
                            {{i18NInputLabel(fieldMetadata)}}
                        </label>
                        <input type="checkbox"
                               id="checkbox"
                               ng-model="datamap[fieldMetadata.attribute]"
                               ng-init="initCheckbox(fieldMetadata)"
                               ng-enabled="isModifiableEnabled(fieldMetadata)"
                               ng-true-value="true" ng-false-value="false" />
                        <label class="control-label"
                               rel="{{showLabelTooltip(fieldMetadata)}}"
                               data-original-title="{{i18NLabelTooltip(fieldMetadata)}}"
                               ng-class="getCheckboxLabelRightClass(fieldMetadata)">
                            <span ng-show="isFieldRequired(fieldMetadata)" class="requiredfieldmark">* </span>
                            {{i18NInputLabel(fieldMetadata)}}
                        </label>
                    </div>
                </div>
                <div ng-switch-when="autocompleteclient">
                    <div ng-switch on="fieldMetadata.type">
                        <div ng-if="fieldMetadata.rendererParameters['opendetails'] == 'true'" class="form-group samelinepickers">
                            <div class="col-xs-6 autocompleteclientopendetails">
                                <div ng-switch-when="OptionField" class="input-group">
                                    <select id="{{formatId(fieldMetadata.target)}}"
                                            class="hidden-phone form-control combobox"
                                            ng-class="{'combobox-dynamic' : isDesktop()}"
                                            ng-model="datamap[fieldMetadata.target]"
                                            number-to-string
                                            ng-options="option.value as i18NOptionField(option,fieldMetadata,schema) for option in GetAssociationOptions(fieldMetadata)"
                                            ng-enabled="isSelectEnabled(fieldMetadata)"
                                            data-associationkey="{{fieldMetadata.associationKey}}"
                                            data-displayablepath="{{getApplicationPah(fieldMetadata)}}">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-6 autocompleteclientopendetails">
                                <div ng-switch-default class="input-group">
                                    <select id="{{formatId(fieldMetadata.target)}}"
                                            class="hidden-phone form-control combobox"
                                            ng-class="{'combobox-dynamic' : isDesktop()}"
                                            ng-model="datamap[fieldMetadata.target]"
                                            number-to-string
                                            ng-options="option.value as option.label for option in GetAssociationOptions(fieldMetadata)"
                                            ng-enabled="isSelectEnabled(fieldMetadata)"
                                            data-associationkey="{{fieldMetadata.associationKey}}"
                                            data-displayablepath="{{getApplicationPah(fieldMetadata)}}">
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div>
                                <div id="opendetails" class="input-group">
                                    <button ng-click="opendetails(fieldMetadata)" ng-enabled="datamap[fieldMetadata.target]" />
                                </div>
                            </div>
                        </div>
                        <div ng-if="fieldMetadata.rendererParameters['opendetails'] != 'true'">
                            <div ng-switch-when="OptionField">
                                <select id="{{formatId(fieldMetadata.target)}}"
                                        class="hidden-phone form-control combobox"
                                        ng-class="{'combobox-dynamic' : isDesktop()}"
                                        ng-model="datamap[fieldMetadata.target]"
                                        number-to-string
                                        ng-options="option.value as i18NOptionField(option,fieldMetadata,schema) for option in GetAssociationOptions(fieldMetadata)"
                                        ng-enabled="isSelectEnabled(fieldMetadata)"
                                        data-associationkey="{{fieldMetadata.associationKey}}"
                                        data-displayablepath="{{getApplicationPah(fieldMetadata)}}">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div ng-switch-default>
                                <select id="{{formatId(fieldMetadata.target)}}"
                                        class="hidden-phone form-control combobox"
                                        ng-class="{'combobox-dynamic' : isDesktop()}"
                                        ng-model="datamap[fieldMetadata.target]"
                                        number-to-string
                                        ng-options="option.value as option.label for option in GetAssociationOptions(fieldMetadata)"
                                        ng-enabled="isSelectEnabled(fieldMetadata)"
                                        data-associationkey="{{fieldMetadata.associationKey}}"
                                        data-displayablepath="{{getApplicationPah(fieldMetadata)}}">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="multiselectautocompleteclient">
                    <selectize config="{create:true, valueField:'value', labelField:'label', searchField: ['label'], createOnBlur:'true', beforeItemAdd:getDispatchFn(fieldMetadata.rendererParameters['newItemValidation']), }"
                               options="GetAssociationOptions(fieldMetadata)"
                               ng-model="datamap[fieldMetadata.target]">
                    </selectize>
                </div>
                <div ng-switch-when="autocompleteserver">
                    <input type="text" class="hidden-phone form-control typeahead" data-association-key="{{fieldMetadata.associationKey}}" data-target="{{fieldMetadata.attribute}}" />
                    <input type="hidden" id="{{'autocomplete_' + fieldMetadata.attribute}}" ng-model="datamap[fieldMetadata.target]" />
                </div>
            
                <div ng-if="fieldMetadata.rendererType == 'lookup' ||  fieldMetadata.rendererType == 'modal'">
                    <lookup-input datamap="datamap"
                                  field-metadata="fieldMetadata"
                                  schema="schema"
                                  disabledassociations="disabledassociations"
                                  blockedassociations="blockedassociations"
                                  displayablepath="{{getApplicationPah(fieldMetadata)}}"
                                  />
                </div>



                <fieldset ng-switch-when="radio">
                    <label ng-if="fieldMetadata.rendererParameters['vertical']==null" ng-repeat="option in fieldMetadata.options" class="checkbox-inline">
                        <input type="radio"
                               name="{{fieldMetadata.attribute}}"
                               value="{{option.value}}"
                               ng-model="datamap[fieldMetadata.associationKey]">
                        {{i18NOptionField(option,fieldMetadata,schema)}}
                    </label>
                    <div  ng-if="fieldMetadata.rendererParameters['vertical']!=null" class="radio" ng-repeat="option in fieldMetadata.options">
                        <label>
                            <input type="radio"
                                   name="{{fieldMetadata.attribute}}"
                                   value="{{option.value}}"
                                   ng-model="datamap[fieldMetadata.associationKey]">
                            {{i18NOptionField(option,fieldMetadata,schema)}}
                        </label>
                    </div>
                </fieldset>
                <div ng-switch-when="textarea">
                    <textarea ng-model="datamap[fieldMetadata.attribute]" class="form-control" cols="120" rows="10" wrap="hard"
                              data-ng-maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                              maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                              ng-enabled="isModifiableEnabled(fieldMetadata)"
                              ng-init="initField(fieldMetadata)" />
                </div>
                <div ng-switch-when="richtext">
                    <div class="richtext image-holder"
                         text-angular="text-angular" ng-model="datamap[fieldMetadata.attribute]"
                         ng-init="initRichtextField(fieldMetadata)" ta-disabled="!isSelectEnabled(fieldMetadata)"></div>
                </div>
                <div ng-switch-when="upload">
                    <div class="input-group" id="{{fieldMetadata.attribute}}">
                        <input id="uploadFile" class="form-control" placeholder="No file chosen" disabled="disabled" />
                        <div class="input-group-addon fileUpload" data-upload="files">
                            <span>Choose File</span>
                            <input class="form-control uploadfile_tooltip upload" name="{{fieldMetadata.attribute}}"
                                   id="uploadBtn"
                                   type="file" accept=".jpg,.bmp,.png,.pdf,.zip,text/plain,.doc,.docx,.dwg,.csv,.xls,.xlsx,.ppt,application/xml,.xsl,text/html"
                                   fileread="datamap[fieldMetadata.attribute]"
                                   path="datamap.newattachment_path"
                                   title="{{handlerTitleInputFile('uploadfile_tooltip')}}" />
                        </div>
                    </div>
                </div>
                <div ng-switch-when="dndupload">
                    <input id="uploadFile" ng-model="datamap.newattachment_path" class="form-control" placeholder="No file chosen" disabled="disabled" />
                    <div file-dropzone="pdf, zip, txt, doc, docx, dwg, gif, jpg, csv, xls, xlsx, ppt, xml, xsl, bmp, html, png, lic"
                         class="dropzone form-control" data-file-name="datamap.newattachment_path" data-file="datamap[fieldMetadata.attribute]"
                         data-dropzone-hover-class="file-over"
                         data-field="fieldMetadata">
                        <i class="fa fa-dot-circle-o"></i>&ensp;Drag and drop a file here to upload, or
                        <input id="uploadInput" type="file" fileread="datamap[fieldMetadata.attribute]" path="datamap.newattachment_path"/>
                        <a href="" id="uploadInputLink">browse</a>
                        <br/>
                        <i class="fa fa-question-circle" style="color: inherit"
                           rel="tooltip"
                           data-original-title="Make sure to adjust the focus by clicking anywhere on the form's background before pasting the image">
                        </i>
                        &ensp;You can also use 'Print Screen' and 'Ctrl+V' to attach a screenshot
                    </div>
                    <div ng-if="fieldMetadata.rendererParameters['showImagePreview']" class="imagepreview">
                        <img ng-src="{{ datamap[fieldMetadata.attribute] }}" />
                    </div>
                </div>
                <div ng-switch-when="multipleupload">
                    <div class="input-group" id="{{fieldMetadata.attribute}}">
                        <div class="input-group-addon fileUpload" data-upload="files">
                            <input name="{{fieldMetadata.attribute}}"
                                   id="uploadBtn"
                                   type="file" accept=".jpg,.bmp,.png,.pdf,.zip,text/plain,.doc,.docx,.dwg,.csv,.xls,.xlsx,.ppt,application/xml,.xsl,text/html"
                                   fileread="datamap[fieldMetadata.attribute]"
                                   path="datamap.newattachment_path"
                                   title="{{handlerTitleInputFile('uploadfile_tooltip')}}"
                                   multiple="multiple" />
                        </div>
                    </div>
                </div>
                <div ng-switch-when="screenshot">
                    <div ng-show="!isIE()" id="imgHolder_{{fieldMetadata.attribute}}" name="{{fieldMetadata.attribute}}" contenteditable='true' class="form-control image-holder"></div>
                    <iframe id="richTextBox_{{fieldMetadata.attribute}}" ng-show="isIE()" ng-src="{{contextPath('/UserControls/RichTextBox.aspx')}}"
                            class="richtextbox" frameborder="0" />
                </div>
                <div ng-switch-when="numericinput">
                    <input data-field="{{fieldMetadata.attribute}}"
                           id="spinner"
                           class="hidden-phone form-control"
                           ng-model="datamap[fieldMetadata.attribute]"
                           ng-init="initField(fieldMetadata)"
                           min="{{fieldMetadata.rendererParameters['min']}}"
                           max="{{setMaxNumericInput(datamap,fieldMetadata)}}"
                           number-spinner />
                </div>
                <div ng-switch-when="combodropdown">
                    <div class="multiselect-div">
                        <select multiple="multiple" class="hidden-phone form-control combobox multiselect"
                                data-associationkey="{{fieldMetadata.associationKey}}"
                                id="{{formatId(fieldMetadata.target)}}"
                                ng-model="datamap[fieldMetadata.target]"
                                ng-options="option.value as i18NOptionField(option,fieldMetadata,schema) for option in GetAssociationOptions(fieldMetadata)"
                                ng-enabled="isSelectEnabled(fieldMetadata)"
                                custombuttontext="">
<!--                            <option value=""></option>-->
                        </select>
                        <div ng-if="fieldMetadata.rendererParameters['showvaluesbelow'] == 'true'">
                            <table>
                                <tbody>
                                    <tr ng-repeat="selected in getSelectedTexts(fieldMetadata)">
                                        <td><span rel="tooltip" data-original-title="{{selected}}">{{formatLabel(selected, fieldMetadata)}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="datetime">
                    <div ng-if="isDesktop()" id="datetimepicker" class="input-group" data-datepicker="true">
                        <input type="text" ng-model="datamap[fieldMetadata.attribute]"
                               data-date-time
                               data-show-time="{{fieldMetadata.rendererParameters['showtime']}}"
                               data-show-date="{{fieldMetadata.rendererParameters['showdate']}}"
                               data-format-string="{{fieldMetadata.rendererParameters['format']}}"
                               data-allow-past="{{fieldMetadata.rendererParameters['allowpast']}}"
                               data-allow-future="{{fieldMetadata.rendererParameters['allowfuture']}}"
                               class="form-control">
                        <span class="input-group-addon" data-calendericon="true" rel="tooltip" data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}" style="cursor: pointer;">
                            <i class="datetime-class"></i>
                        </span>
                    </div>
                    <input ng-if="isMobile()" type="datetime" class="form-control" ng-model="datamap[fieldMetadata.attribute]">
                </div>

                <div ng-switch-when="date">
                    <div ng-if="isDesktop()" id="datetimepicker" class="input-group" data-datepicker="true">
                        <input type="text" ng-model="datamap[fieldMetadata.attribute]"
                               data-date-time
                               data-show-time="{{fieldMetadata.rendererParameters['showtime']}}"
                               data-show-date="{{fieldMetadata.rendererParameters['showdate']}}"
                               data-format-string="{{fieldMetadata.rendererParameters['format']}}"
                               data-allow-past="{{fieldMetadata.rendererParameters['allowpast']}}"
                               data-allow-future="{{fieldMetadata.rendererParameters['allowfuture']}}"
                               class="form-control">
                        <span class="input-group-addon" data-calendericon="true" rel="tooltip" data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}" style="cursor: pointer;">
                            <i class="datetime-class"></i>
                        </span>
                    </div>
                    <input ng-if="isMobile()" type="date" class="form-control" ng-model="datamap[fieldMetadata.attribute]">
                </div>

                <div ng-switch-when="time">
                    <div ng-if="isDesktop()" id="datetimepicker" class="input-group" data-datepicker="true">
                        <input type="text" ng-model="datamap[fieldMetadata.attribute]"
                               data-date-time
                               data-show-time="{{fieldMetadata.rendererParameters['showtime']}}"
                               data-show-date="{{fieldMetadata.rendererParameters['showdate']}}"
                               data-format-string="{{fieldMetadata.rendererParameters['format']}}"
                               data-allow-past="{{fieldMetadata.rendererParameters['allowpast']}}"
                               data-allow-future="{{fieldMetadata.rendererParameters['allowfuture']}}"
                               class="form-control">
                        <span class="input-group-addon" data-calendericon="true" rel="tooltip" data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}" style="cursor: pointer;">
                            <i class="datetime-class"></i>
                        </span>
                    </div>
                    <input ng-if="isMobile()" type="time" class="form-control" ng-model="datamap[fieldMetadata.attribute]">
                </div>

                <div ng-switch-when="custom">
                    <div ng-include="contextPath(fieldMetadata.rendererParameters.resourcepath)" href="#" style="width: 100%" />
                </div>

                <div ng-switch-default>
                    <ng-switch on="fieldMetadata.type">
                        <div ng-switch-when="ApplicationSection">
                            <div ng-if="fieldMetadata.secondaryContent">
                                <crud-expandable-section extraparameters="extraparameters"
                                                         schema="schema"
                                                         datamap="datamap"
                                                         is-dirty="isDirty"
                                                         displayables="fieldMetadata.displayables"
                                                         blockedassociations="blockedassociations"
                                                         renderer-parameters="fieldMetadata.rendererParameters"
                                                         elementid="{{elementid + 'Section' + fieldMetadata.id}}"
                                                         orientation="{{fieldMetadata.orientation}}"
                                                         islabelless="{{isSectionWithoutLabel(fieldMetadata)}}"
                                                         />
                            </div>


                            <div ng-if="!fieldMetadata.secondaryContent">
                                <div ng-if="fieldMetadata.resourcepath != null"
                                     ng-include="contextPath(fieldMetadata.resourcepath)" href="#" style="width: 100%" />
                                <div ng-if="fieldMetadata.resourcepath == null">
                                    <section-element-input extraparameters="extraparameters"
                                                           schema="schema"
                                                           datamap="datamap"
                                                           is-dirty="isDirty"
                                                           displayables="fieldMetadata.displayables"
                                                           blockedassociations="blockedassociations"
                                                           renderer-parameters="fieldMetadata.rendererParameters"
                                                           elementid="{{elementid + 'Section' + fieldMetadata.id}}"
                                                           orientation="{{fieldMetadata.orientation}}"
                                                           islabelless="{{isSectionWithoutLabel(fieldMetadata)}}"
                                                           ismodal="{{ismodal}}"
                                                           >
                                    </section-element-input>

                                </div>
                            </div>


                        </div>
                        <div ng-switch-when="ApplicationCompositionDefinition">

                            <inline-composition-list-wrapper parentschema="schema"
                                                             parentdata="datamap"
                                                             metadata="fieldMetadata"
                                                             iscollection="fieldMetadata.collection" />
                        </div>
                        <div ng-switch-default>
                            <div ng-switch on="fieldMetadata.isHidden">
                                <div ng-switch-when="true">
                                    <input type="hidden" ng-model="datamap[fieldMetadata.attribute]" class="hidden-phone form-control" />
                                </div>
                                <div ng-switch-default ng-if="fieldMetadata.rendererType != 'lookup' &&  fieldMetadata.rendererType != 'modal'">

                                    <div ng-class="{'input-group': fieldMetadata.rendererParameters['prepend'] || fieldMetadata.rendererParameters['append'] }">
                                        <span class="input-group-addon" ng-if="fieldMetadata.rendererParameters['prepend']!=null">{{fieldMetadata.rendererParameters['prepend']}}</span>
                                        <input type="{{getInputType(fieldMetadata)}}"
                                               ng-model="datamap[fieldMetadata.attribute]" class="hidden-phone form-control"
                                               data-field="{{fieldMetadata.attribute}}"
                                               ng-enabled="isModifiableEnabled(fieldMetadata)"
                                               data-ng-maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                                               maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                                               placeholder="{{fieldMetadata.rendererParameters['placeholder']}}"
                                               ng-init="initField(fieldMetadata)"
                                               dynamic-name="fieldMetadata.attribute" />
                                        <span class="input-group-addon" ng-if="fieldMetadata.rendererParameters['append']!=null">{{fieldMetadata.rendererParameters['append']}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-switch>
                </div>

                <div class="row" ng-if="fieldMetadata.type == 'ApplicationAssociationDefinition' && fieldMetadata.detailSection != null"
                     ng-hide="isFieldHidden(schema,fieldMetadata.detailSection) || !detailsExpanded(fieldMetadata)">
                    <section-element-input class="expandeddetails"
                                           extraparameters="extraparameters"
                                           schema="schema"
                                           datamap="datamap"
                                           is-dirty="isDirty"
                                           ismodal="{{ismodal}}"
                                           displayables="fieldMetadata.detailSection.displayables"
                                           blockedassociations="blockedassociations"
                                           renderer-parameters="fieldMetadata.rendererParameters"
                                           elementid="{{elementid + 'Section' + fieldMetadata.id}}"
                                           orientation="{{fieldMetadata.orientation}}"
                                           islabelless="{{isSectionWithoutLabel(fieldMetadata)}}">
                    </section-element-input>
                </div>

            </div>
        </fieldset>

    </div>


</section>
