<form id="{{elementid}}" class="form-horizontal" method="post" enctype="multipart/form-data">
    <crud-input-fields schema="schema"
                       datamap="datamap"
                       displayables="displayables"
                       association-options="associationOptions"
                       association-schemas="associationSchemas"
                       blockedassociations="blockedassociations"
                       elementid="{{elementid + 'Fields'}}"
                       orientation="vertical"></crud-input-fields>
    <commandbar schema="schema" mode="'input'" datamap="datamap" cancelfn="cancel()"
                savefn="save()" />    
</form>
