<form>
    <div id="affixpagination" class="hiddenonprint toolbar-primary" ng-class="{'affix-pagination' : ismodal !== 'true' }" ng-if="!forprint">

        <div ng-hide="hidebars" ng-if="!panelid || panelid == '#modal'">
            <div class="context clearfix header-menu">
                <!-- commands -->
            <div class="row tool-row main-commands">
                <gridtoolbar advancedsearchdata="vm.quickSearchDTO"
                                position="{{getGridCommandPosition('commandbar.top','gridtop')}}"
                                datamap="datamap"
                                schema="schema"
                                pagination-data="paginationData"
                                search-data="searchData"
                                search-sort="searchSort"
                                search-operator="searchOperator"
                                search-template="searchTemplate"
                                panelid="panelid"
                                class="gridtop" />
                <div class="separator large-button hidden-xs col-sm-1" ng-if="ismodal !== 'true' &amp;&amp;shouldShowGridNavigation()" >&nbsp;</div>
                <!-- quick search input -->
                <div ng-show="shouldShowGridNavigation()">
                    <div class="quick-search col-xs-12 col-sm-6 col-md-5" ng-class="{'no-search-options' : !shouldShowSearchOptions()}">
                        <div class="input-group">
                            <input type="text"
                                   placeholder="Search"
                                   class="form-control ng-pristine ng-valid ng-touched"
                                   ng-model="vm.quickSearchDTO.quickSearchData"
                                   ng-enter="quickSearch(vm.quickSearchDTO)"
                                   ng-if="!autoQuicksearch()">
                            <input type="search"
                                   placeholder="Search"
                                   class="form-control ng-pristine ng-valid ng-touched"
                                   ng-model-options="{ debounce: 350 }"
                                   ng-model="vm.quickSearchDTO.quickSearchData"
                                   ng-enter="quickSearch(vm.quickSearchDTO)"
                                   ng-change="quickSearch(vm.quickSearchDTO)"
                                   ng-if="autoQuicksearch()">
                            <span class="input-group-btn">
                                <button class="btn btn-default"
                                        type="button" ng-enabled="true"
                                        ng-click="quickSearch(vm.quickSearchDTO)"
                                        disabled="disabled">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>

                        <div class="btn-group search-options col-xs-12 col-sm-3 col-md-3 col-lg-2" ng-if="shouldShowSearchOptions()">
                            <button type="button" class="btn btn-context dropdown-toggle" data-toggle="dropdown" data-original-title="{{commandtooltip(command)}}" rel="tooltip">
                                <i ng-if="command.service==null" class="fa" ng-class="command.icon"></i>
                                <div class="text">Options</div>
                                <div class="caret"></div>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <!--TODO: Make recursive...-->
                                <li ng-repeat="composition in schema.relatedCompositions">
                                    <input type="checkbox"
                                            name="composition.value"
                                            ng-checked="isCompositionSelectedForSearching(composition.value)"
                                            ng-click="toggleCompositionForSearching(composition.value)" />&ensp;{{composition.label}}

                                </li>
                            </ul>
                        </div>
                        <grid-filter ng-if="ismodal!=='true'"
                                        schema="schema"
                                        search-data="searchData"
                                        search-operator="searchOperator"
                                        search-template="searchTemplate"
                                        panelid="panelid"
                                        quick-search-dto="vm.quickSearchDTO"
                                        toggle-multi-sort-panel="toggleMultiSortPanel()"
                                        class="col-xs-12 col-sm-9 col-md-9 col-lg-10">
                        </grid-filter>
                    </div>
                </div>
                <div class="separator large-button" ng-if="ismodal !== 'true'" ng-show="showActionSeparator()">&nbsp;</div>
                <gridtoolbar advancedsearchdata="vm.quickSearchData"
                                position="{{getGridCommandPosition('commandbar.top.right','actions')}}"
                                datamap="datamap"
                                schema="schema"
                                pagination-data="paginationData"
                                search-data="searchData"
                                search-sort="searchSort"
                                search-operator="searchOperator"
                                search-template="searchTemplate"
                                panelid="panelid"
                                class="actions" />

                <!-- simple pagination -->
                <pagination pagination-data="paginationData" renderfn="selectPage(pageNumber,pageSize,printMode)"
                            schema="schema" application-name="{{schema.applicationName}}"
                            search-data="searchData"
                            search-operator="searchOperator"
                            panelid="panelid"
                            pagination-simple-layout
                            class="large-button" />
            </div>
            <div class="row tool-row multi-sort" ng-show="multiSortVisible()">
                <multi-sort schema="schema" sort="multisort()" initData="multisortinitdata" panelid="paneldid"></multi-sort>
            </div>
        </div>       
    </div>

    <!--<div class="filter-container">
        <div class="context clearfix header-menu">
            <crud-filter-bar schema="schema" datamap="datamap"
                             advanced-filter-mode="advancedFilterMode" select-all="selectAllChecked"
                             search-data="searchData" search-operator="searchOperator" filter-applied="filterApplied()" />
        </div>
    </div>-->
    </div>

    <div class="affix-pagination-panel hiddenonprint" ng-hide="'false' !== hidebars" ng-if="panelid && !forprint">
        <div class="context clearfix header-menu">
            <grid-multiple-profile panelid="panelid" metadataid="metadataid"></grid-multiple-profile>
            
            <pagination pagination-data="paginationData" renderfn="selectPage(pageNumber,pageSize,printMode)"
                        schema="schema" application-name="{{schema.applicationName}}"
                        search-data="searchData"
                        panelid="panelid"
                        search-operator="searchOperator"/>
        </div>

        <!--<div class="filter-container">
            <div class="context clearfix header-menu">
                <crud-filter-bar schema="schema" datamap="datamap"
                                 advanced-filter-mode="advancedFilterMode" select-all="selectAllChecked"
                                 search-data="searchData" search-operator="searchOperator" filter-applied="filterApplied()">
                </crud-filter-bar>
            </div>
        </div>-->

    </div>

    <!-- search filters: dettached from the entity table -->


    <div class="divAuxTable">
        <!--build responsive css rules based on metadata-->
        <style column-widths schema="schema"></style>
        <div class="scroll-helper"></div>
        <table class="table table-hover hidden-phone fixedtable listgrid-table" data-application="{{getApplicationNameCheckingExtraParameters()}}" data-schema="{{schema.schemaId}}" id="listgrid" ng-class="{'nowrap' : schema.properties['list.nowrap']}">
            <thead id="listgridthread" class="listgrid-thead">
                <tr class="header-row">
                    <th ng-show="schema.properties['list.selectionstyle'] === 'multiple'" class="select-multiple">
                        <multiselect-dropdown data-checkbox-fn="selectAllChanged({all: all})" data-commands="multiselect.dropdown" data-datamap="datamap" data-schema="schema" ng-model="selectionModel.selectAllValue" panelid="panelid"/>
                    </th>
                    <th ng-show="schema.properties['list.selectionstyle'] === 'single'" class="select-single">
                        <!--Singleselect-->
                    </th>
                    <th class="{{safeCSSselector(column.attribute)}}"
                        ng-repeat="column in schema.displayables"
                        ng-show="!isFieldHidden(schema,column)"
                        ng-init="columnFilter = filterForColumn(column)">
                        <div class="cell-wrapper">
                            <div ng-if="shouldShowHeaderLabel(column)">
                                <div ng-if="!!columnFilter"
                                     ng-click="sort(column)" class="add-on part" rel="tooltip" data-container="body" data-original-title="{{sortLabel(column)}}">
                                    {{i18NLabel(column)}} <i class="fa {{headerIcon(column)}}" ng-show="hasIcon(column)"></i>
                                </div>
                                <div ng-if="!columnFilter"
                                     class="add-on part" data-container="body">
                                    {{i18NLabel(column)}} <i class="fa {{headerIcon(column)}}" ng-show="hasIcon(column)"></i>
                                </div>
                                <div class="fa fa-sort-amount-asc part"
                                     ng-show="shouldShowSort(column,'asc')"
                                     rel="tooltip" data-original-title="Sorted ascendant">
                                </div>
                                <div class="fa fa-sort-amount-desc part" ng-show="shouldShowSort(column,'desc')"
                                     rel="tooltip" data-original-title="Sorted descendant">
                                </div>
                                <div class="filter-label part" ng-show="shouldShowGridNavigation() && shouldShowHeaderFilter(column)" filterrowrendered>
                                    <crud-filter-dropdown filter="columnFilter"
                                                          schema="schema" datamap="datamap" panelid="panelid"
                                                          advanced-filter-mode="advancedFilterMode" select-all="selectAllChecked"
                                                          search-data="searchData" search-operator="searchOperator" filter-applied="filterApplied()" forprint="forprint"
                                                          filter-standalone/>
                                </div>
                            </div>
                        </div>
                    </th>
                    <th ng-if="selectionModel.selectionMode && schema.properties['list.disableddetails'] !== 'true'" class="edit-detail">
                        <!--Selection mode active... should render an extra icon to open up the details-->
                    </th>

                    <th class="clear"></th>
                </tr>
            </thead>
            <tbody crudtbody schema="schema" datamap="datamap" panelid="panelid" timestamp="{{timestamp}}" bindonce />
        </table>
    </div>
    <p class="no-results" ng-show="datamap.length == 0" ng-if="schema.noResultsNewSchema == null">
        <i class="fa fa-info-circle"></i>&ensp;
        {{i18N("_grid.filter.noresult","No records found, try adjusting your search terms.")}}
    </p>
    <p class="no-results" ng-show="datamap.length == 0" ng-if="schema.noResultsNewSchema != null">
        <i class="fa fa-info-circle"></i>&ensp;
        {{i18N("_grid.filter.noresultWithNewBegin","No records found, ")}}
        <button type="button" class="btn btn-default btn-primary" ng-click="noRecordsNewClick()" href="" data-container="body">
            {{noRecordsNewButtonLabel()}}
        </button>
        {{i18N("_grid.filter.noresultWithNewEnd"," or try adjusting your search terms.")}}
    </p>
    <!--this is exclusive for IBM Demo to indicate the bottom of the page.-->
    <div ng-if="isNotHapagTest() && !forprint" ng-hide="hidebars">
        <div id="affixpagination1" class="hiddenonprint context clearfix hiddenonprint">
            <!--            <gridtoolbar position="{{getGridCommandPosition('commandbar.bottom','gridbottom')}}"-->
            <!--                         schema="schema"-->
            <!--                         pagination-data="paginationData"-->
            <!--                         search-sort="searchSort"-->
            <!--                         search-data="searchData"-->
            <!--                         search-operator="searchOperator"></gridtoolbar>-->
            <pagination pagination-data="paginationData" renderfn="selectPage(pageNumber,pageSize,printMode)"
                        schema="schema" application-name="{{schema.applicationName}}"
                        panelid="panelid"
                        search-data="searchData"
                        search-operator="searchOperator" />
        </div>
    </div>
</form>