<section class="crud_output">

    <fieldset ng-repeat="fieldMetadata in nonTabFields(displayables)"
              class="form-group {{getFieldClass(fieldMetadata)}}"
              ng-hide="showField(schema, fieldMetadata)">

        <label class="control-label"
               ng-style="getLabelStyle(fieldMetadata)"
               ng-class="getLabelClass(fieldMetadata)"
               ng-if="hasLabelOrHeader(fieldMetadata) && !isLabelVisible(fieldMetadata,true)">
            {{i18NInputLabel(fieldMetadata)}}
        </label>
        <legend ng-if="isLabelVisible(fieldMetadata,true)"
                rel="tooltip"
                data-original-title="{{i18NLabelTooltip(fieldMetadata)}}"
                class="legend-label">
            {{i18NInputLabel(fieldMetadata)}}
        </legend>

        <div class="field" ng-class="getInputClass(fieldMetadata)">
            <ng-switch on="fieldMetadata.type">
                <div ng-switch-when="ApplicationCompositionDefinition">
                    <inline-composition-list-output parentdata="datamap"
                                                    metadata="fieldMetadata"
                                                    iscollection="fieldMetadata.collection"
                                                    forprint="forprint" />
                </div>
                <div ng-switch-when="ApplicationSection">
                    <div ng-if="fieldMetadata.resourcepath != null" ng-include="contextPath(fieldMetadata.resourcepath)" href="#" style="width: 100%" />
                    <div ng-if="fieldMetadata.resourcepath == null">
                        <section-element-output schema="schema"
                                                datamap="datamap"
                                                displayables="fieldMetadata.displayables"
                                                orientation="{{fieldMetadata.orientation}}"
                                                data-id="{{fieldMetadata.id}}"
                                                renderer-parameters="fieldMetadata.rendererParameters"
                                                hideempty="hideempty"
                                                forprint="forprint">
                            <!--keep it like this, do not close-->
                        </section-element-output>
                    </div>
                </div>
                <div ng-switch-when="OptionField" class="input-group">
                    <div ng-switch on="fieldMetadata.rendererType">
                        <div ng-switch-when="combo">
                            <select ng-if="fieldMetadata.options &amp;&amp; fieldMetadata.options.length > 0"
                                    id="{{formatId(fieldMetadata.target)}}"
                                    class="hidden-phone form-control combobox"
                                    ng-class="{'combobox-dynamic' : isDesktop()}"
                                    ng-model="datamap[fieldMetadata.target]"
                                    number-to-string
                                    ng-options="option.value as i18NOptionField(option,fieldMetadata,schema) for option in GetAssociationOptions(fieldMetadata)"
                                    ng-enabled="false">
                                <option value="" style="display: none"></option>
                            </select>
                            <label class="form-control" ng-if="!fieldMetadata.options || fieldMetadata.options.length == 0"
                                   ng-bind-html="getFormattedValue(datamap[fieldMetadata.attribute],fieldMetadata,datamap) | linebreak"
                                   ng-init="bindEvalExpression(fieldMetadata)"
                                   data-attribute="{{fieldMetadata.attribute}}">
                            </label>

                        </div>
                        <div ng-switch-default>
                            <label class="form-control"
                                   ng-bind-html="getFormattedValue(datamap[fieldMetadata.attribute],fieldMetadata,datamap) | linebreak"
                                   ng-init="bindEvalExpression(fieldMetadata)"
                                   data-attribute="{{fieldMetadata.attribute}}">
                            </label>
                        </div>
                    </div>
                </div>
                <div ng-switch-default>
                    <div ng-switch on="fieldMetadata.isHidden">
                        <div ng-switch-when="true">
                            <input type="hidden" ng-model="datamap[fieldMetadata.attribute]" class="hidden-phone form-control" />
                        </div>
                        <div ng-switch-default>
                            <div ng-switch on="fieldMetadata.rendererType">
                                <div ng-switch-when="treeview">
                                    <!--a && b || c equivalent to a? b:c -->
                                    <div class="crud-tree-view"
                                         data-angular-treeview="true"
                                         data-style="crud"
                                         data-tree-model="datamap[fieldMetadata.attribute]"
                                         data-node-id="{{fieldMetadata.rendererParameters.idField == null && 'id' || fieldMetadata.rendererParameters.idField}}"
                                         data-node-label="{{fieldMetadata.rendererParameters.labelField == null && 'label' || fieldMetadata.rendererParameters.labelField}}"
                                         data-node-children="{{fieldMetadata.rendererParameters.childrenField == null && 'children' || fieldMetadata.rendererParameters.childrenField}}">
                                    </div>
                                    <!--nasty workaround for HAP-356 -->
                                    <div ng-if="isIE9()" class="hiddenonscreen">
                                        <ul style="list-style: none;">
                                            <li data-ng-repeat="node in datamap[fieldMetadata.attribute]">
                                                <span data-ng-class="node.selected">
                                                    {{node.label}}
                                                </span>
                                                <ul style="list-style: none;">
                                                    <li data-ng-repeat="node in node.children">
                                                        <span data-ng-class="node.selected">
                                                            {{node.label}}
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div ng-switch-when="fieldwithbuttons">
                                    <div ng-if="isbtnLeft(fieldMetadata)">
                                        <button class="{{fieldMetadata.rendererParameters.icon}} fieldButton"></button>
                                        <label class="form-control " style="width: 96.35%; display: inline-block;"
                                               ng-bind-html="getFormattedValue(datamap[fieldMetadata.attribute],fieldMetadata,datamap) | linebreak"
                                               ng-init="bindEvalExpression(fieldMetadata)">
                                        </label>
                                    </div>
                                    <div ng-if="!isbtnLeft(fieldMetadata)">
                                        <label class="form-control " style="width: 96.35%; display: inline-block;"
                                               ng-bind-html="getFormattedValue(datamap[fieldMetadata.attribute],fieldMetadata,datamap) | linebreak"
                                               ng-init="bindEvalExpression(fieldMetadata)">
                                        </label>
                                        <button class="{{fieldMetadata.rendererParameters.icon}} fieldButton"></button>
                                    </div>
                                </div>
                                <div ng-switch-when="richtext">
                                    <richtext-field data-content="datamap[fieldMetadata.attribute]" data-readonly="true" data-forprint="forprint">
                                    </richtext-field>
                                </div>
                                <div ng-switch-when="imagepreview" class="imagepreview">
                                    <img ng-src="{{ datamap[fieldMetadata.attribute] }}" ng-if="isString(datamap[fieldMetadata.attribute])" />
                                </div>

                                <div ng-switch-when="checkbox">
                                    <i class="fa {{getBooleanClass(datamap,fieldMetadata.attribute)}}"></i>
                                </div>

                                <div ng-switch-when="link">
                                    <ul ng-if="isArray(datamap[fieldMetadata.attribute])">
                                        <li ng-repeat="link in datamap[fieldMetadata.attribute]">
                                            <a href="{{ link[fieldMetadata.rendererParameters['linkUrlField'] || 'url' ] }}" target="_blank">
                                                {{ link[fieldMetadata.rendererParameters['linkNameField'] || 'name' ] }}
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                                <textarea ng-switch-when="textarea"
                                          ng-model="datamap[fieldMetadata.attribute]" class="form-control" cols="120"
                                          rows="10" wrap="hard"
                                          data-ng-maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                                          maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                                          ng-readonly="true"
                                          ng-enabled="true"
                                          data-id="{{fieldMetadata.attribute}}"
                                          ng-style="{ 'color' : fieldMetadata.rendererParameters['color'], 'font-weight' : fieldMetadata.rendererParameters['font-weight']}" />

                                <div ng-switch-default>
                                    <label class="form-control"
                                           ng-bind-html="getFormattedValue(datamap[fieldMetadata.attribute],fieldMetadata,datamap) | linebreak"
                                           ng-init="bindEvalExpression(fieldMetadata)"
                                           data-attribute="{{fieldMetadata.attribute}}">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </ng-switch>
        </div>
    </fieldset>
</section>
