<section id="{{elementid}}">
    <div>
        <fieldset ng-repeat="fieldMetadata in nonTabFields(displayables)" class="form-group"
            ng-show="!isFieldHidden(schema,fieldMetadata)"
            rel="input-form-repeat"
            bodyrendered
            ng-class="{'col-horizontal-orientation' : !isVerticalOrientation(), 'fieldset-inside-section' : insidelabellesssection=='true' }"
            ng-style="horizontalWidth">

            <label class="control-label"
                rel="tooltip"
                data-original-title="{{i18NLabelTooltip(fieldMetadata)}}"
                ng-show="isLabelVisible(fieldMetadata,false)"
                ng-style="getLabelStyle(fieldMetadata)"
                ng-class="getLabelClass(fieldMetadata)">
                <span ng-show="fieldMetadata.isRequired" class="requiredfieldmark">* </span>
                <!--this will bring either label or header in case of section-->
                {{i18NLabel(fieldMetadata)}}
           
            </label>

            <legend ng-show="isLabelVisible(fieldMetadata,true)"
                rel="tooltip"
                data-original-title="{{i18NLabelTooltip(fieldMetadata)}}"
                class="legend-label">{{i18NLabel(fieldMetadata)}}
            </legend>


            <div ng-class="getFieldClass(fieldMetadata)" ng-if="fieldMetadata.isReadOnly" ng-switch on="fieldMetadata.rendererType">

                <input type="text" ng-switch-when="datetime"
                    ng-model="datamap[fieldMetadata.attribute]"
                    data-date-time
                    data-show-time="{{fieldMetadata.rendererParameters['showtime']}}"
                    data-show-date="{{fieldMetadata.rendererParameters['showdate']}}"
                    data-date-format="{{fieldMetadata.rendererParameters['format']}}"
                    data-show-meridian="{{fieldMetadata.rendererParameters['showmeridian']}}"
                    class="form-control datetimereadonly"
                    ng-readonly="true" readonly>

                <label ng-switch-when="label" class="control-label"
                    ng-style="{ 'color' : fieldMetadata.rendererParameters['color'], 'font-weight' : fieldMetadata.rendererParameters['font-weight']}">
                    {{datamap[fieldMetadata.attribute]}}
               
                </label>

                <input type="text" class="form-control" ng-readonly="true" ng-model="datamap[fieldMetadata.attribute]" ng-switch-default
                    ng-init="bindEvalExpression(fieldMetadata)" />
            </div>

            <!--SM - 09-24 - SWWEB-441 Change column class
                ng-class="getValueColumnClass(fieldMetadata)"-->
            <div ng-if="!fieldMetadata.isReadOnly"
                ng-show="fieldMetadata.attribute!=schema.idFieldName"
                ng-switch on="fieldMetadata.rendererType"
                ng-class="getFieldClass(fieldMetadata)">

                <div ng-switch-when="combo" class="sw-combobox-container">
                    <select class="hidden-phone form-control combobox"
                        ng-model="datamap[fieldMetadata.target]"
                        ng-options="option.value as i18NOptionField(option,fieldMetadata,schema) for option in GetAssociationOptions(fieldMetadata)"
                        ng-enabled="isSelectEnabled(fieldMetadata)" />
                </div>

                <div ng-switch-when="checkbox">
                    <table ng-if="fieldMetadata.type == 'OptionField'" style="min-width: 200px;">
                        <tr ng-repeat="option in getCheckboxOptions(fieldMetadata)">
                            <td ng-if="isPositionLeft(fieldMetadata)">
                                {{i18NOptionField(option,fieldMetadata,schema)}}
                            </td>
                            <td>
                                <input type="checkbox"
                                       name="datamap[fieldMetadata.attribute]"
                                       value="{{option.value}}"
                                       ng-checked="isCheckboxSelected(option,fieldMetadata.associationKey)"
                                       ng-click="toogleCheckboxSelection(option,fieldMetadata.associationKey)">
                            </td>
                            <td ng-if="!isPositionLeft(fieldMetadata)">
                                {{i18NOptionField(option,fieldMetadata,schema)}}
                            </td>
                        </tr>
                    </table>
                    <div ng-if="fieldMetadata.type != 'OptionField'" style="min-width: 200px;">
                        <input type="checkbox"
                               id="checkbox"
                               ng-model="datamap[fieldMetadata.attribute]"/>
                    </div>
                </div>

                <div ng-switch-when="autocompleteclient">
                    <div ng-switch on="fieldMetadata.type">
                        <div ng-if="fieldMetadata.rendererParameters['opendetails'] == 'true'" class="form-group samelinepickers">
                            <div class="col-xs-6 autocompleteclientopendetails">
                                <div ng-switch-when="OptionField" class="input-group">
                                    <select id="{{formatId(fieldMetadata.target)}}"
                                        class="hidden-phone form-control combobox combobox-dynamic"
                                        ng-model="datamap[fieldMetadata.target]"
                                        ng-options="option.value as i18NOptionField(option,fieldMetadata,schema) for option in GetAssociationOptions(fieldMetadata)"
                                        ng-enabled="isSelectEnabled(fieldMetadata)"
                                        data-associationkey="{{fieldMetadata.associationKey}}" />
                                </div>
                            </div>
                            <div class="col-xs-6 autocompleteclientopendetails">
                                <div ng-switch-default class="input-group">
                                    <select id="{{formatId(fieldMetadata.target)}}"
                                        class="hidden-phone form-control combobox combobox-dynamic"
                                        ng-model="datamap[fieldMetadata.target]"
                                        ng-options="option.value as option.label for option in associationOptions[fieldMetadata.associationKey]"
                                        ng-enabled="isSelectEnabled(fieldMetadata)"
                                        data-associationkey="{{fieldMetadata.associationKey}}" />
                                </div>
                            </div>
                            <div>
                                <div id="opendetails" class="input-group">
                                    <button ng-click="opendetails(fieldMetadata)" />
                                </div>
                            </div>
                        </div>

                        <div ng-if="fieldMetadata.rendererParameters['opendetails'] != 'true'">
                            <div ng-switch-when="OptionField">
                                <select id="{{formatId(fieldMetadata.target)}}"
                                    class="hidden-phone form-control combobox combobox-dynamic"
                                    ng-model="datamap[fieldMetadata.target]"
                                    ng-options="option.value as i18NOptionField(option,fieldMetadata,schema) for option in GetAssociationOptions(fieldMetadata)"
                                    ng-enabled="isSelectEnabled(fieldMetadata)"
                                    data-associationkey="{{fieldMetadata.associationKey}}" />
                            </div>
                            <div ng-switch-default>
                                <select id="{{formatId(fieldMetadata.target)}}"
                                    class="hidden-phone form-control combobox combobox-dynamic"
                                    ng-model="datamap[fieldMetadata.target]"
                                    ng-options="option.value as option.label for option in associationOptions[fieldMetadata.associationKey]"
                                    ng-enabled="isSelectEnabled(fieldMetadata)"
                                    data-associationkey="{{fieldMetadata.associationKey}}" />
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-switch-when="autocompleteserver">
                    <input type="text" class="hidden-phone form-control typeahead" data-association-key="{{fieldMetadata.associationKey}}" data-target="{{fieldMetadata.attribute}}" />
                    <input type="hidden" id="{{'autocomplete_' + fieldMetadata.attribute}}" ng-model="datamap[fieldMetadata.target]" />
                </div>

                <div ng-switch-when="lookup" class="row">
                    <div class="col-lg-3">
                        <div class="input-group">
                            <input type="text" placeholder="{{fieldMetadata.label}}" class="form-control"
                                ng-model="lookupAssociationsCode[fieldMetadata.attribute]"
                                ng-change="lookupCodeChange(fieldMetadata)"
                                ng-blur="lookupCodeBlur(fieldMetadata)"
                                ng-enabled="isSelectEnabled(fieldMetadata)"
                                ng-enter="showLookupModal(fieldMetadata)"
                                rel="tooltip" data-original-title="Enter {{fieldMetadata.label}} id to lookup " />
                            <span class="input-group-addon last" ng-click="showLookupModal(fieldMetadata)"
                                rel="tooltip" data-original-title="Open the lookup popup" ng-enabled="isSelectEnabled(fieldMetadata)">
                                <i class="glyphicon glyphicon-search" ng-enabled="isSelectEnabled(fieldMetadata)"
                                    ng-style="{cursor: isSelectEnabled(fieldMetadata)?'pointer':'auto' }"></i>
                            </span>
                      <div></div><!--stop addon from moving on hover-->
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <input type="text" placeholder="{{getLookUpDescriptionLabel(fieldMetadata)}}" class="form-control" disabled
                            ng-model="lookupAssociationsDescription[fieldMetadata.attribute]" />
                    </div>
                    <input type="hidden" ng-model="datamap[fieldMetadata.target]" />
                </div>

                <fieldset ng-switch-when="radio">
                    <label ng-repeat="option in fieldMetadata.options" class="checkbox-inline">
                        <input type="radio"
                            name="{{fieldMetadata.attribute}}"
                            value="{{option.value}}"
                            ng-model="datamap[fieldMetadata.associationKey]">
                        {{i18NOptionField(option,fieldMetadata,schema)}}   
                    </label>
                </fieldset>

                <div ng-switch-when="textarea">
                    <textarea ng-model="datamap[fieldMetadata.attribute]" class="form-control" cols="120" rows="10" wrap="hard"
                        data-ng-maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                        maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                        ng-enabled="isModifiableEnabled(fieldMetadata)"
                        ng-init="bindEvalExpression(fieldMetadata)" />
                </div>

                <div ng-switch-when="richtext">
                    <div class="richtext" text-angular="text-angular" name="{{fieldMetadata.attribute}}" ng-model="datamap[fieldMetadata.attribute]" ta-disabled="!isSelectEnabled(fieldMetadata)"></div>
                </div>

                <div ng-switch-when="upload">
                    <div class="input-group" id="{{fieldMetadata.attribute}}">
                        <input id="uploadFile" class="form-control" placeholder="No file chosen" disabled="disabled" />
                        <div class="input-group-addon fileUpload">
                            <span>Choose File</span>
                            <input class="form-control uploadfile_tooltip upload" name="{{fieldMetadata.attribute}}"
                                id="uploadBtn"
                                type="file" accept=".jpg,.bmp,.png,.pdf,.zip,text/plain,.doc,.docx,.dwg,.csv,.xls,.xlsx,.ppt,application/xml,.xsl,text/html"
                                fileread="datamap[fieldMetadata.attribute]"
                                path="datamap.newattachment_path"
                                title="{{handlerTitleInputFile('uploadfile_tooltip')}}" />

                        </div>
                    </div>
                </div>

                <div ng-switch-when="image">
                    <div class="input-group" id="{{fieldMetadata.attribute}}">
                        <input id="uploadFile" class="form-control" placeholder="No file chosen" disabled="disabled" />
                        <div class="input-group-addon fileUpload">
                            <span>Choose File</span>
                            <input class="form-control uploadimage_tooltip upload" name="{{fieldMetadata.attribute}}"
                                id="uploadBtn"
                                type="file"
                                fileread="datamap[fieldMetadata.attribute]"
                                path="datamap.newattachment_path"
                                accept="image/*"
                                title="{{handlerTitleInputFile('uploadimage_tooltip')}}" />
                        </div>
                    </div>
                </div>

                <div ng-switch-when="screenshot">
                    <div ng-show="!isIE()" id="imgHolder_{{fieldMetadata.attribute}}" contenteditable='true' class="form-control image-holder"></div>

                    <iframe id="richTextBox_{{fieldMetadata.attribute}}" ng-show="isIE()" src="{{contextPath('/UserControls/RichTextBox.aspx')}}"
                        class="richtextbox" frameborder="0" />
                </div>

                <div ng-switch-when="numericinput">
                    <input id="spinner"
                        class="hidden-phone form-control"
                        ng-model="datamap[fieldMetadata.attribute]"
                        ng-init="bindEvalExpression(fieldMetadata)"
                        min="{{fieldMetadata.rendererParameters['min']}}"
                        max="{{fieldMetadata.rendererParameters['max']}}"
                        number-spinner />
                </div>


                <div ng-switch-when="combodropdown">
                    <div class="multiselect-div">
                        <select multiple="multiple" class="hidden-phone form-control combobox multiselect"
                            data-associationkey="{{fieldMetadata.associationKey}}"
                            id="{{formatId(fieldMetadata.target)}}"
                            ng-model="datamap[fieldMetadata.target]"
                            ng-options="option.value as i18NOptionField(option,fieldMetadata,schema) for option in GetAssociationOptions(fieldMetadata)"
                            ng-enabled="isSelectEnabled(fieldMetadata)"
                            custombuttontext="" />
                        <div ng-if="fieldMetadata.rendererParameters['showvaluesbelow'] == 'true'">
                            <table>
                                <tbody>
                                    <tr ng-repeat="selected in getSelectedTexts(fieldMetadata)">
                                        <td>{{selected}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div id="datetimepicker" ng-switch-when="datetime" class="input-group" data-datepicker="true">
                    <input type="text" ng-model="datamap[fieldMetadata.attribute]"
                        data-date-time
                        data-show-time="{{fieldMetadata.rendererParameters['showtime']}}"
                        data-show-date="{{fieldMetadata.rendererParameters['showdate']}}"
                        data-date-format="{{fieldMetadata.rendererParameters['format']}}"
                        data-show-meridian="{{fieldMetadata.rendererParameters['showmeridian']}}"
                        data-allow-past="{{fieldMetadata.rendererParameters['allowpast']}}"
                        data-allow-future="{{fieldMetadata.rendererParameters['allowfuture']}}"
                        class="form-control">
                    <span class="input-group-addon" data-calendericon="true" rel="tooltip" data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}" style="cursor: pointer;">
                        <i class="datetime-class"></i>
                    </span>
                </div>

                <div ng-switch-when="custom">
                    <div ng-include="contextPath(fieldMetadata.rendererParameters.resourcepath)" href="#" style="width: 100%" />
                </div>

                <div ng-switch-default>
                    <ng-switch on="fieldMetadata.type">
                        <div ng-switch-when="ApplicationSection">
                            <div ng-if="fieldMetadata.resourcepath != null"
                                 ng-include="contextPath(fieldMetadata.resourcepath)" href="#" style="width: 100%" />
                            <div ng-if="fieldMetadata.resourcepath == null">

                                <section-element-input schema="schema"
                                                       datamap="datamap"
                                                       is-dirty="isDirty"
                                                       displayables="fieldMetadata.displayables"
                                                       association-options="associationOptions"
                                                       association-schemas="associationSchemas"
                                                       blockedassociations="blockedassociations"
                                                       elementid="{{elementid + 'Section' + fieldMetadata.id}}"
                                                       orientation="{{fieldMetadata.orientation}}"
                                                       islabelless="{{isSectionWithoutLabel(fieldMetadata)}}">
                                </section-element-input>

                            </div>
                        </div>
                        <div ng-switch-when="ApplicationCompositionDefinition">
                            <inline-composition-list-wrapper compositionschemadefinition="fieldMetadata.schema"
                                                     compositiondata="datamap[fieldMetadata.relationship]"
                                                     iscollection="fieldMetadata.collection" />
                        </div>
                        <div ng-switch-default>
                            <div ng-switch on="fieldMetadata.isHidden">
                                <div ng-switch-when="true">
                                    <input type="hidden" ng-model="datamap[fieldMetadata.attribute]" class="hidden-phone form-control" />
                                </div>
                                <div ng-switch-default>
                                    <input type="text"
                                           ng-model="datamap[fieldMetadata.attribute]" class="hidden-phone form-control"
                                           data-ng-maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                                           maxlength="{{fieldMetadata.rendererParameters['maxlength']}}"
                                           ng-init="bindEvalExpression(fieldMetadata)" />
                                </div>
                            </div>
                        </div>
                    </ng-switch>
                </div>
            </div>
        </fieldset>
    </div>
    <div ng-if="haslookupModal(schema)">
        <lookup-modal-wrapper lookup-obj="lookupModalSearch"
            lookup-associations-code="lookupAssociationsCode"
            lookup-associations-description="lookupAssociationsDescription"
            schema="schema"
            datamap="datamap">
        </lookup-modal-wrapper>
    </div>
</section>
