<div class="modal fade container" id="crudmodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <messagesection></messagesection>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="closeModal()">&times;</button>
            </div>
            <div class="modal-body" ng-if="schema">
                <crud-body ismodal="true"
                           schema="schema"
                           datamap="datamap"
                           association-options="associationOptions"
                           association-schemas="associationSchemas"
                           blockedassociations="blockedassociations"
                           title="title"
                           is-list="isList"
                           is-detail="isDetail" />
            </div>
        </div>
    </div>
</div>