

<form>
    <div id="affixpagination" class="affix-pagination hiddenonprint">

        <div ng-hide="hidebars" ng-if="!panelid">
            <div class="context clearfix header-menu">
                <gridtoolbar advancedsearchdata="advancedsearchdata"
                             position="gridtop"
                             datamap="datamap"
                             schema="schema"
                             pagination-data="paginationData"
                             search-data="searchData"
                             search-sort="searchSort"
                             search-operator="searchOperator"
                             search-template="searchTemplate"
                             class="gridtop" />
                <pagination pagination-data="paginationData" renderfn="selectPage(pageNumber,pageSize,printMode)"
                            schema="schema" application-name="{{schema.applicationName}}"
                            search-data="searchData"
                            search-operator="searchOperator" />
            </div>
            <!--TODO: make this encapsulated inside gridfilter.html... is that possible?-->
            <div class="context clearfix header-menu" ng-show="advancedfiltermode">
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="advancedSearch" class="col-xs-12 col-sm-2 col-md-1 control-label">Search</label>
                        <div class="col-xs-12 col-sm-10 col-md-11">
                            <div class="input-group">
                                <input type="text" class="form-control" id="advancedSearch" ng-model="advancedsearchdata" ng-enter="doAdvancedSearch(advancedsearchdata)">
                                <span class="input-group-btn">
                                    <button class="btn btn-default advancedSearch" type="button" ng-enabled="advancedsearchdata && advancedsearchdata != ''"
                                            ng-click="doAdvancedSearch(advancedsearchdata)">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="filter-container">
            <div class="context clearfix header-menu">
                <crud-filter-bar schema="schema" datamap="datamap"
                                 advanced-filter-mode="advancedFilterMode" select-all="selectAllChecked"
                                 search-data="searchData" search-operator="searchOperator" filter-applied="filterApplied()">
                </crud-filter-bar>
            </div>
        </div>
    </div>

    <div class="affix-pagination-panel hiddenonprint" ng-hide="'false' !== hidebars" ng-if="panelid">
        <div class="context clearfix header-menu">
            <pagination pagination-data="paginationData" renderfn="selectPage(pageNumber,pageSize,printMode)"
                        schema="schema" application-name="{{schema.applicationName}}"
                        search-data="searchData"
                        search-operator="searchOperator"/>
        </div>
     
        <!--TODO: make this encapsulated inside gridfilter.html... is that possible?-->
        <div class="context clearfix header-menu" ng-show="advancedfiltermode">
            <div class="form-horizontal" role="form">
                <div class="form-group">
                    <label for="advancedSearch" class="col-xs-12 col-sm-2 col-md-1 control-label">Search</label>
                    <div class="col-xs-12 col-sm-10 col-md-11">
                        <div class="input-group">
                            <input class="form-control" id="advancedSearch" ng-model="advancedsearchdata" ng-enter="doAdvancedSearch(advancedsearchdata)">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-enabled="advancedsearchdata && advancedsearchdata != ''"
                                        ng-click="doAdvancedSearch(advancedsearchdata)">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="filter-container">
            <div class="context clearfix header-menu">
                <crud-filter-bar schema="schema" datamap="datamap"
                                 advanced-filter-mode="advancedFilterMode" select-all="selectAllChecked"
                                 search-data="searchData" search-operator="searchOperator" filter-applied="filterApplied()">
                </crud-filter-bar>
            </div>
        </div>
    </div>

    <!-- search filters: dettached from the entity table -->


    <div class="divAuxTable">
        <!--build responsive css rules based on metadata-->
        <style column-widths schema="schema"></style>

        <table class="table table-hover hidden-phone fixedtable listgrid-table" data-application="{{schema.applicationName}}" data-schema="{{schema.schemaId}}" id="listgrid">
            <thead id="listgridthread" class="listgrid-thead">
                <!-- Header row -->
                <tr class="header-row">
                    <th ng-show="schema.properties['list.selectionstyle'] == 'multiple'">
                        <!--Multiselect-->
                    </th>
                    <th ng-show="schema.properties['list.selectionstyle'] == 'single'">
                        <!--Singleselect-->
                    </th>
                    <th class="{{safeCSSselector(column.attribute)}}"
                        ng-repeat="column in schema.displayables"
                        ng-show="!isFieldHidden(schema,column)"
                        ng-click="sort(column)">
                        <div ng-if="shouldShowHeaderLabel(column)" class="cell-wrapper">
                            <span class="add-on" rel="tooltip" data-container="body" data-original-title="{{i18N('_grid.filter.clicksort','Click here to sort')}}">
                                {{i18NLabel(column)}}
                            </span>
                            <span class="glyphicon glyphicon-sort-by-attributes"
                                  ng-show="shouldShowSort(column,'asc')"
                                  rel="tooltip" data-original-title="Sorted ascendant"></span>
                            <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="shouldShowSort(column,'desc')"
                                  rel="tooltip" data-original-title="Sorted descendant"></span>
                        </div>
                    </th>
                    <th class="clear"><!--SWWEB-841--></th>
                </tr>

            </thead>
            <tbody crudtbody schema="schema" datamap="datamap" panelid="panelid" association-options="associationOptions" timestamp="{{timestamp}}" bindonce />
        </table>
    </div>
    <p class="no-results" ng-show="datamap.length == 0">
        <i class="fa fa-info-circle"></i>&ensp;{{i18N("_grid.filter.noresult","No records found, try adjusting your search terms.")}}
    </p>
    <!--this is exclusive for IBM Demo to indicate the bottom of the page.-->
    <div ng-if="isNotHapagTest()" ng-hide="hidebars">
        <br />
        <br />
        <div id="affixpagination1" class="hiddenonprint  context clearfix hiddenonprint">
            <gridtoolbar position="gridbottom"
                         schema="schema"
                         pagination-data="paginationData"
                         search-sort="searchSort"
                         search-data="searchData"
                         search-operator="searchOperator"></gridtoolbar>
            <pagination pagination-data="paginationData" renderfn="selectPage(pageNumber,pageSize,printMode)"
                        schema="schema" application-name="{{schema.applicationName}}"
                        search-data="searchData"
                        search-operator="searchOperator" />
        </div>
    </div>
    <!--    <div ng-if="isCommand(schema)">-->
    <!--        <commandbar schema="schema" mode="schema.mode" datamap="datamap" />-->
    <!--    </div>-->
</form>