<form>
    <div id="affixpagination" class="hiddenonprint grid-header" ng-class="{'affix-pagination' : ismodal !== 'true' }">

        <div ng-hide="hidebars" ng-if="!panelid || panelid == '#modal'">
            <div class="context clearfix header-menu">
                <!-- commands -->
                <gridtoolbar advancedsearchdata="vm.quickSearchData"
                             position="{{getGridCommandPosition('commandbar.top','gridtop')}}"
                             datamap="datamap"
                             schema="schema"
                             pagination-data="paginationData"
                             search-data="searchData"
                             search-sort="searchSort"
                             search-operator="searchOperator"
                             search-template="searchTemplate"
                             panelid="panelid"
                             class="gridtop" />

                <!-- quick search input -->
                <div ng-show="shouldShowGridNavigation()" class="quick-search col-xs-4">
                    <div class="input-group">
                        <input type="text"
                               placeholder="Search"
                               class="form-control ng-pristine ng-valid ng-touched"
                               ng-model="vm.quickSearchData"
                               ng-enter="quickSearch(vm.quickSearchData)">
                        <span class="input-group-btn">
                            <button class="btn btn-default"
                                    type="button" ng-enabled="!!vm.quickSearchData"
                                    ng-click="quickSearch(vm.quickSearchData)"
                                    disabled="disabled">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>


            

                <!-- simple pagination -->
                <pagination pagination-data="paginationData" renderfn="selectPage(pageNumber,pageSize,printMode)"
                            schema="schema" application-name="{{schema.applicationName}}"
                            search-data="searchData"
                            search-operator="searchOperator"
                            panelid="panelid"
                            pagination-simple-layout/>

                <gridtoolbar advancedsearchdata="vm.quickSearchData"
                             position="{{getGridCommandPosition('commandbar.top.right','actions')}}"
                             datamap="datamap"
                             schema="schema"
                             pagination-data="paginationData"
                             search-data="searchData"
                             search-sort="searchSort"
                             search-operator="searchOperator"
                             search-template="searchTemplate"
                             panelid="panelid"
                             class="gridtop right"
                             style="float:right" />
            </div>

        </div>

        <!--<div class="filter-container">
            <div class="context clearfix header-menu">
                <crud-filter-bar schema="schema" datamap="datamap"
                                 advanced-filter-mode="advancedFilterMode" select-all="selectAllChecked"
                                 search-data="searchData" search-operator="searchOperator" filter-applied="filterApplied()" />
            </div>
        </div>-->
    </div>

    <div class="affix-pagination-panel hiddenonprint" ng-hide="'false' !== hidebars" ng-if="panelid">
        <div class="context clearfix header-menu">
            <pagination pagination-data="paginationData" renderfn="selectPage(pageNumber,pageSize,printMode)"
                        schema="schema" application-name="{{schema.applicationName}}"
                        search-data="searchData"
                        panelid="panelid"
                        search-operator="searchOperator" />
        </div>

        <!--<div class="filter-container">
            <div class="context clearfix header-menu">
                <crud-filter-bar schema="schema" datamap="datamap"
                                 advanced-filter-mode="advancedFilterMode" select-all="selectAllChecked"
                                 search-data="searchData" search-operator="searchOperator" filter-applied="filterApplied()">
                </crud-filter-bar>
            </div>
        </div>-->

    </div>

    <!-- search filters: dettached from the entity table -->


    <div class="divAuxTable">
        <!--build responsive css rules based on metadata-->
        <style column-widths schema="schema"></style>

        <table class="table table-hover hidden-phone fixedtable listgrid-table" data-application="{{schema.applicationName}}" data-schema="{{schema.schemaId}}" id="listgrid">
            <thead id="listgridthread" class="listgrid-thead">
                <!-- Header row -->
                <tr class="header-row">
                    <th ng-show="schema.properties['list.selectionstyle'] === 'multiple'" class="select-all-header">
                        <!--Multiselect-->
                        <input type="checkbox" ng-model="selectionModel.selectAllValue" ng-change="selectAllChanged()" />
                    </th>
                    <th ng-show="schema.properties['list.selectionstyle'] === 'single'">
                        <!--Singleselect-->
                    </th>

                    <th class="{{safeCSSselector(column.attribute)}}"
                        ng-repeat="column in schema.displayables"
                        ng-show="!isFieldHidden(schema,column)">
                        <div ng-if="shouldShowHeaderLabel(column)" class="cell-wrapper">
                            <span ng-click="sort(column)" class="add-on" rel="tooltip" data-container="body" data-original-title="{{sortLabel()}}">
                                {{i18NLabel(column)}}
                            </span>
                            <span class="glyphicon glyphicon-sort-by-attributes"
                                  ng-show="shouldShowSort(column,'asc')"
                                  rel="tooltip" data-original-title="Sorted ascendant">
                            </span>
                            <span class="glyphicon glyphicon-sort-by-attributes-alt" ng-show="shouldShowSort(column,'desc')"
                                  rel="tooltip" data-original-title="Sorted descendant">
                            </span>
                            <div class="filter-label" ng-show="shouldShowGridNavigation()" filterrowrendered>
                                <crud-filter-dropdown filter="filterForColumn(column)"
                                                      schema="schema" datamap="datamap"
                                                      advanced-filter-mode="advancedFilterMode" select-all="selectAllChecked"
                                                      search-data="searchData" search-operator="searchOperator" filter-applied="filterApplied()"
                                                      filter-standalone />
                            </div>
                        </div>
                    </th>
                    <th class="clear"><!--SWWEB-841--></th>

                    <th ng-show="selectionModel.selectionMode">
                        <!--Selection mode active... should render an extra icon to open up the details-->
                    </th>
                </tr>

            </thead>
            <tbody crudtbody schema="schema" datamap="datamap" panelid="panelid" timestamp="{{timestamp}}" bindonce />
        </table>
    </div>
    <p class="no-results" ng-show="datamap.length == 0">
        <i class="fa fa-info-circle"></i>&ensp;{{i18N("_grid.filter.noresult","No records found, try adjusting your search terms.")}}
    </p>
    <!--this is exclusive for IBM Demo to indicate the bottom of the page.-->
    <div ng-if="isNotHapagTest()" ng-hide="hidebars">
        <br />
        <br />
        <div id="affixpagination1" class="hiddenonprint context clearfix hiddenonprint">
            <gridtoolbar position="{{getGridCommandPosition('commandbar.bottom','gridbottom')}}"
                         schema="schema"
                         pagination-data="paginationData"
                         search-sort="searchSort"
                         search-data="searchData"
                         search-operator="searchOperator"></gridtoolbar>
            <pagination pagination-data="paginationData" renderfn="selectPage(pageNumber,pageSize,printMode)"
                        schema="schema" application-name="{{schema.applicationName}}"
                        search-data="searchData"
                        search-operator="searchOperator" />
        </div>
    </div>
    <!--    <div ng-if="isCommand(schema)">-->
    <!--        <commandbar schema="schema" mode="schema.mode" datamap="datamap" />-->
    <!--    </div>-->
</form>