<div ng-show="schema.properties['list.selectionstyle'] === 'multiple'">
    <input type="checkbox" ng-change="toggleSelectAll(selectAll)" ng-model="selectAll">
</div>
<table class="filter-row" hiddenonprint>
    <tr>
        <td class="filter-label"
            ng-repeat="column in schema.displayables"
            ng-if="!isFieldHidden(schema,column) && shouldShowHeaderFilter(column)"
            filterrowrendered>
            <div class="filter-label-wrapper js_filter">


                <div class="dropdown">

                    <span ng-attr-data-toggle="{{ advancedfiltermode ? '' : 'dropdown' }}" style="cursor: pointer">{{i18N('_grid.filter.placeholder','{0}',[column.label])}}</span>
                    <span class="glyphicon"
                          rel="tooltip"
                          data-original-title="{{getFilterTooltip(column.attribute)}}" style="cursor: pointer" ng-attr-data-toggle="{{ advancedfiltermode ? '' : 'dropdown' }}">
                        {{getFilterText(column.attribute)}}
                    </span>
                    <i class="fa fa-caret-down dropdown-toggle grid-filter-button"
                       ng-attr-data-toggle="{{ advancedfiltermode ? '' : 'dropdown' }}"
                       rel="tooltip"
                       data-original-title="{{getOperator(column.attribute).tooltip}}"></i>

                    <div class="dropdown-menu">
                        <div class="dropdown-content">
                            <ng-switch on="column.type">
                                <div ng-switch-when="ApplicationFieldDefinition">
                                    <ng-switch on="column.rendererType">

                                        <div ng-switch-when="datetime">
                                            <div data-datepicker="true" class="input-group input-group-sm">
                                                <input type="text" ng-model="searchData[column.attribute]" class="form-control"
                                                       data-date-time
                                                       data-attach-datepicker-to-parent="true"
                                                       data-show-time="false"
                                                       data-show-date="{{column.rendererParameters['showdate']}}"
                                                       data-date-format="{{column.rendererParameters['format']}}"
                                                       data-allow-past="{{fieldMetadata.rendererParameters['allowpast']}}"
                                                       data-allow-future="{{fieldMetadata.rendererParameters['allowfuture']}}"
                                                       placeholder="{{i18N('_grid.filter.placeholder','{0} Search',[column.label])}}"
                                                       ng-enter="filterSearch(column.attribute)"
                                                       ng-disabled="advancedfiltermode" />
                                                <span class="input-group-addon "
                                                      data-calendericon="true"
                                                      rel="tooltip"
                                                      data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}">
                                                    <i class="glyphicon glyphicon-calendar"></i>
                                                </span>
                                            </div>
                                            <!-- Couldn't use directive "advanced-filter-toogle" here, due to fix/unfix header functionality. The following div cant 'include' later, or else the grid header will break in firefox and ie. -->
                                            <ul class="list-group">
                                                <li class="list-group-item"
                                                    ng-repeat="operation in searchOperations()" ng-click="selectOperator(column.attribute,operation)"
                                                    ng-show="shouldShowFilter(operation,column)"
                                                    ng-enter="filterSearch(column.attribute)"
                                                    ng-class="{'active' : searchOperator[column.attribute].id == operation.id}">
                                                    {{operation.title}}
                                                </li>
                                            </ul>
                                        </div>

                                        <div ng-switch-default>
                                            <div class="input-group input-group-sm">
                                                <input type="search" placeholder="{{i18N('_grid.filter.placeholder','{0} Search',[column.label])}}" class="form-control"
                                                       ng-model="searchData[column.attribute]" ng-enter="filterSearch(column.attribute)" ng-disabled="advancedfiltermode" />
                                            </div>
                                            <!-- Couldn't use directive "advanced-filter-toogle" here, due to fix/unfix header functionality. The following div cant 'include' later, or else the grid header will break in firefox and ie. -->
                                            <!--This is the dropdown region, that gets expanded-->
                                            <ul class="list-group">
                                                <li class="list-group-item"
                                                    ng-repeat="operation in searchOperations()" ng-click="selectOperator(column.attribute,operation)"
                                                    ng-show="shouldShowFilter(operation,column)"
                                                    ng-class="{'active' : searchOperator[column.attribute].id == operation.id}">
                                                    {{operation.title}}
                                                </li>
                                            </ul>

                                        </div>

                                    </ng-switch>
                                </div>

                                <div ng-switch-when="OptionField">
                                    <div ng-switch on="column.rendererType">
                                        <div class="input-group" ng-switch-when="combo" class="sw-combobox-container">
                                            <select class="hidden-phone form-control combobox"
                                                    ng-init="handleDefaultValue(dm.fields,column)"
                                                    ng-model="searchData[column.target]"
                                                    ng-change="refreshGrid()"
                                                    ng-disabled="advancedfiltermode"
                                                    ng-options="option.value as i18NOptionField(option,column,schema) for option in GetAssociationOptions(column,true)" />
                                        </div>
                                        <ul class="list-group">
                                            <li class="list-group-item"
                                                ng-repeat="operation in searchOperations()" ng-click="selectOperator(column.attribute,operation)"
                                                ng-show="operation.renderType.indexOf(column.rendererType) > -1 || column.rendererType == null"
                                                ng-class="{'active' : searchOperator[column.attribute].id === operation.id}">
                                                {{operation.title}}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </ng-switch>
                        </div>

                        <div class="filter-dropdown-toolbar" ng-init="filterIsActive=false">
                            <div ng-click="filterIsActive=true;filterApplied()" ng-class="{ 'active' : !!filterIsActive }">
                                <i class="fa fa-check"></i>
                                {{i18N('_grid.filter.apply','Apply')}}
                            </div>
                            <div ng-click="filterIsActive=false;clearFilter(column.attribute)">
                                <i class="fa fa-remove"></i>
                                {{i18N('_grid.filter.clear','Clear')}}
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </td>
    </tr>
</table>