<div>
    
    <section class="container hiddenonprint" ng-if="isList">
        <crud-list datamap="datamap"
                   schema="schema"
                   is-list="isList"
                   extraparameters="extraparameters"
                   ismodal="{{ismodal}}"
                   timestamp="{{timestamp}}" />
    </section>

    <div id="affixpagination" class="hiddenonprint toolbar-primary" ng-class="{'affix-pagination' : ismodal !== 'true' }" ng-if="ismodal !== 'true'">
        <div class="context clearfix header-menu" ng-if="showTopToolbar()" ng-class="schema.stereotypeAttr" ng-init="showdirbutons = showdirectionButtons()">
            <div class="row tool-row main-commands">
                <div class="left">
                    <crudbodydetailtoolbar datamap="datamap" position="{{getPosition(schema,'commandbar.top','detail.primary')}}" schema="schema" class="detail-primary" />
                    <crudbodydetailtoolbar datamap="datamap" position="{{getPosition(schema,'toolbar.detail.secondary','detail.secondary')}}" schema="schema" class="detail-secondary" />
                    <div class="separator large-button" ng-if="ismodal !== 'true'" ng-show="showActionSeparator(getPosition(schema,'toolbar.detail.actions','actions'))">&nbsp;</div>
                    <crudbodydetailtoolbar datamap="datamap" mode="'input'" position="{{getPosition(schema,'toolbar.detail.actions','actions')}}" schema="schema" />
                </div>
                <div class="right large-button" ng-show="ismodal !== 'true' && showdirbutons">
                    <div class="group pagination">
                        <a ng-click="crawl(1)" ng-disabled="!disableNavigationButton(0)" href="" rel="tooltip" data-original-title="Previous"><i class="icon fa fa-chevron-left"></i></a>&ensp;
                        <a ng-click="crawl(0)" ng-disabled="!disableNavigationButton(1)" href="" rel="tooltip" data-original-title="Next"><i class="icon fa fa-chevron-right"></i></a>
                        <!--<label class="text" data-paged="paginationData">{{i18N('_grid.pagination.display',"Items: {0}",[paginationData.totalCount])}}</label>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <form id="crudbodyform"
          name="crudbodyform"
          class="form-horizontal clearfix"
          data-application="{{schema.applicationName}}"
          data-schema="{{schema.schemaId}}"
          data-modal="{{ismodal}}"
          method="post"
          enctype="multipart/form-data"
          ng-if="isDetail"
          >

        <div ng-init="setForm(crudbodyform)" />


        <div ng-if="isEditDetail(datamap,schema) && shouldShowTitle()">
            <div class="ticketid_spacer"></div>
            <div class="well well-sm ticketid">
                <h5>{{getTitle()}}</h5>
            </div>
        </div>

        <div class="hiddenonprint detail-body">
            <!--Adding this div, just to dispatch the tabsrendered event, making the framework consistent for the 0 tab scenario-->
            <div ng-if="!hasTabs(schema)" tabsrendered />



            <div class="detail-header clearfix" ng-if="hasTabs(schema)" ng-style="sidePanelStyle()">
                <ul class="nav nav-tabs compositiondetailtab hapag-composition">
                    <li ng-if="hasAnyFieldOnMainTab(schema)" ng-class="{'active': hasAnyFieldOnMainTab(schema)}">
                        <a href="#{{getMainTabId()}}" data-tabid="{{main}}" ng-click="setActiveTab(null)" ng-dblclick="addIdToClipboard($event)"><i class="fa fa-file-text-o"></i>&ensp;{{getDetailTabTitle(schema, datamap)}}</a>
                    </li>
                    <li ng-class="{'active': !hasAnyFieldOnMainTab(schema) && $first}" ng-repeat="tab in tabsDisplayables(schema)" ng-switch on="tab.type" ng-enabled="false" tabsrendered>
                        <a ng-switch-when="ApplicationCompositionDefinition"
                           ng-href="#{{tab.tabId}}" data-tabid="{{tab.tabId}}" ng-show="shouldShowComposition(tab)" ng-click="setActiveTab(tab)" ng-class="{'tabdisabled' : isTabDisabled(datamap,tab)}">
                            <i class="{{getTabIcon(tab)}}"></i>&ensp;{{i18N(tab.tabId + '._title',tab.label)}}&ensp;
                            <span ng-show="showTabRecordCount(tab)" class="tabRecordCount spin badge">{{getTabRecordCount(tab)}}</span>
                            <span ng-show="!showTabRecordCount(tab)" class="tabRecordspin" style="display: inline-block"></span>
                        </a>
                        <a ng-switch-when="ApplicationTabDefinition"
                           ng-href="#{{tab.tabId}}" ng-show="shouldShowTab(tab)" ng-click="setActiveTab(tab)" data-tabid="{{tab.tabId}}" ng-class="{'tabdisabled' : isTabDisabled(datamap,tab)}">
                            <i class="fa {{tab.icon}} "></i>&ensp;{{i18NTabLabel(tab)}}&ensp;
                            <span ng-show="showTabRecordCount(tab)" class="tabRecordCount spin badge">{{getTabRecordCount(tab)}}</span>
                            <span ng-show="!showTabRecordCount(tab)" class="tabRecordspin" style="display: inline-block"></span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane" ng-class="{'active': hasAnyFieldOnMainTab(schema)}" id="{{getMainTabId()}}">
                    <ng-switch on="isInputMode() ">
                        <div ng-switch-when="true">
                            <crud-input-wrapper panelid="{{panelid}}"
                                                ismodal="{{ismodal}}"
                                                extraparameters="extraparameters"
                                                elementid="crudInputMainComposition"
                                                schema="schema" datamap="datamap"
                                                original-datamap="originalDatamap"
                                                is-dirty="isDirty"
                                                blockedassociations="blockedassociations"
                                                displayables="schema.displayables"
                                                cancelfn="cancel(data,schema)"
                                                savefn="save(selecteditem, parameters)"
                                                previousschema="previousschema"
                                                parentdata="parentdata"
                                                previousdata="previousdata"
                                                is-main-tab='true' tabid="main" />

                        </div>
                        <div ng-switch-when="false">
                            <crud-output-wrapper extraparameters="extraparameters"
                                                 schema="schema" datamap="datamap"
                                                 displayables="schema.displayables"
                                                 cancelfn="cancel(data,schema)" previousschema="previousschema"
                                                 parentdata="parentdata"
                                                 previousdata="previousdata" is-main-tab='true' tabid="main" />
                        </div>
                    </ng-switch>
                </div>
                <div class="tab-pane" ng-class="{'active': !hasAnyFieldOnMainTab(schema) && $first}" ng-repeat="tab in tabsDisplayables(schema)" id="{{tab.tabId}}" ng-switch on="tab.type">
                    <div ng-switch-when="ApplicationCompositionDefinition" ng-switch on="tab.collection">
                        <div ng-switch-when="true" class="hiddenonprint">
                            <composition-list-wrapper parentschema="schema"
                                                      parentdata="datamap"
                                                      cancelfn="cancel(data,schema)"
                                                      previousschema="previousschema" previousdata="previousdata"
                                                      metadata="tab"
                                                      mode="{{schema.mode}}"
                                                      tabid="{{tab.tabId}}"
                                                      ismodal="{{ismodal}}" />
                        </div>
                        <div ng-switch-when="false">
                        </div>
                    </div>

                    <div class="tab-pane" ng-switch-when="ApplicationTabDefinition" ng-switch on="schema.mode.equalsAny('input', 'none')">
                        <div ng-switch-when="true">
                            <crud-input-wrapper ismodal="{{ismodal}}"
                                                extraparameters="extraparameters"
                                                elementid="tab_{{tab.tabid}}"
                                                displayables="tab.displayables"
                                                schema="schema" datamap="datamap"
                                                blockedassociations="blockedassociations"
                                                cancelfn="cancel(data,schema)"
                                                savefn="save(selecteditem, parameters)"
                                                previousschema="previousschema" previousdata="previousdata" tabid="{{tab.tabId}}" />
                        </div>
                        <div ng-switch-when="false">
                            <crud-output-wrapper extraparameters="extraparameters"
                                                 schema="schema" datamap="datamap"
                                                 displayables="tab.displayables"
                                                 cancelfn="cancel(data,schema)" previousschema="previousschema" previousdata="previousdata" tabid="{{tab.tabId}}" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </form>

    <!-- had to divide the 'print-modal' and 'print-seciton' in two diferent divs, otherwise the 'print-section' was totally ignored (really dont know why) -->
    <div ng-if="schema != null && (!ismodal || ismodal !== 'true')">
        <print-modal schema="schema" datamap="datamap" />
    </div>
    <div ng-if="schema != null && (!ismodal || ismodal !== 'true')">
        <print-section schema="schema" datamap="datamap" />
    </div>

    <!--
    paste catcher element:
    - IE: wont trigger 'paste' unless focused on contenteditable
    - FF: won't paste clicpboard content unless focused on contenteditable
    - Chrome: guarantee that if the user is not focused on this directive's $element it will still catch the paste event
    positioned at a coordinate in which the focus will not cause the scroll to jump
    -->
    <div class="js_crud_pastecatcher" contenteditable="true" style="opacity: 0; height: 0; width: 0; position: fixed; top: 20%"></div>

</div>

