<div ng-form name="configFakeForm">
    <fieldset class="form-group">
        <label class="control-label">
            Default Value:
        </label>
        <ng-switch on="datamap.renderer">
            <div ng-switch-when="attachment">
                ATT
            </div>
            <div ng-switch-default>
                <ng-switch on="datamap.datatype">
                    <div class="input-group" ng-switch-when="boolean">
                        <input type="checkbox" ng-checked="datamap.stringvalue == 'true'" onclick="return false" />
                    </div>
                    <div class="input-group" ng-switch-default style="width: 100%">
                        <label ng-if="!ismodal" class="form-control" ng-bind-html="datamap.stringvalue | linebreak" data-attribute="{{datamap.stringvalue}}" />
                        <input ng-if="ismodal" class="form-control" type="text" ng-model="datamap.stringvalue" disabled />
                    </div>
                </ng-switch>
            </div>
        </ng-switch>
    </fieldset>

    <fieldset class="form-group">
        <label class="control-label">
            Value:
        </label>
        <ng-switch on="datamap.renderer">
            <div ng-switch-when="attachment">
                ATT
            </div>
            <div ng-switch-default>
                <ng-switch on="datamap.datatype">
                    <div class="input-group" ng-switch-when="boolean">
                        <input ng-if="!ismodal" type="checkbox" ng-checked="datamap.value == 'true'" onclick="return false" />

                        <input ng-if="ismodal" type="checkbox" ng-model="datamap.value" ng-true-value="'true'" ng-false-value="'false'" />
                    </div>

                    <div class="input-group" ng-switch-when="date">
                        <input type="text" ng-model="datamap[fieldMetadata.attribute]"
                               data-date-time
                               data-show-time="true"
                               data-show-date="true"
                               data-format-string="{{fieldMetadata.rendererParameters['format']}}"
                               data-allow-past="true"
                               data-allow-future="true"
                               position="top"
                               class="form-control">
                        <span class="input-group-addon" data-calendericon="true" rel="tooltip" data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}" style="cursor: pointer;">
                            <i class="datetime-class"></i>
                        </span>
                    </div>

                    <div ng-switch-when="int" style="width: 100%" ng-init="pattern = getValidationPatternByType('number');">
                        <label ng-if="!ismodal" class="form-control" ng-bind-html="datamap.value | linebreak" data-attribute="{{datamap.value}}" />
                        <input ng-if="ismodal" class="form-control" string-to-number type="number" ng-min="{{datamap.minvalue}}" ng-max="{{datamap.maxvalue}}" ng-model="datamap.value" name="intInput" />
                        <span style="color: red;" ng-show="configFakeForm.intInput.$error.max">this value cannot be greater than {{datamap.maxvalue}}</span>
                        <span style="color: red;" ng-show="configFakeForm.intInput.$error.min">this value cannot be less than {{datamap.minvalue}}</span>
                        <span style="color: red;" ng-show="configFakeForm.intInput.$error.pattern">should be a valid intgral number</span>
                    </div>

                    <div ng-switch-when="long" style="width: 100%" ng-init="pattern = getValidationPatternByType('number');">
                        <label ng-if="!ismodal" class="form-control" ng-bind-html="datamap.value | linebreak" data-attribute="{{datamap.value}}" />
                        <input ng-if="ismodal" class="form-control" string-to-number type="number" ng-min="{{datamap.minvalue}}" ng-max="{{datamap.maxvalue}}" ng-model="datamap.value" name="longInput"/>
                        <span style="color: red;" ng-show="configFakeForm.longInput.$error.max">this value cannot be greater than {{datamap.maxvalue}}</span>
                        <span style="color: red;" ng-show="configFakeForm.longInput.$error.min">this value cannot be less than {{datamap.minvalue}}</span>
                        <span style="color: red;" ng-show="configFakeForm.longInput.$error.pattern">should be a valid intgral number</span>
                    </div>

                    <div class="input-group" ng-switch-default style="width: 100%">
                        <label ng-if="!ismodal" class="form-control" ng-bind-html="datamap.value | linebreak" data-attribute="{{datamap.value}}" />
                        <input ng-if="ismodal" class="form-control" type="text" ng-model="datamap.value" />
                    </div>
                </ng-switch>
            </div>
        </ng-switch>
    </fieldset>
</div>
