﻿$signin_color: #ffb755;
$asset_path: "../images";

.page-signin {
    background: $signin_color url(#{$asset_path}/signin-lg.jpg) no-repeat center center fixed;

    .form-signin {
        .logo.byline {
            img {
                width: 250px;
            }
        }
    }
}

.container {
    header {
        background: $signin_color url(#{$asset_path}/header.jpg) no-repeat top left;

        .branding {
            .logo img {
                height: 90px;
                width: auto;
            }
        }
    }

    footer {
        background: $signin_color url(#{$asset_path}/footer.jpg) no-repeat bottom left;
    }
}

/* Extra Small Devices, Phones */
@media all and (min-width: 1px) and (max-width: 479px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-xxs.jpg) no-repeat center center fixed;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-xs.jpg) no-repeat center center fixed;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-sm.jpg) no-repeat center center fixed;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-md.jpg) no-repeat center center fixed;
    }
}

/* Large Devices, Wide Screen */
@media only screen and (min-width: 1200px) {
}

.page-signin, .container header, .container footer {
    background-size: cover;
}
