<html>
<head>
    <title>Metadata Changed by Customer</title>
</head>
<body style="width:600px;margin:0 auto;padding:20px;font: normal 14px/24px Arial, Helvetica, sans-serif;">
    <img width="600" height="150" src="{{headerurl}}">

    <p style="margin-top: 20px;">New metadata changes made by: <span style="font-weight: bold">{{fullname}}</span></p>


    <p style="margin-top: 40px;">Customer: <span style="font-weight: bold">{{customer}}</span></p>
    <p style="margin-top: 10px;">App Profile:<span style="font-weight: bold">{{profile}}</span></p>

    <p style="margin-top: 10px;">Metadata File: <span style="font-weight:bold">{{filename}}</span></p>
    <p style="margin-top: 10px;">Comments: <span style="font-weight: bold">{{comments}}</span></p>

    <p style="margin-top: 10px;">Username: <span style="font-weight:bold">{{username}}</span></p>
    <p style="margin-top: 10px;">Date/Time: <span style="font-weight:bold">{{changedon}}</span></p>
    
    
    <p style="margin-top: 40px;">Please review the attached files for more information.</p>
</body>
</html>
