﻿<head>
    <base href="/">
</head>
<body>
@using Newtonsoft.Json
@using softWrench.sW4.Metadata.Security
@model softwrench.sw4.firstsolardispatch.classes.com.cts.firstsolardispatch.action.EmailRequestModel
<article ng-controller="fsdDispatchController">
    
    <script type="text/javascript">
        var fsdModel = @Html.Raw(JsonConvert.SerializeObject(this.Model));
    </script>

    <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 clearfix" style="background: #f5f5f5; border: #d0d0d0 solid 1px; padding: 15px; margin-top: 50px; margin-bottom: 50px;">
        <p style="text-align: center">
            Thank you, the ticket <b>#@Model.Id</b> has successfully changed to status <b>@Model.Status</b>.
        </p>
    </div>
</article>
</body>
