﻿command-bar[position="mobile.fab"] {
    position: fixed;
    z-index: 12;

    .mfb-component--br {
        bottom: auto;
    }
    // fab container
    .mfb-component__list {
        li[mfb-button] {
            @each $_color_name, $_color_value in $color_map {
                &.#{$_color_name} {
                    a.mfb-component__button--child {
                        background-color: $_color_value;
                    }
                }
            }
        }
    }

    .mfb-component--bl, .mfb-component--br, .mfb-component--tl, .mfb-component--tr {
        margin: 0px 25px 25px 25px;
    }

    // single command present
    .button.button-fab-single {
        background-color: $cts_gray;
        color: white;
        position: fixed;
        right: 25px;
        border-radius: 50% !important;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
        width: 56px;
        height: 56px;

        @each $_color_name, $_color_value in $color_map {
            &.#{$_color_name} {
                background-color: $_color_value;
            }
        }
    }
}

.mfb-component__button--main {
    background-color: $cts_red;
}

.mfb-component__button--child {
    background-color: $cts_gray;
}

.action-fab {
    .mfb-component__button--main {
        background-color: $cts_green;
    }
}

.bar {
    &.bar-dark {
        border-color: $cts-gray;
        background-color: $cts-gray;
        background-image: linear-gradient(0deg,$cts-gray,$cts-gray 50%,transparent 50%);

        .button {
            border-color: transparent;
            background-color: $cts-gray;
        }
    }

    &.bar-positive {
        border-color: #00acec;
        background-color: #00acec;
        background-image: linear-gradient(0deg,#00acec,#00acec 50%,transparent 50%);

        .button {
            border-color: #00acec;
            background-color: #00acec;
        }

        .title {
            right: 20px !important;
            left: 30px !important;
        }
    }

    &.bar-secondary {
        border-color: $cts-gray;
        background-color: $cts-gray;

        h1 {
            color: #fff;
        }
    }

    .buttons {
        .button {
            background: none;
            font-size: 16px;

            &.navigate {
                width: 34px;
            }
        }

        .seperator {
            margin: 3px 10px;
            border-left: 1px solid #aaa;
        }
    }
}

//overrides for StatusBar plugin - iOS
.platform-ios.platform-cordova:not(.fullscreen) {
    .bar-header:not(.bar-subheader) {
        height: 44px;

        & > * {
            margin-top: 0;
        }
    }

    .bar-subheader, .has-header, .tabs-top > .tabs, .tabs.tabs-top {
        top: 44px;
    }

    .has-subheader {
        top: 88px;
    }
}
