command-bar[position="mobile.fab"] {
    position: fixed;
    z-index: 12;

    .mfb-component--br {
        bottom: auto;
    }
}

.bar {
    &.bar-dark {
        border-color: $cts-gray;
        background-color: $cts-gray;
        background-image: linear-gradient(0deg,$cts-gray,$cts-gray 50%,transparent 50%);

        .button {
            border-color: transparent;
            background-color: $cts-gray;
        }
    }

    &.bar-positive {
        border-color: #00acec;
        background-color: #00acec;
        background-image: linear-gradient(0deg,#00acec,#00acec 50%,transparent 50%);

        .button {
            border-color: #00acec;
            background-color: #00acec;
        }

        .title {
            right: 20px !important;
            left: 30px !important;
        }
    }

    &.bar-secondary {
        border-color: $cts-gray;
        background-color: $cts-gray;

        h1 {
            color: #fff;
        }
    }

    .buttons {
        .button {
            background: none;
            font-size: 16px;
        }
    }
}

//overrides for StatusBar plugin - iOS
.platform-ios.platform-cordova:not(.fullscreen) {
    .bar-header:not(.bar-subheader) {
        height: 44px;

        & > * {
            margin-top: 0;
        }
    }

    .bar-subheader, .has-header, .tabs-top > .tabs, .tabs.tabs-top {
        top: 44px;
    }

    .has-subheader {
        top: 88px;
    }
}
