﻿.crud-details {
    .list[state="main.cruddetail.compositiondetail"] {
        min-height: calc(100vh - 129px);
    }

    textarea[autosize-textarea] {
        resize: none;
    }
}

.crud-fields-wrapper {
    .row {
        padding: 0;
        margin: 0;

        .col-50 {
            margin: 0;
        }
    }

    .full-width {
        width: calc(65% - 10px);
    }
}

@media(min-width: 1024px) {
    /* col-50's chilren to have 100% height 
        http://stackoverflow.com/questions/20959600/height-100-on-flexbox-column-child
    */
    .crud-fields-wrapper .row .col-50 {
        display: flex;

        .item:last-child {
            width: 100%;
            border-left: none;
        }
    }
}
