﻿option-field {
    width: 100%;

    .list {
        margin: -1px 0;
    }

    .value-container {
        padding-right: 10px;

        i {
            position: absolute;
            top: 30%;
        }

        input {
            height: 100%;
            padding-right: 10px;
        }
    }

    i {
        position: absolute;
        top: 10px;
        right: 10px !important;
    }
}

.option-field-items {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;

    .item {
        overflow: hidden;
    }

    label p {
        height: 32px;
        line-height: 32px;
    }
}

.option-field-icon {
    float: left;
    margin-right: 10px;
    width: 30px;
    text-align: center;
}

.option-field-check {
    float: right;
}
