﻿.single-file-input {
    .imagepreview {
        height: 250px;
        border: 1px solid #808080;
        text-align: center;
        border-radius: 5px;

        img {
            height: 100%;
            width: 100%;
            object-fit: contain;
        }
    }

    .inputFileButton {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
        padding: 15px;
        text-align: center;
        color: white;
        background-color: $cts_blue;

        .inputfile {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            height: 100%;
            width: 100%;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }
}
