﻿.col-20.operation-icon {
    width: 70px;
    flex: none;
}

.col.operation-details {
    margin-left: 70px;
}

.sw-operation-icon {
    .operation-status-icon {
        color: white;
        text-align: center;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        font-size: 25px;

        &.statussuccess {
            background-color: rgb(57, 181, 74);
        }

        &.statuspending {
            background-color: rgb(128, 128, 128);
        }

        &.statusproblem {
            background-color: rgb(229, 147, 35);
        }

        .row {
            height: 100%;
            padding: 0;

            .col {
                padding: 0;
                margin-top: auto;
                margin-bottom: auto;
            }
        }
    }
}
