<ion-view title="Synchronization" class="page-home">
    <!--    <search-bar></search-bar>-->

    <ion-nav-buttons side="left">
        <button class="button button-clear" menu-toggle="left">
            <i class="icon ion-navicon"></i>
        </button>
    </ion-nav-buttons>

    <ion-nav-buttons side="right">
        <button class="button button-clear sync-button" menu-toggle="left">
            <i class="icon ion-loop"></i>
            Sync
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header">

        <ion-list class="list operation-list">
            <ion-item class="item operation-item" ng-repeat="operation in operationList">
                <div class="row">
                    <div class="col col-20 col-center operation-item-col">

                        <div class="operation-status-icon"
                             ng-class="{ 'statussuccess' : operation.statuscode === 1,
                             'statuspending' : operation.statuscode === 2,
                             'statusproblem' : operation.statuscode === 0 }">
                            <div class="row">
                                <div class="col">
                                    <i class="icon"
                                       ng-class="{ 'ion-checkmark' : operation.statuscode === 1,
                                       'ion-alert-circled' : operation.statuscode === 0,
                                       'ion-loop' : operation.statuscode === 2 }">
                                    </i>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div ng-if="operation.statuscode !== 2" class="col col-60 col-center operation-item-col">
                        <h3>{{getFormattedDate(operation.startdate)}}</h3>
                        <span class="row responsive-sm item-text-wrap operation-status-text">{{operation.status}}</span>
                    </div>
                    <div ng-if="operation.statuscode === 2" class="col col-60 col-center operation-item-col">
                        <h3>{{operation.status}}</h3>
                        <span class="row responsive-sm item-text-wrap operation-status-text">{{operation.items}}&nbsp;Items</span>
                    </div>
                    
                    <div class="col col-20 col-center operation-item-col">
                        <p>Details ></p>
                    </div>
                </div>
                
            </ion-item>
        </ion-list>

    </ion-content>


</ion-view>

