<ion-view title="Synchronization" class="page-syncdetail">

    <ion-nav-buttons side="left">
        <ion-nav-button class="button button-clear" ng-click="goBack()">
            <i class="ion-chevron-left"></i>
            Back
        </ion-nav-button>
    </ion-nav-buttons>

    <ion-content class="has-header">

        <div class="operation-status">
            <div class="row">
                <div class="col col-20">
                    <sw-operation-icon sync-operation="operation"></sw-operation-icon>
                </div>
                <div class="col col-80">
                    <h4>{{operation.formattedstatus}}</h4>
                </div>
            </div>
        </div>

        <div class="operation-details row">
            <div class="col col-offset-20">
                <div class="detail-section" ng-if="!operation.ispending">
                    <h5>Application Downloads: {{operation.numberofdownloadeditems}}</h5>
                </div>
                <div class="detail-section" ng-if="operation.issuccess">
                    <h5>Support Data Downloads: {{operation.numberofdownloadedsupportdata}}</h5>
                </div>
                <div class="detail-section upload-section">
                    <h5>Application Uploads: {{batchItems.length}}</h5>
                    <ul class="item-list">
                        <li ng-repeat="item in batchItems">
                            <i class="icon ion-checkmark"></i>{{item.label}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>