messagesection {
    .alerts {
        .alert {
            padding: 20px;

            .icon {
                float: left;
                margin-right: 10px;
            }

            .text {
                float: left;
                width: calc(100% - 80px);
                margin-top: 5px;

                .bold {
                    font-weight: bold;
                }

                ul {
                    display: inline-table;
                    list-style: none;
                }
            }

            .close {
                font-size: 14px;
            }
        }
    }
}
