﻿.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    background: none;
    border-radius: 0;
    font-size: 14px;
}

.classic-admin {
    .breadcrumb {
        margin-top: 6px;
    }
}

.container {
    header {
        .admin-area {
            .breadcrumb {
                float: left;
                color: #fff;

                .parts {
                    float: left;

                    .part {
                        float: left;
                        display: none;

                        &.main {
                            display: block;

                            i {
                                &.fa-bars {
                                    color: #fff;
                                }

                                &.fa-caret-down {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                a {
                    color: #fff;
                    cursor: pointer;

                    i {
                        color: #c9c7c7;

                        &.fa-caret-down {
                            color: #fff;
                            font-size: 12px;
                        }
                    }

                    &:hover {
                        text-decoration: none;
                    }
                }

                .seperator {
                    color: rgba(#fff, 0.4);
                    margin: 0 15px;
                }

                .dropdown-menu {
                    top: auto;
                    left: auto;

                    li {
                        a {
                            padding: 3px 30px 3px 10px;
                            color: #333;

                            &:hover {
                                color: #fff;

                                i {
                                    color: #fff;
                                }
                            }

                            i {
                                color: #333;
                            }
                        }
                    }
                }

                .dropdown-submenu > .dropdown-menu {
                    left: 100%;
                    top: 0;
                    border-radius: 6px;
                }

                .dropdown-submenu > a:after {
                    margin-right: -20px;
                }
            }
        }
    }
}

@media all and (min-width: 768px) {
    .container {
        header {
            .admin-area {
                .breadcrumb {
                    .parts {
                        .part {
                            display: block;

                            &.main {
                                i {
                                    &.fa-bars {
                                        color: #c9c7c7;
                                    }

                                    &.fa-caret-down {
                                        display: inline-block;
                                        color: #fff;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.mobile {
    header {
        .admin-area {
            .breadcrumb {
                .parts {
                    .part {
                        &.main {
                            i {
                                &.fa-bars {
                                    color: #fff;
                                }
                            }
                        }

                        .submenu {
                            display: none;
                            list-style: none;
                            padding-left: 20px;

                            &.hamburger {
                                padding: 0;
                            }

                            &.open {
                                display: block;
                            }

                            li {
                                padding: 8px 0;

                                a {
                                    padding: 8px 8px 8px 0;
                                }
                            }
                        }

                        .hassubmenu:after {
                            display: block;
                            content: " ";
                            float: right;
                            width: 0;
                            height: 0;
                            border-color: transparent;
                            border-style: solid;
                            border-width: 5px 0 5px 5px;
                            border-left-color: #cccccc;
                            margin-top: 5px;
                            margin-right: -30px;
                        }
                    }
                }
            }
        }
    }
}
