.affix-pagination {
    width: 100%;

    pagination {
        float: right;
    }
}

.container {
    .context {
        width: 100%;
        background: #eee;
        border-bottom: #000 1px solid;
        padding: 10px 10px 5px;
        min-height: 50px;

        label {
            font-weight: normal;
        }
    }

    &.mobile .context .group.pagination a {
        padding: 8px 6px;
    }
}

@media all and (min-width: 480px) {
    .container {
        .context {
            .group {
                float: left;
            }
        }
    }

    #crudbodyform .context {
        padding: 5px 20px 5px 5px;
    }
}

@media all and (min-width: 768px) {
    .container {
        .context {
            .hidden-xs {
                display: inline-block !important;
            }
        }
    }
}

@media all and (min-width: 992px) {
    #crudbodyform .context .group:first-child {
        margin-left: 0;
    }
}

.gridtop .applicationcommand {
    display: none;
}

@media all and (min-width: 480px) {
    .gridtop .applicationcommand {
        display: inline-block;
    }
}
