.composition {
    &.master-details {
        .compositiontop {
            margin-bottom: 10px;
        }

        .master {
            margin-bottom: 10px;
            padding-left: 0;

            .row {
                margin-left: -15px;
                margin-right: -15px;
            }

            .quick-search {
                padding-left: 0;
                float: none;
            }

            .entries {
                .entry {
                    padding: 15px;
                    background-color: #ebebeb;
                    cursor: pointer;
                    word-wrap: break-word;
                    border-left: 5px solid transparent;

                    .icons {
                        float: left;
                        text-align: center;

                        .icon {
                            .read {
                                color: #428bca;
                                font-size: 8px;
                                margin-top: 3px;
                            }
                        }
                    }

                    .info {
                        float: right;
                        width: -moz-calc(100% - 30px);
                        width: -webkit-calc(100% - 30px);
                        width: calc(100% - 30px);
                        display: flex;
                        flex-wrap: wrap;

                        .subtitle, .message {
                            clear: both;
                            width: 100%;
                            margin-top: 5px;
                        }

                        .tag {
                            display: flex;
                            color: $cts_gray;
                            margin-left: auto;
                        }

                        .title {
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            font-weight: bold;
                            width: -moz-calc(100% - 100px);
                            width: -webkit-calc(100% - 100px);
                            width: calc(100% - 125px);
                            overflow: hidden;
                            margin-right: 20px;
                        }

                        .message {
                            color: #999;
                        }
                    }

                    .details {
                        display: none;
                        padding-top: 30px;
                        clear: both;
                    }

                    &.odd {
                        background-color: #fff;
                    }

                    &.current {
                        border-left-color: #357ebd;
                    }

                    &:hover {
                        background: #d6d6d6;
                    }
                }
            }
        }

        .swpagination {
            margin: 20px 0 10px;
            border: none;
        }

        .details {
            margin-top: -10px;
            margin-bottom: 40px;

            .form-horizontal {
                padding: 0 0 0 15px !important;

                .form-group {
                    padding: 0 !important;
                }
            }

            .fields {
                .field {
                    .form-control {
                        font-weight: normal;
                        word-wrap: break-word;
                    }
                }
            }

            .richtext .ta-readonly {
                background: #fff;
            }

            .commands {
                margin: 20px 0 10px;
            }
        }
    }

    .no-records {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin: 50px 0;
        color: #888;
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media all and (max-width: 768px) {
    .composition {
        &.master-details {
            .master {
                .entries {
                    .entry {
                        .details {
                            &.open {
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}
