.composition {
    &.master-details {
        /*.entries {*/
        .master {
            margin: 21px 0 40px;

            .quick-search {
                padding-left: 0;
                float: none;
            }

            .entries {
                margin-top: 20px;

                .entry {
                    padding: 15px;
                    background-color: #ebebeb;
                    cursor: pointer;
                    word-wrap: break-word;

                    .read {
                        width: 20px;
                        color: #428bca;
                        font-size: 8px;
                        margin-top: 3px;
                    }

                    .author, .date, .title {
                        margin-bottom: 5px;
                    }

                    .date {
                        float: right;
                    }

                    .author {
                        float: left;
                        font-weight: bold;
                    }

                    .title {
                        clear: both;
                    }

                    .message {
                        color: #999;
                    }

                    &.odd {
                        background-color: #fff;
                    }
                }
            }
        }

        .details {
            margin-bottom: 40px;

            .fields {
                .field {
                    margin-bottom: 20px;

                    .form-control {
                        font-weight: normal;
                    }
                }
            }

            .commands {
                margin-top: 40px;
            }
        }
    }

    .no-records {
        font-size: 14px;
        font-weight: bold;
        text-align: center;
        margin: 50px 0;
        color: #888;
    }

    .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
/*}*/
