#crudbodyform {
    margin-bottom: 20px;

    .form-actions {
        min-height: initial;
    }
}

fieldset.form-group {
    min-height: 59px;

    &.inputfield {
        min-height: 60px;
    }
}

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
    padding-right: 15px;
    padding-left: 15px;
    min-height: 0px;

    &.haschildren {
        padding-right: 0;
        padding-left: 0;

        &.tabsection {
            padding-left: 15px;
        }
    }

    &.inputfield {
        min-height: 60px;
    }

    &.resourcesection {
        min-height: 0px !important;
    }
}


.dndPlaceholder {
    background-color: #ddd;
    text-align: center;
    height: 100%;
    position: relative;

    .dndPlaceholder-content {
        vertical-align: middle;
        text-align: center;
        padding: 20px 0;
    }
}


.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.control-label {
    color: #000;
    word-wrap: break-word;
}

.form-group.haschildren {
    margin-bottom: 0;
}

.form-group.sidebyside {
    clear: none;
    padding: 0 15px;
}

.field-wrap {
    display: flex;
    flex-wrap: wrap;
}

fieldset .form-group.sidebyside {
    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}

fieldset.newrow {
    clear: both;
    padding-right: 0;
    padding-left: 0;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

.requiredfieldmark {
    font-family: Arial Round;
    color: red;
}

.fieldButton {
    background: transparent;
    border: none;
}

.combobox {
    padding: 6px 4px;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

#crudbodyform .combobox-container {
    margin-bottom: 0;
}

.combobox-container {
    &:before, &:after {
        content: none;
    }
}

.verticaloffset {
    top: 50px;
}

.innerverticaloffset {
    top: -25px;
}


span.combobox-clear {
    height: 26px;
}

.commandButton {
    margin-right: 8px;
    min-width: 100px;
}

textarea .readonly {
    border: 0 none;
    background-color: white;
}

.richtextbox, .image-holder {
    overflow: hidden;
}

.richtextbox {
    width: 100%;

    .btn-toolbar .btn-group {
        margin-bottom: 5px;
        margin-right: 5px;
    }
}

.ta-scroll-window > .ta-bind {
    min-height: 100px;
    outline: none;
    transition: min-height 0.2s ease-in-out;
}

.focussed {
    .ta-scroll-window > .ta-bind {
        min-height: 300px;
    }
}

.richtext {
    .btn-toolbar > .btn + .btn, .btn-toolbar > .btn-group + .btn, .btn-toolbar > .btn + .btn-group, .btn-toolbar > .btn-group + .btn-group {
        margin-left: 0;
    }

    .ta-toolbar {
        display: none;
        margin-bottom: 5px;

        .btn-group {
            margin-right: 5px;
        }
    }

    .ta-editor {
        min-height: 100px;
        transition: min-height 0.2s ease-in-out;

        p {
            word-break: break-all;
            word-break: break-word;
        }

        img {
            max-width: 100%;
        }
    }

    .ta-readonly {
        background: #eee;
    }

    &.focussed {
        .ta-toolbar {
            display: block;
        }

        .ta-editor {
            min-height: 300px;
        }
    }

    &.colorbox {
        .ta-editor {
            img {
                cursor: pointer;
            }
        }
    }
}

.ui-spinner {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}

.ui-spinner-input {
    width: 100%;
}

.ui-spinner-button {
    width: 1%;
    height: 50%;
    font-size: .5em;
    padding: 0px 13px 0 12px;
    margin: 0;
    text-align: center;
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    right: 0;
    background: #eee;
    border: 1px solid #ccc;
}

.ui-spinner-button:active {
    border: 0px !important;
    background: $cts_gray !important;
}

.ui-spinner-up {
    top: 0;
    border-bottom: none;
    border-top-right-radius: 3px;
}

.ui-spinner-down {
    bottom: 0;
    border-top: none;
    border-bottom-right-radius: 3px;
}

#uploadInput {
    display: none;
}


.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    font-size: 12px;

    input {
        cursor: pointer;

        &.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    }
}

label.form-control {
    height: auto;
    min-height: 34px;
    font-weight: normal;
}

.input-group-addon {
    cursor: pointer;

    &.ng-hide ~ .form-control {
        border-top-left-radius: 4px !important;
        border-bottom-left-radius: 4px !important;
    }


    &.last {
        border-left: none;
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
    }
}

input[type=search] {
    -webkit-appearance: none;
}

.issue-items [ng-switch-when="ApplicationCompositionDefinition"], .expandeddetails, .expanded-item-composition {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#f7f7f7),to(#ebebeb));
    background-image: -webkit-linear-gradient(top,#f7f7f7,0%,#ebebeb,100%);
    background-image: -moz-linear-gradient(top,#f7f7f7 0,#ebebeb 100%);
    background-image: linear-gradient(to bottom,#f7f7f7 0,#ebebeb 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7f7f7',endColorstr='#ffebebeb',GradientType=0);
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.05);
    color: #3a87ad;
    background-color: #f7f7f7;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.issue-items [ng-switch-when="ApplicationCompositionDefinition"] .table thead > tr > th {
    border-bottom: 2px solid #fff;
}

.expandeddetails, .expanded-item-composition {
    margin-top: 5px;

    .legend-label {
        padding-top: 10px;
    }
}

.compositiontoolbar button {
    margin-bottom: 5px;
    width: 100%;
}

@media all and (min-width: 480px) {
    .compositiontoolbar button {
        width: auto;
    }
}

input[type="date"], input[type="time"] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select-left-right {
    .left, .right {
        padding-right: 15px;
        padding-left: 15px;
    }

    .buttons {
        margin: 10px 0 40px;
    }
}

.alert {
    .cta-button {
        margin-top: 20px;
    }
}

.dropzone {
    border: 3px dashed #ccc;
    border-radius: 6px;
    padding: 60px 12px;
    text-align: center;
    margin-top: 15px;
    display: table;
    color: #888;
    font-weight: bold;

    &.file-over {
        background: #ccc;
        border-style: solid;
        color: #fff;
    }
}

.secondary-content-section {
    padding-top: 20px;

    &.hidden {
        display: none;
        width: 0;
        height: 0;
    }
}

.secondary-content-section-trigger {
    position: relative;
    margin-top: 45px;
    cursor: pointer;

    > hr {
        cursor: default;
        position: absolute;
        left: -30px;
        bottom: 0;
        width: calc(100% + 60px);
        margin: 0;
        border-color: $cts-gray;
    }

    .secondary-content-section-button {
        position: absolute;
        bottom: 0;
        left: 15px;
        padding: 10px;
        background-color: $cts-gray;

        > span, i {
            color: white;
        }
    }
}

.form-horizontal .control-label {
    text-align: left;
}

#crudInputNewItemComposition, .expanded-item-composition {
    max-width: 768px;
    margin: 0 auto;
}

.twitter-typeahead {
    .form-control {
        float: none;
        border-bottom-left-radius: 4px !important;
        border-top-left-radius: 4px !important;
    }
}

[ng-if="noupdateallowed"] {
    .form-control {
        background: #e5e5e5;
    }
}

.imagepreview {
    height: 300px;
    border: 1px solid $cts_gray;
    text-align: center;
    border-radius: 5px;

    img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }
}

.inline-checkbox {
    /*padding-top: 28px;*/

    [ng-switch-when="checkbox"] {
        .control-label {
            top: -2px;
            position: relative;
        }
    }
}

.inline-checkbox-side-by-side {
    padding-top: 2px;
}

.inline-checkbox-header {
    min-height: 0px !important;
    margin-bottom: 0px !important;
    padding-left: 0px !important;

    [ng-switch-when="checkbox"] {
        .control-label {
            top: -3px;
            position: relative;
            color: white
        }
    }
}

.typeahead.dropdown-menu {
    z-index: 1010;
}

.tt-dropdown-menu {
    width: 100% !important;
    max-height: 240px;
    overflow-y: scroll;
}

.input-group {
    .tt-dropdown-menu {
        width: calc(100% + 38px) !important;
    }
}

.tt-suggestion {
    cursor: pointer;

    &:hover {
        background: #ddd;
    }
}

.tt-suggestion.current, .typeahead.dropdown-menu .current {
    background-color: #357ebd;
    background-image: linear-gradient(to bottom, #428bca 0, #357ebd 100%);
    background-repeat: repeat-x;
    color: #fff;

    a {
        color: #fff;
    }
}

.tt-cursor, .typeahead.dropdown-menu .active a, .combobox-container .active {
    background: #ddd;
    border-color: transparent;
    color: #333;
}

.typeahead.dropdown-menu .current.active a {
    background-color: #357ebd;
    background-image: linear-gradient(to bottom, #428bca 0, #357ebd 100%);
    background-repeat: repeat-x;
    color: #fff;
}

.crud_output {
    .form-group {
        min-height: 0;
    }

    .field {
        label {
            text-align: left;
            word-break: break-all;
            word-break: break-word;

            img {
                max-width: 100%;
                height: auto;
                width: auto;
            }
        }
    }

    .haschildren > .field {
        padding: 0;
    }
}
