﻿#definepasswordform {
    background: #f5f5f5;
    border: #d0d0d0 solid 1px;
    padding: 15px;
    margin-top: 50px;

    .message {
        line-height: 1.5;
        border-left: 4px solid #428bca;
        background-color: #fff;
        padding: 12px;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    }

    .name {
        font-weight: bold;
    }

    .error {
        margin-top: 8px;
    }

    .row {
        margin-bottom: 20px;

        .control-label {
            color: #555;
        }
    }
}
