﻿#deploy-validation {
    .deploy-success {
        color: $cts_green;
    }

    .deploy-failure {
        color: $cts_red;
    }

    .deploy-no-creation {
        color: $cts_gray;
    }

    .has-failure {
        cursor: pointer;
    }
}
