﻿.container {
    footer {
        bottom: 0;
        z-index: 980;
        width: 100%;
        position: initial;

        .page-overlay {
            border-top: $admin_border;
            height: 70px;
            padding: 15px;
            z-index: 981;
            position: relative;

            .logo {
                float: right;
                margin-top: 6px;

                img {
                    height: 30px;
                    width: auto;
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .container {
        footer {
            position: relative;
        }
    }
}
