﻿$hover_background: #ddd;

.advanced-filter-toggle {
    cursor: pointer;
    text-align: center;
}

.advanced-filter > div.advanced-filter-item {
    float: left;
    margin: 4px;
    margin-right: 14px;

    .filter-label {
        color: black;
    }

    .filter-input {
        float: left;
    }

    div.text-input {
        width: 150px;
    }

    div.datetime-input {
        width: 140px;
    }
}

.input-group .glyphicon, .grid-filter-button {
    cursor: pointer;
    color: black;
}

.no-results, .more-results {
    font-size: 14px;
    font-weight: bold;
}

.no-results {
    text-align: center;
    margin: 50px 0;
    color: #888;
}

#listgrid {
    color: #000;
    width: 100%;
    border-spacing: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    .radio, .checkbox {
        position: initial;
    }

    .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
        pointer-events: initial;
        opacity: 1.0;
        filter: alpha(opacity=100);
        color: #ddd;
        background: #fff;
        border-color: #ddd;
    }

    .ticketid {
        margin-top: 0;
    }

    .select-multiple {
        text-align: center;
        padding: 0;

        .multiselect-dropdown {
            padding: 7px 0 3px 8px;
            width: 50px;

            input, i {
                display: inline-block;
            }

            input {
                margin-right: 5px;
            }

            hr {
                margin: 5px 0;
            }

            a[disabled="disabled"] {
                color: rgba(#333, 0.5);

                &:hover {
                    background: none;
                }
            }

            .toggle {
                color: #999;
                padding: 5px 5px 5px 0;
            }

            .dropdown-menu {
                left: 10px;
                top: initial;
            }

            &:hover {
                background: #999;

                .toggle {
                    color: #fff;
                }
            }
        }
    }

    td.select-multiple {
        .multiselect-dropdown {
            padding: 8px 0 3px 8px;

            .toggle {
                color: transparent;
            }

            &:hover {
                background: transparent;

                .toggle {
                    color: transparent;
                }
            }
        }
    }

    thead {
        background-color: #fff;

        tr {
            &.header-row {
                background: #fff;
                color: #000;
                border: none;

                &:after {
                    content: " ";
                }

                th {

                    .cell-wrapper {
                        line-height: 1;

                        .part {
                            display: inline-block;
                        }

                        .add-on {
                            max-width: 62%;
                            text-overflow: ellipsis;
                            white-space: initial;
                            word-break: initial;
                            overflow: hidden;
                            position: relative;
                            top: 2px;
                        }
                    }
                }
            }

            &.filter-row {
                background-color: #fff;
                color: #000;

                &:after {
                    content: " ";
                }
            }
        }
    }

    td {
        .input-group, .input-group .glyphicon {
            position: initial;
        }

        &.edit-detail {
            padding-right: 15px;
        }

        &.statuscolor {
            padding: 5px 15px;

            .cell-wrapper {
                border-radius: 3px;
                display: inline-block;
                padding: 5px 8px 3px;
                white-space: nowrap;
            }
        }

        &.iconbutton {
            padding: 5px 0;

            .btn-sm {
                margin-right: 15px;
                padding-top: 2px;
                padding-bottom: 2px;
            }
        }

        &.select-multiple, &.select-single {
            width: 50px;
        }
    }
}

.safari {
    #listgrid {
        thead {
            tr {
                &.header-row {
                    th {
                        .cell-wrapper {
                            .add-on {
                                top: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.filter-container {
    display: none;
}

/*SWWEB-841 ~ fix header width for Firefox*/
@-moz-document url-prefix() {
    #listgrid thead tr.filter-row .input-group-sm > .form-control {
        font-size: 14px;
    }
}

.table tbody > tr > td {
    border-top: none;
}

.divAuxTable {
    .scroll-helper {
        position: fixed;
        display: none;
    }
}

.table-inline {
    margin-bottom: 0px !important;

    .no-results {
    margin: 20px 0 0 0 !important;
    }

}

#listgrid, #compositionlistgrid, #crudtable {
    tbody tr {
        &.odd {
            background: #ebebeb;
        }
    }

    th {
        padding: 11px 15px 9px;
        cursor: pointer;
        word-break: break-word;


        &.active {
            background: transparent;
        }

        &.edit-detail, &.clear {
            padding: 0;
        }
    }

    td {
        word-break: break-all;
        word-break: break-word;
        padding: 10px 15px 6px;

        &.rowexpand, &.rowedit {
            width: 39px;
        }

        &.rowedit {
            padding-left: 5px;
            padding-right: 5px;
            opacity: 0.2;
        }

        &.active {
            background: transparent;
        }
    }

    &.nowrap {
        td {
            white-space: nowrap;

            .cell-wrapper {
                text-overflow: ellipsis;
                overflow: hidden;
                min-width: 50px;
            }
        }
    }

    tr.batchadd {

        td {
            padding-bottom: 10px;
        }
    }

    tr:hover {
        td.progress {
            background: #d6d6d6;
        }

        td.rowedit {
            opacity: 1;
        }
    }

    .progress {
        background: none;
        box-shadow: none;
    }

    .radio, .checkbox {
        display: table-cell;
        margin-top: 0;
        margin-bottom: 0;
    }

    .priorityicon {
        i {
            padding: 3px;
        }

        .dropdown-menu {
            top: initial;
            left: initial;
            margin-left: -145px;

            .info-dropdown {
                display: table-row;
                font-size: 13px;

                .icon, .text {
                    display: table-cell;
                }

                .icon {
                    padding-left: 10px;
                    color: #888;
                }

                .text {
                    padding-right: 10px;
                }
            }
        }
    }

    &.table-hover {
        tbody tr {
            cursor: pointer;
        }
    }

    [ng-show="isNoRecords"] {
        tr {
            cursor: default;

            &:hover {
                background: transparent;
            }
        }
    }
}

#compositionlistgrid {
    tr {
        th {
            padding: 13px 15px 9px;
        }

        a {
            color: #000;

            &:hover {
                text-decoration: none;
            }
        }
    }

    td {
        vertical-align: middle;
        padding: 10px 15px 6px;
    }
}

#printsectionform #compositionlistgrid thead {
    /* chrome 53 thead duplicate bug workaround*/
    display: table-row-group;

    th {
        white-space: nowrap;
    }
} 

.table-hover > tbody > tr:hover {
    background-color: #d6d6d6 !important;

    & > td, & > th {
        background-color: #d6d6d6 !important;
    }

    .priorityicon {
        .cell-wrapper > i {
            color: #f5f5f5 !important;
        }
    }
}

.gridcolumnvalue {
    color: black;
    padding-left: 8px;
    word-wrap: break-word;
}

#scanConfigTable thead tr td {
    &:nth-child(1) {
        width: 30%;
    }

    &:nth-child(2) {
        width: 45%;
    }

    &:nth-child(3) {
        width: 25%;
    }
}

table .detaildata {
    display: table-cell !important;
}

.quick-search {
    float: left;
    margin-top: 4px;
    padding-left: 10px;
    padding-right: 10px;

    input, .btn {
        height: 30px;
    }

    .btn {
        border-left: none;
    }
}

[data-application="multiassetlocci"]#compositionlistgrid {
    th, td {
        padding: 10px 15px;

        input {
            background-color: white !important;
        }
    }
}

.table-hover > [ng-show="isNoRecords"] > tr:hover {
    & > td, & > th {
        background-color: transparent;
    }
}

@media only screen and (min-width: 1200px) {
    .gridcolumnvalue {
        max-width: 135px;
    }
}

@media only screen and (max-width: 1199px) {
    .gridcolumnvalue {
        max-width: 100px;
    }
}

@media only screen and (max-width: 767px) {
    #listgrid, #compositionlistgrid {
        display: block;

        thead, tbody, th, td, tr {
            display: block;
        }

        thead {
            tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
        }

        tbody {
            tr {
                padding: 10px 0;

                td, td.radio, td.checkbox {
                    position: relative;
                    padding: 4px 4px 4px 50%;
                    white-space: normal;
                    text-align: left;
                    display: block;

                    &.no-data {
                        display: none;
                    }

                    &:before {
                        position: absolute;
                        left: 15px;
                        width: 45%;
                        padding-right: 10px;
                        white-space: nowrap;
                        text-align: left;
                        font-weight: bold;
                        content: attr(data-title);
                    }

                    &._color {
                        display: inline-block;
                        float: right;
                        top: -28px;
                        margin-right: 15px;
                        padding-left: 0;
                    }

                    &.statuscolor, &.rowedit {
                        padding: 4px 0 4px 50%;
                    }

                    &.rowedit {
                        opacity: 1;
                    }
                }
            }
        }

        td.select-multiple {
            text-align: left;
            padding: 4px 4px 4px 50%;

            .multiselect-dropdown {
                padding: 0;

                input {
                    margin-top: 0;
                }

                .toggle {
                    padding: 0;
                }
            }
        }
    }
}
