.advanced-filter-toogle {
  cursor: pointer;
  text-align: center; }

.advanced-filter > div.advanced-filter-item {
  float: left;
  margin: 4px;
  margin-right: 14px; }
  .advanced-filter > div.advanced-filter-item .filter-label {
    color: black; }
  .advanced-filter > div.advanced-filter-item .filter-input {
    float: left; }
  .advanced-filter > div.advanced-filter-item div.text-input {
    width: 150px; }
  .advanced-filter > div.advanced-filter-item div.datetime-input {
    width: 140px; }

.input-group .glyphicon, .grid-filter-button {
  cursor: pointer;
  color: black; }

.filter-label {
  display: inline-block; }
  .filter-label:hover {
    background: #ddd; }
  .filter-label .filter-label-wrapper .filter-text {
    font-weight: bold; }
  .filter-label .filter-label-wrapper .dropdown .wrap {
    padding: 5px 15px;
    cursor: pointer; }
    .filter-label .filter-label-wrapper .dropdown .wrap.slim {
      padding: 0; }
    .filter-label .filter-label-wrapper .dropdown .wrap > i.fa {
      color: #767676; }
  .filter-label .filter-label-wrapper .dropdown .dropdown-menu {
    padding-bottom: 0;
    width: 250px; }
    .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content {
      padding-bottom: 0;
      width: 100%; }
      .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .dropdown-close {
        text-align: right;
        padding: 0 10px 10px 0;
        cursor: pointer; }
      .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .input-group {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px; }
      .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .sw-combobox-container h5 {
        font-weight: bold;
        font-size: 14px;
        padding-bottom: 5px;
        padding-top: 5px;
        margin-top: 0; }
      .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .sw-combobox-container .select-all {
        padding-left: 5px;
        margin-bottom: 10px; }
        .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .sw-combobox-container .select-all .text {
          font-weight: bold;
          font-size: 14px;
          padding-top: 5px; }
      .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .sw-combobox-container .filter-options {
        max-height: 306px;
        overflow-y: auto; }
      .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .sw-combobox-container ul {
        padding-left: 5px;
        list-style: none; }
        .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .sw-combobox-container ul li {
          padding-bottom: 10px; }
          .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .sw-combobox-container ul li .removable {
            cursor: pointer; }
      .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .list-group {
        margin-bottom: 0; }
        .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .list-group .list-group-item {
          cursor: pointer;
          border: none; }
          .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .list-group .list-group-item:not(.active):hover {
            background: #ddd; }
      .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .tt-dropdown-menu {
        min-width: 100%; }
        .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .tt-dropdown-menu .tt-suggestion {
          padding-top: 6px;
          padding-bottom: 6px;
          cursor: pointer; }
          .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .tt-dropdown-menu .tt-suggestion:hover {
            background: #ddd; }
      .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .bootstrap-datetimepicker-widget {
        z-index: 9999 !important;
        width: 38em; }
        @media (max-width: 768px) {
          .filter-label .filter-label-wrapper .dropdown .dropdown-menu .dropdown-content .bootstrap-datetimepicker-widget {
            width: 19em !important; } }
    .filter-label .filter-label-wrapper .dropdown .dropdown-menu .filter-dropdown-toolbar {
      display: table;
      width: 100%;
      border-top: 1px solid #ddd;
      margin-top: 1px; }
      .filter-label .filter-label-wrapper .dropdown .dropdown-menu .filter-dropdown-toolbar .button {
        display: table-cell;
        width: 50%;
        vertical-align: middle;
        cursor: pointer;
        text-align: center;
        height: 40px;
        color: #999;
        font-weight: bold; }
        .filter-label .filter-label-wrapper .dropdown .dropdown-menu .filter-dropdown-toolbar .button.apply {
          color: #3a7ebd;
          border-right: 1px solid #ddd; }
        .filter-label .filter-label-wrapper .dropdown .dropdown-menu .filter-dropdown-toolbar .button.clear {
          color: #555; }
        .filter-label .filter-label-wrapper .dropdown .dropdown-menu .filter-dropdown-toolbar .button:hover {
          background: #ddd; }
    .filter-label .filter-label-wrapper .dropdown .dropdown-menu.MetadataOptionFilter .filter-dropdown-toolbar .button.apply {
      display: none; }

.no-results, .more-results {
  font-size: 14px;
  font-weight: bold; }

.no-results {
  text-align: center;
  margin-top: 50px;
  color: #888; }

#listgrid {
  color: #000;
  width: 100%;
  border-spacing: 0px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0; }
  #listgrid .ticketid {
    margin-top: 0; }
  #listgrid thead {
    background-color: #fff; }
    #listgrid thead tr.header-row {
      background-color: #fff;
      color: #000;
      border: none; }
      #listgrid thead tr.header-row:after {
        content: " "; }
      #listgrid thead tr.header-row th {
        cursor: pointer; }
    #listgrid thead tr.filter-row {
      background-color: #fff;
      color: #000; }
      #listgrid thead tr.filter-row:after {
        content: " "; }

.filter-container {
  display: none; }

/*SWWEB-841 ~ fix header width for Firefox*/
@-moz-document url-prefix() {
  #listgrid thead tr.filter-row .input-group-sm > .form-control {
    font-size: 14px; } }

.table tbody > tr > td {
  border-top: none; }

#listgrid tbody tr, #compositionlistgrid tbody tr {
  cursor: pointer; }
  #listgrid tbody tr.odd, #compositionlistgrid tbody tr.odd {
    background: #ebebeb; }

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
  background-color: #d6d6d6; }

#listgrid th {
  word-break: break-word; }

#listgrid td .input-group, #listgrid td .input-group .glyphicon {
  position: initial; }

#listgrid td.select-multiple {
  text-align: center; }

#listgrid th, #compositionlistgrid th {
  padding: 8px 0;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent; }

#listgrid td, #compositionlistgrid td {
  word-break: break-all;
  word-break: break-word;
  padding: 10px 0 6px; }

#listgrid .cell-wrapper, #compositionlistgrid .cell-wrapper {
  padding: 0 8px; }

.gridcolumnvalue {
  color: black;
  padding-left: 8px;
  word-wrap: break-word; }

@media only screen and (min-width: 1200px) {
  .gridcolumnvalue {
    max-width: 135px; } }

@media only screen and (max-width: 1199px) {
  .gridcolumnvalue {
    max-width: 100px; } }

#scanConfigTable thead tr td:nth-child(1) {
  width: 30%; }

#scanConfigTable thead tr td:nth-child(2) {
  width: 45%; }

#scanConfigTable thead tr td:nth-child(3) {
  width: 25%; }

#listgrid .btn.disabled, #listgrid .btn[disabled], #listgrid fieldset[disabled] .btn {
  pointer-events: initial;
  opacity: 1.0;
  filter: alpha(opacity=100);
  color: #ddd;
  background: #fff;
  border-color: #ddd; }

table .detaildata {
  display: table-cell !important; }

#compositionlistgrid tbody tr:hover {
  background: #f5f5f5; }

#compositionlistgrid tbody tr a {
  color: #000; }
  #compositionlistgrid tbody tr a:hover {
    text-decoration: none; }

#compositionlistgrid td {
  vertical-align: middle; }

.advancedSearch {
  height: 34px; }

.grid-header .quick-search {
  float: left;
  padding-top: 4px;
  padding-left: 10px; }
  @media (min-width: 750px) {
    .grid-header .quick-search {
      width: calc(100% - 370px); } }
  @media (max-width: 749px) {
    .grid-header .quick-search {
      width: calc(100% - 200px); } }

@media only screen and (max-width: 767px) {
  #listgrid {
    display: block; }
    #listgrid thead, #listgrid tbody, #listgrid th, #listgrid td, #listgrid tr {
      display: block; }
    #listgrid thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px; }
    #listgrid tbody tr {
      padding: 10px 0; }
      #listgrid tbody tr:hover {
        background-color: #d6d6d6; }
      #listgrid tbody tr td {
        position: relative;
        padding: 4px 4px 4px 50%;
        white-space: normal;
        text-align: left; }
        #listgrid tbody tr td.no-data {
          display: none; }
        #listgrid tbody tr td:before {
          position: absolute;
          left: 15px;
          width: 45%;
          padding-right: 10px;
          white-space: nowrap;
          text-align: left;
          font-weight: bold;
          content: attr(data-title); }
        #listgrid tbody tr td._color {
          display: inline-block;
          float: right;
          top: -28px;
          margin-right: 15px; } }

