$hover_background: #ddd;

.advanced-filter-toogle {
    cursor: pointer;
    text-align: center;
}

.advanced-filter > div.advanced-filter-item {
    float: left;
    margin: 4px;
    margin-right: 14px;

    .filter-label {
        color: black;
    }

    .filter-input {
        float: left;
    }

    div.text-input {
        width: 150px;
    }

    div.datetime-input {
        width: 140px;
    }
}

.input-group .glyphicon, .grid-filter-button {
    cursor: pointer;
    color: black;
}

.filter-label {
    display: inline-block;

    &:hover {
        background: $hover_background;
    }

    .filter-label-wrapper {
        .filter-text {
            font-weight: bold;
        }

        .dropdown { // dropdown icon
            .wrap {
                padding: 5px 15px;
                cursor: pointer;

                &.slim {
                    padding: 0;
                }

                > i.fa {
                    color: #767676;
                }
            }

            .dropdown-menu { // dropdown-menu
                padding-bottom: 0;
                width: 250px;

                .dropdown-content {
                    padding-bottom: 0;
                    width: 100%;

                    .dropdown-close {
                        text-align: right;
                        padding: 0 10px 10px 0;
                        cursor: pointer;
                    }

                    .input-group {
                        width: 90%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 15px;
                    }

                    .sw-combobox-container {
                        h5 {
                            font-weight: bold;
                            font-size: 14px;
                            padding-bottom: 5px;
                            padding-top: 5px;
                            margin-top: 0;
                        }

                        .select-all {
                            padding-left: 5px;
                            margin-bottom: 10px;

                            .text {
                                font-weight: bold;
                                font-size: 14px;
                                padding-top: 5px;
                            }
                        }

                        .filter-options {
                            max-height: 306px;
                            overflow-y: auto;
                        }

                        ul {
                            padding-left: 5px;
                            list-style: none;

                            li {
                                padding-bottom: 10px;

                                .removable {
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .list-group {
                        margin-bottom: 0;

                        .list-group-item {
                            cursor: pointer;
                            border: none;

                            &:not(.active) {
                                &:hover {
                                    background: $hover_background;
                                }
                            }
                        }
                    }

                    .tt-dropdown-menu {
                        min-width: 100%;

                        .tt-suggestion {
                            padding-top: 6px;
                            padding-bottom: 6px;
                            cursor: pointer;

                            &:hover {
                                background: $hover_background;
                            }
                        }
                    }

                    .bootstrap-datetimepicker-widget {
                        z-index: 9999 !important; // force date picker to display on top of the dropdown
                        width: 38em; // maintain date and time side-by-side
                        @media (max-width: 768px) {
                            width: 19em !important; // time below date for 'smaller' screens
                        }
                    }
                }

                .filter-dropdown-toolbar { //dropdown-menu buttons
                    display: table;
                    width: 100%;
                    border-top: 1px solid $hover_background;
                    margin-top: 1px;

                    .button {
                        display: table-cell;
                        width: 50%;
                        vertical-align: middle;
                        cursor: pointer;
                        text-align: center;
                        height: 40px;
                        color: #999;
                        font-weight: bold;

                        &.apply {
                            color: #3a7ebd;
                            border-right: 1px solid $hover_background;
                        }

                        &.clear {
                            color: #555;
                        }

                        &:hover {
                            background: $hover_background;
                        }
                    }
                }

                &.MetadataOptionFilter {
                    .filter-dropdown-toolbar {
                        .button {
                            &.apply {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}

.no-results, .more-results {
    font-size: 14px;
    font-weight: bold;
}

.no-results {
    text-align: center;
    margin-top: 50px;
    color: #888;
}

#listgrid {
    color: #000;
    width: 100%;
    border-spacing: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;

    .ticketid {
        margin-top: 0;
    }

    thead {
        background-color: #fff;

        tr {
            &.header-row {
                background-color: #fff;
                color: #000;
                border: none;

                &:after {
                    content: " ";
                }

                th {
                    cursor: pointer;
                }
            }

            &.filter-row {
                background-color: #fff;
                color: #000;

                &:after {
                    content: " ";
                }
            }
        }
    }
}

.filter-container {
    display: none;
}

/*SWWEB-841 ~ fix header width for Firefox*/
@-moz-document url-prefix() {
    #listgrid thead tr.filter-row .input-group-sm > .form-control {
        font-size: 14px;
    }
}

.table tbody > tr > td {
    border-top: none;
}

#listgrid, #compositionlistgrid {
    tbody tr {
        cursor: pointer;

        &.odd {
            background: #ebebeb;
        }
    }
}

.table-hover > tbody > tr:hover {
    & > td, & > th {
        background-color: #d6d6d6;
    }
}

#listgrid {
    th {
        word-break: break-word;
    }

    th.select-all-header {
        padding-right: 3px;
    }
}

#listgrid {
    td {

        .input-group, .input-group .glyphicon {
            position: initial;
        }

        &.select-multiple {
            text-align: center;
            padding-left: 1px;
            padding-right: 3px;
        }
    }
}

#listgrid, #compositionlistgrid {
    th {
        padding: 13px 0 9px;
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }

    td {
        word-break: break-all;
        word-break: break-word;
        padding: 10px 0 6px;
    }

    tr:hover {
        td.progress {
            background: #d6d6d6;
        }
    }

    .cell-wrapper {
        padding: 0 8px;
    }

    .progress {
        background: none;
        box-shadow: none;
    }

    .radio, .checkbox {
        display: table-cell;
        margin-top: 0;
        margin-bottom: 0;
    }
}

.gridcolumnvalue {
    color: black;
    padding-left: 8px;
    word-wrap: break-word;
}

@media only screen and (min-width: 1200px) {
    .gridcolumnvalue {
        max-width: 135px;
    }
}

@media only screen and (max-width: 1199px) {
    .gridcolumnvalue {
        max-width: 100px;
    }
}

#scanConfigTable thead tr td {
    &:nth-child(1) {
        width: 30%;
    }

    &:nth-child(2) {
        width: 45%;
    }

    &:nth-child(3) {
        width: 25%;
    }
}

#listgrid {
    .btn.disabled, .btn[disabled], fieldset[disabled] .btn {
        pointer-events: initial;
        opacity: 1.0;
        filter: alpha(opacity=100);
        color: #ddd;
        background: #fff;
        border-color: #ddd;
    }
}

table .detaildata {
    display: table-cell !important;
}

#compositionlistgrid {
    tbody tr {
        &:hover {
            background: #f5f5f5;
        }

        a {
            color: #000;

            &:hover {
                text-decoration: none;
            }
        }
    }

    td {
        vertical-align: middle;
    }
}

.grid-header {
    .quick-search {
        float: left;
        padding-top: 4px;
        padding-left: 10px;

        .btn {
            height: 34px;
            border-left: none;
        }
    }
}

#listgrid {
    td.statuscolor {
        padding: 5px 0;

        .cell-wrapper {
            border-radius: 3px;
            display: inline-block;
            padding: 5px 8px 3px;
        }
    }
}

@media only screen and (max-width: 767px) {
    #listgrid, #compositionlistgrid {
        display: block;

        thead, tbody, th, td, tr {
            display: block;
        }

        thead {
            tr {
                position: absolute;
                top: -9999px;
                left: -9999px;
            }
        }

        tbody {
            tr {
                padding: 10px 0;

                &:hover {
                    background-color: #d6d6d6;
                }

                td, td.radio, td.checkbox {
                    position: relative;
                    padding: 4px 4px 4px 50%;
                    white-space: normal;
                    text-align: left;
                    display: block;

                    &.no-data {
                        display: none;
                    }

                    &:before {
                        position: absolute;
                        left: 15px;
                        width: 45%;
                        padding-right: 10px;
                        white-space: nowrap;
                        text-align: left;
                        font-weight: bold;
                        content: attr(data-title);
                    }

                    &._color {
                        display: inline-block;
                        float: right;
                        top: -28px;
                        margin-right: 15px;
                        padding-left: 0;
                    }

                    &.statuscolor {
                        padding: 4px 0 4px 50%;
                    }
                }
            }
        }
    }
}

[data-application="multiassetlocci"]#compositionlistgrid {
    th, td {
        padding: 10px 15px;

        input {
            background-color: white !important;
        }
    }
}
