﻿.container {
    header {
        width: 100%;

        [data-toggle=dropdown] {
            cursor: pointer;
        }

        .admin-area {
            border-bottom: $admin_border;
            padding: 10px 20px 8px 20px;

            .text {
                float: left;
                color: #fff;

                a {
                    color: #fff;

                    &:hover {
                        text-decoration: none;
                    }
                }

                &.userinfo {
                    margin-top: 6px;
                }
            }

            .admin-menu {
                .modern {
                    float: right;
                    font-size: 14px;

                    a.main {
                        color: #fff;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    .dropdown-menu {
                        top: auto;
                        left: auto;
                        right: 55px !important;
                        border-radius: 6px;
                    }

                    .dropdown-submenu > .dropdown-menu {
                        top: 0;
                        left: auto;
                        right: 148px !important;
                    }
                }
            }

            .classic {
                float: right;

                .menu-expand {
                    color: #fff;
                    cursor: pointer;
                    margin-top: 7px;
                    float: right;
                }

                div.menu-open {
                    margin-bottom: 10px;
                }

                div.menu-open + .menu-items {
                    display: block;
                    clear: both;
                }

                .buttons {
                    a:hover {
                        text-decoration: none;
                    }

                    .dropdown-menu {
                        top: 30px;
                        z-index: 1040;
                    }
                    
                    .dropdown-submenu > .dropdown-menu {
                        top: 0;
                        left: auto;
                        right: 168px !important;
                    }
                }
            }
        }

        .branding {
            min-height: 90px;
            padding: 15px 20px;

            .logo img {
                max-width: 100%;
                height: auto;
                width: auto;
            }
        }

        .menu-grid {
            width: 100%;

            li a {
                text-align: center;
            }

            .submenu {
                li a {
                    text-align: left;
                }
            }

            .dropdown-submenu {
                width: 100%;

                > a {
                    display: block;
                    padding: 3px 20px;
                    clear: both;
                    font-weight: normal;
                    line-height: 1.428571429;
                    color: #333;
                    white-space: nowrap;

                    &:after {
                        border-color: transparent;
                        border-style: solid;
                        border-width: 5px 0 5px 5px;
                        border-left-color: #cccccc;
                    }

                    &:hover {
                        text-decoration: none;
                        color: #fff;
                        background-color: #357ebd;
                        background-image: -webkit-gradient(linear,left 0,left 100%,from(#428bca),to(#357ebd));
                        background-image: -webkit-linear-gradient(top,#428bca,0%,#357ebd,100%);
                        background-image: -moz-linear-gradient(top,#428bca 0,#357ebd 100%);
                        background-image: linear-gradient(to bottom,#428bca 0,#357ebd 100%);
                        background-repeat: repeat-x;
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca',endColorstr='#ff357ebd',GradientType=0);
                    }
                }
            }

            .menu-expand {
                color: #fff;
                padding: 15px 20px 10px;
                cursor: pointer;
                background-color: #878787;
                border-top: #000 1px solid;
            }

            div.menu-open + .menu-items {
                display: block;
            }

            div.menu-open {
                border-bottom: none;
            }
        }
    }
}

@media all and (min-width: 1px) {
    .container {
        header {
            position: relative;
            z-index: 1010;

            .admin-area {
                .text {
                    &.userinfo {
                        display: none;
                    }
                }

                .admin-menu {
                    .classic {
                        float: none;

                        .menu-expand {
                            display: block;
                        }

                        .menu-items {
                            display: none;
                        }

                        .buttons {
                            button, .btn-group {
                                width: 100%;
                                display: block;
                            }

                            button {
                                margin-bottom: 5px;
                            }
                        }
                    }
                }
            }

            .menu-grid {

                li {
                    width: 100%;

                    .dropdown-container {
                        width: 100%;

                        /** IE fix */
                        display: inline-flex;

                        button {
                            width: 100%;

                            &.btn-split {
                                width: calc(100% - 21px);

                                & + .btn-split.dropdown-toggle {
                                    width: initial;
                                }
                            }

                            /** IE fix */
                            &.container-command-toggle {
                                width: 0px !important;
                                padding-right: 15px;
                            }
                        }
                    }

                    &:last-child .dropdown, &:last-child a {
                        margin-bottom: 5px;
                    }
                }

                button .non-isolate {
                    width: 100%;
                }

                .menu-expand {
                    display: block;
                }

                .menu-items {
                    display: none;
                }
            }
        }
    }
}

@media all and (min-width: 480px) {
    .container {
        header {
            .admin-area {
                .admin-menu {
                    .classic {
                        .buttons {
                            button, .btn-group {
                                width: calc(50% - 5px);
                                margin-right: 5px;
                                float: left;

                                button {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width: 640px) {
    .container header .menu-grid li {
        width: 32%;
    }
}

@media all and (min-width: 768px) {
    .container.desktop header {
        position: fixed;
    }

    .container {
        header {
            .admin-area {
                .admin-menu {
                    .classic {
                        .buttons {
                            button, .btn-group {
                                width: calc(32% - 5px);
                            }
                        }
                    }
                }
            }

            .menu-grid {
                li {
                    width: auto;

                    &:last-child .dropdown, &:last-child a {
                        margin-bottom: 0;
                    }
                }

                .menu-expand {
                    display: none;
                }

                .menu-items {
                    display: block;
                }
            }
        }
    }
}

@media all and (min-width: 992px) {
    .container {
        header {
            .admin-area {
                .admin-menu {
                    .classic {
                        .buttons {
                            button, .btn-group {
                                width: calc(25% - 5px);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width: 1280px) {
    .container.desktop header {
        position: fixed;
    }

    .container {
        header {
            .admin-area {
                .admin-menu {
                    .classic {
                        float: right;

                        .menu-expand {
                            display: none;
                        }

                        .menu-items {
                            display: block;
                        }

                        .buttons {
                            button, .btn-group {
                                display: inline-block;
                                width: auto;
                                margin-right: 0;
                                float: none;
                            }

                            button {
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.container header .menu-grid .submenu li {
    width: 100%;
}
