﻿.modal {
    z-index: 8000;
    overflow-y: auto !important;
    outline: none;
    max-height: 90%;
    display: none;
    min-height: initial;

    .filter-label {
        .filter-label-wrapper {
            .dropdown {
                .dropdown-menu {
                    position: fixed;
                    top: initial !important;
                    left: initial !important;
                }
            }
        }
    }

    .toolbar-primary {
        position: static !important;
        width: 100% !important;
    }

    .buttons {
        display: inline-block;
        margin-right: 5px;
    }

    .listgrid-table {
        margin-top: 0 !important;

        td {
            width: initial !important;
        }
    }

    #listgrid, #compositionlistgrid {
        min-width: initial !important;
    }

    .modal-header {
        .context {
            pagination {
                float: left;
                margin-top: 9px;

                .pagesize {
                    .form-group {
                        min-height: initial;
                    }
                }
            }

            .item-count {
                float: right;
                text-align: center;
                margin-top: 8px;
                margin-right: 10px;

                &.tall {
                    margin-top: 18px;
                }
            }
        }
    }
}

.smallmodal {
    width: 300px;
}

.mediummodal {
    width: 500px;
}

.largemodal {
    width: 1500px !important;

    @media (max-width: 500px) {
        width: 350px !important;
    }

    @media (max-width: 800px) {
        width: 600px !important;
    }

    @media (max-width: 1200px) {
        width: 900px !important;
    }

    @media (max-width: 1400px) {
        width: 1200px !important;
    }
}

.smallmodal, .mediummodal {
    top: 20%;
    margin: 0 auto;

    .modal-dialog {
        overflow: hidden;
        padding: 0;
        width: 100%;
    }
}

#crudmodal {
    margin-left: auto;
    margin-right: auto;
    top: 50px;
}

// lookup modals that have crud content inside (input fields)
.crud-lookup-modal {
    width: 800px !important;

    @media (max-width: 500px) {
        width: 350px !important;
    }

    @media (max-width: 800px) {
        width: 500px !important;
    }
}


.crud-grid-modal {
    width: 800px !important;
}

.conditionModal {
    position: absolute;
    top: 25%;
    margin-right: auto;
    margin-left: auto;
    padding: 20px;
    width: 650px;
    height: 850px;
    outline: none;
}

.modalLock {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
}

.lookupModal .modal-body {
    max-height: 400px;
    overflow: auto;
    width: 100%;
}

.printModal {
    width: 330px;
    outline: none;

    .modal-dialog {
        width: 300px;
    }

    .thin-input {
        width: 70px;
    }
}

.modal-body {
    .commandbar {
        margin-top: 0;
    }
}

@media all and (min-width: 480px) {
    .smallmodal {
        width: 360px;
    }

    .mediummodal {
        width: 560px;
    }

    .smallmodal, .mediummodal {
        top: 30%;
    }
}

@media all and (min-width: 992px) {
    .lookupModal .modal-dialog {
        width: 800px;
        min-width: 800px;

        &.largemodal {
            width: 90% !important; 
        }
    }
}

@media all and (min-width: 1140px) {
    .assetnum .modal-dialog {
        width: 1000px;
    }
}
