﻿pagination {
    .part {
        display: inline-block;
        margin-left: 20px;

        a {
            color: #555;
            font-size: 16px;
            text-decoration: none;

            &:hover, &:active {
                color: #999;
                text-decoration: none;
            }
        }

        &.pagination {
            margin: 7px 0 3px 10px;

            .direction {
                &.prev {
                    margin-right: 5px;
                }

                &.next {
                    margin-left: 5px;
                }

                &.disable {
                    color: #ccc;
                    cursor: default;
                }
            }

            .pages {
                display: inline-block;
                margin-left: -5px;
                position: relative;
                top: -1px;

                .page {
                    display: inline-block;
                    border: 1px solid transparent;
                    border-radius: 5px;
                    padding: 3px 5px;
                    min-width: 24px;
                    height: 24px;
                    text-align: center;
                    cursor: pointer;
                    margin-left: 5px;

                    &:hover {
                        background: #ddd;
                    }

                    &.current {
                        font-weight: bold;
                        border-color: #000;
                    }
                }

                .ellipsis {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                    text-align: center;
                    margin-right: -5px;
                }
            }
        }

        &.pagesize {
            position: relative;
            top: -4px;
            margin: 7px 0 1px 20px;
        }

        &.total {
            margin-top: 10px;
        }
    }
}

pagination.large-button {
    margin-top: 1px !important;

    .pagination {
        margin: -5px 0 0 0;

        .direction {
            font-size: 24px;
            margin: 0 !important;
        }
    }

    .total {
        margin: 0;
        float: none !important;

        .text {
            text-transform: uppercase;
        }
    }
}

.pagination {
    [disabled="disabled"] {
        i {
            color: #ccc !important;
            cursor: default;
        }
    }
}
