﻿input:focus, select:focus, textarea:focus {
    outline: none;
}

.page-signin {
    .container {
        display: block;
    }

    .shadow {
        max-width: 800px;
        margin: 0 auto;
    }

    .form-signin {
        padding: 40px 15px;

        .new-user-registration-modal {
            .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
                padding-right: 15px;
                padding-left: 15px;
            }

            .modal-dialog {
                overflow-y: initial !important;
            }

            .modal-body {
                overflow-y: auto;
            }

            .control-label {
                color: black;
                padding-right: 10px;
            }
        }

        .logo {
            text-align: center;

            img {
                width: 500px;
                height: auto;
            }
        }

        .divider {
            height: 40px;
            margin: 0 auto;
        }

        .form {
            .login, .buttons.demo {
                margin-left: 15px;
                margin-right: 15px;
            }

            .buttons.dev {
                padding: 0 10px;
            }
        }

        @media all and (min-width: 480px) {
            .divider {
                height: 60px;
            }
        }

        input[type="text"], input[type="email"], input[type="password"] {
            margin-bottom: 20px;
        }

        button[type="submit"] {
            background: none;
            border: #fff 2px solid;
            color: #fff;
            border-radius: 40px;
            margin-top: 10px;

            &:hover {
                background-color: rgba(#fff, 0.4);
            }
        }

        .forgot-password {
            margin-left: 20px;
            margin-top: 1px;
        }

        .forgotpasswordform {
            margin-bottom: 54px;
        }

        .control-label {
            color: #fff;
            margin-bottom: 10px;
        }

        .password-cancel {
            margin-left: 20px;
        }

        .user-links {
            color: #fff;
            margin-top: -4px;
            margin-bottom: 30px;
            font-size: 14px;
            line-height: 1.5;
        }

        .demo.user-links {
            .name, .info {
                float: left;
            }

            .name {
                width: 120px;
            }
        }

        a {
            color: #fff;

            &:hover {
                color: #fff;
            }
        }

        .logo.main img {
            padding: 0 20px;
        }

        .branding {
            margin: 0 auto;
        }

        .logo.byline img {
            padding: 0 5px;
        }

        .text-danger {
            padding: 10px 20px;
        }

        .alert-warning, .text-danger {
            background: rgba(#f00, 0.75);
            color: #fff;
        }

        .alert, .text-danger {
            text-shadow: none;
            box-shadow: none;
            margin-bottom: 40px;
            border: none;
            border-left: 5px solid #f00;
            border-radius: 0;
        }

        .alert-success {
            border-left: 5px solid #b2dba1;
        }

        .close {
            margin-top: -9px;
            margin-right: -5px;
        }
    }
}

@media all and (min-width: 768px) {
    .page-signin {
        .form-signin {
            .user-links {
                padding-left: 30px;
            }
        }
    }
}

@media all and (min-width: 850px) {
    .page-signin {
        .container {
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .logo.main img {
            padding: 0;
        }

        .form-signin {
            .user-links {
                margin-bottom: 0;
            }
        }
    }
}

@media all and (min-width: 992px) {
    .page-signin {
        .container {
            padding-top: 60px;
            padding-bottom: 60px;
        }
    }
}
