body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
    -webkit-transition: all 0.5s;
    -ms-overflow-style: scrollbar;
}

body, .small {
    font-size: 13px;
}

.btn {
    font-size: 13px;
}

.btn, button, div {
    &:focus, &:active:focus {
        outline: none;
    }
}

.clear {
    clear: both;
}

input.ng-dirty.ng-invalid, .not-found:focus {
    border-color: rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999;
}

.container {
    padding: 0;
    width: 100%;
    max-width: none;
}

body > .container, .no-menu-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content .container {
    padding: 0;
    margin: 0;
}

.helptext {
    color: gray;
    font-size: 13px;
}

.form-horizontal {
    padding-left: 15px;
    padding-right: 15px;
}

#top .navbar-nav > li:last-child {
    width: 90px;
    border: 1px solid #003878;

    & > a {
        text-align: center;
    }
}

.divAuxTable {
    z-index: 990;
    position: relative;
}

.schemachoosingcombo {
    width: 50%;
    margin: 5px auto;
}

.commandbar {
    margin-top: 15px;

    .print {
        display: none;
    }
}

@media not print {
    .form-horizontal .control-label {
        padding-top: 5px !important;
    }

    

}

@media all and (min-width: 768px) {
    .commandbar .print {
        display: inline-block;
    }
}


.modalmedium {
    width: 1000px;
}

.modallarge {
    width: 1300px;
}

.readingsmodal {
    width: 1500px;
}

/************************ 
    Config
 ************************/
.config-add-on {
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: table-cell;
    vertical-align: middle;
}

.statuscolumncolor {
    width: 13px;
    height: 20px;
}

.grid-color-code {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    behavior: url(PIE.htc);
}

.checkboxcolumn {
    padding-right: 20px;
    padding-left: 10px;
}

.serviceItLoginWarning {
    color: black;
    width: 600px;
    border: #184c86 thin solid;
    height: auto;
    background-color: #aaddff;
    margin-left: 200px;
    margin-top: 10px;
}

.expanded-item-composition {
    background-color: white;

    button {
        display: none;
    }
}

.detail-output {
    text-align: left !important;
    font-weight: bold !important;
}

.col-sectionsamelineheader {
    margin-top: -15px !important;
}

.col-horizontal-orientation {
    float: left;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: 5px;
    padding-right: 5px;

    &:first-child {
        text-align: left;
    }

    &:last-child {
        padding-right: 0;
    }
}

.container button {
    text-transform: uppercase;
}

@media all and (min-width: 1px) {
    .container .content {
        margin-top: 0;
        flex: 1 0 0;
    }

    .toolbar-primary {
        position: relative;
        z-index: 1000;
        box-sizing: border-box;

        & + br, & + br + br {
            display: none;
        }
    }

    .affix-thead {
        position: relative;
    }

    .listgrid-table {
        margin-top: 0px;
    }

    .listgrid-thead {
        width: 100%;
    }
}

@media all and (min-width: 768px) {
    .container.desktop {
        .toolbar-primary {
            position: fixed;
        }

        .listgrid-thead {
            position: fixed;
        }

        .modal {
            .affix-pagination {
                position: relative;
            }

            .listgrid-thead {
                position: relative;
            }
        }
    }
}

@media all and (max-width: 992px) {
    .singlelinelabel {
        text-align: left !important;
    }
}

fieldset {
    &.hasheader {
        margin-top: 30px;
    }
}

.legend-label {
    margin: 0 15px 15px;
    width: calc(100% - 30px);
    white-space: nowrap;
    vertical-align: baseline;
    font-size: 12px;
    line-height: 24px;
    background: #aaa;
    border: none;
    padding: 8px 10px 5px;
    font-weight: bold;
    color: #fff;
}

.topMessageAux {
    z-index: 1000;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
}

.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.blue {
    color: blue;
}

.black {
    color: black;
}

.gray {
    color: gray;
}

.envelopeYellow {
    color: rgb(239, 198, 99);
}

[rel="tooltip"].fa-question-circle {
    color: #3276b1;
}

.multiselect-container {
    max-width: 275px !important;
}


.extra-height-modal {
    min-height: 600px !important;
    height: 600px !important;
}

.tabdisabled {
    cursor: not-allowed;
    pointer-events: none;
    color: grey;
}

.fileicon {
    width: 100px;
    max-height: 100px;
    float: left;
    margin-bottom: 9px;
    margin-right: 9px;
    cursor: pointer;
}

.iconset {
    padding: 10px;
}

.thumbnailiconset {
    border-radius: 0;
    overflow: hidden;
    margin: 0;
    padding: 10px 0;
    border: none;
    background: 0 0;
    text-decoration: none !important;
}

.item-icon {
    font-size: 32px;
}

.item-extension::after {
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    content: attr(data-ext);
    left: 4px;
    position: absolute;
    color: #fff;
    font-size: 9px;
    text-transform: uppercase;
    top: 20px;
}

.item-refresh {
    position: relative;
    top: 10px;
    font-size: 10px;
    color: gray;
}

.item-delete {
    position: relative;
    top: -20px;
    right: -20px;
    font-size: 14px;
    color: gray;
    cursor: initial !important;
}

.dynformtreeinput-delete {
    position: relative;
    top: -13px;
    right: 14px;
    font-size: 10px;
    cursor:pointer;
    color: gray;
    cursor: pointer !important;
}

.optionfieldheader {
    padding-bottom: 10px;
    padding-left: 10px;
}

.borderedsection {
    border: 3px groove rgb(204, 204, 204);
}
