﻿.tooltip-inner {
    color: #000;
    background-color: #eee;
    border: 1px solid #a1a1a1;
    /*min-width: 140px;*/
    max-width: 250px;
    line-height: 16.5px;
}

.tooltip {
    font-size: 11px;
    z-index: 9999;
    position: fixed;

    &.in {
        filter: alpha(opacity=100);
        opacity: 1;
    }

    &.top .tooltip-arrow {
        border-top-color: #a1a1a1;
    }

    &.top-left .tooltip-arrow {
        border-top-color: #a1a1a1;
    }

    &.top-right .tooltip-arrow {
        border-top-color: #a1a1a1;
    }

    &.right .tooltip-arrow {
        border-right-color: #a1a1a1;
    }

    &.left .tooltip-arrow {
        border-left-color: #a1a1a1;
    }

    &.bottom .tooltip-arrow {
        border-bottom-color: #a1a1a1;
    }

    &.bottom-left .tooltip-arrow {
        border-bottom-color: #a1a1a1;
    }

    &.bottom-right .tooltip-arrow {
        border-bottom-color: #a1a1a1;
    }
}
