.toolbar-primary {
    width: 100%;

    pagination {
        float: right;
        margin-top: 5px;
    }
}

.container {
    .context {
        width: 100%;
        background: #eee;
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        padding: 10px 0;

        .main-commands {
            padding: 0 40px 0 5px;
        }

        .large-button {
            padding: 5px 0 !important;
            height: 65px;
            width: 65px;
            text-align: center;

            .icon {
                font-size: 24px;
                margin-bottom: 5px;
            }

            .text {
                display: block;
                font-size: 10px;
                text-transform: uppercase;
                white-space: normal;
                height: 28px;
                width: 65px;
                display: table-cell;
                vertical-align: middle;
                text-align: center;

                .space {
                    display: none;
                }
            }

            &.separator {
                margin: 0 10px;
            }
        }

        pagination.large-button {
            height: auto;
            display: none;
            padding-bottom: 0 !important;

            .text {
                height: auto;
            }
        }

        .quick-search {
            margin-top: 0;
        }

        .search-options {
            margin-top: 8px;
            float: left;

            &.btn-group.open button {
                box-shadow: none;
            }

            button {
                background: transparent;
                padding-left: 0;
                padding-right: 0;
                font-size: 12px;
                height: 28px;
                text-align: left;

                &:active {
                    box-shadow: none;
                }

                .text {
                    display: inline-block;
                }

                .caret {
                    display: inline-block;
                }
            }

            .dropdown-menu {
                padding: 10px 15px;

                li {
                    margin-top: 10px;

                    &:first-child {
                        margin-top: 0;
                    }

                    input[type="checkbox"] {
                        position: relative;
                        top: 2px;
                        height: auto;
                    }
                }
            }
        }

        .no-search-options {
            grid-filter {
                width: 100%;
            }
        }

        .filter-option {
            margin-top: 5px;
            height: 30px;

            .inputs {
                text-align: right;

                .buttons {
                    margin: 0;

                    button {
                        background: transparent;

                        &:hover {
                            background: #ddd;
                        }
                    }
                }

                select {
                    height: 30px;
                    width: calc(100% - 160px);
                    display: inline-block;
                    top: 3px;
                    position: relative;
                }

                #savefilterform {
                    margin-top: 5px;
                }
            }
        }

        .right {
            float: right;
        }

        a {
            color: #555;
            text-decoration: none;

            &:hover, &:active, &:focus {
                color: #999;
                text-decoration: none;
            }
        }

        .group {
            margin: 5px 10px 0;

            &.total {
                margin-top: 15px;
            }

            &.pagination {
                margin-left: 0;
                margin-right: 0;
            }
        }

        .detail-primary {
            margin-right: 0;
        }

        .detail-secondary {
            margin-left: 0;
        }

        .separator {
            float: left;
            margin: 9px 10px 0 5px;
            border-left: 1px solid #bbb;
            width: 1px;
            padding: 2px 0;
        }

        label {
            font-weight: normal;
        }

        .buttons {
            display: inline-block;
            margin-right: 5px;

            .btn {
                font-size: 12px;
            }

            .btn-context {
                background: transparent;
                padding: 7px 12px 4px;

                &:hover {
                    background: #ddd;
                }

                .icon {
                    color: #666;
                }

                .text {
                    color: #474949;
                }
            }

            .btn-group.open {
                .btn-context {
                    background: #ddd;
                }

                .large-button {
                    box-shadow: none;
                }
            }

            .btn-group {
                .large-button {
                    &:active {
                        box-shadow: none;
                    }
                }
            }

            .disabled {
                .icon, .text {
                    color: #969696;
                }
            }
        }

        &.mobile .context .group.pagination a {
            padding: 8px 6px;
        }

        &.detail {
            .pagination {
                margin-top: 18px;
            }
        }

        .tool-row.multi-sort {
            border-top: 1px solid #999;
            margin-top: 11px;
            padding-top: 10px;
        }
    }
}

#affixpagination1 {
    padding: 0;
    border-bottom: none;

    .part {
        padding: 5px 0;
    }
}

@media all and (min-width: 480px) {
    .container {
        .context {
            .group {
                float: left;
            }
        }
    }

    #crudbodyform .context {
        padding: 5px 20px 5px 5px;
    }
}

@media all and (min-width: 768px) {
    .container {
        .context {
            .hidden-xs {
                display: inline-block !important;
            }

            grid-filter {
                float: right;
            }
        }
    }

    .side-panel-open {
        .container {
            .context {
                .quick-search {
                    &.col-sm-6 {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 992px) {
    .container {
        .context {
            .group {
                margin: 0;

                &:first-child {
                    margin-left: 5px;
                }
            }

            pagination.large-button {
                display: block;
            }
        }
    }

    .side-panel-open {
        .container {
            .context {
                pagination.large-button {
                    display: none;
                }

                .quick-search {
                    &.col-md-5 {
                        width: 52%;
                    }
                }
            }
        }
    }

    #crudbodyform .context .group:first-child {
        margin-left: 0;
    }
}

@media all and (min-width: 1048px) {
    .side-panel-open {
        .container {
            .context {
                pagination.large-button {
                    display: block;
                }
            }
        }
    }
}

#affixpagination1 {
    border-bottom: none;
    border-top: #000 1px solid;
    position: initial;
}

.toolbar-secondary {
    .separator {
        float: left;
        margin-right: 19px;
        border-left: 1px solid #bbb;
        width: 1px;
        height: 32px;
    }

    .buttons {
        display: inline-block;
        margin-right: 5px;
    }
}

@media only screen and (min-width: 768px) {
    #affixpagination1 {
        position: relative;
    }
}
