.toolbar-primary {
    width: 100%;

    pagination {
        float: right;
        margin-top: 5px;
    }
}

.container {
    .context {
        width: 100%;
        background: #eee;
        border-bottom: #000 1px solid;
        padding: 5px 40px 5px 0;

        .large-button {
            padding: 10px 0 !important;
            height: 65px;
            width: 65px;
            text-align: center;

            .icon {
                font-size: 24px;
                margin-bottom: 8px;
            }

            .text {
                display: block;
                font-size: 10px;
                text-transform: uppercase;

                .space {
                    display: none;
                }
            }

            &.separator {
                margin: 5px 10px;
            }
        }

        .search-options {
            margin-top: 5px;
            float: left;

            &.btn-group.open button {
                box-shadow: none;
            }

            button {
                background: transparent;
                padding-left: 0;
                padding-right: 0;
                font-size: 12px;

                &:active {
                    box-shadow: none;
                }
            }

            .dropdown-menu {
                padding: 10px 15px;

                li {
                    margin-top: 10px;

                    &:first-child {
                        margin-top: 0;
                    }

                    input[type="checkbox"] {
                        position: relative;
                        top: 2px;
                        height: auto;
                    }
                }
            }
        }

        .right {
            float: right;
        }

        a {
            color: #555;
            text-decoration: none;

            &:hover, &:active, &:focus {
                color: #999;
                text-decoration: none;
            }
        }

        .group {
            margin: 5px 10px 0;

            &.total {
                margin-top: 15px;
            }
        }

        .separator {
            float: left;
            margin: 9px 10px 0 5px;
            border-left: 1px solid #bbb;
            width: 1px;
            padding: 2px 0;
        }

        label {
            font-weight: normal;
        }

        .buttons {
            display: inline-block;
            margin-right: 5px;

            .btn {
                font-size: 12px;
            }

            .btn-context {
                background: transparent;
                padding: 7px 12px 4px;

                &:hover {
                    background: #ddd;
                }

                .icon {
                    color: #666;
                }

                .text {
                    color: #474949;
                }
            }
        }

        &.mobile .context .group.pagination a {
            padding: 8px 6px;
        }

        #affixpagination1 {
            padding-top: 0px;
            padding-bottom: 8px;
            border-bottom: none;
        }
    }
}

@media all and (min-width: 480px) {
    .container {
        .context {
            .group {
                float: left;
            }
        }
    }

    #crudbodyform .context {
        padding: 5px 20px 5px 5px;
    }
}

@media all and (min-width: 768px) {
    .container {
        .context {
            .hidden-xs {
                display: inline-block !important;
            }
        }
    }
}

@media all and (min-width: 992px) {
    .container {
        .context {
            .group {
                margin: 5px 0 0;

                &:first-child {
                    margin-left: 5px;
                }
            }
        }
    }

    #crudbodyform .context .group:first-child {
        margin-left: 0;
    }
}

/*.gridtop .applicationcommand {
    display: none;
}

@media all and (min-width: 480px) {
    .gridtop .applicationcommand {
        display: inline-block;
    }
}*/

#affixpagination1 {
    border-bottom: none;
    border-top: #000 1px solid;
}
