﻿.display- {
    display: none;
}

.display-show {
    display: block;
}

.treeright {
    display: block;
    padding-right: 5px;
    width: 10px;
    height: 15px;
}

.treerighthide {
    display: none;
    padding-right: 5px;
}

.treeleft- {
    display: none;
    padding-right: 5px;
}

.treeleft-show {
    display: block;
    padding-right: 5px;
    width: 10px;
    height: 15px;
}

.treeview-root ul {
    list-style: none;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.item {
    margin-left: 15px;
    width: fit-content;
    cursor: pointer;

    &:hover {
        background-color: #3BB7EB;
        background: #3BB7EB;
        cursor: pointer;
    }
}

.list-item {
    padding: 2px 0;
}

.item:focus {
    color: green;
}


/************************ 
    Treeview 
 ************************/
div[data-angular-treeview] {
    margin-left: -20px;
    margin-top: 5px;
    /* prevent user selection */
    -moz-user-select: -moz-none;
    user-select: none;
    /* default */
    font-family: Tahoma;
    font-size: 13px;
    color: #555;
    text-decoration: none;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        border: none;
        overflow: hidden;
    }

    li {
        position: relative;
        padding: 0 0 0 20px;
        line-height: 20px;
    }
}

/* CRUD Tree View */
@media screen {
    div[data-tree-model] {
        li {
            .expanded {
                padding: 1px 10px;
                background-image: url('../../Images/folder.png');
                background-repeat: no-repeat;
            }

            .collapsed {
                padding: 1px 10px;
                background-image: url('../../Images/folder-closed.png');
                background-repeat: no-repeat;
            }

            .normal {
                padding: 1px 10px;
                background-image: url('../../Images/file.png');
                background-repeat: no-repeat;
            }

            i, span {
                cursor: pointer;
            }

            .selected {
                background-color: #aaddff;
                font-weight: bold;
                padding: 1px 5px;
            }
        }

        &.crud-tree-view li {
            .expanded {
                background-image: url('../../Images/tree-node-expanded.png');
            }

            .collapsed {
                background-image: url('../../Images/tree-node-collapsed.png');
            }

            .normal {
                background-image: url('../../Images/tree-leaf.png');
            }
        }
    }
}

@media print {
    div[data-tree-model].crud-tree-view li {
        .expanded {
            padding: 0 !important;
            background-image: none;
            content: url('../../Images/tree-node-expanded.png');
        }

        .collapsed {
            padding: 0 !important;
            background-image: none;
            content: url('../../Images/tree-node-collapsed.png');
        }

        .normal {
            padding: 0 !important;
            background-image: none;
            content: url('../../Images/tree-leaf.png');
        }
    }
}

div[data-tree-model].crud-tree-view li .selected {
    background-color: #A0A0A0;
    color: #fff;
    font-weight: normal;
}
