
.page-signin {
    background: #0780c9 url(../../Images/signin.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container header {
    background: #34a7e0 url(../../Images/header.jpg) no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    .container header .branding {
        background: url(../../Images/branding.png) no-repeat top left;
    }

.btn-brand {
    background-color: #34a7e0;
    border-color: #34a7e0;
    color: white;
}

    .btn-brand:hover,
    .btn-brand:focus,
    .btn-brand:active,
    .btn-brand.active {
        background-color: #1f93cc;
        border-color: #1c86ba;
        color: white;
    }

    .btn-brand.disabled:hover,
    .btn-brand.disabled:focus,
    .btn-brand.disabled:active,
    .btn-brand.disabled.active,
    .btn-brand[disabled]:hover,
    .btn-brand[disabled]:focus,
    .btn-brand[disabled]:active,
    .btn-brand[disabled].active,
    fieldset[disabled] .btn-brand:hover,
    fieldset[disabled] .btn-brand:focus,
    fieldset[disabled] .btn-brand:active,
    fieldset[disabled] .btn-brand.active {
        background-color: #34a7e0;
        border-color: #34a7e0;
    }

.btn-service {
    background-color: #c9c7c7;
    border-color: #c9c7c7;
    color: black;
}

    .btn-service:hover,
    .btn-service:focus,
    .btn-service:active,
    .btn-service.active {
        background-color: #b5b2b2;
        border-color: #aba8a8;
        color: black;
    }

    .btn-service.disabled:hover,
    .btn-service.disabled:focus,
    .btn-service.disabled:active,
    .btn-service.disabled.active,
    .btn-service[disabled]:hover,
    .btn-service[disabled]:focus,
    .btn-service[disabled]:active,
    .btn-service[disabled].active,
    fieldset[disabled] .btn-service:hover,
    fieldset[disabled] .btn-service:focus,
    fieldset[disabled] .btn-service:active,
    fieldset[disabled] .btn-service.active {
        background-color: #c9c7c7;
        border-color: #c9c7c7;
    }
