/*start reset bootstrap styles*/
.row {
    margin-right: 0;
    margin-left: 0;
}

    fieldset.hasheader {
        clear: both;
    }

.form-horizontal .form-group {
    margin-right: 0;
    margin-left: 0;
}

.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    padding-right: 0;
    padding-left: 0;
}

.control-label {
    padding-right: 30px;
}
/*start end bootstrap styles*/

.form-group.haschildren {
    margin-bottom: 0;
}

.form-group.sidebyside {
    clear: none;
    padding: 0 15px;
}

fieldset .form-group.sidebyside:first-child {
    padding-left: 0;
}

fieldset .form-group.sidebyside:last-child {
    padding-right: 0;
}

/*SWWEB-1186*/
fieldset.newrow {
    clear: both;
}
/*SWWEB-1186*/

input:focus, select:focus, textarea:focus {
    outline: none;
}

.requiredfieldmark {
    font-family: Arial Round;
    color: red;
}

.fieldButton {
    background: transparent;
    border: none;
}

.combobox {
    padding: 6px 4px;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

#crudbodyform .combobox-container {
    margin-bottom: 0;
}

.combobox-container:before, .combobox-container:after {
    content: none;
}

.combobox-aux {
    background-image: url('../../Images/icon-combobox.png');
}

    .combobox-aux i:hover {
        height: 33px !important;
    }

span.combobox-clear {
    height: 26px;
}

.control-label {
    color: #000;
    word-wrap: break-word;
}

.commandButton {
    margin-right: 8px;
    min-width: 100px;
}

textarea .readonly {
    border: 0 none;
    background-color: white;
}

.richtextbox, .image-holder {
    min-height: 214px;
    height: 100%;
    overflow: hidden;
}

.richtextbox {
    width: 100%;
}

.richtext .btn-toolbar .btn-group {
    margin-bottom: 5px;
    margin-right: 5px;
}

.richtext .btn-toolbar > .btn + .btn, .richtext .btn-toolbar > .btn-group + .btn, .richtext .btn-toolbar > .btn + .btn-group, .richtext .btn-toolbar > .btn-group + .btn-group {
    margin-left: 0;
}

.richtext .ta-editor {
    /*max-width: 859px;*/ /*add max-width to stop richtext from moving off the screen horizontally*/
}

    .richtext .ta-editor p {
        word-break: break-all;
        word-break: break-word;
    }

.ui-spinner {
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    width: 100%;
}

.ui-spinner-input {
    width: 100%;
}

.ui-spinner-button {
    width: 1%;
    height: 50%;
    font-size: .5em;
    padding: 0px 13px 0 12px;
    margin: 0;
    text-align: center;
    position: absolute;
    cursor: pointer;
    display: block;
    overflow: hidden;
    right: 0;
    background: #eee;
    border: 1px solid #ccc;
}

.ui-spinner .ui-icon {
    position: absolute;
    margin-top: -5px;
    top: 50%;
    left: 40%;
    color: #000;
}

.ui-spinner-up {
    top: 0;
    border-bottom: none;
    border-top-right-radius: 3px;
}

.ui-spinner-down {
    bottom: 0;
    border-top: none;
    border-bottom-right-radius: 3px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    font-size: 12px;
}

    .fileUpload input.upload {
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        opacity: 0;
        filter: alpha(opacity=0);
    }

    .fileUpload input {
        cursor: pointer;
    }

label.form-control {
    height: auto;
    min-height: 34px;
}

.input-group-addon.last {
    border-left: none;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

input[type=search] {
    -webkit-appearance: none;
}

.crud_output .field label {
    text-align: left;
    word-break: break-all;
    word-break: break-word;
}

    .crud_output .field label img {
        max-width: 100%;
        height: auto;
        width: auto;
    }

/*SM - SWWEB-724*/
.issue-items [ng-switch-when="ApplicationCompositionDefinition"] {
    background-image: -webkit-gradient(linear,left 0,left 100%,from(#d9edf7),to(#b9def0));
    background-image: -webkit-linear-gradient(top,#d9edf7,0%,#b9def0,100%);
    background-image: -moz-linear-gradient(top,#d9edf7 0,#b9def0 100%);
    background-image: linear-gradient(to bottom,#d9edf7 0,#b9def0 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9edf7',endColorstr='#ffb9def0',GradientType=0);
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.25),0 1px 2px rgba(0,0,0,0.05);
    color: #3a87ad;
    background-color: #d9edf7;
    border-color: #bce8f1;
    padding: 15px;
    border: 1px solid transparent;
    border-radius: 4px;
}

    .issue-items [ng-switch-when="ApplicationCompositionDefinition"] .table thead > tr > th {
        border-bottom: 2px solid #fff;
    }
/*SM - SWWEB-724*/

/*SM - SWML-10*/
.compositiontoolbar button {
    margin-bottom: 5px;
    width: 100%;
}

@media all and (min-width: 480px) {
    .compositiontoolbar button {
        width: auto;
    }
}
/*SM - SWML-10*/

/*SM - SWWEB-732*/
.form-group.samelinepickers {
    /*margin-bottom: 0;*/
}
/*SM - SWWEB-732*/

input[type="date"], input[type="time"] {
    -webkit-appearance: none;
    -moz-appearance: none;
}

@media all and (max-width: 768px) {
    .col-xs-12 {
        width: auto !important;
    }
}
