#listgrid {
    color: #000;
    width: 100%;
    border-spacing: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

    #listgrid thead {
        background-color: #fff;
    }

        #listgrid thead tr.header-row {
            background-color: #fff;
            color: #000;
        }

            #listgrid thead tr.header-row th {
                cursor: pointer;
            }

        #listgrid thead tr.filter-row {
            background-color: #fff;
            color: #000;
        }

    #listgrid tbody tr {
        cursor: pointer;
    }

    #listgrid th {
        word-break: break-word;
    }

    #listgrid td {
        word-break: break-all;
        word-break: break-word;
    }

        #listgrid td .input-group, #listgrid td .input-group .glyphicon {
            position: initial;
        }

        #listgrid td.select-multiple {
            text-align: center;
        }

.gridcolumnvalue {
    color: black;
    padding-left: 8px;
    word-wrap: break-word;
}

@media only screen and (min-width: 1200px) {
    .gridcolumnvalue {
        max-width: 135px;
    }
}

@media only screen and (max-width: 1199px) {
    .gridcolumnvalue {
        max-width: 100px;
    }
}
