.container header {
    width: 100%;
}

    .container header .admin-area {
        background-color: rgba(52, 167, 224, 0.5);
        border-bottom: rgba(0, 0, 0, 0.3) 3px solid;
        padding: 10px 55px 8px 20px;
    }

        .container header .admin-area .text {
            float: left;
            color: #fff;
            margin-top: 16px;
        }

            .container header .admin-area .text a {
                color: #fff;
            }

                .container header .admin-area .text a:hover {
                    text-decoration: none;
                }

        .container header .admin-area .admin-menu {
            float: right;
            margin-top: 2px;
        }

            .container header .admin-area .admin-menu i.fa-cog {
                color: #fff;
            }

            .container header .admin-area .admin-menu .dropdown-menu {
                top: auto;
                left: auto;
                right: 55px !important;
                border-radius: 6px;
            }

                .container header .admin-area .admin-menu .dropdown-menu .user {
                    border-bottom: 1px solid #ccc;
                    margin-bottom: 5px;
                    padding-bottom: 2px;
                }

                    .container header .admin-area .admin-menu .dropdown-menu .user a:hover {
                        background: none;
                        color: #333;
                    }

            .container header .admin-area .admin-menu .dropdown-submenu > .dropdown-menu {
                top: 0;
                left: auto;
                right: 148px !important;
            }

        /*TODO remove*/
        .container header .admin-area .buttons {
            padding-top: 20px;
            float: right;
        }

    .container header .branding {
        min-height: 100px;
        padding: 20px 20px;
    }

        .container header .branding .logo img {
            max-width: 100%;
            height: auto;
            width: auto;
        }

    .container header .menu-grid {
        width: 100%;
    }

        .container header .menu-grid li a {
            text-align: center;
        }

        .container header .menu-grid .submenu li a {
            text-align: left;
        }

@media all and (min-width: 1px) {
    .container header {
        position: relative;
        z-index: 1010;
    }

        .container header .menu-grid li {
            width: 100%;
        }

            .container header .menu-grid li:last-child .dropdown, .container header .menu-grid li:last-child a {
                margin-bottom: 5px;
            }

        .container header .menu-grid button .non-isolate {
            width: 100%;
        }
}

@media all and (min-width: 330px) {
    .container header .branding .logo img {
        width: 274px;
    }
}

@media all and (min-width: 480px) {
    .container header .menu-grid li {
        width: 49%;
    }
}

@media all and (min-width: 640px) {
    .container header .menu-grid li {
        width: 32%;
    }
}

@media all and (min-width: 768px) {
    .container.desktop header {
        position: fixed;
    }

    .container header .menu-grid li {
        width: auto;
    }

        .container header .menu-grid li:last-child .dropdown, .container header .menu-grid li:last-child a {
            margin-bottom: 0px;
        }
}

.container header .menu-grid .submenu li {
    width: 100%;
}
