.new-button {
    margin-top: 20px;
    margin-bottom: 15px;
}

#profiles .buttons, #roles .buttons {
    margin-top: 10px;
    margin-bottom: 30px;
}

.adminlogs .textarealog.form-control {
    height: 368px;
}

.adminlogs .log-select {
    padding-top: 20px;
}

    .adminlogs .log-select label {
        display: block;
    }

    .adminlogs .log-select .options {
        margin-top: 5px;
    }

.adminlogs table a {
    cursor: pointer;
}

.adminlogs .appender {
    margin-bottom: 20px;
}

    .adminlogs .appender .btn {
        margin-top: 10px;
    }

.about.page input {
    font-weight: bold;
}

.about.page label.form-control {
   background: #eee;
}

.about.page .key.buttons {
    margin-top: 10px;
}

@media all and (min-width: 768px) {
    .about.page .key.buttons {
        margin-top: 0;
    }
}
