/*SM - 07/02 - REMOVE - General remove all Hapag prefixed rules*/
body {
    font-family: "Arial";
    overflow-y: scroll;
    -webkit-transition: all 0.5s;
}

input:focus, select:focus, textarea:focus {
    outline: none;
}

.requiredfieldmark {
    font-family: Arial Round;
    color: red;
}

.smallmodal {
    width: 350px;
    top: 50%;
    left: 50%;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2000;
}

/*SM - 07/05 - ADD - Start fix content responsive width*/
.container {
    padding: 0;
    width: 100%;
    max-width: 1139px;
}

.content .container {
    padding: 0;
    margin: 0;
}
/*SM - 07/05 - ADD - End fix content responsive width*/

.col-side-bar {
    float: left;
    width: 195px;
    /*position: fixed;*/ /*Added fr adding scrollbar and hiding it for menu*/
}

    .col-side-bar > .affix {
        width: 195px;
        height: 100%;
        z-index: 100;
        background-color: #FFFFFF;
    }

.col-main-content {
    float: left;
    width: 975px;
}

    .col-main-content > .affix {
        width: 975px;
        z-index: 100;
    }

.printModal {
    width: 330px;   
    outline: none;
}

.conditionModal {
    position: absolute;
    top: 65%;
    left: 12%;
    padding: 20px;
    width: 450px;
    height: 650px;
    outline: none;
}

.modal {
    overflow-y: auto !important;
}

.modal-dialog {
    width: 100%;
}

/*.hapag-topbar {
    text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    background-color: #003878;
    box-shadow: 0 1px 0 rgba(255,255,255,.1);
    min-height: 0;
    width: 100%;
    border-radius: 0;
    margin-bottom: 0;
    padding-bottom: 2px;
    max-height: 26px;
    height: 26px;
}*/

.helptext {
    color: gray;
    font-size: 13px;
}

/*SM - 07/02 - REMOVE - Start move to conbine with other listgrid styles*/
/*#listgrid {
    color: #000;
    width: 100%;
    border-spacing: 0px;
    margin: 0;
}

    #listgrid thead {
        width: 942px;
    }

        #listgrid thead tr.header-row {
            background-color: #FFF;
            color: #000;
        }

            #listgrid thead tr.header-row th {
                cursor: pointer;
            }

        #listgrid thead tr.filter-row {
            background-color: #FFF;
            color: #000;
        }

    #listgrid tbody > tr:nth-child(odd) > td,
    #listgrid tbody > tr:nth-child(odd) > th,
    #listgrid tbody > tr:nth-child(even) > th,
    #listgrid tbody > tr:nth-child(even) > td {
    }

.affix-thead {
    position: fixed;
}*/
/*SM - 07/02 - REMOVE - Start move to conbine with other listgrid styles*/

.advanced-filter-toogle {
    cursor: pointer;
    text-align: center;
}

/*SM - 06/28 - REMOVE - Start move to combine header styles*/
/*.menu-grid {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1139px;
    width: 100%;
}*/
/*SM - 06/28 - REMOVE - End move to combine header styles*/

.advanced-filter {
}

    .advanced-filter > div.advanced-filter-item {
        float: left;
        margin: 4px;
        margin-right: 14px;
    }

        .advanced-filter > div.advanced-filter-item .filter-label {
            color: black;
        }

        .advanced-filter > div.advanced-filter-item .filter-input {
            float: left;
        }

        .advanced-filter > div.advanced-filter-item div.text-input {
            width: 150px;
        }

        .advanced-filter > div.advanced-filter-item div.datetime-input {
            width: 140px;
        }

.input-group .glyphicon,
.grid-filter-button {
    cursor: pointer;
    color: black;
}

.combobox {
    padding: 6px 4px;
}

#datetimepicker > .input-group-addon {
    padding: 4px;
}

/*.hapag-subtitle {
    background-color: #003878;
    color: #fff;
    padding: 1px 0 9px 0;
    text-align: center;
    width: 100%;
    height: 57px;
}*/

.detail-body {
    padding-top: 1px;
}

/*.hapag-body-popup,
.hapag-body {
    margin-left: 1px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}*/

/*.hapag-body-popup {
    margin-top: auto;
}*/

/*.hapag-body {
    margin-top: 225px;
}*/

/*.hapag-body-loaded {
}*/

.form-horizontal {
    /*padding-right: 10px;*/
    /*SM - 07/05 - ADD - Start fix detail form padding*/
    padding-left: 15px;
    padding-right: 15px;
    /*SM - 07/05 - ADD - End fix detail form padding*/
}

/*.hapag-subtitle h1 {
    margin-top: 7px;
}*/

/*.hapag-topbar > .container {
    float: right;
    padding-right: 10px;
}*/

#top .navbar-nav > li:last-child > a {
    text-align: center;
}

.nav > li > a {
    color: #ffffff;
}

#top .navbar-nav > li:last-child {
    width: 90px;
    border-width: 1px;
    border-color: #003878;
}

/*nav.hapag-topbar {
    position: static !important; /* Overrides the position from 'nav' bootstrap class due to compatibility on ie9 */
}

*/
/*.hapag-topbar .navbar-brand {
    color: #fff;
}*/
/*.hapag-topbar .navbar-nav {
    line-height: 0px;
}*/
/*.hapag-topbar .navbar-nav > li > a,
    .hapag-topbar .navbar-nav > li > a:hover {
        color: #ffffff;
        line-height: 15px;
    }*/
/*.hapag-topbar .navbar-nav > .active > a,
    .hapag-topbar .navbar-nav > .active > a:hover {
        color: #fff;
        background-color: #463265;
    }*/
/*.hapag-topbar-btn .navbar-nav > .active > a,
.hapag-topbar-btn .navbar-nav > .active > a:hover,
.hapag-btn {
    color: #fff;
    background-color: #E75200;
    border-color: #E75200;
}*/
/*.hapag-topbar-btn a:hover {
    color: #fff;
    background-color: #E75200;
}*/
/*.hapag-topbar .navbar-toggle {
    border-color: #563d7c;
}*/
/*.hapag-topbar .navbar-toggle:hover {
        background-color: #463265;
        border-color: #463265;
    }*/
/*.hapag-topbar-btn .navbar-toggle:hover {
    background-color: #E75200;
    border-color: #463265;
}*/
/*.hapag-topbar .nav > li > a {
    position: relative;
    display: block;
    padding: 5px 4px;
    font-size: 12px;
}*/
/*.hapag-topbar .nav > li > a > span {
        margin-right: 10px;
    }*/
.alignment-logo {
    display: block;
    height: 83px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.alignment-logo img {
    vertical-align: middle;
}

.affix-pagination {
    position: fixed;
    width: 100%;
    max-width: 1139px;
    /*z-index: 2000;*/
    /*SM - 06/28 - CHANGE - Start fix menu spacing*/
    /*margin-top: -2px;*/
    /*margin-left: -15px;*/
    /*SM - 06/28 - CHANGE - End fix menu spacing*/
}

    .affix-pagination .pagination-pager a:hover {
        text-decoration: none;
    }

#listgrid {
    color: #000;
    width: 100%;
    border-spacing: 0px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

    #listgrid thead {
        /*SM - 07/12 - REMOVE - Start responsive table*/
        /*width: 942px;*/
        /*SM - 07/12 - REMOVE - End responsive table*/
    }

        #listgrid thead tr.header-row {
            background-color: #FFF;
            color: #000;
        }

            #listgrid thead tr.header-row th {
                cursor: pointer;
            }

        #listgrid thead tr.filter-row {
            background-color: #FFF;
            color: #000;
        }

    #listgrid tbody > tr:nth-child(odd) > td,
    #listgrid tbody > tr:nth-child(odd) > th,
    #listgrid tbody > tr:nth-child(even) > th,
    #listgrid tbody > tr:nth-child(even) > td {
    }

.affix-thead {
    position: fixed;
    /*width: 100%;
    max-width: 1139px;*/
}

.listgrid-thead {
    /*SM - 06/28 - CHANGE - Start fix menu spacing*/
    /*top: 265px;*/
    /*top: 267px !important;*/
    /*SM - 06/28 - CHANGE - End fix menu spacing*/
}

.listgrid-table {
    /*SM - 06/28 - CHANGE - Start fix menu spacing*/
    /*margin-top: 84px;*/
    /*margin-top: 84px !important;*/
    /*SM - 06/28 - CHANGE - End fix menu spacing*/
}

/*.listgrid-table tbody {
    margin-top: 84px;
}*/

.pagination-container {
    font-size: 11px;
    background-color: #EEEEEE;
    height: 34px;
    width: 100%;
    padding: 10px 16px 33px 16px;
}

    .pagination-container .pagination-results-page {
        float: left;
        width: 25%;
        text-align: left;
    }

        .pagination-container .pagination-results-page select {
            display: inline-block;
        }

.pagination-pager {
    margin-left: 30px;
}

.pagination-container .pagination-pager input {
}

.pagination-container .pagination-pager label {
    margin-left: 2px;
}

.pagination-actions {
    margin-left: 30px;
}

.pagination-container .pagination-results {
    line-height: 2;
    float: left;
    width: 37%;
    text-align: right;
}

.pagination-container label {
    color: #000000 !important;
    padding: 0px !important;
}

/************************ 
    Hapag Dashboard 
 ************************/
/*.hapag-dashboardtab {
    border-bottom: 5px solid #E75200;
}*/

.nav-tabs > li {
    margin-bottom: 0px;
}

/*.hapag-dashboardtab > li.active > a {
    background-color: #E75200;
    border-color: #E75200;
    color: #fff;
}*/

/*.hapag-dashboardtab > li > a,
.hapag-dashboardtabcontent {
    background-color: #E1EAF7;
    border-color: #E1EAF7;
    color: #000;
}*/

/*.hapag-dashboardtab > li > a,
.hapag-btn {
    padding: 2px 20px;
}*/

/*.hapag-dashboardtabcontent {
    width: 100%;
    display: table;
    padding: 15px 10px 10px 10px;
    margin-bottom: 10px;
}*/

/*.hapag-dashboardtabcontent .table {
        margin-bottom: 0px;
    }*/

/*.hapag-dashboardtabcontent .featured {
        background-color: #003878;
        color: #fff;
        min-width: 76px;
        text-align: center;
        margin: 0px 10px;
    }*/

#dashboardgrid thead tr:first-child {
    font-weight: bold;
}

#dashboardgrid tbody > tr > td,
#dashboardgrid thead > tr > th {
    border-top: 0px;
    border-bottom: 0px;
    padding: 2px;
}

.compositiondetailtab {
    background-color: #BBD7FA;
    margin-bottom: 10px;
}

.combobox-aux {
    background-image: url('../../Images/icon-combobox.png');
}

    .combobox-aux i:hover {
        height: 33px !important;
    }

span.combobox-clear {
    height: 26px;
}

/******************************
 * style form auto completeclient, see bootstrap-combobox.js
 ******************************/
.combobox-container .add-on {
    width: 18px !important;
    height: 34px !important;
}


.combobox-container > input {
    width: 98% !important
    
}

/********End auto complete*********/

.control-label {
    color: #000;
    word-wrap: break-word;
}

.schemachoosingcombo {
    width: 50%;
    margin: 5px auto;
    margin-bottom: 5px;
}

.commandButton {
    background-color: #003878;
    color: white;
    margin-right: 8px;
    border: none;
    border-radius: 0px;
    min-width: 100px;
}

textarea .readonly {
    border: 0 none;
    background-color: white;
}

.richtextbox, .image-holder {
    min-height: 214px;
    height: 100%;
    overflow: hidden;
}

.richtextbox {
    width: 100%;
}

.filter-row .grid-filter-button {
    font-weight: bold;
}

.filter-row .dropdown {
    text-align: left;
}

.filter-row .input-group {
    width: 100%;
}

.modalLock {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
}

.lookupModal .modal-body {
    max-height: 400px;
    overflow: auto;
    width: 100%;
}

.lookupModal .modal-dialog {
    width: 800px;
}

/************************ 
    Config
 ************************/
.config-add-on {
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: table-cell;
    vertical-align: middle;
}

.statuscolumncolor {
    width: 13px;
    height: 20px;
}

.serviceItLoginWarning {
    color: black;
    width: 600px;
    border: #184c86 thin solid;
    height: auto;
    background-color: #aaddff;
    margin-left: 200px;
    margin-top: 10px;
}

.expanded-item-composition button {
    display: none;
}

.expanded-item-composition {
    background-color: white;
}

.detail-output {
    text-align: left !important;
    font-weight: bold !important;
}

    .detail-output span {
        float: right;
    }

@media screen {
    .hideRows {
        display: none;
    }

    .pagebreak {
        display: none;
    }

    .hiddenonscreen {
        display: none;
    }
}

@media print {
    .hiddenonprint {
        display: none !important;
    }

    #listgrid {
        /*margin-left: -120px; SWWEB-244: Had to comment for the margin to show correctly and print the total grid */
        display: block;
    }

    .listgrid-firefox {
        width: 700px !important;
        margin-left: -190px !important;
    }

    .pagebreak-before {
        display: block;
        page-break-before: always;
    }

    .pagebreak-after {
        display: block;
        page-break-after: always;
    }

    html, body {
        height: 25%;
        overflow: visible !important;
        float: none !important;
        position: relative;
    }

    /*.hapag-body {
        margin-top: 0px !important; 
        float: none !important;
    }*/

    .form-control {
        border: none;
    }

    .no-records {
        width: 100%;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 40px;
    }
}

.col-sectionsamelineheader {
    margin-top: -15px !important;
}

.col-horizontal-orientation {
    float: left;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 5px;
    padding-right: 5px;
}

    .col-horizontal-orientation:first-child {
        padding-left: 0px;
    }

    .col-horizontal-orientation:last-child {
        padding-right: 0px;
    }


/************************ 
Header 
************************/
/*SM - 06/28 - REMOVE - Start remove duplicate style & replace with index.css*/
/*.container header .persistent {
    background: #34a7e0;
    border-bottom: rgba(0, 0, 0, 0.3) 3px solid;
    padding: 0 20px;
}

    .container header .persistent .text {
        float: left;
        color: #fff;
        margin-top: 16px;
    }

    .container header .persistent .buttons {
        padding-top: 20px;
        float: right;
    }

    .container header .persistent a {
        color: #fff;
    }

        .container header .persistent a:hover {
            text-decoration: none;
        }

.container header .branding {
    background: #34a7e0 url(../../Images/banner.jpg) no-repeat bottom left;
    min-height: 100px;
    padding: 20px 20px;
}

    .container header .branding .logo img {
        max-width: 100%;
        height: auto;
        width: auto;
    }

@media all and (min-width: 330px) {
    .container header .branding .logo img {
        width: 274px;
    }
}*/
/*SM - 06/28 - REMOVE - End remove duplicate style & replace with index.css*/

/*SM - 06/28 - ADD - Start header styles*/
.clear {
    clear: both;
}

.btn-brand {
    background-color: #34a7e0;
    border-color: #34a7e0;
    color: white;
}

    .btn-brand:hover, .btn-brand:focus, .btn-brand:active, .btn-brand.active {
        background-color: #1f93cc;
        border-color: #1c86ba;
        color: white;
    }

    .btn-brand.disabled:hover, .btn-brand.disabled:focus, .btn-brand.disabled:active, .btn-brand.disabled.active, .btn-brand[disabled]:hover, .btn-brand[disabled]:focus, .btn-brand[disabled]:active, .btn-brand[disabled].active, fieldset[disabled] .btn-brand:hover, fieldset[disabled] .btn-brand:focus, fieldset[disabled] .btn-brand:active, fieldset[disabled] .btn-brand.active {
        background-color: #34a7e0;
        border-color: #34a7e0;
    }

.btn-service {
    background-color: #c9c7c7;
    border-color: #c9c7c7;
    color: black;
}

    .btn-service:hover, .btn-service:focus, .btn-service:active, .btn-service.active {
        background-color: #b5b2b2;
        border-color: #aba8a8;
        color: black;
    }

    .btn-service.disabled:hover, .btn-service.disabled:focus, .btn-service.disabled:active, .btn-service.disabled.active, .btn-service[disabled]:hover, .btn-service[disabled]:focus, .btn-service[disabled]:active, .btn-service[disabled].active, fieldset[disabled] .btn-service:hover, fieldset[disabled] .btn-service:focus, fieldset[disabled] .btn-service:active, fieldset[disabled] .btn-service.active {
        background-color: #c9c7c7;
        border-color: #c9c7c7;
    }

.container header {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1139px;
    width: 100%;
    position: fixed;
    background: #34a7e0 url(../../Images/otb-header.png) no-repeat top left;
    background-size: cover;
}

    /*Responsive Menu*/
    .container header .menu-expand {
        color: #fff;
        padding: 10px 20px;
        cursor: pointer;
        /*background: #34a7e0;*/
        background-color: rgba(52, 167, 224, 0.5);
        border-bottom: rgba(0, 0, 0, 0.3) 3px solid;
    }

        .container header .menu-expand:hover {
            color: #000;
        }

    .container header .menu-grid .menu-expand {
        background-color: #878787;
        border-bottom: #000000 1px solid;
    }

    .container header div.menu-open + .menu-items {
        display: block;
    }

    .container header div.menu-open, .container header .menu-grid div.menu-open {
        border-bottom: none;
        padding: 10px 20px 0;
    }

    .container header .menu-admin {
        /*background: #34a7e0;*/
        background-color: rgba(52, 167, 224, 0.5);
        border-bottom: rgba(0, 0, 0, 0.3) 3px solid;
        padding: 0 20px;
    }

        .container header .menu-admin .text {
            float: left;
            color: #fff;
            margin-top: 16px;
        }

            .container header .menu-admin .text a {
                color: #fff;
            }

                .container header .menu-admin .text a:hover {
                    text-decoration: none;
                }

        .container header .menu-admin .buttons {
            padding-top: 20px;
            float: right;
        }

    .container header .branding {
        background: url(../../Images/otb-branding.png) no-repeat top left;
        min-height: 100px;
        padding: 20px 20px;
    }

        .container header .branding .logo img {
            max-width: 100%;
            height: auto;
            width: auto;
        }

    .container header .menu-grid {
        max-width: 1139px;
        width: 100%;
    }

        .container header .menu-grid li a {
            text-align: center;
        }

/*.container header .menu-grid .dropdown .submenu {
            z-index: 9999;
        }*/

.container .context {
    background: #eee;
    border-bottom: #000 1px solid;
    padding: 5px 20px;
}

    .container .context .left {
        float: left;
    }

    .container .context .right {
        float: right;
    }

    .container .context .text {
        margin-top: 6px;
    }

    .container .context label {
        font-weight: normal;
    }

.container button {
    text-transform: uppercase;
}

/*SM - 07/02 - ADD - General combine all responsive rules*/
@media all and (min-width: 1px) {
    .container header {
        position: relative;
    }

        .container header .menu-expand {
            display: block;
        }

        .container header .menu-items {
            display: none;
        }

        .container header .menu-admin .buttons {
            width: 100%;
        }

            .container header .menu-admin .buttons .btn, .container header .menu-admin .buttons .btn-group {
                margin-top: 5px;
                width: 100%;
            }

                .container header .menu-admin .buttons .btn-group .btn {
                    margin-top: 0;
                }

        .container header .menu-grid li {
            width: 100%;
        }

            .container header .menu-grid li .dropdown, .container header .menu-grid li a {
                margin-top: 5px;
            }

            .container header .menu-grid li:last-child .dropdown, .container header .menu-grid li:last-child a {
                margin-bottom: 5px;
            }

        .container header .menu-grid button {
            width: 100%;
        }

    .container .content {
        margin-top: 0;
    }

    .affix-pagination {
        position: relative;
    }

        .affix-pagination + br, .affix-pagination + br + br {
            display: none;
        }

    .affix-thead {
        position: relative;
    }

    .listgrid-table {
        margin-top: 0px;
    }
}

@media all and (min-width: 330px) {
    .container header .menu-admin .buttons .btn, .container header .menu-admin .buttons .btn-group {
        width: 49%;
    }

        .container header .menu-admin .buttons .btn-group .btn {
            width: 100%;
        }

    .container header .branding .logo img {
        width: 274px;
    }
}

@media all and (min-width: 480px) {
    .container header .menu-grid li {
        width: 49%;
    }
}

@media all and (min-width: 680px) {
    .container header {
        position: fixed;
    }

        .container header .menu-expand {
            display: none;
        }

        .container header .menu-items {
            display: block;
        }

        .container header .menu-admin .buttons {
            width: auto;
        }

            .container header .menu-admin .buttons .btn, .container header .menu-admin .buttons .btn-group {
                margin-top: 0;
                width: auto;
            }

        .container header .menu-grid li {
            width: auto;
        }

            .container header .menu-grid li .dropdown, .container header .menu-grid li a {
                margin-top: 0px;
            }

            .container header .menu-grid li:last-child .dropdown, .container header .menu-grid li:last-child a {
                margin-bottom: 0px;
            }

    .container .content {
        margin-top: 225px;
    }

    .affix-pagination {
        position: fixed;
        /*top: 225px !important;*/ /*Baseline: 0px*/
    }

    .affix-thead {
        position: fixed;
    }

    .listgrid-thead {
        /*top: 300px !important;*/ /*Baseline: 42px*/
    }

    .listgrid-table {
        /*margin-top: 160px !important;*/ /*Baseline: 127px*/
    }
}

@media all and (min-width: 848px) {
    .listgrid-thead {
        /*top: 267px;*/
    }

    .listgrid-table {
        /*margin-top: 127px;*/
    }
}
/*SM - 06/28 - ADD - End header styles*/

/*#listgrid thead tr th, #listgrid tr td {
    width: 21% !important;
    min-width: 21% !important;
}

    #listgrid thead tr th input {
        width: 100% !important;
    }*/

.container header .menu-grid li a {
    /*border: 1px solid #ccc;*/
    /*padding: 1px 5px;*/
}

    .container header .menu-grid li a:hover {
        /*border: 1px solid #adadad;*/
    }

.legend-label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    /* font-weight: bold; */
    line-height: 1;
    /* color: #fff; */
    /* text-align: center; */
    white-space: nowrap;
    vertical-align: baseline;
    /* border-radius: .25em; */
    font: 12px/24px Arial, Helvetica, sans-serif;
}

/*SUCCESS MESSAGE - BEGIN */

.pagination-successmessage {
    top: 412px !important;
}

.listgrid-thead-successmessage {
    top: 326px !important;
}

.listgrid-thead-reset {
    top: 263px !important;
}

.listgrid-table-successmessage {
    margin-top: 186px !important;
}

.listgrid-table-reset {
    margin-top: 123px !important;
}

.fix-successmessage {
    position: fixed;
}

.topMessageAux {
    z-index: 1000;
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1139px;
    width: 100%;
    /*top: 225px;*/
}

/*SUCCESS MESSAGE - END */

/*ERROR MESSAGE - BEGIN */

.pagination-errormessage {
    top: 412px !important;
}

.listgrid-thead-errormessage {
    top: 326px !important;
}

.listgrid-table-errormessage {
    margin-top: 186px !important;
}

/*ERROR MESSAGE - END */



