body {
    font-family: "Arial";
    overflow-y: scroll;
    -webkit-transition: all 0.5s;
}

.clear {
    clear: both;
}

input.ng-dirty.ng-invalid {
    border-color: red
}

.spinner {
    position: fixed; /*HAP-508 T-EU-044 fix*/
    top: 50%;
    left: 50%;
    z-index: 9999;
}


.container {
    padding: 0;
    width: 100%;
}

.content .container {
    padding: 0;
    margin: 0;
}

.helptext {
    color: gray;
    font-size: 13px;
}

.form-horizontal {
    padding-left: 15px;
    padding-right: 15px;
}

#top .navbar-nav > li:last-child > a {
    text-align: center;
}

#top .navbar-nav > li:last-child {
    width: 90px;
    border-width: 1px;
    border-color: #003878;
}

.divAuxTable {
    z-index: 990;
    position: relative;
}

.schemachoosingcombo {
    width: 50%;
    margin: 5px auto;
    margin-bottom: 5px;
}

.commandbar {
    margin-top: 60px;
}

    .commandbar .print {
        display: none;
    }

@media all and (min-width: 768px) {
    .commandbar .print {
        display: inline-block;
    }
}

/************************ 
    Config
 ************************/
.config-add-on {
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: table-cell;
    vertical-align: middle;
}

.statuscolumncolor {
    width: 13px;
    height: 20px;
}

.serviceItLoginWarning {
    color: black;
    width: 600px;
    border: #184c86 thin solid;
    height: auto;
    background-color: #aaddff;
    margin-left: 200px;
    margin-top: 10px;
}

.expanded-item-composition button {
    display: none;
}

.expanded-item-composition {
    background-color: white;
}

.detail-output {
    text-align: left !important;
    font-weight: bold !important;
}

.col-sectionsamelineheader {
    margin-top: -15px !important;
}

.col-horizontal-orientation {
    float: left;
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-left: 5px;
    padding-right: 5px;
}

    .col-horizontal-orientation:first-child {
        padding-left: 0px;
    }

    .col-horizontal-orientation:last-child {
        padding-right: 0px;
    }

.container button {
    text-transform: uppercase;
}

@media all and (min-width: 1px) {
    .container .content {
        margin-top: 0;
    }

    messagesection .alerts {
        position: relative;
        z-index: 1000;
    }

    messagesection .alert {
        margin-bottom: 0;
    }

    .affix-pagination {
        position: relative;
        z-index: 1000;
        box-sizing: border-box;
    }

        .affix-pagination + br, .affix-pagination + br + br {
            display: none;
        }

    .affix-thead {
        position: relative;
    }

    .listgrid-table {
        margin-top: 0px;
    }

    .listgrid-thead {
        width: 100%;
    }
}

@media all and (min-width: 768px) {
    .desktop messagesection .alerts {
        position: fixed;
        /*width: 100%;*/
    }

    .container.desktop .affix-pagination {
        position: fixed;
    }

    .container.desktop .listgrid-thead {
        position: fixed;
    }
}

.legend-label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    line-height: 1;
    white-space: nowrap;
    vertical-align: baseline;
    font: 12px/24px Arial, Helvetica, sans-serif;
}

.topMessageAux {
    z-index: 1000;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100%;
}

/*JV - ~10/03 - SWWEB-472 - Add green & orange color CSS that can be used for icons*/
.red {
    color: red;
}

.green {
    color: green;
}

.orange {
    color: orange;
}

.blue {
    color: blue;
}

.black {
    color: black;
}

.gray {
    color: gray;
}
/*JV - ~10/03 - SWWEB-472 - Add green & orange color CSS that can be used for icons*/

/*JV - 10/08 - SWWEB-472 - Add yellow color CSS that can be used for icons*/
.envelopeYellow {
    color: rgb(239, 198, 99);
}

.fa-question-circle {
  color: #3276b1;
}
/*JV - 10/08 - SWWEB-472 - Add yellow color CSS that can be used for icons*/

