.tooltip {
    font-size: 11px;
    z-index: 9999;
    position: fixed;
}

    .tooltip.in {
        filter: alpha(opacity=100);
        opacity: 1;
    }

.tooltip-inner {
    color: #000;
    background-color: #eee;
    border: 1px solid #a1a1a1;
    max-width: 140px;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #a1a1a1;
}

.tooltip.top-left .tooltip-arrow {
    border-top-color: #a1a1a1;
}

.tooltip.top-right .tooltip-arrow {
    border-top-color: #a1a1a1;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #a1a1a1;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #a1a1a1;
}

.tooltip.bottom .tooltip-arrow {
    border-bottom-color: #a1a1a1;
}

.tooltip.bottom-left .tooltip-arrow {
    border-bottom-color: #a1a1a1;
}

.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #a1a1a1;
}
