﻿.page-signin {
    background: #0780c9 url(../images/signin.jpg) no-repeat center top fixed;
    background-size: cover;

    .form-signin {
        .logo.byline {
            img {
                width: 250px;
            }
        }
    }
}

.container {
    header {
        background: #34a7e0 url(../images/header.jpg) no-repeat top left;
        background-size: cover;

        .branding {
            .logo {
                img {
                    height: 100px;
                }
            }
        }
    }

    footer {
        background: #34a7e0 url(../images/footer.jpg) no-repeat bottom left;
        background-size: cover;
    }
}

.container header .logo {
    width: 160px;
}

.container header .branding {
    background: url(../images/branding.png) no-repeat top left;
}
