.page-signin {
    background: #0780c9 url(../images/signin.jpg) no-repeat center top fixed;
    background-size: cover;
}

.container header {
    background: #34a7e0 url(../images/header.jpg) no-repeat top left;
    background-size: cover;
}

.container header .logo {
    width: 160px;
}

.container header .branding {
    background: url(../images/branding.png) no-repeat top left;
}
