﻿$signin_color: #16509e;
$form_background: rgba(0, 88, 155, 0.64);
$asset_path: "../images";

.page-signin {
    background: $signin_color url(#{$asset_path}/signin-lg.jpg) no-repeat center center fixed;

    .page-overlay {
        background-color: rgba(22, 80, 158, 0.77);
    }

    .form-signin {
        padding: 0 0 40px 0;

        .logo.main {
            background: #fff;
            padding: 50px 0;

            img {
                height: auto;
            }
        }
    }
}

.container {
    header {
        background: $signin_color url(#{$asset_path}/header.jpg) no-repeat center left;
        border-bottom: 1px solid #999;

        .admin-area {
            background-color: rgba(22, 80, 158, 0.77);
        }

        .branding {
            background: url(#{$asset_path}/branding.png) no-repeat top left;

            .logo img {
                height: 50px;
                width: auto;
            }
        }
    }

    footer {
        background: $signin_color url(#{$asset_path}/footer.jpg) no-repeat bottom left;

        .page-overlay {
            background-color: rgba(22, 80, 158, 0.77);
        }
    }
}

/* Extra Small Devices, Phones */
@media all and (min-width: 1px) and (max-width: 479px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-xxs.jpg) no-repeat center center fixed;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-xs.jpg) no-repeat center center fixed;
    }
}

@media all and (min-width: 1px) and (max-width: 849px) {
    .page-signin {
        .page-overlay {
            background-color: $form_background;
        }

        .form-signin {
            background-color: none;
            padding: 15px;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-sm.jpg) no-repeat center center fixed;
    }
}

@media all and (min-width: 850px) {
    .page-signin {
        .form-signin {
            background-color: $form_background;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-md.jpg) no-repeat center center fixed;
    }
}

.page-signin, .container header, .container footer {
    background-size: cover;
}
