.page-signin { background: #fbf3cc url(../images/signin-lg.jpg) no-repeat center center fixed; }

.page-signin .form-signin .logo.main { padding: 40px 40px 50px; background: #fff; /* Old browsers */ background: -moz-linear-gradient(left, #ff6d00 1%, #ff6d00 6%, #ffffff 36%, #ffffff 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, right top, color-stop(1%, #ff6d00), color-stop(6%, #ff6d00), color-stop(36%, #ffffff), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(left, #ff6d00 1%, #ff6d00 6%, #ffffff 36%, #ffffff 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(left, #ff6d00 1%, #ff6d00 6%, #ffffff 36%, #ffffff 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(left, #ff6d00 1%, #ff6d00 6%, #ffffff 36%, #ffffff 100%); /* IE10+ */ background: linear-gradient(to right, #ff6d00 1%, #ff6d00 6%, #ffffff 36%, #ffffff 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6d00', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */ }

.page-signin .form-signin .logo.main .col-sm-offset-1.col-sm-10 { margin-left: auto; width: auto; float: right; }

.page-signin .form-signin .logo.main img { padding: 0; text-align: right; }

.page-signin .form-signin .divider.top { height: 100px; }

.container header { background: #e0f3f1 url(../images/header.jpg) no-repeat top left; }

.container header .branding { display: inline-block; padding: 20px 30px; width: 570px; background: -moz-linear-gradient(left, white 0%, white 60%, rgba(255, 255, 255, 0) 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, right top, color-stop(0%, white), color-stop(60%, white), color-stop(100%, rgba(255, 255, 255, 0))); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(left, white 0%, white 60%, rgba(255, 255, 255, 0) 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(left, white 0%, white 60%, rgba(255, 255, 255, 0) 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(left, white 0%, white 60%, rgba(255, 255, 255, 0) 100%); /* IE10+ */ background: linear-gradient(to right, white 0%, white 60%, rgba(255, 255, 255, 0) 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */ }

.container header .branding .logo img { height: 70px; width: 199px; }

.container footer { background: #e0f3f1 url(../images/footer.jpg) no-repeat bottom left; }

/* Extra Small Devices, Phones */
@media all and (min-width: 1px) and (max-width: 479px) { .page-signin { background: #fbf3cc url(../images/signin-xxs.jpg) no-repeat center center fixed; } }

@media only screen and (min-width: 480px) and (max-width: 767px) { .page-signin { background: #fbf3cc url(../images/signin-xs.jpg) no-repeat center center fixed; } }

@media all and (min-width: 1px) and (max-width: 849px) { .page-signin .form-signin { padding: 15px; } }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) { .page-signin { background: #fbf3cc url(../images/signin-sm.jpg) no-repeat center center fixed; } }

@media all and (min-width: 850px) { .page-signin .shadow { border: 3px #fff solid; border-radius: 5px; }
  .page-signin .form-signin { padding: 0 0 40px; border-radius: 5px; } }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) { .page-signin { background: #fbf3cc url(../images/signin-md.jpg) no-repeat center center fixed; } }

.page-signin, .container header, .container footer { background-size: cover; }

/*# sourceMappingURL=branding.css.map */