﻿<div class="modal fade lookupModal modalLock"
     data-attribute="{{lookupObj.fieldMetadata.target}}" tabindex="-1" role="dialog" data-backdrop="static"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog {{largemodal}}">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <button type="button" class="close" aria-hidden="true" ng-click="hideLookupModal(lookupObj.fieldMetadata.target)">&times;</button>
                    <h4 class="modal-title">{{i18N('general.select','Select')}} {{lookupObj.fieldMetadata.label}}</h4>
                </div>
                <div class="context clearfix">
                    
                    <grid-multiple-profile panelid="'#modal'"></grid-multiple-profile>

                    <div class="input-group lazy-search">
                        
                        

                        <input type="search" class="hidden-phone form-control" ng-model="lookupsearchdata" ng-model-options='{ debounce: 350 }' data-type="lookupsearchinput"
                               placeholder="Find {{placeholder}}" data-association-key="{{provider}}" ng-enter="lookupModalSearch(pageNumber)" ng-change="lookupModalSearch(pageNumber, $event)"/>
                        <span class="input-group-addon last" ng-click="lookupModalSearch(pageNumber)">
                            <i class="fa fa-search"></i>
                        </span>
                        <div></div><!--stop addon from moving on hover-->
                    </div>
                    <pagination pagination-data="lookupObj.modalPaginationData"
                                disable-export="true"
                                disable-print="true"
                                renderfn="lookupModalSearch(pageNumber)" ng-cloak/>
                    <div class="item-count" ng-class="{'tall' : shouldShowPagination()}">Items:&ensp;{{lookupObj.modalPaginationData.totalCount}}</div>
                </div>
            </div>
            <div class="modal-body">
                <table class="table table-hover hidden-phone" ng-show="lookupObj.schema == null">
                    <thead>
                        <tr class="header-row">
                            <th>
                                <span>{{lookupObj.fieldMetadata.label}}</span>
                            </th>
                            <th ng-if="showDescription()">
                                <span>{{getLookUpDescriptionLabel(lookupObj.fieldMetadata)}}</span>
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="option in lookupObj.options" ng-click="lookupModalSelect(option)">
                            <td>
                                <span>{{option.value}}</span>
                            </td>
                            <td ng-if="showDescription()">
                                <span>{{option.label}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--build responsive css rules based on metadata-->
                <style ng-if="lookupObj.schema != null" column-widths columns="{{lookupObj.schema.displayables}}" gridtype="lookupgrid"></style>
                <table id="listgrid" class="table table-hover hidden-phone" ng-show="lookupObj.schema != null">
                    <thead id="listgridthread" class="listgrid-thead">
                        <tr class="header-row">
                            <th ng-repeat="column in lookupObj.schema.displayables" ng-hide="column.isHidden">

                                <div ng-if="shouldShowHeaderLabel(column)" class="cell-wrapper">
                                    <div ng-click="sort(column)" class="add-on part" rel="tooltip" data-container="body" data-original-title="{{sortLabel(column)}}">
                                        {{i18NLabel(column)}} <i class="fa {{headerIcon(column)}}" ng-show="hasIcon(column)"></i>
                                    </div>
                                    <div class="glyphicon glyphicon-sort-by-attributes part" ng-show="shouldShowSort(column,'asc')"
                                         rel="tooltip" data-original-title="Sorted ascending">
                                    </div>
                                    <div class="glyphicon glyphicon-sort-by-attributes-alt part" ng-show="shouldShowSort(column,'desc')"
                                         rel="tooltip" data-original-title="Sorted descending">
                                    </div>
                                    <div class="filter-label part" filterrowrendered>
                                        <crud-filter-dropdown filter="filterForColumn(column)"
                                                              schema="lookupObj.schema" datamap="datamap"
                                                              select-all="selectAllChecked"
                                                              search-data="searchData" search-operator="searchOperator" filter-applied="filterApplied()"
                                                              filter-standalone />
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="option in lookupObj.options" ng-click="lookupModalSelect(option)">
                            <td ng-repeat="column in ::lookupObj.schema.displayables" ng-hide="column.isHidden">
                                <ng-switch on="column.rendererType">
                                    <span ng-switch-when="checkbox">
                                        <div class='cell-wrapper'>
                                            <i class="fa {{checkboxIconClass(option.extrafields[column.attribute])}}" />
                                        </div>
                                    </span>
                                    <span ng-switch-default>{{getFormattedValueLookup(column, option)}}</span>
                                </ng-switch>


                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-center" ng-show="lookupObj.options.length == 0">
                    {{i18N("search.noresult","No criteria matches your search query")}}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" ng-click="hideLookupModal(lookupObj.fieldMetadata.target)"><i class="fa fa-times"></i>&ensp;{{i18N('general.cancel','Cancel')}}</button>
            </div>
        </div>
    </div>
</div>
