<div>
    <div class="input-group col-xs-12">
        <span class="input-group-addon" ng-show="!isFieldHidden(schema,fieldMetadata.detailSection)
                  && isExpansionAvailable(fieldMetadata)" ng-click="toggleDetailExpansion(fieldMetadata)">
            <div>
                <i class="fa fa-caret-right" ng-hide="detailsExpanded(fieldMetadata)"></i>
                <i class="fa fa-caret-down" ng-show="detailsExpanded(fieldMetadata)"></i>
            </div>
        </span>
        
        <angulartypeahead schema="schema" datamap="datamap"
                          field-metadata="fieldMetadata"
                          attribute="fieldMetadata.attribute"
                          provider="fieldMetadata.associationKey"
                          placeholder="getPlaceholderText(fieldMetadata)"
                          displayablepath="displayablepath"
                          search-text="vm.searchText"
                          hide-description="{{fieldMetadata.hideDescription}}"
                          magnet-clicked="showLookupModal(text)"
                          allow-custom-value="{{fieldMetadata.rendererParameters['allowcustomvalue']}}"
                          mode="{{mode}}"
                          />

    </div>
    <input type="hidden" ng-model="datamap[fieldMetadata.target]" />

    <div>
        <lookup-modal-wrapper lookup-obj="lookupObj"
                              lookup-associations-code="lookupAssociationsCode"
                              lookup-associations-description="lookupAssociationsDescription"
                              schema="schema"
                              datamap="datamap">
        </lookup-modal-wrapper>
    </div>

</div>