<div>
    <div class="input-group col-lg-12">
        <span class="input-group-addon" ng-show="!isFieldHidden(schema,fieldMetadata.detailSection)
                  && isExpansionAvailable(fieldMetadata)" ng-click="toggleDetailExpansion(fieldMetadata)">
            <div>
                <i class="fa fa-caret-right" ng-hide="detailsExpanded(fieldMetadata)"></i>
                <i class="fa fa-caret-down" ng-show="detailsExpanded(fieldMetadata)"></i>
            </div>
        </span>

        <angulartypeahead schema="schema" attribute="fieldMetadata.attribute" provider="fieldMetadata.associationKey" placeholder="fieldMetadata.label" search-text="vm.searchText" hide-description="fieldMetadata.hideDescription"/>

    </div>
    <!--    <div ng-if="shouldShowDescription(fieldMetadata)" class="col-md-6 col-lg-8">-->
    <!--        <input type="text" placeholder="{{getLookUpDescriptionLabel(fieldMetadata)}}" class="form-control" disabled-->
    <!--               ng-model="lookupAssociationsDescription[fieldMetadata.attribute]" />-->
    <!--    </div>-->
    <input type="hidden" ng-model="datamap[fieldMetadata.target]" />

    <div>
        <lookup-modal-wrapper lookup-obj="lookupObj"
                              lookup-associations-code="lookupAssociationsCode"
                              lookup-associations-description="lookupAssociationsDescription"
                              association-options="associationOptions"
                              schema="schema"
                              datamap="datamap">
        </lookup-modal-wrapper>
    </div>

</div>