<div class="modal fade lookupModal modalLock" 
     data-attribute="{{lookupObj.fieldMetadata.target}}" tabindex="-1" role="dialog" data-backdrop="static"
     data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <button type="button" class="close" aria-hidden="true" ng-click="hideLookupModal(lookupObj.fieldMetadata.target)">&times;</button>
                    <h4 class="modal-title">{{i18N('general.select','Select')}} {{lookupObj.fieldMetadata.label}}</h4>
                </div>
                <div class="context clearfix">
                    <div class="input-group lazy-search">
                        <input type="search" class="hidden-phone form-control" ng-model="lookupsearchdata" placeholder="Find {{placeholder}}" data-association-key="{{provider}}" ng-enter="lookupModalSearch(pageNumber)"/>
                        <span class="input-group-addon last" ng-click="lookupModalSearch(pageNumber)">
                            <i class="fa fa-search"></i>
                        </span>
                        <div></div><!--stop addon from moving on hover-->
                    </div>
                    <pagination pagination-data="lookupObj.modalPaginationData"
                                disable-export="true"
                                disable-print="true"
                                renderfn="lookupModalSearch(pageNumber)" ng-cloak/>
                </div>
            </div>
            <div class="modal-body">
                <table class="table table-hover hidden-phone" ng-show="lookupObj.schema == null">
                    <thead>
                        <tr class="header-row">
                            <th>
                                <span>{{lookupObj.fieldMetadata.label}}</span>
                            </th>
                            <th>
                                <span>{{getLookUpDescriptionLabel(lookupObj.fieldMetadata)}}</span>
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="option in lookupObj.options" ng-click="lookupModalSelect(option)">
                            <td>
                                <span>{{option.value}}</span>
                            </td>
                            <td>
                                <span>{{option.label}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--build responsive css rules based on metadata-->
                <style ng-if="lookupObj.schema != null" column-widths columns="{{lookupObj.schema.displayables}}" gridtype="lookupgrid"></style>
                <table id="lookupgrid" class="table table-hover hidden-phone" ng-show="lookupObj.schema != null">
                    <thead>
                        <tr class="header-row">
                            <th ng-repeat="column in lookupObj.schema.displayables" ng-hide="column.isHidden">
                                <span>{{i18NLabel(column)}}</span>
                            </th>
                        </tr>
<!--                        <tr class="filter-row">-->
<!--                            <th ng-repeat="column in lookupObj.schema.displayables"-->
<!--                                ng-hide="column.isHidden">-->
<!--                                <ng-switch on="column.type">-->
<!--                                    <div ng-switch-when="ApplicationFieldDefinition">-->
<!--                                        <ng-switch on="column.rendererType">-->
<!--                                            <div ng-switch-when="datetime" data-datepicker="true" class="input-group input-group-sm">-->
<!--                                                <input type="text" ng-model="searchObj[column.attribute]" class="form-control"-->
<!--                                                       data-date-time-->
<!--                                                       data-show-time="false"-->
<!--                                                       data-show-date="{{column.rendererParameters['showdate']}}"-->
<!--                                                       data-date-format="{{column.rendererParameters['format']}}"-->
<!--                                                       data-allow-past="{{fieldMetadata.rendererParameters['allowpast']}}"-->
<!--                                                       data-allow-future="{{fieldMetadata.rendererParameters['allowfuture']}}"-->
<!--                                                       placeholder="{{i18N('_grid.filter.placeholder','{0} Search',[column.label])}}" ng-enter="lookupModalSearch()" />-->
<!--                                                <span class="input-group-addon " data-calendericon="true" rel="tooltip" data-original-title="{{i18N('calendar.date_tooltip','Open the calendar popup')}}">-->
<!--                                                    <i class="glyphicon glyphicon-calendar"></i>-->
<!--                                                </span>-->
<!--                                                <div class="input-group-addon dropdown">-->
<!--                                                    <span class="dropdown-toggle grid-filter-button" ng-class="{'glyphicon glyphicon-filter' : getSearchIcon(column.attribute) == ''}"-->
<!--                                                          data-toggle="dropdown" rel="tooltip"-->
<!--                                                          data-original-title="{{getOperator(column.attribute).tooltip}}">{{getSearchIcon(column.attribute)}}</span>-->
<!--                                                    <ul class="dropdown-menu">-->
<!--                                                        <li ng-repeat="operation in searchOperations()" ng-click="selectOperator(column.attribute,operation)"-->
<!--                                                            ng-show="operation.renderType.indexOf(column.rendererType) > -1 || column.rendererType == null"-->
<!--                                                            ng-class="{'active' : searchOperator[column.attribute].id == operation.id}">-->
<!--                                                            <a href="#">{{operation.title}}</a>-->
<!--                                                        </li>-->
<!--                                                    </ul>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div ng-switch-default class="input-group input-group-sm">-->
<!--                                                <span class="input-group">-->
<!--                                                    <input type="search"-->
<!--                                                           placeholder="{{i18NLabel(column)}} Search"-->
<!--                                                           class="form-control" ng-model="searchObj[column.attribute]" ng-enter="lookupModalSearch()" />-->
<!--                                                    <span class="input-group-addon"-->
<!--                                                          ng-click="lookupModalSearch()"-->
<!--                                                          rel="tooltip" data-original-title="{{i18N('search.click','Click to search')}}">-->
<!--                                                        <i class="glyphicon glyphicon-filter"></i>-->
<!--                                                    </span>-->
<!--                                                </span>-->
<!--                                            </div>-->
<!--                                        </ng-switch>-->
<!--                                    </div>-->
<!--                                    <div ng-switch-when="OptionField">-->
<!--                                        <div ng-switch on="column.rendererType">-->
<!--                                            <div class="input-group" ng-switch-when="combo" class="sw-combobox-container">-->
<!--                                                <select class="hidden-phone form-control combobox"-->
<!--                                                        ng-init="handleDefaultValue(option.extrafields,column)"-->
<!--                                                        ng-model="searchObj[column.target]"-->
<!--                                                        ng-change="lookupModalSearch()"-->
<!--                                                        ng-options="option.value as option.label for option in GetAssociationOptions(column,true)" />-->
<!--                                                <div class="input-group-addon dropdown">-->
<!--                                                    <span class="dropdown-toggle grid-filter-button" ng-class="{'glyphicon glyphicon-filter' : getSearchIcon(column.attribute) == ''}"-->
<!--                                                          rel="tooltip"-->
<!--                                                          ng-click="lookupModalSearch()"-->
<!--                                                          data-original-title="{{getOperator(column.attribute).tooltip}}">{{getSearchIcon(column.attribute)}}</span>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </ng-switch>-->
<!--                            </th>-->
<!--                        </tr>-->
                    </thead>
                    <tbody>
                        <tr ng-repeat="option in lookupObj.options" ng-click="lookupModalSelect(option)">
                            <td ng-repeat="column in lookupObj.schema.displayables" ng-hide="column.isHidden">
                                <span>{{getFormattedValue(option.extrafields[column.attribute], column, option)}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-center" ng-show="lookupObj.options.length == 0">
                    {{i18N("search.noresult","No criteria matches your search query")}}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="hideLookupModal(lookupObj.fieldMetadata.target)">{{i18N('general.cancel','Cancel')}}</button>
            </div>
        </div>
    </div>
</div>
