<div class="modal fade lookupModal modalLock" 
     data-attribute="{{lookupObj.fieldMetadata.target}}" tabindex="-1" role="dialog" data-backdrop="static"
     data-keyboard="false" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <button type="button" class="close" aria-hidden="true" ng-click="hideLookupModal(lookupObj.fieldMetadata.target)">&times;</button>
                    <h4 class="modal-title">{{i18N('general.select','Select')}} {{lookupObj.fieldMetadata.label}}</h4>
                </div>
                <div class="context clearfix">
                    <div class="input-group lazy-search">
                        <input type="search" class="hidden-phone form-control" ng-model="lookupsearchdata" 
                               placeholder="Find {{placeholder}}" data-association-key="{{provider}}" ng-enter="lookupModalSearch(pageNumber)" ng-change="lookupModalSearch(pageNumber)"/>
                        <span class="input-group-addon last" ng-click="lookupModalSearch(pageNumber)">
                            <i class="fa fa-search"></i>
                        </span>
                        <div></div><!--stop addon from moving on hover-->
                    </div>
                    <pagination pagination-data="lookupObj.modalPaginationData"
                                disable-export="true"
                                disable-print="true"
                                renderfn="lookupModalSearch(pageNumber)" ng-cloak/>
                </div>
            </div>
            <div class="modal-body">
                <table class="table table-hover hidden-phone" ng-show="lookupObj.schema == null">
                    <thead>
                        <tr class="header-row">
                            <th>
                                <span>{{lookupObj.fieldMetadata.label}}</span>
                            </th>
                            <th>
                                <span>{{getLookUpDescriptionLabel(lookupObj.fieldMetadata)}}</span>
                            </th>
                        </tr>

                    </thead>
                    <tbody>
                        <tr ng-repeat="option in lookupObj.options" ng-click="lookupModalSelect(option)">
                            <td>
                                <span>{{option.value}}</span>
                            </td>
                            <td>
                                <span>{{option.label}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--build responsive css rules based on metadata-->
                <style ng-if="lookupObj.schema != null" column-widths columns="{{lookupObj.schema.displayables}}" gridtype="lookupgrid"></style>
                <table id="lookupgrid" class="table table-hover hidden-phone" ng-show="lookupObj.schema != null">
                    <thead>
                        <tr class="header-row">
                            <th ng-repeat="column in lookupObj.schema.displayables" ng-hide="column.isHidden">
                                <span>{{i18NLabel(column)}}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="option in lookupObj.options" ng-click="lookupModalSelect(option)">
                            <td ng-repeat="column in lookupObj.schema.displayables" ng-hide="column.isHidden">
                                <span>{{getFormattedValue(option.extrafields[column.attribute], column, option)}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <p class="text-center" ng-show="lookupObj.options.length == 0">
                    {{i18N("search.noresult","No criteria matches your search query")}}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="hideLookupModal(lookupObj.fieldMetadata.target)">{{i18N('general.cancel','Cancel')}}</button>
            </div>
        </div>
    </div>
</div>
