.page-signin .form-signin .logo img {
    content: url(../images/logo-client.png);
}

.container header .branding .logo img {
    content: url(../images/logo-client.png);
}

.page-signin .form-signin .byline img {
    content: url(../../../images/byline-softwrench.png);
}
