﻿.page-signin {
    .form-signin {
        .logo.main {
            img {
                height: auto;
            }
        }
    }

    .logo.byline {
        img {
            width: 250px;
        }
    }
}
