.col-lg-5 {
    float: left !important;
    text-align: right !important;
}

.col-lg-3 {
    float: left !important;
}

.col-lg-offset-5 {
    margin-left: 336px !important;
}

.index-form-row {
    margin-left: 100px;
    padding-top: 60px;
    padding-bottom: 8px;
}

.index-background-img {
    margin-top: 40px;
    background-image: url('../../Images/gric/login-gric-gilariver.jpg');
    height: 93px;
}

.loginBttn {
    margin-left: 5px;
    margin-top: 22px;
}

.col-lg-offset-4 {
    margin-left: 23.333333% !important;
}
