.gric-subtitle {
    background-color: #7292A1 !important;
}

.commandButton {
    background-color: #7292A1 !important;
}

.vertical-menu-container .dropdown-menu {
    background-color: #7292A1 !important;
}

    .vertical-menu-container .dropdown-menu:first-child {
        background-color: #7292A1 !important;
    }

#listgrid thead tr.header-row {
    border-color: #7292A1 !important;
}

.header-row {
    background-color:  #FFF !important;
}

#top .navbar-nav > li:last-child {
    background-color: #7292A1;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: #C69105;
    border-color: #C69105 !important;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 1px solid #ddd !important;
}

.navbar-inverse {
    background-color: #C69105 !important;
    border-color: #C69105 !important;
    background: rgb(198, 145, 5);
    background: -moz-linear-gradient(208deg, rgb(198, 145, 5) 52%, rgb(198, 145, 5) 70%);
    background: -webkit-linear-gradient(208deg, rgb(198, 145, 5) 52%, rgb(198, 145, 5) 70%);
    background: -o-linear-gradient(208deg, rgb(198, 145, 5) 52%, rgb(198, 145, 5) 70%);
    background: -ms-linear-gradient(208deg, rgb(198, 145, 5) 52%, rgb(198, 145, 5) 70%);
    background: linear-gradient(298deg, rgb(198, 145, 5) 52%, rgb(198, 145, 5) 70%);
}

.compositiondetailtab {
    background-color: #623A17 !important;
}

/*.alignment-logo img {
    margin-top: 12px;
}*/
