﻿.page-signin {
    .form-signin {
        .logo.main {
            img {
                height: auto;
            }
        }

        .divider {
            height: 40px;
        }
        
        .logo.byline {
            img {
                width: 250px;
            }
        }
    }
}

.container {
    header {
        .branding {
            .logo img {
                height: 50px;
            }
        }
    }
}
