.page-signin {
    background: #b0dae9 url(../../images/tva/signin.jpg) no-repeat center top fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    .page-signin .form-signin {
        background-color: rgba(1, 26, 45, 0.5);
    }

        .page-signin .form-signin .logo img {
            content: url(../../images/tva/logo-main.png);
        }

.container header {
    background: #34a7e0 url(../../images/tva/header.jpg) no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    .container header .branding {
        background: url(../../images/tva/branding.png) no-repeat top left;
    }

        .container header .branding .logo img {
            content: url(../../images/tva/logo-main.png);
            width: 420px;
        }

.page-signin .form-signin .byline img {
    content: url(../../images/byline-softwrench.png);
}