.container header {
    background: #34a7e0 url(../../Images/tva/header.jpg) no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    .container header .branding {
        background: url(../../Images/tva/branding.png) no-repeat top left;
    }

        .container header .branding .logo img {
            width: 420px;
        }