.listgrid-table {
    position: relative;
    top: -200px;
}

    .listgrid-table.unfixed {
        margin-top: 25px !important;
    }

        .listgrid-table.unfixed > thead {
            top: 114px;
        }

    #listgrid th, #listgrid td {
        word-break: break-word;
    }

.gridcolumnvalue {
    color: black;
    padding-left: 8px;
    word-wrap: break-word;
    /*max-width: 135px;*/
}

.affix {
    position: relative;
}

.affix-pagination {
    position: relative;
    top: -85px;
}

.crudsubtemplate {
    position: relative;
    top: -85px;
}

.menu-affix {
    position: fixed !important;
}

@media only screen and (min-width: 1090px) {
    .listgrid-table {
        /*margin-top: 117px !important;*/
        top: 0;
    }

        .listgrid-table.affixed > thead {
            position: fixed;
        }

    .affix {
        position: fixed;
    }

    .affix-pagination {
        position: fixed;
        top: 84px !important;
    }

    .crudsubtemplate {
    top: 0;
}
}
