.col-lg-5 {
    width: 348px !important;
    float: left !important;
    text-align: right !important;
}

.col-lg-3 {
    width: 179px !important;
    float: left !important;
}

.col-lg-offset-5 {
    margin-left: 336px !important;
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
/*SM - 08/30 - ADD - Start, fix vertical label/input alignment*/
/*padding-top: 0px;*/
/*SM - 08/30 - ADD - End, fix vertical label/input alignment*/
margin-top: 0;
margin-bottom: 0;
}

.form-horizontal .checkbox {
    font-weight: normal;
}

.control-label {
    font: 12px/24px Arial, Helvetica, sans-serif;
    color: black;
}


.index-main-row {
    border: 1px solid rgb(189, 189, 189);
    border-top: 0px none;
    padding-left: 15px;
    padding-right: 15px;
}

.index-form-row {
    background-color: rgb(225, 234, 247);
    padding-top: 35px;
    padding-bottom: 35px;
}

.index-footer-row {
    background-color: rgb(0, 56, 120);
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}

.index-header-row {
    margin-bottom: -5px;
}

.index-background-img {
    margin-top: 0px;
    margin-bottom: 0px;
}

.index-background-img {
    background-image: url('../../Images/hapag/login-header2.jpg');
    background-position: left;
    height: 139px;
}

.select-left-right > select {
    width: 250px;
}

