<div id="applicationmenu" role="complementary" data-displacement="{{menu.displacement}}"
     ng-class="{'vertical-menu-container': menu.displacement == 'vertical', 'horizontal-menu-container': menu.displacement == 'horizontal'}">

    <ul role="menu" aria-labelledby="dropdownMenu" 
        ng-class="{'dropdown-menu': menu.displacement == 'vertical', 'nav nav-pills' : menu.displacement == 'horizontal'}">
        <menu-item leaf="leaf" displacement="menu.displacement" level="level" class="paddingMenuItem" ng-repeat="leaf in menu.leafs" on-finish-render></menu-item>
    </ul>

</div>

