﻿/*  usage (in jade):  
    ion-content.vertical-center
        .row
            .col
                div() //- content that will be vertically centralized
*/
@media (max-width: 567px) {
    .vertical-center {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (min-width: 568px) {
    .vertical-center {
        text-align: center;
        padding-top: 30px;
    }
}

.crud-details {
    .crud-title {
        font-size: 16px;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        margin-top: 0;
        margin-bottom: 5px;

        .summary {
            color: #aaa;
            white-space: normal;
            font-weight: normal;
        }

        .featured {
            float: right;
            color: #919191;
            font-weight: bold;
        }

        .title {
            font-weight: bold;
        }

        .excerpt {
            color: #aaa;
            white-space: normal;
        }

        &.h4 {
            padding-left: 10px;
            margin-bottom: 10px;
        }
    }

    .crud-description {
        .problem-description {
            color: white;
            background: $cts_red;
            padding: 10px;
            font-size: 14px;
        }
    }
}

/* syncdetail page */
.page-syncdetail {
    .no-operation {
        text-align: center;
    }

    .operation-details {
        padding-top: 0;

        .detail-section {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        &.upload-section {
            .item-list {
                color: gray;

                .icon {
                    padding-right: 5px;
                }
            }

            .problem-button {
                background-color: rgb(229, 147, 35);
                color: white;
                border: none;
                margin-top: 10px;
            }
        }
    }

    .operation-status {
        h4 {
            margin-bottom: 0;
        }

        h5 {
            margin-bottom: 0;
            margin-top: 0;
        }
    }

    .app-summary-title {
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

.requiredfieldmark {
    font-family: Arial Round;
    color: transparent;

    &.is-required {
        color: $cts_red;
    }
}

input.ng-dirty.ng-invalid, .not-found:focus {
    border-color: rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.page-audit-entrydetail {
    .operation-icon {
        font-size: 75px;
    }

    .bold {
        font-weight: bold;
    }
}

.page-settings, .page-syncdetail, .page-login, .page-userprofile {
    .list {
        .item-divider {
            font-weight: bold;
        }

        .server {
            input {
                width: 100%;
                color: #444 !important;
                font-size: 16px;
            }
        }


        strong {
            color: #6e6e6e;
        }
    }
}

.ta-toolbar.hidden {
    display: none;
}
