﻿a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    font-family: "-apple-system", "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
}

.loader{
	background:#39b54a !important;
	border-radius:100px;
	height:20px;
	p{
		text-align:center;
		color:white !important;
		text-align:center;
	}
}

.center {
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute !important;
    margin: 0 auto;
    width: 100%;
}

.button-float {
    background: $cts_red !important;
    color: white !important;
    z-index: 12 !important;
    position: absolute !important;
    bottom: 0px !important;
    right: 0px !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;
    margin: 25px 25px 53px;
    width: 56px;
    height: 56px;

    &:hover {
        -webkit-transform: translate3d(0, -1px, 0) !important;
        transform: translate3d(0, -1px, 0) !important;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4) !important;
        background: darken(#ef473a, 10%) !important;
    }
}

/*ripple override*/
.ripple {
    .button-float {
        right: 17px !important;
    }
}

.button-status {
    z-index: 12 !important;
    border-radius: 50% !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    -webkit-transition: 0.2s linear !important;
    transition: 0.2s linear !important;
    -webkit-transition-property: -webkit-transform, all !important;
    transition-property: transform, all !important;
}

.button.cts-blue {
    border-color: transparent;
    background-color: $cts-blue;
    color: #fff;
}

.spinner {
    stroke: #fff;
}

.item-icon-left .icon {
    font-size: 24px;
}

.item-input-inset .item-input-wrapper input {
    width: 100%;
}

[nav-view-transition=ios][nav-view-direction=forward], [nav-view-transition=ios][nav-view-direction=back] {
    background: #fff;
}

.ion-autocomplete-container {
    .bar {
        .item-input-wrapper {
            flex: none;

            &.search {
                width: 100%;
            }

            &.preferred {
                background: none;

                .label {
                    margin-left: 24px;
                }
            }
        }

        &.hasusewhereclause {
            .item-input-wrapper {
                &.search {
                    width: calc(100% - 150px);
                }
            }
        }

        input[type=search] {
            height: initial;
            background: none;
        }

        .item-toggle {
            border: none;
            padding: 4px;
            background: transparent;
            top: initial;
            position: relative;
            right: initial;
            margin-top: 3px;
            margin-left: 10px;

            .toggle {
                top: initial;
                position: relative;
                right: initial;
            }
        }
    }

    ion-content {
        top: 88px;
    }
}

.platform-ios {
    .ion-autocomplete-container {
        .bar {
            &.hasusewhereclause {
                .item-input-wrapper {
                    &.search {
                        width: calc(100% - 165px);
                    }
                }
            }

            input[type=search] {
                margin-top: 5px;
            }
        }
    }
}

.button-icon {
    color: #fff;
}

.message-user-sync {
    font-size: 14px;

    .highlight {
        background: #ebebeb;
        padding: 5px 10px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.composition.list {
    .item {
        .input-label, .output-label {
            display: inline-block;
        }

        .input-label {
            width: 45%;
        }

        .output-label {
            padding: 7px 10px 7px 0;
            width: calc(55% - 10px);
        }
    }
}

input[disabled], input[readonly]:not(.cloned-text-input), select[disabled], select[readonly], textarea[disabled], textarea[readonly]:not(.cloned-text-input) {
    background-color: transparent;
    cursor: not-allowed;
    color: #aaa;
}

.input-label {
    font-size: 14px;
    font-weight: bold;
}

.no-records {
    .item {
        border-bottom: none;
        font-size: 14px;
    }
}

/* keeps side-menu open in tablets */
@media (min-width: 767px) {
    /* sidemenu is open: pushes content and sets it's width:  */
    .menu-content {
        transform: translate3d(270px, 0px, 0px) !important;
        -moz-transform: translate3d(270px, 0px, 0px) !important;
        -ms-transform: translate3d(270px, 0px, 0px) !important;
        -webkit-transform: translate3d(270px, 0px, 0px) !important;
        width: calc(100% - 270px) !important;
    }
    /* hides 'open menu' button */
    .bar-header button.ion-navicon {
        display: none;
    }

    .bar-header .button-menu {
        display: none;
    }
}

/* hide/show according to device type/size */
@media (max-width: 567px) {
    .show-tablet {
        display: none !important;
    }
}

@media (min-width: 568px) {
    .show-phone {
        display: none !important;
    }
}

@media (min-width: 767px) {
    .responsive-container {
        .button-container, .button.button-block, .button.button-full {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media (min-width: 767px) {
    .ion-autocomplete-container.modal {
        margin-left: auto;
        margin-right: auto;
    }
}

/* ion toggle override */
.toggle-light  input:checked+.track{
    background: $cts_green !important;
}