.searchcomponent {
    color: #fff;
}

.ion-autocomplete-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: none;
}

input.ion-autocomplete[readonly] {
    background-color: transparent;
    cursor: text;
}

.header-title {
    right: 20px !important;
    left: 30px !important;
}

.header-description {
    .problem-description {
        color: white;
        background: $cts_red;
        padding: 10px;
        font-size: 14px;
    }
}

.missingsync, .pending, .hasproblem {
    button {
        background: rgba($cts_red, 0.1) !important;
        border: 3px solid $cts_red;
    }

    i.crud-list-icon {
        color: $cts_red !important;
    }
}

/*.pending {
    background-color: lightgrey !important;
}*/

.page-syncoperation-list {
    .operation-list {
        .operation-item {
            padding: 10px 0;

            h3 {
                font-weight: bold;
            }

            .details {
                color: #ccc;
            }

            .operation-item-col {
                vertical-align: middle;
                padding: 0 5px 0 0;
            }

            .operation-item-col:first-child {
                text-align: center;
            }

            .operation-item-col:last-child {
                padding-right: 0;
                text-align: right;
            }

            .operation-status-text {
                padding-left: 0;
                font-size: 14px;
            }
        }
    }
}

.page-audit-entrylist .entry-item {
    padding-right: 0;
}

.crud-list {
    .crud-item {
        cursor: pointer;

        .featured {
            float: right;
        }

        .title {
            font-weight: bold;
        }

        .subtitle {
        }

        .excerpt {
            color: #aaa;
            white-space: normal;
        }

        .details {
            padding-right: 0;
            color: #ccc;
        }
    }
}

.search-disable-button {
    color: #aaa !important;
}

.crud-list-icon {
    top: 36px;
    left: 40px;
    z-index: 99;
    position: absolute;
}
