﻿.searchcomponent {
    color: #fff;
}

.ion-autocomplete-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    display: none;
}

input.ion-autocomplete[readonly] {
    background-color: transparent;
    cursor: text;
}

.col.crud-icon {
    flex: none;
    width: 70px;
}

crud-icon {
    button {
        z-index: 12 !important;
        border-radius: 50% !important;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
        -webkit-transform: translate3d(0, 0, 0) !important;
        transform: translate3d(0, 0, 0) !important;

        &.hasaction {
            background: rgba($cts_green, 0.1) !important;
            border: 3px solid $cts_green;
        }

        &.hasproblem {
            background: rgba($cts_red, 0.1) !important;
            border: 3px solid $cts_red;
        }

        &.isdirty {
            background: rgba($cts_orange, 0.1) !important;
            border: 3px solid $cts_orange;
        }

        &.isnew {
            background: rgba($cts_blue, 0.1) !important;
            border: 3px solid $cts_blue;
        }

        &.ispending {
            background: rgba($cts_gray, 0.1) !important;
            border: 3px solid $cts_gray;
        }
    }

    .crud-list-icon {
        &.hasaction {
            color: $cts_green !important;
        }

        &.hasproblem {
            color: $cts_red !important;
        }

        &.isdirty {
            color: $cts_orange !important;
        }

        &.isnew {
            color: $cts_blue !important;
        }

        &.ispending {
            color: $cts_gray !important;
        }
    }
}

.page-syncoperation-list {
    .operation-list {
        .operation-item {
            padding: 10px 0;

            h3 {
                font-weight: bold;
            }

            .details {
                color: #ccc;
            }

            .operation-item-col {
                vertical-align: middle;
                padding: 0 5px 0 0;
            }

            .operation-item-col:first-child {
                text-align: center;
            }

            .operation-item-col:last-child {
                padding-right: 0;
                text-align: right;
            }

            .operation-status-text {
                padding-left: 0;
                font-size: 14px;
            }
        }
    }
}

.page-audit-entrylist .entry-item {
    padding-right: 0;
}

.crud-list {
    .crud-item {
        cursor: pointer;
        padding: 10px 15px;

        .featured {
            float: right;
            color: #919191;
            font-weight: bold;
        }

        .title {
            font-weight: bold;
        }

        .subtitle {
        }

        .excerpt {
            color: #aaa;
            white-space: normal;
        }

        .details {
            padding-right: 0;
            color: #ccc;
        }
    }
}

.search-disable-button {
    color: #aaa !important;
}

.crud-list-icon {
    top: 36px;
    left: 45px;
    z-index: 99;
    position: absolute;
}

.composition.list {
    .crud-list-icon {
        top: 41px;
    }
}