﻿.page-login {
    .login-settings {
        margin-top: 10px;
        color: rgb(68, 68, 68);
    }

    .login-form-container {
        .action-bar {
            padding-left: 0;
            padding-right: 0;

            .action-button {
                padding: 0;
                text-align: center;

                .button.icon-left:before {
                    margin-right: -18px; /* compensating for icon width to center text */
                }
            }
        }

        .login-form {
            margin-bottom: 0;

            .login-input {
                margin-bottom: 0;
            }
        }

        .demo-mode-note {
            .item-divider {
                color: #fff;
                background-color: $cts-blue;
            }

            .item {
                border-color: $cts-blue;
            }

            .demo-note {
                overflow: visible;
                white-space: normal;

                .button-demo {
                    background-color: $cts-blue;
                    color: #fff;
                }
            }
        }
    }
}

/* center form container in >= portrait tablet  */
@media (min-width: 767px) {
    .page-login .login-form-container {
        width: 567px;
        margin-left: auto;
        margin-right: auto;
    }
}
