.menu {
    .item-divider {
        font-weight: bold;
    }

    .leaf {
        cursor: pointer;
    }

    .subleaf {
        padding-left: 40px;
    }
}

.composition-menu {
    height: auto;

    .composition-menu-content {
        position: relative;
    }
}
