.menu {
    .item-divider {
        font-weight: bold;
    }

    .leaf {
        cursor: pointer;

        .subleaf {
            padding-left: 48px;
        }
    }
}

.composition-menu {
    height: auto;

    .composition-menu-content {
        position: relative;
    }
}
