﻿.menu {
    .item-divider {
        font-weight: bold;
    }

    .leaf {
        cursor: pointer;
    }

    .subleaf {
        padding-left: 40px;
    }

    .activeleaf {
        background-color: #39b54a;
        color: white;
        border-radius: 100%;
        margin-left: 20px;
    }
}

.composition-menu {
    height: auto;

    .composition-menu-content {
        position: relative;
    }
}
