﻿.crud-search-option {
    height: 44px;
}

.search-clear-bar {
    height: 56px;
    background-size: 0px;
}

.search-clear-button {
    bottom: 8px;
    height: 44px;
    background-color: #00acec !important;
    font-size: 16px !important;
}

.search-option {
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 30px;
}

.list-search-bar {
    padding-top: 6px;
    padding-bottom: 0;
    width: calc(100% - 10px);
}

.platform-ios.platform-cordova {
    .advanced-search {
        .bar-secondary {
            .title {
                font-weight: bold;
                font-size: 17px;
                margin-top: 11px;
            }
        }
    }
}

.platform-ios {
    .has-footer {
        bottom: 60px;
    }
}
