.crud-search-option {
    height: 44px;
}

.search-clear-bar {
    height: 56px;
    background-size: 0px;
}

.search-clear-button {
    bottom: 8px;
    height: 44px;
    background-color: #00acec !important;
}