﻿$cts_blue: #4488f2;
$cts_gray: #808080;
$cts_green: #39b54a;
$cts_orange: #e59323;
$cts_purple: #d850fa;
$cts_red: #f65752;
$cts_yellow: #f2d935;

$color_map: (
    blue: $cts_blue, 
    gray: $cts_gray, 
    green: $cts_green, 
    orange: $cts_orange, 
    purple: $cts_purple, 
    red: $cts_red, 
    yellow: $cts_yellow
)