.button-icon {
    color: #fff;
}

.bar.bar-positive {
    border-color: #00acec;
    background-color: #00acec;
    background-image: linear-gradient(0deg,#00acec,#00acec 50%,transparent 50%);
    /*color: #fff;*/
}

.bar-positive .button {
    border-color: #00acec;
    background-color: #00acec;
    /*color: #fff;*/
}

.bar.bar-assertive {
    border-color: #6d6e70;
    background-color: #6d6e70;
    background-image: linear-gradient(0deg,#6d6e70,#6d6e70 50%,transparent 50%);
    /*color: #fff;*/
}

.bar-assertive .button {
    border-color: #5e5f61;
    background-color: #6d6e70;
    /*color: #fff;*/
}