/*  usage (in jade):  
    ion-content.vertical-center
        .row
            .col
                div() //- content that will be vertically centralized
*/
@media (max-width: 567px) {
    .vertical-center {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-box-align: center;
        -moz-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (min-width: 568px) {
    .vertical-center {
        text-align: center;
        padding-top: 30px;
    }
}

/* syncdetail page */
.page-syncdetail .no-operation {
    text-align: center;
}

.page-syncdetail .row.operation-details {
    padding-top: 0;
}

.page-syncdetail .operation-details .detail-section {
    padding-top: 5px;
    padding-bottom: 5px;
}

    .page-syncdetail .operation-details .detail-section.upload-section .item-list {
        color: gray;
    }

        .page-syncdetail .operation-details .detail-section.upload-section .item-list .icon {
            padding-right: 5px;
        }

    .page-syncdetail .operation-details .detail-section.upload-section .problem-button {
        background-color: rgb(229, 147, 35);
        color: white;
        border: none;
        margin-top: 10px;
    }

.page-syncdetail .operation-status h4 {
    margin-bottom: 0;
}

.page-syncdetail .operation-status h5 {
    margin-bottom: 0;
    margin-top: 0;
}

.page-syncdetail .app-summary-title {
    padding-top: 15px;
    padding-bottom: 15px;
}

.requiredfieldmark {
    font-family: Arial Round;
    color: red;
}

input.ng-dirty.ng-invalid, .not-found:focus {
    border-color: rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.page-audit-entrydetail .operation-icon {
    font-size: 75px;
}

.page-audit-entrydetail .bold {
    font-weight: bold;
}

.page-settings .settings-form label {
    padding-left: 5px;
    padding-right: 5px;
}
.page-settings .settings-form label input {
    padding-left: 5px;
}

.ta-toolbar.hidden {
    display: none;  
}