.page-login .login-settings {
    margin-top: 10px;   
}
.page-login .action-bar .action-button {
    padding: 0;
    text-align: center;
}
.page-login .login-form {
    margin-bottom: 0;
}
.page-login .login-form .login-input {
    margin-bottom: 0;
}
