<span id="scanFilterController" ng-controller="ScanFilterController">
    <ng-switch on="getSchemaType()">
        <button ng-switch-when="List" data-toggle="modal" data-target="#scanfilterModal"
                ng-click="showScanFilterModal()" class="btn btn-context large-button" rel="tooltip" data-original-title="Scan Config">
            <i class="icon fa fa-barcode"></i><span ng-show="showLabel()" class="text"><span class="space">&ensp;</span>Scanner</span>
        </button>
        <button ng-switch-default data-toggle="modal" data-target="#scanfilterModal"
                ng-click="showScanFilterModal()" class="btn btn-context large-button">
            <i class="icon fa fa-barcode"></i><span ng-show="showLabel()" class="text"><span class="space">&ensp;</span>Scanner</span>
        </button>
    </ng-switch>
    <div id="scanfilterModal" class="modal fade" data-class="scanfilterModal" data-backdrop="static"
         tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" ng-click="closeScanFilterModal()" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Scan Configuration</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-hover" id="scanConfigTable">
                        <thead>
                            <tr>
                                <td><strong>Scan Order</strong></td>
                                <td><strong>Filter</strong></td>
                                <td><strong>Remove</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in scanOrder">
                                <td>
                                    <span>{{scanOrder.indexOf(item) + 1}}</span>
                                </td>
                                <td>
                                    <span>{{getLabelByAttribute(item)}}</span>
                                </td>
                                <td>
                                    <button class="btn btn-default btn-sm" ng-click="deleteScanRow(this.item)"><i class="fa fa-times"></i>&ensp;Remove</button>
                                </td>
                            </tr>
                            <tr ng-if="remainingFilterFields().length">
                                <td>
                                    <span>{{scanOrder.length + 1}}</span>
                                </td>
                                <td>
                                    <select id="newFilterField">
                                        <option ng-repeat="field in remainingFilterFields()">{{field.label}}</option>
                                    </select>
                                </td>
                                <td>
                                    <button class="btn btn-default btn-sm" ng-click="newScanRow()"><i class="fa fa-plus"></i>&ensp;Add</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary"  ng-click="saveScanList()">Save</button>
                    <button type="button" class="btn btn-default" ng-click="closeScanFilterModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</span>
