<div id="activitystream" class="clearfix {{deciveType()}}" ng-if="activityStreamEnabled(activities)">
    <div class="handle" ng-click="toggleActivityStream()"><i class="fa fa-rss-square"></i>&ensp;Activity Stream</div>
    <div class="pane">
        <header class="clearfix">
            <h2 class="pull-left">Recent Activity</h2>
            <div class="buttons pull-right">
                <div class="button" ng-click="refreshStream()" rel="tooltip" data-original-title="Refresh" data-placement="bottom"><i class="fa fa-refresh"></i></div>
                <div class="button off" ng-click="toggleHidden()" ng-class="hiddenToggle ? 'on' : 'off'" rel="tooltip" data-original-title="Toggle Hidden" data-placement="bottom"><i class="fa fa-eye"></i></div>
                <div class="button" ng-click="markAllRead()" rel="tooltip" data-original-title="Mark All as Read" data-placement="bottom"><i class="fa fa-check-square"></i></div>
            </div>
        </header>
        <div class="scroll">
            <div class="messages">
                <div class="message clearfix" ng-repeat="activity in activities" ng-class="activity.isRead ? 'is-read' : 'not-read'" ng-show="displayHidden(activity)">
                    <div class="read pull-left"><i class="fa" ng-class="activity.isRead ? '' : 'fa-circle'"></i></div>
                    <div class="icon pull-left"><i class="fa" ng-class="activity.icon"></i></div>
                    <div class="text pull-left">
                        <div class="info">
                            <div class="info"><span class="by">{{activity.createBy}}</span> changed {{activity.label | lowercase}} <a href="" ng-click="openLink(activity)">{{activity.id}}</a></div>
                            <span ng-if="activity.parentApplication"> for {{activity.parentLabel | lowercase}} <a href="" ng-click="openLink(activity, 'true')">{{activity.parentId}}</a></span>
                        </div>
                        <div class="date">{{formatDate(activity.notificationDate)}}</div>
                    </div>
                    <div class="hide-toggle">
                        <div class="button" ng-click="markRead(activity)"><i class="fa" ng-class="activity.isRead ? 'fa-eye' : 'fa-times'"></i></div>
                    </div>
                </div>
                <div class="nomessages" ng-if="!activities.length"><i class="fa fa-times-circle"></i>&ensp;No recent activity to display.</div>
                <div class="nomessages" ng-if="statusAllHidden && !hiddenToggle"><i class="fa fa-eye"></i>&ensp;All recent activity has been read.</div>
            </div>
        </div>
    </div>
</div>