<div>
    <span ng-repeat="item in compositiondata" ng-if="compositionschemadefinition.rendererParameters.showaslink == 'true'">
        <a style="text-align:left; word-break:break-all; cursor: pointer;text-decoration: underline;" ng-click="handleItemClick(item,compositionschemadefinition)">
            {{item[compositionschemadefinition.rendererParameters.attributeToDisplay]}}
        </a>
        <label>
            <span ng-if="$index < compositiondata.length-1">,&nbsp;</span>
        </label>
    </span>
    <label ng-repeat="item in compositiondata" class="control-label" style="text-align:left; word-break:break-all; cursor: pointer;" ng-click="handleItemClick(item,compositionschemadefinition)" ng-if="compositionschemadefinition.rendererParameters.showaslink != 'true'">
        {{item[compositionschemadefinition.rendererParameters.attributeToDisplay]}}<span ng-if="$index < compositiondata.length-1">,&nbsp;</span>
    </label>
</div>