﻿<label ng-repeat="item in compositiondata" class="control-label" style="text-align:left; word-break:break-all;">
    {{item[compositionschemadefinition.rendererParameters.attributeToDisplay]}}<span ng-if="$index < compositiondata.length-1">,&nbsp;</span>
</label>