﻿<div ng-controller="CreateFromAssetController" class="hiddenonprint">
    <select ng-model="typeofticket" ng-init="typeofticket = 'Select One'"
            ng-options="option.value as option.label for option in getTicketOptions(datamap)" />
    <select ng-model="typeofimac" ng-show="typeofticket == 'imac'"
            ng-options="option.value as option.label for option in getTypeOfImac(datamap)" />
    <button ng-click="createFromAsset()">
        <i style="margin-right: 0.5em" class="fa fa-floppy-o"></i>{{i18N('general.save','Submit')}}
    </button>
</div>