<div style="height: 450px" ng-cloak ng-if="datamap['hasattachment'] && !datamap['hasinvalidattachment']">
    <object data="../Faq/pdf?faqId={{datamap['faqid']}}" type="application/pdf" width="100%" height="100%">
        <p>
            It appears you don't have a PDF plugin for this browser. Please check the corresponding FAQ entry.
        </p>
    </object>
</div>

<h3 ng-if="datamap['hasinvalidattachment']">
    Invalid attachment is configured for the solution entry({{datamap['faqid']}}). Please contact your system administrator.
</h3>

