<ng-switch on="dm[column.parameters['column']] || 'null'">    
    
    <div ng-switch-when="NEW" class="statuscolumncolor" style="background-color:orange;"></div>
    <div ng-switch-when="QUEUED" class="statuscolumncolor" style="background-color:yellow;"></div>
    <div ng-switch-when="INPROG" class="statuscolumncolor" style="background-color:yellow;"></div>
           <div ng-switch-when="ACTIVE" class="statuscolumncolor" style="background-color:orange;"></div>
           <div ng-switch-when="CANTREPROD" class="statuscolumncolor" style="background-color:yellow;"></div>
           <div ng-switch-when="WAITONINFO" class="statuscolumncolor" style="background-color:yellow;"></div>
    <div ng-switch-when="CLOSED" class="statuscolumncolor" style="background-color:green;"></div>
    <div ng-switch-when="CANCELLED" class="statuscolumncolor" style="background-color:red;"></div>
    <div ng-switch-when="CAN" class="statuscolumncolor" style="background-color:red;"></div>
    <div ng-switch-when="FAIL" class="statuscolumncolor" style="background-color:red;"></div>
    <div ng-switch-when="FAILPIR" class="statuscolumncolor" style="background-color:red;"></div>
    <div ng-switch-when="REJECTED" class="statuscolumncolor" style="background-color:red;"></div>
           <div ng-switch-when="WONT FIX" class="statuscolumncolor" style="background-color:red;"></div>
           <div ng-switch-when="WONTIMPLNT" class="statuscolumncolor" style="background-color:red;"></div>
           <div ng-switch-when="WONTRESPND" class="statuscolumncolor" style="background-color:red;"></div>
           <div ng-switch-when="POSTPONED" class="statuscolumncolor" style="background-color:red;"></div>
           <div ng-switch-when="SPAM" class="statuscolumncolor" style="background-color:red;"></div>

    <div ng-switch-when="RESOLVED" class="statuscolumncolor" style="background-color:blue;"></div>
           <div ng-switch-when="FIXED" class="statuscolumncolor" style="background-color:blue;"></div>
           <div ng-switch-when="IMPLEMENTED" class="statuscolumncolor" style="background-color:green;"></div>
             
    <div ng-switch-when="SLAHOLD" class="statuscolumncolor" style="background-color:blue;"></div>
    <div ng-switch-when="ACC_CAT" class="statuscolumncolor" style="background-color:blue;"></div>
    <div ng-switch-when="SCHED" class="statuscolumncolor" style="background-color:blue;"></div>
    <div ng-switch-when="RESOLVCONF" class="statuscolumncolor" style="background-color:green;"></div>
    <div ng-switch-when="IMPL" class="statuscolumncolor" style="background-color:green;"></div>
    <div ng-switch-when="REVIEW" class="statuscolumncolor" style="background-color:green;"></div>


    <div ng-switch-when="APPR" class="statuscolumncolor" style="background-color:blue;"></div>
          <div ng-switch-when="APPFM" class="statuscolumncolor" style="background-color:blue;"></div>
          <div ng-switch-when="APPLM" class="statuscolumncolor" style="background-color:blue;"></div>
          <div ng-switch-when="BY DESIGN" class="statuscolumncolor" style="background-color:blue;"></div>
    <div ng-switch-when="AUTHORIZED" class="statuscolumncolor" style="background-color:blue;"></div>
    <div ng-switch-when="AUTH" class="statuscolumncolor" style="background-color:blue;"></div>
    <div ng-switch-when="CLOSE" class="statuscolumncolor" style="background-color:green;"></div>
    <div ng-switch-when="HISTEDIT" class="statuscolumncolor" style="background-color:green;"></div>
    <div ng-switch-when="COMP" class="statuscolumncolor" style="background-color:green;"></div>
         <div ng-switch-when="COMPLETED" class="statuscolumncolor" style="background-color:green;"></div>
    <div ng-switch-when="DRAFT" class="statuscolumncolor" style="background-color:white;"></div>
    <div ng-switch-when="HOLDINPRG" class="statuscolumncolor" style="background-color:blue;"></div>
    <div ng-switch-when="INPRG" class="statuscolumncolor" style="background-color:blue;"></div>
    <div ng-switch-when="PLANNED" class="statuscolumncolor" style="background-color:blue;"></div>
          <div ng-switch-when="DUPLICATE" class="statuscolumncolor" style="background-color:blue;"></div>
    <div ng-switch-when="REJECTED" class="statuscolumncolor" style="background-color:red;"></div>
    <div ng-switch-when="NOTREQ" class="statuscolumncolor" style="background-color:red;"></div>
    <div ng-switch-when="WAPPR" class="statuscolumncolor" style="background-color:orange;"></div>
         <div ng-switch-when="PENDING" class="statuscolumncolor" style="background-color:yellow;"></div>
    <div ng-switch-when="WSCH" class="statuscolumncolor" style="background-color:orange;"></div>
    <div ng-switch-when="null" class="statuscolumncolor" style="background-color:yellow;"></div>
    
    <div ng-switch-default class="statuscolumncolor" style="background-color:transparent;"></div>
</ng-switch>