﻿<div ng-controller="MultiAssetController" ng-style="loaded ? {} : { 'margin-top':'100px' }">
    <div scroll="false" ng-if="multiassets && loaded && multiassets.length > 0" style="padding-right: 10px;">
        <div style="display: table; table-layout: fixed; width: 100%; padding-bottom: 5px; padding-top: 5px; border-bottom: 1px; border-bottom-style: solid; border-bottom-color: #ddd;" ng-click="toggleProcess(multiasset)" ng-repeat="multiasset in multiassets">
            <div style="vertical-align: middle; display: table-cell; width: 100%; padding-right: 10px;">
                <p style="font-weight: bold">Asset: {{associationData[multiasset.multiid]["offlineasset_"]}}</p>
                <p>Location: {{associationData[multiasset.multiid]["offlinelocation_"]}}</p>
                <p>Description: {{associationData[multiasset.multiid]["assetdescription"]}}</p>
            </div>
            <div style="vertical-align: middle; display: table-cell; width: 48px; padding-left: 26px;">
                <i class="fa fa-square-o" ng-show="!multiasset.progress"></i>
                <i class="fa fa-check-square-o" ng-show="multiasset.progress"></i>
            </div>
        </div>
    </div>
    <div ng-if="multiassets && loaded && multiassets.length == 0">
        <h3 class="text-center" style="color: #444;"><i class="fa fa-info-circle"></i>&ensp;No records to display</h3>
    </div>
    <div style="text-align: center; position: absolute; top: 50px; width: 100%;" ng-if="!loaded">
        <ion-spinner icon="spiral"></ion-spinner>
    </div>
</div>