/*@font-face {
    font-family: 'mullerhairline';
    @include webfont('Muller-Hairline-webfont', 'mullerhairline');
}*/
/*@font-face {
    font-family: 'mullerhairline_italic';
    @include webfont('Muller-Hairline Italic-webfont', 'mullerhairline_italic');
}*/
/*@font-face {
    font-family: 'mullerthin';
    @include webfont('Muller-Thin-webfont', 'mullerthin');
}*/
/*@font-face {
    font-family: 'mullerthin_italic';
    @include webfont('Muller-Thin Italic-webfont', 'mullerthin_italic');
}*/
/*@font-face {
    font-family: 'mullerultralight';
    @include webfont('Muller-UltraLight-webfont', 'mullerultralight');
}*/
/*@font-face {
    font-family: 'mullerultralight_italic';
    @include webfont('Muller-UltraLight Italic-webfont', 'mullerultralight_italic');
}*/
/*@font-face {
    font-family: 'mullerlight';
    @include webfont('Muller-Light-webfont', 'mullerlight');
}*/
/*@font-face {
    font-family: 'mullerlight_italic';
    @include webfont('Muller-Light Italic-webfont', 'mullerlight_italic');
}*/
@font-face {
  font-family: 'muller_regularregular';
  src: url("Muller-Regular-webfont.eot");
  src: url("Muller-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("Muller-Regular-webfont.woff2") format("woff2"), url("Muller-Regular-webfont.woff") format("woff"), url("Muller-Regular-webfont.ttf") format("truetype"), url("Muller-Regular-webfont.svg#muller_regularregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mullerregular_italic';
  src: url("Muller-Regular Italic-webfont.eot");
  src: url("Muller-Regular Italic-webfont.eot?#iefix") format("embedded-opentype"), url("Muller-Regular Italic-webfont.woff2") format("woff2"), url("Muller-Regular Italic-webfont.woff") format("woff"), url("Muller-Regular Italic-webfont.ttf") format("truetype"), url("Muller-Regular Italic-webfont.svg#mullerregular_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

/*@font-face {
    font-family: 'mullermedium';
    @include webfont('Muller-Medium-webfont', 'mullermedium');
}*/
/*@font-face {
    font-family: 'mullermedium_italic';
    @include webfont('Muller-Medium Italic-webfont', 'mullermedium_italic');
}*/
@font-face {
  font-family: 'mullerbold';
  src: url("Muller-Bold-webfont.eot");
  src: url("Muller-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("Muller-Bold-webfont.woff2") format("woff2"), url("Muller-Bold-webfont.woff") format("woff"), url("Muller-Bold-webfont.ttf") format("truetype"), url("Muller-Bold-webfont.svg#mullerbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mullerbold_italic';
  src: url("Muller-Bold Italic-webfont.eot");
  src: url("Muller-Bold Italic-webfont.eot?#iefix") format("embedded-opentype"), url("Muller-Bold Italic-webfont.woff2") format("woff2"), url("Muller-Bold Italic-webfont.woff") format("woff"), url("Muller-Bold Italic-webfont.ttf") format("truetype"), url("Muller-Bold Italic-webfont.svg#mullerbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'mullerextrabold';
  src: url("Muller-ExtraBold-webfont.eot");
  src: url("Muller-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("Muller-ExtraBold-webfont.woff2") format("woff2"), url("Muller-ExtraBold-webfont.woff") format("woff"), url("Muller-ExtraBold-webfont.ttf") format("truetype"), url("Muller-ExtraBold-webfont.svg#mullerextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

/*@font-face {
    font-family: 'mullerextrabold_italic';
    @include webfont('Muller-ExtraBold Italic-webfont', 'mullerextrabold_italic');
}*/
/*@font-face {
    font-family: 'mullerheavy';
    @include webfont('Muller-Heavy-webfont', 'mullerheavy');
}*/
/*@font-face {
    font-family: 'mullerheavy_italic';
    @include webfont('Muller-Heavy Italic-webfont', 'mullerheavy_italic');
}*/
/*@font-face {
    font-family: 'mullerblack';
    @include webfont('Muller-Black-webfont', 'mullerblack');
}*/
/*@font-face {
    font-family: 'mullerblack_italic';
    @include webfont('Muller-Black Italic-webfont', 'mullerblack_italic');
}*/

