@mixin webfont($font) {
   src: url('#{$font}.eot');
   src: url('#{$font}.eot?#iefix') format('embedded-opentype'),
        url('#{$font}.woff2') format('woff2'),
        url('#{$font}.woff') format('woff'),
        url('#{$font}.ttf') format('truetype'),
        url('#{$font}.svg#mullerblack') format('svg');
   font-weight: normal;
   font-style: normal;
}

/*@font-face {
    font-family: 'mullerhairline';
    @include webfont('Muller-Hairline-webfont');
}*/

/*@font-face {
    font-family: 'mullerhairline_italic';
    @include webfont('Muller-Hairline Italic-webfont');
}*/

@font-face {
    font-family: 'mullerthin';
    @include webfont('Muller-Thin-webfont');
}

@font-face {
    font-family: 'mullerthin_italic';
    @include webfont('Muller-Thin Italic-webfont');
}

@font-face {
    font-family: 'mullerultralight';
    @include webfont('Muller-UltraLight-webfont');
}

@font-face {
    font-family: 'mullerultralight_italic';
    @include webfont('Muller-UltraLight Italic-webfont');
}

@font-face {
    font-family: 'mullerlight';
    @include webfont('Muller-Light-webfont');
}

@font-face {
    font-family: 'mullerlight_italic';
    @include webfont('Muller-Light Italic-webfont');
}

@font-face {
    font-family: 'muller_regularregular';
    @include webfont('Muller-Regular-webfont');
}

@font-face {
    font-family: 'mullerregular_italic';
    @include webfont('Muller-Regular Italic-webfont');
}

@font-face {
    font-family: 'mullermedium';
    @include webfont('Muller-Medium-webfont');
}

@font-face {
    font-family: 'mullermedium_italic';
    @include webfont('Muller-Medium Italic-webfont');
}

@font-face {
    font-family: 'mullerbold';
    @include webfont('Muller-Bold-webfont');
}

@font-face {
    font-family: 'mullerbold_italic';
    @include webfont('Muller-Bold Italic-webfont');
}

@font-face {
    font-family: 'mullerextrabold';
    @include webfont('Muller-ExtraBold-webfont');
}

@font-face {
    font-family: 'mullerextrabold_italic';
    @include webfont('Muller-ExtraBold Italic-webfont');
}

@font-face {
    font-family: 'mullerheavy';
    @include webfont('Muller-Heavy-webfont');
}

@font-face {
    font-family: 'mullerheavy_italic';
    @include webfont('Muller-Heavy Italic-webfont');
}

@font-face {
    font-family: 'mullerblack';
    @include webfont('Muller-Black-webfont');
}

@font-face {
    font-family: 'mullerblack_italic';
    @include webfont('Muller-Black Italic-webfont');
}