﻿<div class="interval-trigger">
    <input type="checkbox"
           ng-model="vm.activated"
           ng-change="onActivateChanged(vm.activated)"/>&ensp;<label class="trigger" data-toggle="dropdown" aria-expanded="false">{{ activateLabel }}&ensp;<i class="fa fa-caret-down"></i></label><span class="dial" ng-show="vm.activated"><input class="knob"></span>
    <div class="dropdown-menu" role="menu">
        <div class="main">
            <div class="form-group">
                <label class="control-label">Refresh Interval</label>
                <input type="number"
                       class="form-control"
                       rel="tooltip" data-original-title="Interval in {{ config.intervalConfig.unit + 's' }} (zero means it won't run)"
                       ng-model="vm.userInterval"
                       min="{{ config.intervalConfig.min }}"
                       max="{{ config.intervalConfig.max }}" />
            </div>
        </div>
        <div class="buttons">
            <div class="button apply"
                 ng-click="intervalChanged(vm.userInterval)">
                <div class="lbl">
                    <i class="fa fa-check"></i>&ensp;Apply
                </div>
            </div>
            <div class="button reset"
                 ng-click="resetInterval()">
                <div class="lbl">
                    <i class="fa fa-undo"></i>&ensp;Reset
                </div>
            </div>
        </div>
    </div>
</div>