﻿
<label class="{{classtouse}}" ng-class="">
    <icon class="fa fa-question-circle" rel="tooltip" data-original-title="{{i18NHelpText()}}" ng-show="helptext!=null && helppositiontouse=='left'"></icon>
    {{i18NText()}}
    <span ng-show="required" class="requiredfieldmark">* </span>
    <icon class="fa fa-question-circle" rel="tooltip" data-original-title="{{i18NHelpText}}" ng-show="helptext!=null && helppositiontouse=='right'"></icon>
</label>

