.page-signin .shadow {
    border: 3px #fff solid;
    border-radius: 5px;
}

.page-signin .form-signin {
  border-radius: 5px;
}

.page-signin .form-signin .logo img {
    max-width: 90%;
}

.container header .branding {
    background: url(../../Images/southern/branding.png) no-repeat top left;
}
