﻿$signin_color: #000106;
$form_background: rgba(0, 1, 6, 0.77);
$asset_path: "../images";

.page-signin {
    background: $signin_color url(#{$asset_path}/signin-lg.jpg) no-repeat center center fixed;

    .form-signin {
        .logo.main {
            img {
                height: 60px;
            }
        }

        .logo.byline {
            img {
                width: 250px;
            }
        }
    }
}

.container {
    header {
        background: $signin_color url(#{$asset_path}/header.jpg) no-repeat center left;

        .admin-area {
            background-color: $form_background;
        }

        .branding {
            .logo img {
                height: 40px;
            }
        }
    }

    footer {
        background: $signin_color url(#{$asset_path}/footer.jpg) no-repeat bottom left;

        .page-overlay {
            background-color: $form_background;
        }
    }
}

/* Extra Small Devices, Phones */
@media all and (min-width: 1px) and (max-width: 479px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-xxs.jpg) no-repeat center center fixed;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-xs.jpg) no-repeat center center fixed;
    }
}

@media all and (min-width: 1px) and (max-width: 849px) {
    .page-signin {
        .page-overlay {
            background-color: $form_background;
        }

        .form-signin {
            background-color: none;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-sm.jpg) no-repeat center center fixed;
    }
}

@media all and (min-width: 850px) {
    .page-signin {
        .form-signin {
            background-color: $form_background;
            border: 2px solid #676768;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .page-signin {
        background: $signin_color url(#{$asset_path}/signin-md.jpg) no-repeat center center fixed;
    }
}

.page-signin, .container header, .container footer {
    background-size: cover;
}
