﻿$background_color: #e9e9e9;
$form_background: rgba(#123980, 0.67);
$asset_path: "../images";

.page-signin {
    background: $background_color url(#{$asset_path}/signin-lg.jpg) no-repeat center center fixed;

    .form-signin {
        .logo.main {
            img {
                height: auto;
            }

            div {
                padding: 40px;
                width: 400px;
                border-radius: 260px / 90px;
                background: #fff;
                margin: 0 auto;
                float: none;
            }
        }
    }
}

.container {
    header {
        background: $background_color url(#{$asset_path}/header.jpg) no-repeat top left;
        border-bottom: #000 1px solid;

        .admin-area {
            background-color: rgba(#0e2d66, 0.8);
        }

        .branding {
            background: url(#{$asset_path}/branding.png) no-repeat bottom left;
            min-height: 110px;
        }
    }

    footer {
        background: $background_color url(#{$asset_path}/footer.jpg) no-repeat bottom left;

        .page-overlay {
            background-color: rgba(#0e2d66, 0.8);
        }
    }
}

/* Extra Small Devices, Phones */
@media all and (min-width: 1px) and (max-width: 479px) {
    .page-signin {
        background: $background_color url(#{$asset_path}/signin-xxs.jpg) no-repeat center center fixed;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .page-signin {
        background: $background_color url(#{$asset_path}/signin-xs.jpg) no-repeat center center fixed;
    }
}

@media all and (min-width: 1px) and (max-width: 849px) {
    .page-signin {
        .page-overlay {
            background-color: $form_background;
        }

        .form-signin {
            background-color: none;
        }
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .page-signin {
        background: $background_color url(#{$asset_path}/signin-sm.jpg) no-repeat center center fixed;
    }
}

@media all and (min-width: 850px) {
    .page-signin {
        .form-signin {
            background-color: $form_background;
        }
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .page-signin {
        background: $background_color url(#{$asset_path}/signin-md.jpg) no-repeat center center fixed;
    }
}

.page-signin, .container header, .container footer {
    background-size: cover;
}
