<span ng-controller="GridFilterController">
    <div class="btn-group">
        <button type="button" class="btn btn-sm btn-primary" ng-click="refreshGrid()">
            <i class="fa fa-filter"></i><span ng-show="!selectedfilter.alias">&ensp;Filters</span><span ng-show="selectedfilter.alias">&ensp;{{selectedfilter.alias}}</span>
        </button>
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li ng-if="selectedfilter">
                <a href="#" ng-click="clearFilter()">
                    {{i18N('_grid.filter.clear','Clear Filter')}}
                </a>
            </li>
            <li>
                <a href="#" ng-click="saveFilter()" ng-enabled="">
                    <i class="fa fa-save"></i>&ensp;Save
                </a>
            </li>
            <li>
                <a href="#" ng-click="deleteFilter()" ng-if="selectedfilter">
                    <i class="fa fa-times"></i>&ensp;Delete
                </a>
            </li>
            <li>
                <a href="#" ng-if="selectedfilter && false">
                    <i class="fa fa-share"></i>&ensp;Share
                </a>
            </li>

            <li class="divider" ng-if="selectedfilter"></li>
            <li ng-repeat="filter in nonSharedFilters()">
                <a href="#" ng-click="applyFilter(filter)">{{filter.alias}}</a>
            </li>
            <li class="divider" ng-if="hasSharedFilter()"></li>
            <li ng-repeat="filter in sharedFilters()">
                <a href="#" ng-click="applyFilter(filter)">{{filter.alias}}</a>
            </li>
        </ul>
    </div>

    <button type="button" class="btn" data-original-title="Advanced Mode" rel="tooltip" ng-show="false">
        <i class="fa fa-rocket"></i>
    </button>

    <!--to be shown as a modal only-->
    <div id='savefilterform' class="form-horizontal" style="display: none">
        <div class="form-group">
            <label class='control-label col-md-5'>{{i18N('_grid.filter.savefiltername',"Filter Name")}}</label>
            <div class="col-md-7">
                <input type='text' name='filtername' id='savefiltername'
                       value="{{selectedfilter.alias}}"
                       class="form-control"
                       maxlength="20" />
            </div>
        </div>
    </div>
</span>




