<div class="filter-option">
    <div class="inputs">
        <div class="buttons">
            <refresh-filter></refresh-filter>
            <button type="button" class="btn btn-context" data-original-title="Sort Order" rel="tooltip" ng-click="toggleMultiSortPanel()" ng-enabled="true">
                <i class="fa fa-sort"></i>
            </button>
            <button type="button" class="btn btn-context" data-original-title="{{i18N('_grid.filter.save','Save Filter')}}" rel="tooltip" ng-click="saveFilter()" ng-enabled="shouldEnableSaveButton()">
                <i class="fa fa-save"></i>
            </button>
            <button type="button" class="btn btn-context" data-original-title="{{i18N('_grid.filter.delete','Delete Filter')}}" rel="tooltip" ng-click="deleteFilter()" ng-enabled="shouldEnableDeleteButton()">
                <i class="fa fa-trash-o"></i>
            </button>
        </div>
        
        <select class="hidden-phone form-control combobox"
                ng-model="selectedfilter"
                ng-options="option.alias for option in nonSharedFilters()"
                ng-change="filterChanged()">
            <option value=""></option>
        </select>
    </div>

    <!--to be shown as a modal only-->
    <div id="savefilterform" style="display: none">
        <input type="text" name="filtername" id="savefiltername"
               value="{{selectedfilter.alias}}"
               class="form-control"
               maxlength="20"
               placeholder="Name"/>
    </div>
</div>
