﻿<div class="wrap">
    <ul id="sortcolumns" ui-sortable="sortableOptions" ng-model="addedColumns">
        <li ng-repeat="column in addedColumns()">
            <div class="applicationcommand btn btn-default" ng-click="orderChanged(column)">
                <i ng-class="column.asc ? 'fa fa-sort-amount-asc' : 'fa fa-sort-amount-desc'"></i>&ensp;{{column.name}}
                <span ng-hide="true" class="attribute">{{column.columnName}}</span>&emsp;<i ng-click="removeColumn(column)" class="fa fa-times-circle remove-column"></i>
            </div>
        </li>
    </ul>
    <div class="add-column">
        <label><i class="fa fa-plus"></i></label>
        <select class="btn btn-default" ng-model="selected" ng-change="addColumn(selected)" ng-options="column.name for column in notAddedViewColumns()">
            <option value="" disabled selected hidden>Sort Criteria</option>
        </select>
    </div>
    <div class="applicationcommand btn btn-default reset-order" ng-click="resetSortOrder()" ng-if="vm.showDefaultSortOrder">
        <i class="fa fa-rotate-right"></i>&ensp;Default Sort order
    </div>
</div>
