<span ng-controller="RefreshController">
    <button type="button"
            ng-click="refreshGrid()"
            ng-show="shouldShowRefreshButton()"
            class="btn btn-context"
            data-original-title="Refresh grid"
            rel="tooltip"
            data-container="body">
        <i class="icon fa fa-refresh"></i>
    </button>
</span>