﻿<button class="button" ng-class="icon.clazz" ng-style="{background:icon.color,color:icon.textColor}">{{icon.text}}</button>
<i class="crud-list-icon fa fa-{{icon.icon}}" ng-class="icon.clazz" ng-style="{color:icon.textColor}" ng-show="icon.icon" ng-click></i>