﻿<div ng-repeat="field in displayables" ng-show="!isFieldHidden(it)" class="crud-fields-wrapper">
    <label class="item item-input" ng-show="!isFieldHidden(field)">
        <span class="input-label">{{field.label}}</span>
        <label ng-bind-html="getFormattedValue(datamap[field.attribute],field,datamap) | linebreak"></label>
    </label>
</div>
