/*******************************************************************************
 *******************************************************************************
 * Place form specific CSS (based on data-application/data-schema attributes)  *
 *******************************************************************************
 *******************************************************************************/
@media all and (min-width: 1px) {
    [data-class="commandbar"] .commandButton {
        width: 100%;
    }
}

@media all and (min-width: 380px) {
    [data-class="commandbar"] .commandButton {
        width: auto;
    }
}

/*Status*/
[data-schema="editdetail"] #compositionlistgrid th:nth-child(1), [data-schema="editdetail"] #compositionlistgrid td:nth-child(1) {
    display: none;
}

/*Read*/
[data-schema="editdetail"] #compositionlistgrid th:nth-child(2), [data-schema="editdetail"] #compositionlistgrid td:nth-child(2) {
    display: none;
}

/*Origination*/
[data-schema="editdetail"] #compositionlistgrid th:nth-child(3), [data-schema="editdetail"] #compositionlistgrid td:nth-child(3) {
    display: none;
}

/*Date/Time*/
[data-schema="editdetail"] #compositionlistgrid th:nth-child(4), [data-schema="editdetail"] #compositionlistgrid td:nth-child(4) {
    width: 45%;
}

/*To*/
[data-schema="editdetail"] #compositionlistgrid th:nth-child(5), [data-schema="editdetail"] #compositionlistgrid td:nth-child(5) {
    display: none;
}

/*CC*/
[data-schema="editdetail"] #compositionlistgrid th:nth-child(7), [data-schema="editdetail"] #compositionlistgrid td:nth-child(7) {
    display: none;
}

/*From*/
[data-schema="editdetail"] #compositionlistgrid th:nth-child(9), [data-schema="editdetail"] #compositionlistgrid td:nth-child(9) {
    display: none;
}

/*Subject*/
[data-schema="editdetail"] #compositionlistgrid th:nth-child(10), [data-schema="editdetail"] #compositionlistgrid td:nth-child(10) {
}

/*Actions*/
[data-schema="editdetail"] #compositionlistgrid th:nth-child(11), [data-schema="editdetail"] #compositionlistgrid td:nth-child(11) {
    display: none;
}

@media all and (min-width: 480px) {
    /*Status*/
    [data-schema="editdetail"] #compositionlistgrid th:nth-child(1), [data-schema="editdetail"] #compositionlistgrid td:nth-child(1) {
        width: 5%;
        display: table-cell;
    }

    /*Read*/
    [data-schema="editdetail"] #compositionlistgrid th:nth-child(2), [data-schema="editdetail"] #compositionlistgrid td:nth-child(2) {
        width: 5%;
        display: table-cell;
    }

    /*Actions*/
    [data-schema="editdetail"] #compositionlistgrid th:nth-child(11), [data-schema="editdetail"] #compositionlistgrid td:nth-child(11) {
        width: 30%;
        display: table-cell;
    }
}

@media all and (min-width: 768px) {
    /*Date/Time*/
    [data-schema="editdetail"] #compositionlistgrid th:nth-child(4), [data-schema="editdetail"] #compositionlistgrid td:nth-child(4) {
        width: 21%;
    }

    /*To*/
    [data-schema="editdetail"] #compositionlistgrid th:nth-child(5), [data-schema="editdetail"] #compositionlistgrid td:nth-child(5) {
        display: table-cell;
        width: 35%;
    }

    /*Actions*/
    [data-schema="editdetail"] #compositionlistgrid th:nth-child(11), [data-schema="editdetail"] #compositionlistgrid td:nth-child(11) {
        width: 20%;
    }
}

@media all and (min-width: 992px) {
    /*Status*/
    [data-schema="editdetail"] #compositionlistgrid th:nth-child(1), [data-schema="editdetail"] #compositionlistgrid td:nth-child(1) {
        width: 3%;
    }

    /*Read*/
    [data-schema="editdetail"] #compositionlistgrid th:nth-child(2), [data-schema="editdetail"] #compositionlistgrid td:nth-child(2) {
        width: 3%;
    }

    /*Origination*/
    [data-schema="editdetail"] #compositionlistgrid th:nth-child(3), [data-schema="editdetail"] #compositionlistgrid td:nth-child(3) {
        width: 10%;
        display: table-cell;
    }

    /*Date/Time*/
    [data-schema="editdetail"] #compositionlistgrid th:nth-child(4), [data-schema="editdetail"] #compositionlistgrid td:nth-child(4) {
        width: 15%;
    }

    /*To*/
    [data-schema="editdetail"] #compositionlistgrid th:nth-child(5), [data-schema="editdetail"] #compositionlistgrid td:nth-child(5) {
        width: 25%;
    }

    /*CC*/
    [data-schema="editdetail"] #compositionlistgrid th:nth-child(7), [data-schema="editdetail"] #compositionlistgrid td:nth-child(7) {
        width: 5%;
        display: table-cell;
    }

    /*From*/
    [data-schema="editdetail"] #compositionlistgrid th:nth-child(9), [data-schema="editdetail"] #compositionlistgrid td:nth-child(9) {
        /*width: 20%;
        display: table-cell;*/
    }

    /*Actions*/
    [data-schema="editdetail"] #compositionlistgrid th:nth-child(11), [data-schema="editdetail"] #compositionlistgrid td:nth-child(11) {
        width: 13%;
    }
}

[data-schema="editdetail"] #compositionlistgrid td.detaildata {
    display: table-cell;
}
