.page-home .operation-list .operation-item {
    padding: 10px 0;
}
.page-home .operation-list .operation-item .operation-item-col {
    vertical-align: middle;
    padding: 0 5px 0 0;
}
.page-home .operation-list .operation-item .operation-item-col:first-child {
    text-align: center;
}
.page-home .operation-list .operation-item .operation-item-col:last-child {
    padding-right: 0;
    text-align: right;
}
.page-home .operation-list .operation-item .operation-status-text {
    padding-left: 0;
    font-size: 14px;
}