﻿<span style="top: 25px; position: absolute; left: 50px" ng-controller="BoldItalicUnderlineController">
    <button class="applicationcommand btn-context btn" ng-class="isActive('fbold')" ng-click="toggle('fbold')">
        <i class="fa fa-bold"></i>
    </button>

    <button class="applicationcommand btn-context btn" ng-class="isActive('fitalic')" ng-click="toggle('fitalic')">
        <i class="fa fa-italic"></i>
    </button>

    <button class="applicationcommand btn-context btn" ng-class="isActive('funderline')" ng-click="toggle('funderline')">
        <i class="fa fa-underline"></i>
    </button>

</span>