﻿<div ng-controller="dynformDetailEditBarSharedCtrl">
    <button type="button" 
            ng-click="addField('down')" 
            href="" ng-if="shouldShowBlankCommand()" 
            data-original-title="" rel="tooltip" data-container="body" class="applicationcommand btn-context ng-scope btn large-button">
        <i class="icon fa fa-plus"></i>
        <span class="text ng-binding"><span class="space">&ensp;</span>Click Here to start adding items to your form</span>
    </button>
</div>