.listgrid-table.unfixed {
    margin-top: 41px !important;
}

    .listgrid-table.unfixed > thead {
        top: 289px;
    }

.listgrid-table.affixed > thead {
    position: fixed;
    top: 266px;
}

.listgrid-table.affixed {
    margin-top: 126px;
}
