.editable-click, a.editable-click {
    text-decoration: none;
    color: black;
    border-bottom: none;
}

.dashboardmodal {
    width: 700px;
}

.tab-pane {
    .tab-header {
        margin: 0 5px 15px;

        .title {
            font-size: 24px;
            font-weight: bold;
        }
    }
}

.tab-content.tabsection-content {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding-top: 30px;
    position: relative;
    top: -30px;
}

.dash-header {
    padding: 20px 20px 0;

    .row {
        margin-right: -15px;
        margin-left: -15px;
        position: relative;

        &[dnd-list] {
            .dndPlaceholder {
                background-color: #ddd;
                text-align: center;
                height: 100%;
                position: relative;

                .dndPlaceholder-content {
                    vertical-align: middle;
                    text-align: center;
                    padding: 20px 0;
                }
            }
        }

        .column {
            padding: 0;
            position: relative;

            .wrap {
                padding: 0 20px;

                .panel {
                    margin-bottom: 40px;

                    .header {
                        background: #5090c6;
                        color: #fff;
                        padding: 10px 20px 8px;
                        -moz-border-radius-topleft: 5px;
                        -moz-border-radius-topright: 5px;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }

                    .body {
                        border: 2px solid #5090c6;
                        -moz-border-radius-bottomleft: 5px;
                        -moz-border-radius-bottomright: 5px;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;

                        .sw.chart {
                            padding: 10px;
                        }
                    }

                    &.DashboardGridPanel {
                        .body {
                            overflow-x: scroll;
                        }
                    }
                }
            }
        }
    }
}

@media all and (min-width: 768px) {
    .container.desktop .dash-header {
        .toolbar-primary, .listgrid-thead {
            position: initial;
        }
    }
}


sw-chart {
    svg {
        margin-left: auto;
        margin-right: auto;
    }
}

.panel {
    .header {
        .panel-commands {
            float: right;

            .panel-command {
                padding-left: 5px;
                padding-right: 5px;
                cursor: pointer;

                &:last-child {
                    padding-right: 0;
                }

                &:first-child {
                    padding-left: 0;
                }
            }
        }
    }
}

.dashboard-page {
    .dashboard-toolbar {
        padding: 10px;

        .interval-trigger {
            .trigger {
                cursor: pointer;
                margin: 0;
            }

            .dial {
                margin-left: 15px;
                position: relative;
                top: 3px;
            }

            .dropdown-menu {
                margin-left: 25px;
                padding: 0;
                min-width: 260px;

                .main {
                    padding: 15px;
                }

                .buttons {
                    width: 100%;
                    border-top: 1px solid #ddd;
                    margin: 0;
                    display: block;

                    .button {
                        float: left;
                        width: 50%;
                        text-align: center;
                        cursor: pointer;
                        padding: 10px 0;
                        font-weight: bold;

                        &.apply {
                            color: #3a7ebd;
                            border-right: 1px solid #ddd;
                        }

                        &:hover {
                            background: #ddd;
                        }
                    }
                }
            }
        }
    }

    .haserror {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
    }
}
