.container header {
    background: #143444 url(../../Images/kongsberg/header.png) no-repeat top left;
}

    .container header .branding {
        background: none;
    }

    .container header .logo {
        width: 150px;
    }

@media all and (min-width: 1180px) {
    .container header {
        background: #143444 url(../../Images/kongsberg/header.png) no-repeat top right;
    }
}
