.container header {
    background: #34a7e0 url(../../Images/kongsberg/header.jpg) no-repeat top left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

    .container header .branding {
        background: none;
    }
