<ion-popover-view ng-controller="CompositionMenuController" class="composition-menu">
    <ion-content class="composition-menu-content" has-bouncing="false">
        <div class="list">
            
            <a class="item" ng-click="loadTab()" target="_blank">
                <i class="fa fa-file-text-o"></i>&ensp;Main
            </a>

            <a class="item" ng-repeat="composition in compositionMenus()" ng-click="loadTab(composition)" target="_blank">
                <i class="fa {{getTabIcon(composition)}}"></i>&ensp;{{composition.label}}
            </a>
        </div>
    </ion-content>
</ion-popover-view>