﻿<div class="composition list">
    <ion-list class="has-header" ng-show="!empty()">

        <ion-item ng-repeat="item in list()" item="item" ng-class="{'missingsync': isDirty(item)}">
            <div class="row" ng-click="loadCompositionDetail(item)" on-hold="startDeleteLocalComposition(item)">
                <div class="col col-25 crud-icon">
                    <crud-icon item="item" iscomposition="true"></crud-icon>
                </div>
                <div class="col">
                    <ul>
                        <li ng-repeat="field in visibleFields(item)" ng-init="value = fieldValue(item, field)" ng-show="!!value">
                            <span class="input-label">{{field.label}}</span><span class="output-label">&nbsp;{{value}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </ion-item>
    </ion-list>

    <div class="no-records" ng-show="empty()">
        <h5 class="text-center item"><i class="fa fa-info-circle"></i>&ensp;No records to display</h5>
    </div>

</div>