<ion-view>

    <ion-nav-buttons side="left">
        <button class="button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    
    <ion-nav-title>
        <div>{{title()}}</div>
    </ion-nav-title>
    
    
    <ion-header-bar class="bar-subheader bar-assertive" align-title="left">

        <div class="buttons" style="padding-left: 5px">
            <button class="button icon ion-arrow-left-c" ng-show="shouldShowBack()" ng-click="navigateBack()">Back</button>
            <button class="button icon ion-android-cancel" ng-show="hasDirtyChanges()" ng-click="cancelChanges()">Cancel</button>

            <button class="button icon ion-plus" ng-click="addCompositionItem()" ng-if="!isOnMainTab()" ng-show="!hasDirtyChanges()">Add</button>
        </div>

        <!-- empty title to position the buttons correctly -->
        <h1 class="title"></h1>

        <div class="buttons" style="white-space: nowrap">
            <button class="button icon ion-arrow-left-a" ng-click="navigatePrevious()" ng-if="showNavigation()"></button>
            <button class="button icon ion-arrow-right-a" ng-click="navigateNext()" ng-if="showNavigation()"></button>
            <button class="button icon ion-android-apps" ng-click="expandCompositions($event)" ng-if="!hasDirtyChanges() && hasAnyComposition()"></button>
            <button class="button icon ion-android-done" ng-click="saveChanges()" ng-if="hasDirtyChanges()">Save</button>
        </div>

    </ion-header-bar>

    <ion-content has-header="true" has-subheader="true" has-bouncing="false" 
                 on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()">
        <div class="header-item h4" ng-click="loadMainTab()" style="padding-left: 10px">
            {{tabTitle() || detailSummary()}}
        </div>

        <ion-nav-view name="body" class="list" style="height: initial"></ion-nav-view>

    </ion-content>

</ion-view>