<ion-view>

    <ion-nav-buttons side="left">
        <button class="button-icon icon ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>

    <ion-nav-title>
        <div ng-show="!isSearching()">{{title()}}
            
            <div class="buttons" style="position: absolute; right: 5px; top:5px" ng-show="isList()">
                <button class="button icon ion-android-more-vertical" ng-click="showFilterOptions($event)"></button>
            </div>
        </div>

        <div class="bar bar-header item-input-inset" ng-show="isSearching() && isList()">
            
            

            <label class="item-input-wrapper">
                <i class="icon ion-navicon ion-search placeholder-icon"></i>
                <input type="search" class="ion-autocomplete-search" ng-model="searchQuery" ng-change="filter(this)" placeholder="Search" />
            </label>
        </div>
    </ion-nav-title>

   
    <ion-nav-buttons side="right">

        <button class="button-icon ion-android-cancel" ng-show="isList() && isSearching()" ng-click="disableSearch()"></button>
        <!--this ng-show is needed due to a possible bug on ionic/ angular ui-router where the button shows on detail-->
        <button class="button-icon ion-search" ng-show="isList() && !isSearching()" ng-click="enableSearch()"></button>
    </ion-nav-buttons>

    <ion-content has-header="true">

        <ion-list class="has-header">

            <ion-item ng-repeat="item in list()" ng-class="{'pending': isPending(item),'missingsync': isDirty(item)  }" item="item">


                <div class="row" ng-click="openDetail(item)">
                    <div class="col-25">
                        <button class="button button-status" ng-style="{background:getStatusColor(item.datamap),color:getTextColor(item.datamap)}">{{getStatusText(item.datamap)}}</button>
                        <i class="icon ion-refresh" ng-show="isDirty(item) && !isPending(item)"></i>
                        <i class="icon ion-android-cloud" ng-show="isPending(item)"></i>
                    </div>
                    <div class="col-75">
                        <ul>
                            <li>{{itemTitle(item.datamap)}} {{itemFeatured(item.datamap)}}</li>
                            <li>{{itemSubTitle(item.datamap)}}</li>
                            <li>{{itemExcerpt(item.datamap)}}</li>
                        </ul>
                    </div>
                </div>


            </ion-item>

        </ion-list>

        <ion-infinite-scroll ng-if="moreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>



    </ion-content>

    <button class="button button-float" ng-click="createItem()" ng-if="hasNewSchemaAvailable()">
        <i class="icon ion-plus"></i>
    </button>


</ion-view>