<div class="list">
    <ion-list class="has-header" ng-show="!empty()">

        <ion-item ng-repeat="item in list()" item="item" ng-class="{'missingsync': isDirty(item)}">
            <div class="row" ng-click="loadCompositionDetail(item)">
                <div class="col">
                    <ul>
                        <li ng-repeat="field in visibleFields()" ng-init="value = fieldValue(item, field)" ng-show="!!value">
                            {{field.label}} : {{value}}
                        </li>
                    </ul>
                </div>
            </div>
        </ion-item>
    </ion-list>

    <div ng-show="empty()">
        <h5 class="text-center">No records to display</h5>
    </div>
    
    
    


</div>