<ion-view cache-view="false">

    <ion-nav-buttons side="left">
        <button class="button-icon" menu-toggle="left"><i class="fa fa-bars"></i></button>
    </ion-nav-buttons>

    <ion-nav-title>
        <div ng-show="!isSearching()">{{gridTitle()}}
            <div class="buttons" style="position: absolute; right: 5px; top:5px" ng-show="isList()">
                <button class="button" ng-click="showFilterOptions($event)"><i class="fa fa-fa-ellipsis-v"></i></button>
            </div>
        </div>

        <div class="list-search-bar item-input-inset" ng-show="isSearching() && isList()">
            <label class="item-input-wrapper">
                <i class="placeholder-icon fa fa-search"></i>
                <input type="search" class="ion-autocomplete-search" ng-model="quickSearch.value" ng-change="filter()" placeholder="Quick Search" />
                <button class="button-icon search-disable-button" ng-mouseup="disableSearch(true)"><i class="fa fa-times-circle"></i></button>
            </label>            
        </div>
    </ion-nav-title>

   
    <ion-nav-buttons side="right">
        <button class="button-icon" ng-show="isList() && isSearching()" ng-click="goToAdvancedFilter()"><i class="fa fa-sliders"></i></button>
        <!--this ng-show is needed due to a possible bug on ionic/ angular ui-router where the button shows on detail-->
        <button class="button-icon" ng-show="isList() && !isSearching()" ng-click="enableSearch()"><i class="fa fa-search"></i></button>
    </ion-nav-buttons>

    <ion-content has-header="true" has-bouncing="false">

        <ion-list class="has-header">

            <ion-item ng-repeat="item in list() track by item.id" ng-class="{'pending': isPending(item),'missingsync': isDirty(item)  }" item="item" on-swipe-left="quickSync(item)">

                <div class="row" ng-click="openDetail(item)">
                    <div class="col-25">
                        <button class="button button-status" ng-style="{background:getIconColor(item.datamap),color:getTextColor(item.datamap)}">{{getIconText(item.datamap)}}</button>
                        <i class="fa fa-refresh" ng-show="isDirty(item) && !isPending(item)"></i>
                        <i class="fa fa-cloud" ng-show="isPending(item)"></i>
                    </div>
                    <div class="col-75">
                        <ul>
                            <li class="list-featured">{{itemFeatured(item.datamap)}}</li>
                            <li>{{itemTitle(item.datamap)}}</li>
                            <li>{{itemSubTitle(item.datamap)}}</li>
                            <li>{{itemExcerpt(item.datamap)}}</li>
                        </ul>
                    </div>
                </div>

            </ion-item>

        </ion-list>

        <ion-infinite-scroll ng-if="moreItemsAvailable" on-infinite="loadMore()" distance="10%"></ion-infinite-scroll>

    </ion-content>

    <button class="button button-float" ng-click="createItem()" ng-if="hasNewSchemaAvailable()">
        <i class="fa fa-plus"></i>
    </button>

</ion-view>
