<div class="composition list">
    <ion-list class="has-header" ng-show="!empty()">

        <ion-item ng-repeat="item in list()" item="item" ng-class="{'missingsync': isDirty(item)}">
            <div class="row" ng-click="loadCompositionDetail(item)">
                <div class="col">
                    <ul>
                        <li ng-repeat="field in visibleFields()" ng-init="value = fieldValue(item, field)" ng-show="!!value">
                            <span class="input-label">{{field.label}}</span><span class="output-label">{{value}}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </ion-item>
    </ion-list>

    <div ng-show="empty()">
        <h5 class="text-center"><i class="icon ion-information-circled"></i>&ensp;No records to display</h5>
    </div>
    
    
    


</div>