﻿<div class="list">
    <messagesection></messagesection>

    <crud-input-fields schema="schema" displayables="displayables" all-displayables="allDisplayables" datamap="datamap"></crud-input-fields>

    <div>
        <command-bar schema="schema" datamap="datamap" position="mobile.fab" label="Actions"></command-bar>
    </div>
</div>