﻿<ion-popover-view ng-controller="GridItemPopOverController" style="height:110px">
    <ion-content has-bouncing="false">
        <div class="list">
            <a class="item" ng-click="quicksync()" target="_blank">
                <i class="fa fa-refresh"></i>&ensp;Sync
            </a>
            <a class="item" ng-click="restorestate()" target="_blank">
                <i class="fa fa-eraser"></i>&ensp;Restore State
            </a>
        </div>
    </ion-content>
</ion-popover-view>