﻿<ion-view view-title="softWrench" name="login-view" class="page-login">

    <ion-nav-bar class="bar-positive"></ion-nav-bar>

    <ion-nav-buttons side="right">
        <button class="button-icon" ng-click="viewSettings()"><i class="fa fa-cog"></i></button>
    </ion-nav-buttons>

    <ion-content class="padding" has-bouncing="false">
        <div class="login-form-container">
            <section class="login-form list list-inset">
                <div class="item item-divider">
                    User Information
                </div>
                <label class="login-input item item-input item-floating-label">
                    <span class="input-label show-tablet">Username</span>
                    <input type="text" placeholder="Username" ng-model="data.username" autocapitalize="off" autocorrect="off">
                </label>
                <label class="login-input item item-input item-floating-label">
                    <span class="input-label show-tablet">Password</span>
                    <input type="password" placeholder="Password" ng-model="data.password">
                </label>
            </section>
            <section class="action-bar">
                <div class="action-button">
                    <button class="button button-calm button-block" ng-click="login()"><i class="fa fa-sign-in"></i>&ensp;Login</button>
                </div>
            </section>

            <section class="list list-inset demo-mode-note" ng-if="isDemoMode">
                <div class="item item-divider">
                    Demo Mode
                </div>
                <div class="item demo-note">
                    <div class="row">
                        To access the softWrench demo, select one of the following users:
                    </div>
                    <button class="button button-demo button-block" ng-click="login('enduser', 'password')"><i class="fa fa-user"></i>&ensp;enduser</button>
                    <button class="button button-demo button-block" ng-click="login('supervisor', 'password')"><i class="fa fa-user"></i>&ensp;supervisor</button>
                    <button class="button button-demo button-block" ng-click="login('administrator', 'password')"><i class="fa fa-user"></i>&ensp;administrator</button>
                </div>
            </section>
        </div>
    </ion-content>
</ion-view>

