﻿<ion-side-menus>

    <ion-side-menu-content>
        
        <ion-nav-bar class="bar-positive"
                     back-button-type="button-icon"
                     back-button-icon="ion-ios7-arrow-back"
                     animation="nav-title-slide-ios7"></ion-nav-bar>
        <ion-nav-view name="main"></ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar bar-header bar-dark">
            <h1 class="title"><i class="fa fa-times-o"></i>Menu</h1>
        </ion-header-bar>

        <ion-content has-header="true" has-bouncing="false">
            <side-menu></side-menu>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>



