<ion-side-menus>

    <ion-side-menu-content>
        
        <ion-nav-bar class="bar-positive"
                     back-button-type="button-icon"
                     back-button-icon="ion-ios7-arrow-back"
                     animation="nav-title-slide-ios7"
                     >

        </ion-nav-bar>
        <ion-nav-view name="main"></ion-nav-view>

    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar bar-header bar-assertive">
            <h1 class="title">Menu</h1>
        </ion-header-bar>

        <ion-content has-header="true">

            <ul class="list">
                <!-- apps -->
                <div ng-show="menuleafs().length" class="item item-divider icon ion-android-apps">
                    Applications
                </div>

                <ng-switch ng-repeat="leaf in menuleafs()" on="leaf.type">
                    <!-- container -->
                    <div ng-switch-when="MenuContainerDefinition" ng-init="collapsed = true" ng-click="collapsed = !collapsed">
                        <div class="item item-divider icon" ng-class="{ 'ion-arrow-down-b': collapsed, 'ion-arrow-up-b': !collapsed }">
                            &nbsp;{{leaf.title}}
                        </div>
                        <div ng-show="!collapsed">
                            <!-- container's subitems -->
                            <a ng-repeat="subleaf in leaf.leafs"
                               ng-click="loadApplication(subleaf)" 
                               class="item icon {{subleaf.icon}}">
                                &nbsp;{{subleaf.title}}
                            </a>
                        </div>
                    </div>
                    <!-- exploded items -->
                    <a ng-switch-default class="item icon {{leaf.icon}}" ng-click="loadApplication(leaf)">
                        &nbsp;{{leaf.title}}
                    </a>
                </ng-switch>
                

                <div class="item item-divider icon ion-android-archive">
                    Admin
                </div>

                <a class="item icon ion-refresh" ng-click="loadAction('main.home')">&nbsp;Synchronization</a>
                <a class="item icon ion-locked" ng-click="loadAction('main.audit.applicationselect')">&nbsp;Audit</a>
                <a class="item icon ion-gear-a" ng-click="loadAction('main.settings')">&nbsp;Settings</a>

                <div class="item item-divider icon ion-person">
                    User
                </div>

                <a class="item icon ion-log-out" ng-click="logout()">&nbsp;Logout</a>


                <!--<a ui-sref="main.home" class="item" ng-click="toggleMenu()">Home</a>
                    <a ui-sref="main.tabs" class="item" ng-click="toggleMenu()">Tabs</a>-->
            </ul>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>



