﻿<ion-view title="Settings" class="page-settings">
    <ion-nav-buttons side="left">
        <button class="button-icon" menu-toggle="left"><i class="fa fa-bars"></i></button>
    </ion-nav-buttons>

    <ion-content class="padding" has-header="true" has-bouncing="false">
        <div class="list card responsive-container lg">
            <div class="item item-divider">
                Server
            </div>
            <div class="item item-text-wrap server">
                <input type="url" placeholder="URL" ng-model="settings.serverurl" autocapitalize="off" autocorrect="off" readonly="readonly">
            </div>
        </div>

        <div class="list card responsive-container lg" ng-if="config">
            <div class="item item-divider">
                About
            </div>
            <div class="item item-text-wrap" ng-show="config.server">
                <strong>Client Name:</strong>&nbsp;{{config.server.client}}
            </div>
            <div class="item item-text-wrap" ng-show="config.server">
                <strong>Server Environment:</strong>&nbsp;{{config.server.environment}}
            </div>
            <div class="item item-text-wrap" ng-show="config.server">
                <strong>Server Version:</strong>&nbsp;{{config.server.version}}
            </div>
            <div class="item item-text-wrap" ng-show="config.client">
                <strong>App Version:</strong>&nbsp;{{config.client.version}}
            </div>
            <div class="item item-text-wrap" ng-show="config.client && config.client.commit">
                <strong>Commit:</strong>&nbsp;{{config.client.commit}}
            </div>
            
        </div>

    </ion-content>
</ion-view>

