<ion-view title="Settings" class="page-settings">
    <ion-nav-buttons side="left">
        <button class="button-icon" menu-toggle="left"><i class="fa fa-bars"></i></button>
    </ion-nav-buttons>

    <ion-content class="padding" has-header="true" has-bouncing="false">
        
        <div class="settings-form list list-inset responsive-container lg">
            <label class="item item-input">
                <input type="url" placeholder="URL" ng-model="settings.serverurl" autocapitalize="off" autocorrect="off" readonly="readonly">
            </label>
        </div>

        <div class="list card responsive-container lg" ng-if="config">
            <div class="item item-divider">
                About
            </div>
            <div class="item item-text-wrap" ng-show="config.server">
                Client Name:&nbsp;{{config.server.client}}
            </div>
            <div class="item item-text-wrap" ng-show="config.server">
                Server Environment:&nbsp;{{config.server.environment}}
            </div>
            <div class="item item-text-wrap" ng-show="config.server">
                Server Version:&nbsp;{{config.server.version}}
            </div>
            <div class="item item-text-wrap" ng-show="config.client">
                App Version:&nbsp;{{config.client.version}}
            </div>
            <div class="item item-text-wrap" ng-show="config.client && config.client.commit">
                Commit:&nbsp;{{config.client.commit}}
            </div>
            
        </div>

    </ion-content>
</ion-view>

