﻿<ion-view title="Settings" class="page-settings">
    <ion-header-bar align-title="center" class="bar-positive">
        <div class="buttons">
            <button class="button button-positive" ng-click="goToLogin()">
                <i class="fa fa-chevron-left"></i>&ensp;Login
            </button>
            <h1 class="title">Settings</h1>
        </div>
    </ion-header-bar>

    <ion-content class="padding" has-header="true" has-bouncing="false">
        <div class="list card responsive-container lg">
            <div class="item item-divider">
                Server
            </div>
            <div class="item item-text-wrap server">
                <input type="text" placeholder="URL" ng-model="settings.serverurl" autocapitalize="off" autocorrect="off">
            </div>
        </div>
        <div class="responsive-container lg">
            <button class="button button-calm button-block" ng-click="save()">Save</button>
        </div>
        <div class="responsive-container lg" ng-if="settings.serverurl === '' || settings.serverurl ==='http://'">
            <div style="text-align: center">OR</div>
            <button class="button button-block cts-blue" ng-click="saveDemo()">Use Demo Data</button>
        </div>
        <div class="list card responsive-container lg" ng-if="config">
            <div class="item item-divider">
                About
            </div>
            <div class="item item-text-wrap" ng-show="config.server">
                <strong>Client Name:</strong>&nbsp;{{config.server.client}}
            </div>
            <div class="item item-text-wrap" ng-show="config.server">
                <strong>Server Environment:</strong>&nbsp;{{config.server.environment}}
            </div>
            <div class="item item-text-wrap" ng-show="config.server">
                <strong>Server Version:</strong>&nbsp;{{config.server.version}}
            </div>
            <div class="item item-text-wrap" ng-show="config.client">
                <strong>App Version:</strong>&nbsp;{{config.client.version}}
            </div>
            <div class="item item-text-wrap" ng-show="config.client && config.client.commit">
                <strong>Commit:</strong>&nbsp;{{config.client.commit}}
            </div>
        </div>

    </ion-content>
</ion-view>

