<ion-view title="Support" class="page-settings">
    <ion-nav-buttons side="left">
        <button class="button-icon" menu-toggle="left"><i class="fa fa-bars"></i></button>
    </ion-nav-buttons>

    <ion-content class="padding" has-header="true" has-bouncing="false">
        <div class="responsive-container lg">
            <button class="button button-positive button-block icon-left ion-email"
                    ng-click="sendLogFiles()">
                Send Log Files
            </button>
        </div>

<!--        <div class="responsive-container lg">-->
<!--            <button class="button button-positive button-block icon-left ion-alert"-->
<!--                    ng-click="reset()">-->
<!--                Reset Configurations-->
<!--            </button>-->
<!--        </div>-->

        <div class="responsive-container lg">

            <label class="item item-input" ng-show="!isFieldHidden(field)">
                <span class="input-label">Log Level</span>
                <option-field header-text="Log Level"
                              allow-empty="false"
                              value="vm.loglevel"
                              text="Choose"
                              items="[{value:'TRACE',label:'Trace'},{value:'DEBUG',label:'Debug'},{value:'INFO',label:'Info'}, {value:'WARN',label:'Warn'}]"
                              callback2="changeloglevel(callback)"/>
            </label>
        </div>

    </ion-content>
</ion-view>

