<ion-view title="Support" class="page-settings">
    <ion-nav-buttons side="left">
        <button class="button-icon" menu-toggle="left"><i class="fa fa-bars"></i></button>
    </ion-nav-buttons>

    <ion-content class="padding" has-header="true" has-bouncing="false">
        <div class="responsive-container lg">
            <button class="button button-positive button-block icon-left ion-email"
                    ng-click="sendLogFiles()">
                Send Log Files
            </button>
        </div>
    </ion-content>
</ion-view>

