﻿<ion-view title="Synchronization" class="page-syncoperation-list">
    <!--    <search-bar></search-bar>-->

    <ion-nav-buttons side="left">
        <ion-nav-button class="button" ng-click="goBack()">
            <i class="fa fa-chevron-left"></i>&ensp;Back
        </ion-nav-button>
    </ion-nav-buttons>

    <ion-content class="has-header" has-bouncing="false">

        <ion-list class="list operation-list">
            <ion-item class="item operation-item" ng-repeat="operation in operationList" ng-click="openDetail(operation)">
                <div class="row">
                    <div class="col col-20 col-center operation-item-col crud-icon">
                        <!-- icon indicating syncoperation's status -->
                        <sw-operation-icon sync-operation="operation"></sw-operation-icon>
                    </div>
                    <!-- some info about syncoperation: date, status (formatted), pending items -->
                    <div ng-if="!isPending(operation)" class="col col-60 col-center operation-item-col">
                        <h3>{{operation.formatteddate}}</h3>
                        <h4>{{operation.clientOperationId}}</h4>
                        <span class="row responsive-sm item-text-wrap operation-status-text">{{operation.formattedstatus}}</span>
                    </div>
                    <div ng-if="isPending(operation)" class="col col-60 col-center operation-item-col">
                        <h3>{{operation.formattedstatus}}</h3>
                        <span class="row responsive-sm item-text-wrap operation-status-text">{{operation.items}}&nbsp;Items</span>
                    </div>
                    <!-- details click hint text -->
                    <div class="col col-20 col-center operation-item-col details">
                        <i class="fa fa-chevron-right"></i>
                    </div>
                </div>

            </ion-item>
        </ion-list>

        <ion-infinite-scroll ng-if="paginationData.hasMoreAvailable" on-infinite="loadPagedList()" distance="10%"></ion-infinite-scroll>

    </ion-content>

</ion-view>

