<ion-view title="Synchronization" class="page-syncdetail" cache-view="false">

    <ion-nav-buttons side="left">
        <!-- detail of specif syncoperation: back button -->
        <button ng-if="!data.isLatestOperation" class="button" ng-click="goBack()">
            <i class="ion-chevron-left"></i>
            Back
        </button>
        <!-- detail of latest syncoperation: toggle left-menu button -->
        <button ng-if="data.isLatestOperation" class="button button-menu" menu-toggle="left">
            <i class="icon ion-navicon"></i>
        </button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">
        <!-- detail of latest syncoperation: full sync button -->
        <button ng-if="data.isLatestOperation" class="button sync-button" ng-click="fullSynchronize()" ng-disabled="data.isSynching">
            <i class="icon ion-loop"></i>
            Sync
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header" has-bouncing="false" ng-class="{ 'vertical-center' : !data.operation }">

        <!-- has operation to display -->
        <div ng-if="!!data.operation" class="responsive-container lg">

            <div class="operation-status">
                <div class="row">
                    <div class="col col-20">
                        <sw-operation-icon sync-operation="data.operation"></sw-operation-icon>
                    </div>
                    <div class="col col-80">
                        <h4>{{data.operation.formattedstatus}}</h4>
                        <h5 ng-if="!data.operation.ispending">{{data.operation.elapsedtime}}&nbsp;seconds</h5>
                    </div>
                </div>
            </div>

            <div class="operation-details row">
                <div class="col col-offset-20">
                    <div class="detail-section" ng-if="!data.operation.ispending">
                        <h5>Application Downloads: {{data.operation.numberofdownloadeditems}}</h5>
                    </div>
                    <div class="detail-section" ng-if="data.operation.issuccess">
                        <h5>Support Data Downloads: {{data.operation.numberofdownloadedsupportdata}}</h5>
                    </div>
                    <div class="detail-section upload-section">
                        <h5>Application Uploads: {{data.batchItems.length}}</h5>
                        <ul class="item-list">
                            <li ng-repeat="item in data.batchItems">
                                <i class="icon" ng-class="{'ion-alert-circled': item.simpleproblem, 'ion-checkmark': !item.simpleproblem}"></i>
                                {{item.label}}
                                <span ng-if="item.simpleproblem">:&nbsp;{{item.simpleproblem.message}}</span>
                            </li>
                        </ul>
                        <button ng-if="data.operation.hasproblems" class="button problem-button" ng-click="solveProblems()">Fix Issues</button>
                    </div>
                </div>
            </div>

            <!-- detail of latest syncoperation: navigate to history button + recent application state-->
            <div ng-if="data.isLatestOperation" class="responsive-container lg">

                <div class="row button-container">
                    <button class="button button-positive button-block" ng-click="goToHistory()">
                        View Synchronization History
                    </button>
                </div>

                <div class="list">
                    <div class="item item-divider item-icon-left app-summary-title" ng-click="toggleApplicationStateCollapsed()">
                        <i class="icon" ng-class="{'ion-arrow-down-b': data.applicationStateCollapsed, 'ion-arrow-up-b': !data.applicationStateCollapsed}"></i>
                        Application summary
                    </div>
                </div>

                <div ng-show="!data.applicationStateCollapsed">
                    <div class="list card" ng-repeat="app in data.currentApplicationState">
                        <div class="item item-divider">
                            {{app.application | capitalize}}
                        </div>
                        <div class="item item-text-wrap item-icon-left">
                            <i class="icon ion-checkmark"></i>
                            Number of items:&nbsp;{{app.all}}
                        </div>
                        <div class="item item-text-wrap item-icon-left">
                            <i class="icon ion-loop"></i>
                            Number of pending items:&nbsp;{{app.pending}}
                        </div>
                        <div class="item item-text-wrap item-icon-left">
                            <i class="icon ion-asterisk"></i>
                            Number of dirty items:&nbsp;{{app.dirty}}
                        </div>
                        <div class="item item-text-wrap item-icon-left">
                            <i class="icon ion-alert-circled"></i>
                            Number of problematic items:&nbsp;{{app.problematic}}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- no operation to display -->
        <div ng-if="!data.operation">
            <div class="row">
                <div class="col">
                    <p>Click 'Sync' to start using the system</p>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>