﻿<ion-view title="Synchronization" class="page-syncdetail" cache-view="false">

    <ion-nav-buttons side="left">
        <!-- detail of specif syncoperation: back button -->
        <button ng-if="!data.isLatestOperation" class="button" ng-click="goBack()">
            <i class="fa fa-chevron-left"></i>&ensp;Back
        </button>
        <!-- detail of latest syncoperation: toggle left-menu button -->
        <button ng-if="data.isLatestOperation" class="button button-menu" menu-toggle="left">
            <i class="fa fa-bars"></i>
        </button>
        <!-- detail of latest syncoperation: full sync button -->

    </ion-nav-buttons>
    
    <ion-nav-buttons side="right">

        <button ng-if="data.isLatestOperation" class="button sync-button" on-tap="showSyncModal()" on-hold="reset()" ng-disabled="data.isSynching">
            <i class="fa fa-refresh"></i>&ensp;Sync
        </button>
    </ion-nav-buttons>

    <ion-content class="has-header" has-bouncing="false" ng-class="{ 'vertical-center' : !data.operation }">

        <div class="card" ng-show="data.attprogressTotal > 0">
			<div class="item item-text-wrap">
                Attachment Download Progress {{data.attprogress}} of {{data.attprogressTotal}}
				<div style="background: #39b54a !important;border-radius: 100px;height: 20px;width: {{data.attprogressPercent}}%;">
					<p class="percent" style="text-align: center;color: white !important;text-align: center;">{{data.attprogressPercent}}%</p>
				</div>
			</div>
		</div>



        <!-- has operation to display -->
        <div ng-if="!!data.operation" class="responsive-container lg">

            <div class="operation-status">
                <div class="row">
                    <div class="col col-20 operation-icon"  >
                        <sw-operation-icon sync-operation="data.operation"></sw-operation-icon>
                    </div>
                    <div class="col">
                        <h4>{{data.operation.formattedstatus}}</h4>
                        <h5>{{data.operation.clientOperationId}}</h5>
                        <h5 ng-if="!data.operation.ispending" style="color: #aaa;">{{data.operation.elapsedtime}}&nbsp;seconds</h5>
                    </div>
                </div>
            </div>

            <div class="operation-details row">
                <div class="col operation-details">
                    <div class="detail-section" ng-if="!data.operation.ispending">
                        <h5><i class="fa fa-download"></i>&ensp;Application Downloads: {{data.operation.numberofdownloadeditems}}</h5>
                    </div>
                    <div class="detail-section" ng-if="!data.operation.ispending">
                            <h5><i class="fa fa-download"></i>&ensp;Attachment Downloads: {{data.operation.numberofdownloadedattachments}}</h5>
                        </div>
                    <div class="detail-section" ng-if="data.operation.issuccess">
                        <h5><i class="fa fa-download"></i>&ensp;Support Data Downloads: {{data.operation.numberofdownloadedsupportdata}}</h5>
                    </div>
                    <div class="detail-section upload-section">
                        <h5><i class="fa fa-upload"></i>&ensp;Application Uploads: {{data.batchItems.length}}</h5>
                        <ul class="item-list">
                            <li ng-repeat="item in data.batchItems">
                                <i class="fa" ng-class="{'fa-exclamation-triangle': item.simpleproblem, 'fa-check': !item.simpleproblem}"></i>
                                {{item.label}}
                                <span ng-if="item.simpleproblem">:&nbsp;{{item.simpleproblem.message}}</span>
                            </li>
                        </ul>
                        <!--<button ng-if="data.operation.hasproblems" class="button problem-button" ng-click="solveProblems()">Fix Issues</button>-->
                    </div>
                </div>
            </div>

            <!-- detail of latest syncoperation: navigate to history button + recent application state-->
            <div ng-if="data.isLatestOperation" class="responsive-container lg">

                <div class="row button-container">
                    <button class="button button-positive button-block" ng-click="goToHistory()">
                        View Synchronization History
                    </button>
                </div>

                <div class="list">
                    <div class="item item-divider app-summary-title" ng-click="toggleApplicationStateCollapsed()">
                        <i class="fa" ng-class="{'fa-caret-down': data.applicationStateCollapsed, 'fa-caret-up': !data.applicationStateCollapsed}"></i>&ensp;Application Summary
                    </div>
                </div>

                <div ng-show="!data.applicationStateCollapsed">
                    <div class="list card" ng-repeat="app in data.currentApplicationState.applications track by app.application">
                        <div class="item item-divider">
                            {{app.gridTitle | capitalize}}
                        </div>
                        <div class="item item-text-wrap">
                            <i class="fa fa-check fa-fw"></i>&ensp;Items:&nbsp;{{app.all}}
                        </div>
                        <div class="item item-text-wrap">
                            <i class="fa fa-refresh fa-fw"></i>&ensp;
                            Pending Items:&nbsp;{{app.pending}}
                        </div>
                        <div class="item item-text-wrap">
                            <i class="fa fa-asterisk fa-fw"></i>&ensp;
                            Dirty Items:&nbsp;{{app.dirty}}
                        </div>
                        <div class="item item-text-wrap">
                            <i class="fa fa-exclamation-triangle fa-fw"></i>&ensp;
                            Problematic Items:&nbsp;{{app.problematic}}
                        </div>
                    </div>
                    <div class="list card" ng-init="associationStateCollapsed = true">
                        <div class="item item-divider" ng-click="associationStateCollapsed = !associationStateCollapsed">
                            <i class="fa" ng-class="{'fa-caret-down': associationStateCollapsed, 'fa-caret-up': !associationStateCollapsed}"></i>&nbsp;&nbsp;Association Data
                        </div>
                        <div ng-repeat="association in data.currentApplicationState.associations track by association.application" ng-hide="associationStateCollapsed" class="item item-text-wrap">
                            {{association.title}}:&nbsp;{{association.count}}
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- no operation to display -->
        <div ng-if="!data.operation">
            <div class="row">
                <div class="col">
                    <p class="message-user-sync">Click <span class="highlight" ng-click="showSyncModal()"><i class="fa fa-refresh"></i>&ensp;Sync</span> to start.</p>
                </div>
            </div>
        </div>

    </ion-content>

</ion-view>